{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.4.1/lib/theme-chalk/index.css">
    <link rel="stylesheet" type="text/css" href="{% static 'wafuli_admin/css/AdminCommon.css' %}" />
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <style type="text/css">
      #app{padding-bottom: 80px;}
    	.inclusiveness{display: flex; justify-content: space-between; margin-top: 40px;}
    	.time_item{ display: flex; justify-content: space-between; align-items: center;}
    	.time_item span{margin-right: 10px; font-size: 14px;}
    	.time_item .el-input--prefix{width: 170px; font-size: 14px;}
    	.time_item input{font-size: 13px;}
    	.input_item span{margin-right: 10px; font-size: 14px;}
    	.input_item .el-input{width: 170px; font-size: 14px;}
    	.input_item input{font-size: 13px;}
    	.sh_select{margin-top: 40px;}
    	.sh_button{margin-top: 40px; display: flex; justify-content:flex-end;}
    	.table-list{margin-top: 30px;}
    	.table-list .el-table th>.cell{text-align: center; font-weight: normal; color: #fff;}
      .table-list .el-table th{ background-color:#989898; }
      .table-list td{text-align: center; color: #333;}
      .details{display: inline-block; cursor: pointer; color: #409EFF;}
      .details:hover{ color: #74b8ff;}
      .pagination{margin-top: 30px;}
      .a_padd{margin-right: 15px;}
    </style>
	</head>
	<body style="opacity: 0;">
	  <div id="app">
	    <el-row>
        <el-col :span="3">
          {% include "leftNav.html" %}
        </el-col>
        <el-col :span="21">
          <el-row>
            <el-col :offset="1" :span="22">
              <div class="inclusiveness">
                <div class="time_item">
                  <span>申请开始时间 : </span>
                  <el-date-picker format="yyyy-MM-dd" value-format="yyyy-MM-dd" placeholder="选择申请开始时间" v-model="sqkstime"></el-date-picker>
                </div>
                <div class="time_item">
                  <span>申请结束时间 : </span>
                  <el-date-picker format="yyyy-MM-dd" value-format="yyyy-MM-dd" placeholder="选择申请结束时间" v-model="sqjstime"></el-date-picker>
                </div>
                <div class="time_item">
                  <span>操作开始时间 : </span>
                  <el-date-picker format="yyyy-MM-dd" value-format="yyyy-MM-dd" placeholder="选择操作开始时间" v-model="czkstime"></el-date-picker>
                </div>
                <div class="time_item">
                  <span>操作结束时间 : </span>
                  <el-date-picker format="yyyy-MM-dd" value-format="yyyy-MM-dd" placeholder="选择操作结束时间" v-model="czjstime"></el-date-picker>
                </div>
              </div>
              <div class="inclusiveness">
                <div class="input_item">
                  <span>用户手机号 : </span>
                  <el-input v-model="usersjh" size="medium"></el-input>
                </div>
                <div class="input_item">
                  <span>QQ : </span>
                  <el-input v-model="userQQ" size="medium"></el-input>
                </div>
                <div class="input_item">
                  <span>QQ昵称 : </span>
                  <el-input v-model="userQQname" size="medium"></el-input>
                </div>
                <div class="input_item">
                  <span>处理人手机号 : </span>
                  <el-input v-model="czzsjh" size="medium"></el-input>
                </div>
              </div>
            </el-col>
            <el-col :offset="1" :span="4">
              <div class="sh_select">
                <el-select v-model="value_options" placeholder="请选择">
                  <el-option
                    v-for="item in options"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
              </div>
            </el-col>
            <el-col :offset="12" :span="6">
              <div class="sh_button">
                <el-button type="primary" size="medium" @click="searchBtn">搜索</el-button>
                <el-button type="info" size="medium">导出</el-button>
              </div>
            </el-col>
            <el-col :offset="1" :span="22">
              <div class="table-list" v-if="state == '1'">
                <el-table :data="listData.results" v-loading="loading" style="width: 100%">
                  <el-table-column label="QQ/昵称">
                    <template slot-scope="scope">
                      <span>${scope.row.qq_number}/${scope.row.qq_name}</span>
                    </template>
                  </el-table-column>
                  <el-table-column label="手机号">
                    <template slot-scope="scope">
                      <span>${scope.row.mobile}</span>
                    </template>
                  </el-table-column>
                  <el-table-column label="申请时间">
                    <template slot-scope="scope">
                      <span>${scope.row.submit_time}</span>
                    </template>
                  </el-table-column>
                  <el-table-column label="申请详情">
                    <template slot-scope="scope">
                      <span class="details" @click="detailsDialog(scope.row)">详情</span>
                    </template>
                  </el-table-column>
                  <el-table-column label="操作">
                    <template slot-scope="scope">
                      <span class="details" @click="yesAgree(scope.row)">同意</span>/<span class="details" @click="noRefuse(scope.row)">拒绝</span>
                    </template>
                  </el-table-column>
                </el-table>
                <div class="pagination">
                  <el-pagination
                    background
                    @current-change="handleCurrentChange"
                    :page-size="10"
                    :current-page="this.currentPage"
                    layout="prev, pager, next, total, jumper"
                    :total="this.listData.recordCount">
                  </el-pagination>
                </div>
              </div>
              <div class="table-list" v-if="state == '0'">
                <el-table :data="listData.results" v-loading="loading" style="width: 100%">
                  <el-table-column label="QQ/昵称">
                    <template slot-scope="scope">
                      <span>${scope.row.qq_number}/${scope.row.qq_name}</span>
                    </template>
                  </el-table-column>
                  <el-table-column label="手机号">
                    <template slot-scope="scope">
                      <span>${scope.row.mobile}</span>
                    </template>
                  </el-table-column>
                  <el-table-column label="申请时间">
                    <template slot-scope="scope">
                      <span>${scope.row.submit_time}</span>
                    </template>
                  </el-table-column>
                  <el-table-column label="审核人">
                    <template slot-scope="scope">
                      <span>${scope.row.admin_name}</span>
                    </template>
                  </el-table-column>
                  <el-table-column label="审核时间">
                    <template slot-scope="scope">
                      <span>${scope.row.audit_time}</span>
                    </template>
                  </el-table-column>
                </el-table>
                <div class="pagination">
                  <el-pagination
                    background
                    @current-change="handleCurrentChange"
                    :page-size="10"
                    :current-page="this.currentPage"
                    layout="prev, pager, next, total, jumper"
                    :total="this.listData.recordCount">
                  </el-pagination>
                </div>
              </div>
              <div class="table-list" v-if="state == '2'">
                <el-table :data="listData.results" v-loading="loading" style="width: 100%">
                  <el-table-column label="QQ/昵称">
                    <template slot-scope="scope">
                      <span>${scope.row.qq_number}/${scope.row.qq_name}</span>
                    </template>
                  </el-table-column>
                  <el-table-column label="手机号">
                    <template slot-scope="scope">
                      <span>${scope.row.mobile}</span>
                    </template>
                  </el-table-column>
                  <el-table-column label="申请时间">
                    <template slot-scope="scope">
                      <span>${scope.row.submit_time}</span>
                    </template>
                  </el-table-column>
                  <el-table-column label="审核人">
                    <template slot-scope="scope">
                      <span>${scope.row.admin_name}</span>
                    </template>
                  </el-table-column>
                  <el-table-column label="审核时间">
                    <template slot-scope="scope">
                      <span>${scope.row.audit_time}</span>
                    </template>
                  </el-table-column>
                  <el-table-column label="拒绝理由">
                    <template slot-scope="scope">
                      <span>${scope.row.audit_reason}</span>
                    </template>
                  </el-table-column>
                </el-table>
                <div class="pagination">
                  <el-pagination
                    background
                    @current-change="handleCurrentChange"
                    :page-size="10"
                    :current-page="this.currentPage"
                    layout="prev, pager, next, total, jumper"
                    :total="this.listData.recordCount">
                  </el-pagination>
                </div>
              </div>
            </el-col>
          </el-row>
        </el-col>
      </el-row>
      <el-dialog
        title="详情"
        :visible.sync="dialogVisible"
        width="50%"
        >
        <div class="state1" v-if="listDataItem.apply_method === '1'">
          <p><span>姓名：</span>${listDataItem.id_name}</p>
          <p><span>身份证号：</span>${listDataItem.id_num}</p>
          <p>身份证合照：</p>
          <p><a v-bind:href="listDataItem.apply_pic_url" target="_blank"><img v-bind:src="listDataItem.apply_pic_url" width="220" height="300"/></a></p>
          <p v-if="listDataItem.contract_pic_url">一手合同单照片：</p>
          <p v-if="listDataItem.contract_pic_url"><a v-for="item in listDataItem.contract_pic_url" v-bind:href="item" target="_blank"><img v-bind:src="item" width="220" height="300"/></a></p>
          <p v-if="listDataItem.rebate_pic_url">返现截图：</p>
          <p v-if="listDataItem.rebate_pic_url"><a v-for="item in listDataItem.rebate_pic_url" v-bind:href="item" target="_blank"><img v-bind:src="item" width="220" height="300"/></a></p>
        </div>
        <div class="state2" v-if="listDataItem.apply_method === '2'">
          <p><span>公司名：</span>${listDataItem.id_name}</p>
          <p><span>工商号：</span>${listDataItem.id_num}</p>
          <p>营业执照：</p>
          <p><a v-bind:href="listDataItem.apply_pic_url" target="_blank"><img v-bind:src="listDataItem.apply_pic_url" width="220" height="300"/></a></p>
          <p v-if="listDataItem.contract_pic_url">一手合同单照片：</p>
          <p v-if="listDataItem.contract_pic_url"><a v-for="item in listDataItem.contract_pic_url" v-bind:href="item" target="_blank"><img v-bind:src="item" width="220" height="300"/></a></p>
          <p v-if="listDataItem.rebate_pic_url">返现截图：</p>
          <p v-if="listDataItem.rebate_pic_url"><a v-for="item in listDataItem.rebate_pic_url" v-bind:href="item" target="_blank"><img v-bind:src="item" width="220" height="300"/></a></p>
        </div>
        <span slot="footer" class="dialog-footer">
          <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
        </span>
      </el-dialog>
      <el-dialog
        title="拒绝理由"
        :visible.sync="textareadialog"
        width="30%"
        >
        <el-input
          type="textarea"
          :rows="2"
          placeholder="请输入拒绝理由"
          v-model="textarea">
        </el-input>
        <span slot="footer" class="dialog-footer">
          <el-button type="primary" @click="textareadialog = false">取 消</el-button>
          <el-button type="primary" @click="textareasub">确 定</el-button>
        </span>
      </el-dialog>
	  </div>
	  <script type="text/javascript">
	  	var app = new Vue({
        el: '#app',
        delimiters: ['${', '}'],
        data: {
          activeNav: '4-4',
          sqkstime: '',
          sqjstime: '',
          czkstime: '',
          czjstime: '',
          textarea: '',
          usersjh: '',
          userQQ: '',
          userQQname: '',
          czzsjh: '',
          postId: '',
          loading: true,
          dialogVisible: false,
          textareadialog: false,
          value_options: '1',
          currentPage: 1,
          state: '1',
          listData: [],
          listDataItem: {},
          options: [
            {
              value: '1',
              label: '未审核'
            },
            {
              value: '0',
              label: '审核通过'
            },
            {
              value: '2',
              label: '审核拒绝'
            }
          ]
        },
        methods: {
          //通过条件查找
          getListData () {
            var that = this
            var data = {
              'submit_time_0': this.sqkstime,
              'submit_time_1': this.sqjstime,
              'audit_time_0': this.czkstime,
              'audit_time_1': this.czjstime,
              'mobile': this.usersjh,
              'qq_number': this.userQQ,
              'qq_name': this.userQQname,
              'admin_mobile': this.czzsjh,
              'audit_state': this.value_options
            }
            $.ajax({
              url: '/restapi/admin_get_apply_user_fangdan/?page='+ this.currentPage +'&pageSize=10',
              dataType: "json",
              type: "GET", 
              async: false,
              data: data,
              success: function(res) {
                if (res.code === 0) {
                  console.log(res)
                  that.listData = res;
                  console.log(that.listData)
                  that.loading = false;
                }
              },
              error: function (err) {
                console.log(err)
              }
            });
          },
          handleCurrentChange (val) {
            this.listData = [];
            this.loading = true;
            this.currentPage = val;
            this.getListData();
          },
          searchBtn () {
            this.listData = [];
            this.loading = true;
            this.currentPage = 1;
            this.getListData();
          },
          detailsDialog (row) {
            this.listDataItem = row;
            this.dialogVisible = true;
            console.log(this.listDataItem);
            if (this.listDataItem.contract_pic_url) {
              this.listDataItem.contract_pic_url =  this.listDataItem.contract_pic_url.split(';');
              this.listDataItem.contract_pic_url.pop();
            }
            if (this.listDataItem.rebate_pic_url) {
              this.listDataItem.rebate_pic_url =  this.listDataItem.rebate_pic_url.split(';');
              this.listDataItem.rebate_pic_url.pop();
            }
          },
          yesAgree (row) {
            var that = this
            console.log(row)
            var data = {
              'id': row.id,
              'type': 1
            }
            $.ajax({
              url: '/Admin/admin_apply_for_fangdan/',
              dataType: "json",
              type: "post",
              async: false,
              data: data,
              success: function(res) {
                if (res.code === 0) {
                  that.$message({
                    message: '审核通过成功',
                    type: 'success'
                  });
                  that.getListData()
                } else {
                  that.$message('操作失败')
                }
              },
              error: function (err) {
                that.$message.error('操作失败。请联系管理员！');
              }
            });
          },
          noRefuse (row) {
            this.postId = row.id
            this.textareadialog = true
          },
          textareasub () {
            var that = this;
            var data = {
              'id': this.postId,
              'type': 2,
              'reason': this.textarea
            }
            $.ajax({
              url: '/Admin/admin_apply_for_fangdan/',
              dataType: "json",
              type: "post",
              async: false,
              data: data,
              success: function(res) {
                if (res.code === 0) {
                  that.$message({
                    message: '审核拒绝成功',
                    type: 'success'
                  });
                  that.textareadialog = false;
                  that.getListData()
                } else {
                  that.$message('操作失败')
                }
              },
              error: function (err) {
                that.$message.error('操作失败。请联系管理员！');
              }
            });
          }
        },
        created () {
          this.getListData()
        },
        mounted: function() {
          document.body.style.opacity = 1;
        },
        watch: {
          value_options () {
            var that = this;
            this.loading = true;
            this.state = this.value_options;
            this.currentPage = 1;
            var data = {
              'audit_state': this.value_options
            };
            $.ajax({
              url: '/restapi/admin_get_apply_user_fangdan/?page='+ this.currentPage +'&pageSize=10',
              dataType: "json",
              type: "GET", 
              async: false,
              data: data,
              success: function(res) {
                if (res.code === 0) {
                  that.listData = res;
                  that.loading = false;
                }
              },
              error: function (err) {
                console.log(err)
              }
            });
          }
        }
	  	})
	  </script>
	</body>
</html>
