{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'wafuli_admin/css/AdminCommon.css' %}" />
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <style>
        .grid-content {
            padding: 25px 0;
        }

        .el-input {
            width: 55%;
        }

        .oprate {
            padding: 10px 10px;
        }

        .desc_txt {
            color: #909399;
        }

        .grid-content {
            padding: 15px 0;
        }
    </style>
</head>

<body>
    <div id="app">
        <el-row :gutter="20">
            <el-col :span="3">
                {% include "leftNav.html" %}
            </el-col>
            <el-col :span="21">
                <div class="container">
                    <!-- 第一列 -->
                    <el-row :gutter="20">
                        <el-col :span="6">
                            <div class="grid-content bg-purple">
                                <span class="desc_txt">申请开始时间：</span>
                                <el-date-picker format="yyyy-MM-dd" value-format="yyyy-MM-dd" v-model="s_time0" type="date" placeholder="选择日期">
                                </el-date-picker>
                            </div>
                        </el-col>
                        <el-col :span="6">
                            <div class="grid-content bg-purple">
                                <span class="desc_txt">申请结束时间：</span>
                                <el-date-picker format="yyyy-MM-dd" value-format="yyyy-MM-dd" v-model="e_time0" type="date" placeholder="选择日期">
                                </el-date-picker>
                            </div>
                        </el-col>
                        <el-col :span="6">
                            <div class="grid-content bg-purple">
                                <span class="desc_txt">操作开始时间：</span>
                                <el-date-picker format="yyyy-MM-dd" value-format="yyyy-MM-dd" v-model="s_time1" type="date" placeholder="选择日期">
                                </el-date-picker>
                            </div>
                        </el-col>
                        <el-col :span="6">
                            <div class="grid-content bg-purple">
                                <span class="desc_txt">操作结束时间：</span>
                                <el-date-picker format="yyyy-MM-dd" value-format="yyyy-MM-dd" v-model="e_time1" type="date" placeholder="选择日期">
                                </el-date-picker>
                            </div>
                        </el-col>
                    </el-row>
                    <!-- 第二列 -->
                    <el-row :gutter="20">
                        <el-col :span="6">
                            <div class="grid-content bg-purple">
                                <span class="desc_txt">QQ：</span>
                                <el-input placeholder="请输入内容" v-model="qq_number" clearable>
                                </el-input>
                            </div>
                        </el-col>
                        <el-col :span="6">
                            <div class="grid-content bg-purple">
                                <span class="desc_txt">用户手机号：</span>
                                <el-input placeholder="请输入内容" v-model="phone_number" clearable>
                                </el-input>
                            </div>
                        </el-col>
                        <el-col :span="6">
                            <div class="grid-content bg-purple">
                                <span class="desc_txt">渠道等级：</span>
                                <el-select v-model="select" slot="prepend" placeholder="请选择">
                                    <el-option label="----" value=" "></el-option>
                                    <el-option label="01" value="01"></el-option>
                                    <el-option label="02" value="02"></el-option>
                                    <el-option label="03" value="03"></el-option>
                                </el-select>
                            </div>
                        </el-col>
                        <el-col :span="6">
                            <div class="grid-content bg-purple">
                                <span class="desc_txt">提交手机号：</span>
                                <el-input placeholder="请输入内容" v-model="submit_moblie" clearable>
                                </el-input>
                            </div>
                        </el-col>
                    </el-row>
                    <!-- 第三列 -->
                    <el-row :gutter="20">
                        <el-col :span="6">
                            <div class="grid-content bg-purple">
                                <span class="desc_txt">项目名称</span>
                                <el-input v-model="project_title" placeholder="请输入"></el-input>
                            </div>
                        </el-col>
                        <el-col :span="6">
                            <div class="grid-content bg-purple">
                                <el-button @click='search_data' type="primary">搜索</el-button>
                                <el-button @click='export_data' type="danger">导出</el-button>
                            </div>
                        </el-col>

                    </el-row>
                    <!-- tabale -->
                    <el-table :header-cell-style="rowStyle" :row-style="rowStyle" ref="multipleTable" :data="planTableData.results" style="width: 100%"
                        border>
                        <el-table-column label="QQ">
                            <template slot-scope="scope">${ scope.row.cqq_number }</template>
                        </el-table-column>
                        <el-table-column label="项目名称">
                            <template slot-scope="scope">${ scope.row.project_title }</template>
                        </el-table-column>
                        <el-table-column label="投资时间">
                            <template slot-scope="scope">${ scope.row.invest_date }</template>
                        </el-table-column>
                        <el-table-column label="投资手机号">
                            <template slot-scope="scope">${ scope.row.invest_mobile }</template>
                        </el-table-column>
                        <el-table-column label="投资金额">
                            <template slot-scope="scope">${ scope.row.invest_amount }</template>
                        </el-table-column>
                        <el-table-column label="投资标期">
                            <template slot-scope="scope">${ scope.row.invest_term }</template>
                        </el-table-column>
                        <el-table-column label="提交时间">
                            <template slot-scope="scope">${ (scope.row.submit_time).split('T')[0] }</template>
                        </el-table-column>
                        <el-table-column label="返现金额">
                            <template slot-scope="scope">${ scope.row.return_amount }</template>
                        </el-table-column>
                        <el-table-column label="结算金额">
                            <template slot-scope="scope">${ scope.row.settle_amount }</template>
                        </el-table-column>
                        <el-table-column label="备注">
                            <template slot-scope="scope">${ scope.row.remark }</template>
                        </el-table-column>
                    </el-table>
                    <div class="pagination-box">
                        <el-pagination background @current-change="handleCurrentChange" :page-size="pageSize" :current-page="currentPage" layout="total, prev, pager, next, jumper"
                            :total="planTableData.recordCount">
                        </el-pagination>
                    </div>
                </div>
            </el-col>
        </el-row>
        <iframe id="myIFrame" scrolling="yes" style="display:none" frameborder=1></iframe>
    </div>

    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            delimiters: ['${', '}'],
            data: {
                s_time0: '',
                s_time1: '',
                e_time0: '',
                e_time1: '',
                qq_number: '',
                phone_number: '',
                select: '',
                submit_moblie: '',
                project_title: '',
                activeNav: '3-2',
                rowStyle: {
                    'text-align': 'center'
                },
                planTableData: {},
                page: 1,
                pageSize: 10,
                currentPage: 1,
            },
            created: function () {
                var that = this;
                that.getDataList(1, 10);
            },
            methods: {
                handleCurrentChange: function (val) {
                    app.currentPage = val;
                    app.getDataList(app.currentPage, app.pageSize);
                },
                getDataList: function (page, pageSize) {
                    var that = this;
                    $.ajax({
                        type: "get",
                        url: '/restapi/investlogs/?page=' + that.currentPage + '&pagesize=' + that.pageSize + '&is_official=false&investtime_0=' + that.s_time0 + '&investtime_1=' + that.e_time0 + '&audittime_0=' + that.s_time1 + '&audittime_1=' + that.e_time1 + '&qq_number=' + that.qq_number + '&user_mobile=' + that.phone_number + '&invest_mobile=' + that.submit_moblie + '&project_title_contains=' + that.project_title + '&user_level=' + that.select,
                        async: true,
                        success: function (res) {
                            console.log(res);
                            if (res.code == 0) {
                                app.planTableData = res;
                            } else {
                                that.$notify.error({
                                    title: '错误',
                                    message: res.detail
                                });
                            }
                        }
                    });
                },
                search_data: function () {
                    var that = this;
                    that.getDataList();
                },
                export_data: function () { //导出数据
                    var that = this;
                    var html = '<form action="' + "{% url 'admin_export_investlog' %}" + '" method="get" target="_self" id="postData_form">';

                    html += '<input name="is_official" type="hidden" value="false"/>';
                    var startTime = that.s_time0;
                    var endTime = that.e_time0;
                    if (startTime && endTime) {
                        html += '<input name="investtime_0" type="hidden" value="' + startTime + '"/>';
                        html += '<input name="investtime_1" type="hidden" value="' + endTime + '"/>';
                    }
                    var startTime2 = that.s_time1;
                    var endTime2 = that.e_time1;
                    if (startTime2 && endTime2) {
                        html += '<input name="audittime_0" type="hidden" value="' + startTime2 + '"/>';
                        html += '<input name="audittime_1" type="hidden" value="' + endTime2 + '"/>';
                    }
                    var qq = that.qq_number;
                    if (qq) {
                        html += '<input name="qq_number" type="hidden" value="' + qq + '"/>';
                    }
                    var user_mobile = that.phone_number;
                    if (user_mobile) {
                        html += '<input name="user_mobile" type="hidden" value="' + user_mobile + '"/>';
                    }
                    var user_level = that.select;
                    if (user_level) {
                        html += '<input name="user_level" type="hidden" value="' + user_level + '"/>';
                    }
                    var invest_mobile = that.submit_moblie;
                    if (invest_mobile) {
                        html += '<input name="invest_mobile" type="hidden" value="' + invest_mobile + '"/>';
                    }
                    var project_title = that.project_title;
                    if (project_title) {
                        html += '<input name="project_title_contains" type="hidden" value="' + project_title_contains + '"/>';
                    }
                    html += '</form>';
                    var iframe = document.getElementById('myIFrame');
                    iframe.contentWindow.document.open();
                    iframe.contentWindow.document.write(html);
                    iframe.contentWindow.document.close();
                    document.getElementById('myIFrame').contentWindow.document.getElementById('postData_form').submit();
                }
            }
        })
    </script>
</body>

</html>