{% extends "base.html" %} {%load staticfiles%} {% block js %}
<style>
    .btn-box {
        margin-top: 20px;
        overflow: hidden;
    }
    .Submit-in {
        width: 500px;
        padding: 0;
        float: right;
    }
    .leading-in {
        float: left;
    }
    .unhandle-box {
        margin-top: 50px;
    }
    .unhandle {
        display: inline-block;
        padding: 4px 10px;
        color: #fff;
        background-color: #91c11d;
        border-radius: 4px;
    }
</style>
<script type="text/javascript" src="{%static 'js/ajaxfileupload.js'%}"></script>
<script type="text/javascript">
$.ajaxSetup({
    data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
});
var data1 = '<table width="100%"><tr><th>QQ</th><th>QQ昵称</th><th>个人简介</th><th>相关截图</th>'+
	'<th>手机号</th><th>申请时间</th>'+
	'<th>操作</th></tr>[results]<tr><td>{qq_number}</td><td>{qq_name}</td><td>{profile}</td>'+
  '<td><a target="_blank" href="{% url 'qualification' %}?id={id}">' +
    '<span class="img-up"><img src="/static/images/task-suoluetu.jpg" alt="截图上传图片" /></span></a></td>'+
	'<td>{mobile}</td><td>{submit_time}</td>'+
	'<td id="item_{id}"><a class="fyin" onclick="pass({id})">同意'+
	'</a> │ <a class="jion-s" onclick="refuse({id})">拒绝</a></td></tr>[/results]</table>';
var data0 = '<table width="100%"><tr><th>QQ</th><th>QQ昵称</th><th>个人简介</th><th>相关截图</th>'+
    '<th>手机号</th><th>申请时间</th><th>渠道等级</th><th>审核人</th>'+
    '<th>审核时间</th></tr>[results]<tr><td>{qq_number}</td><td>{qq_name}</td><td>{profile}</td>'+
  '<td><a target="_blank" href="{% url 'screenshot' %}?id={id}">' +
    '<span class="img-up"><img src="/static/images/task-suoluetu.jpg" alt="截图上传图片" /></span></a></td>'+
    '<td>{mobile}</td><td>{submit_time}</td>'+
    '<td>{level}</td><td>{admin_user}</td><td>{audit_time}</td></tr>[/results]</table>';
var data2 = '<table width="100%"><tr><th>QQ</th><th>QQ昵称</th><th>个人简介</th><th>相关截图</th>'+
    '<th>手机号</th><th>申请时间</th><th>审核人</th>'+
    '<th>审核时间</th><th>渠道等级</th></tr>[results]<tr><td>{qq_number}</td><td>{qq_name}</td><td>{profile}</td>'+
  '<td><a target="_blank" href="{% url 'screenshot' %}?id={id}">' +
    '<span class="img-up"><img src="/static/images/task-suoluetu.jpg" alt="截图上传图片" /></span></a></td>'+
    '<td>{mobile}</td><td>{submit_time}</td>'+
    '<td>{admin_user}</td><td>{audit_time}</td><td>{audit_reason}</td></tr>[/results]</table>';
var url = '/restapi/applylog/?page={page}&size={pageSize}';
function pagecallback(){
    $(".ret-money").each(function(index, el) {
        if ($(this).text() == 'null') {
            $(this).text('无');
        } else {
            $(this).text(parseInt($(this).text()/100));
        }
    });
    $(".ret-score").each(function(index, el) {
        if ($(this).text() == 'null') {
            $(this).text('无');
        }
    });
}
function pass(id){
	$(".BackNow").css("display","block");
	$("input#ret_event_id").val(id);
}
function refuse(id){
	$(".Audit").css("display","block");
	$("input#refuse_event_id").val(id);
}
$(document).ready(function(){
	$("li.home15").toggleClass("on");
	$(".Tin-table tr:even").css("background-color","#fcfcfc");
	$("#pagedata").ajaxPage({
	    url:url+"&audit_state=1",
	    pageId:$("#page"),
	    pageSize:10,
	    run:true,
	    content:data1,
        complete:pagecallback,
	});
	$(".none-x").click(function(){
		$(this).parent().parent().css("display","none");
	})
  $(".none-x-s").click(function(){
    $(this).parent().parent().parent().parent().css("display","none");
  })
	$('.Finnow input[type="submit"]').click(function(){
		var id = $("input#ret_event_id").val();
		var add_level = $("#add_level").val();
//		score = $("input#add_score").val();
		if (!id || !add_level){
			return;
		}
		console.log(id +', '+ add_level );
		$.ajax({
			url:"{%url 'admin_apply' %}",
			dataType:"json",
			type:"POST",
			data:{
				'id':id,
				'level':add_level,
				'type':1,
			},
			success:function(ret){
//				if(ret.code==0){
//					$("#item_"+id).html("审核完成，通过");
//				}
//				else if(ret.code==-1){
//					alert("该页面已过期，请重新登录！");
//					window.location.href = ret.url;
//				}
//				else {
//					alert(ret.res_msg);
//				}
			},
			error:function(){
				alert("请检查网络连接");
			}
		});
		$(".BackNow").css("display","none");
	});
	$('.Audit-in input[type="submit"]').click(function(){
		var id = $("input#refuse_event_id").val();
		reason = $("#refuse_reason").val();
		if (!id || !reason){
			return;
		}
		$.ajax({
			url:"{%url 'admin_apply' %}",
			dataType:"json",
			type:"POST",
			data:{
				'id':id,
				'reason':reason,
				'type':2,
			},
			success:function(ret){
//				if(ret.code==0){
//					$("#item_"+id).html("审核完成，拒绝");
//				}
//				else if(ret.code==-1){
//					alert("该页面已过期，请重新登录！");
//					window.location.href = ret.url;
//				}
//				else {
//					alert(ret.res_msg);
//				}
			},
			error:function(){
				alert("请检查网络连接");
			}
		});
		$(".Audit").css("display","none");
	});
	$("#search").click(function(){
		startTime = $("#startTime").val();
		endTime = $("#endTime").val();
		newurl = url;
		if(startTime && endTime){
			newurl += "&submit_date_0="+startTime;
			newurl += "&submit_date_1="+endTime;
		}
		startTime2 = $("#startTime2").val();
		endTime2 = $("#endTime2").val();
		if(startTime2 && endTime2){
			newurl += "&audit_date_0="+startTime2;
			newurl += "&audit_date_1="+endTime2;
		}
		mobile = $("#mobile").val();
		qq = $("#qq").val();
		if(mobile){
			newurl += "&mobile="+mobile;
		}
		if(qq){
			newurl += "&qq_number="+qq;
		}
		// companyname = $("#companyname").val();
		qqname = $("#qqname").val();
		// if(companyname){
		// 	newurl += "&companyname="+companyname;
		// }
		if(qqname){
			newurl += "&qq_name="+qqname;
		}
		 adminname = $("#admin_user_mobile").val();
       if(adminname){
         newurl += "&adminname="+adminname;
       }
		state = $("#state").val();
		if(state){
			newurl += "&audit_state="+state;
		}
		var newdata = data1;
		if(state=='0'){
			newdata = data0;
		}
        if(state=='2'){
            newdata = data2;
        }
		$("#page").empty();
		$("#pagedata").ajaxPage({
		    url:newurl,
		    pageId:$("#page"),
		    pageSize:10,
		    run:true,
		    content:newdata,
            complete:pagecallback,
		});
	});

  $("#export").click(function() {
    var html = '<form action="' + "" + '" method="get" target="_self" id="postData_form">';
    var startTime = $("#startTime").val();
    var endTime = $("#endTime").val();
    if(startTime && endTime) {
      html += '<input name="investtime_0" type="hidden" value="' + startTime + '"/>';
      html += '<input name="audittime_1" type="hidden" value="' + endTime + '"/>';
    }
    var startTime2 = $("#startTime2").val();
    var endTime2 = $("#endTime2").val();
    if(startTime2 && endTime2) {
      html += '<input name="audittime_0" type="hidden" value="' + startTime2 + '"/>';
      html += '<input name="audittime_1" type="hidden" value="' + endTime2 + '"/>';
    }
    var mobile = $("#mobile").val();
    var qq = $("#qq").val();
    if(mobile) {
      html += '<input name="mobile" type="hidden" value="' + mobile + '"/>';
    }
    if(qq) {
      html += '<input name="qq" type="hidden" value="' + qq + '"/>';
    }
    // companyname = $("#companyname").val();
    var qqname = $("#qqname").val();
    // if(companyname) {
    //   html += '<input name="companyname" type="hidden" value="' + companyname + '"/>';
    // }
    if(qqname) {
      html += '<input name="project_title_contains" type="hidden" value="' + qqname + '"/>';
    }
       adminname = $("#adminname").val();
    var state = $("#state").val();
       if(adminname) {
         html += '<input name="adminname" type="hidden" value="' + adminname + '"/>';
       }
    if(state) {
      html += '<input name="audit_state" type="hidden" value="' + state + '"/>';
    }
    // var usertype = $("#usertype").val();
    // if(usertype) {
    //   html += '<input name="usertype" type="hidden" value="' + usertype + '"/>';
    // }
    // if(usertype == '2') {
    //   var chalevel = $("#chalevel").val();
    //   if(chalevel) {
    //     html += '<input name="chalevel" type="hidden" value="' + chalevel + '"/>';
    //   }
    // }
    html += '</form>';
    var iframe = document.getElementById('myIFrame');
    iframe.contentWindow.document.open();
    iframe.contentWindow.document.write(html);
    iframe.contentWindow.document.close();
    document.getElementById('myIFrame').contentWindow.document.getElementById('postData_form').submit();
  });
  
});
</script>
{% endblock js %}
{% block right %}
<div class="Criteria">
                        	<span>搜索条件</span>
                            <div class="Crite-box">
                            	<form>
                                	<table width="100%">
                                    	<tr>
                                        	<td>
                                            	<i>申请开始时间：</i>
                                                <input id="startTime" type="date" />
                                            </td>
                                        	<td>
                                            	<i>申请结束时间：</i>
                                                <input id="endTime" type="date" />
                                            </td>
                                        	<td>
                                            	<i>操作开始时间：</i>
                                                <input id="startTime2" type="date" />
                                            </td>
                                        	<td>
                                            	<i>操作结束时间：</i>
                                                <input id="endTime2" type="date" />
                                            </td>
                                        </tr>
                                    	<tr>
                                        	<td>
                                            	<i>用户手机号：</i>
                                                <input id="mobile" type="text" />
                                            </td>
                                        	<td>
                                            	<i style="letter-spacing:2px;">QQ：</i>
                                                <input id="qq" type="text" />
                                            </td>
                                        	<!-- <td>
                                            	<i style="letter-spacing:4.8px;">公司名称：</i>
                                                <input id="companyname" type="text" />
                                            </td> -->
                                        	<td>
                                            	<i style="letter-spacing:4.8px;">QQ昵称：</i>
                                                <input id="qqname" type="text" />
                                            </td>
                                            <td>
                                                <i>处&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;理&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;人：</i>
                                                <input id="adminname" type="text" />
                                            </td>
                                        </tr>
                                         <tr>
                                             <td>
                                                <i style="letter-spacing:4.8px;">处理状态：</i>
                                                  <select name="selectAge" id="state">
                                                      <option value="1">未审核</option>
                                                      <option value="0">审核通过</option>
                                                      <option value="2">审核拒绝</option>
                                                  </select>
                                              </td>
                                        </tr> 
                                    </table>
                                    <div class="btn-box">
                                        <div class="Submit-in">
                                        	<input id="search" type="button" value="搜索" />
                                            <input id="export" type="button" value="导出" />
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="Tin-table">
                        	<div id="pagedata">
							</div>
		                    <div class="Page-in-admin">
		                    	<div class="page"  id="page">
		                        </div>
		                    </div>
                        </div>
{%endblock%}

	{% block modal %}
    <div class="BackNow">
    	<div class="w570-box">
        	<h3>添加渠道等级</h3>
            <button class="none-x"></button>
            <form class="Finnow">
            	<input id="ret_event_id" type="hidden" />
            	<span>渠道等级：</span>
                <!--<input id="add_cash" type="text" />-->
                <select name="channel" id="add_level">
                	<option value="01">01</option>
                	<option value="02">02</option>
                	<option value="03">03</option>
                </select>
                <!--<span>添加积分：</span>
                <input id="add_score" type="text" />-->
                <div class="Finnow-Sub">
                <input type="submit" value="确认" onclick="return false;"/>
                <input type="button" value="取消" class="none-x-s" />
                </div>
            </form>
        </div>
    </div>
    <!--审核拒绝-->
    <div class="Audit">
    	<div class="w570-box">
        	<h3>审核拒绝</h3>
            <button class="none-x"></button>
            <form class="Audit-in">
            	<span>填写拒绝原因：</span>
            	<input id="refuse_event_id" type="hidden" />
                <textarea id="refuse_reason"></textarea>
                <div class="Finnow-Sub">
                <input type="submit" value="确认" class="Deny-box" onclick="return false;"/>
                <input type="button" value="取消" class="none-x-s" />
                </div>
            </form>
        </div>
    </div>
    <iframe id="myIFrame" scrolling="yes" src="abount:blank" style="display:none" frameborder=1></iframe>
    <!--end-->
	{% endblock modal %}
