{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'wafuli_admin/css/AdminCommon.css' %}" />
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <style>
        .grid-content {
            padding: 25px 0;
        }

        .descTitle {
            color: #909399;
        }

        .el-input {
            width: 60%;
        }

        .el-header {
            margin-top: 20px;
        }

        .operate {
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div id="app">
        <el-row :gutter="20">
            <el-col :span="3">
                {% include "leftNav.html" %}
            </el-col>
            <el-col :span="21">
                <div class="container">
                    <el-row>
                        <el-col :span="6">
                            <div class="grid-content bg-purple">
                                <span class="descTitle">申请开始时间：</span>
                                <el-date-picker format="yyyy-MM-dd" value-format="yyyy-MM-dd" v-model="s_apply" type="date" placeholder="选择日期时间">
                                </el-date-picker>
                            </div>
                        </el-col>
                        <el-col :span="6">
                            <div class="grid-content bg-purple">
                                <span class="descTitle">申请结束时间：</span>
                                <el-date-picker format="yyyy-MM-dd" value-format="yyyy-MM-dd" v-model="e_apply" type="date" placeholder="选择日期时间">
                            </div>
                        </el-col>
                        <el-col :span="6">
                            <div class="grid-content bg-purple">
                                <span class="descTitle">操作开始时间</span>
                                <el-date-picker format="yyyy-MM-dd" value-format="yyyy-MM-dd" v-model="s_opreate" type="date" placeholder="选择日期时间">
                            </div>
                        </el-col>
                        <el-col :span="6">
                            <div class="grid-content bg-purple">
                                <span class="descTitle">操作结束时间：</span>
                                <el-date-picker format="yyyy-MM-dd" value-format="yyyy-MM-dd" v-model="e_opreate" type="date" placeholder="选择日期时间">
                            </div>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="6">
                            <div class="grid-content bg-purple">
                                <span class="descTitle">用户手机号：</span>
                                <el-input v-model="user_mobile" placeholder="请输入内容"></el-input>
                            </div>
                        </el-col>
                        <el-col :span="6">
                            <div class="grid-content bg-purple">
                                <span class="descTitle">QQ号：</span>
                                <el-input v-model="qq_number" placeholder="请输入内容"></el-input>
                            </div>
                        </el-col>
                        <el-col :span="6">
                            <div class="grid-content bg-purple">
                                <span class="descTitle">处理状态：</span>
                                <el-select v-model="state" @change="change_state" slot="prepend" placeholder="请选择项目状态">
                                    <el-option label="全部" value=" "></el-option>
                                    <el-option label="待审核" value="1"></el-option>
                                    <el-option label="审核通过" value="0"></el-option>
                                    <el-option label="审核未通过" value="2"></el-option>
                                </el-select>
                            </div>
                        </el-col>
                        <el-col :span="6">
                            <div class="grid-content bg-purple">
                                <span class="descTitle">项目名称：</span>
                                <el-input v-model="title" placeholder="请输入内容"></el-input>
                            </div>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="24" style="display: flex;justify-content: flex-end;">
                            <el-button type="primary" @click='search_data' style="margin-right: 65px;">搜索</el-button>
                        </el-col>
                    </el-row>
                    <el-header>数据总览</el-header>
                    <el-table :header-cell-style="rowStyle" :row-style="rowStyle" ref="multipleTable" :data="planTableData.results" style="width: 100%"
                        border>
                        <el-table-column label="QQ">
                            <template slot-scope="scope">${ scope.row.qq_name }/${ scope.row.qq_number }</template>
                        </el-table-column>
                        <el-table-column label="项目状态">
                            <template slot-scope="scope">${ scope.row.project_state_des }</template>
                        </el-table-column>
                        <el-table-column label="手机号">
                            <template slot-scope="scope">${ scope.row.user_mobile }</template>
                        </el-table-column>
                        <el-table-column label="项目名称">
                            <template slot-scope="scope">${ scope.row.title }</template>
                        </el-table-column>
                        <el-table-column label="佣金">
                            <template slot-scope="scope">${ scope.row.broker_rate }</template>
                        </el-table-column>
                        <el-table-column label="攻略链接">
                            <template slot-scope="scope">
                                <a href="scope.row.strategy_url">${ scope.row.strategy_url }</a>
                            </template>
                        </el-table-column>
                        <el-table-column label="推广标期">
                            <template slot-scope="scope">${ scope.row.invest_term }</template>
                        </el-table-column>
                        <el-table-column label="投资档位">
                            <template slot-scope="scope">${ scope.row.invest_amount }</template>
                        </el-table-column>
                        <el-table-column label="推广价格">
                            <template slot-scope="scope">${ scope.row.promotion_price }</template>
                        </el-table-column>
                        <el-table-column label="结算价格">
                            <template slot-scope="scope">${ scope.row.price }</template>
                        </el-table-column>
                        <el-table-column label="数据结算周期">
                            <template slot-scope="scope">${ scope.row.settle_period }</template>
                        </el-table-column>
                        <el-table-column label="提交时间">
                            <template slot-scope="scope">${ (scope.row.submit_time).split('T')[0] }</template>
                        </el-table-column>
                        <el-table-column label="处理状态">
                            <template slot-scope="scope">${ scope.row.state_des }</template>
                        </el-table-column>
                        <el-table-column label="处理时间" :key='Math.random()' v-if="state == '2' || state=='0'">
                            <template slot-scope="scope">${ (scope.row.audit_time).split('T')[0] }</template>
                        </el-table-column>
                        <el-table-column label="拒绝原因" :key='Math.random()' v-if="state == '2'">
                            <template slot-scope="scope">${ scope.row.audit_reason }</template>
                        </el-table-column>
                        <el-table-column label="备注说明">
                            <template slot-scope="scope">${ scope.row.remark }</template>
                        </el-table-column>
                        <el-table-column label="操作" :key='Math.random()' v-if="state == '1'">
                            <template slot-scope="scope">
                                <a class="operate" @click="agree(scope.row)">同意</a> |
                                <a class="operate" @click='refuse(scope.row)'>拒绝</a>
                            </template>
                        </el-table-column>
                    </el-table>
                    <div class="pagination-box">
                        <el-pagination background @current-change="handleCurrentChange" :page-size="pageSize" :current-page="currentPage" layout="total, prev, pager, next, jumper"
                            :total="planTableData.recordCount">
                        </el-pagination>
                    </div>
                </div>
            </el-col>
        </el-row>

    </div>

    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            delimiters: ['${', '}'],
            data: {
                s_apply: '',
                e_apply: '',
                s_opreate: '',
                e_opreate: '',
                user_mobile: '',
                qq_number: '',
                title: '',
                state: '',
                activeNav: '4-1',
                dialogPlanVisible: false,
                rowStyle: {
                    'text-align': 'center'
                },
                planTableData: {},
                page: 1,
                pageSize: 10,
                currentPage: 1,
            },
            created: function () {
                var that = this;
                that.getDataList(1, 10);
            },
            methods: {
                handleCurrentChange: function (val) {
                    app.currentPage = val;
                    app.getDataList(app.currentPage, app.pageSize);
                },
                getDataList: function (page, pageSize) {
                    var that = this;
                    $.ajax({
                        type: "get",
                        url: '/merchant/apply_projects/?page=' + that.currentPage + '&pageSize=' + that.pageSize + '&submittime_0=' + that.s_apply + '&submittime_1=' + that.e_apply + '&user_mobile=' + that.user_mobile + '&title=' + that.title + '&audit_state=' + that.state,
                        async: true,
                        success: function (res) {
                            console.log(res);
                            if (res.code == 0) {
                                app.planTableData = res;
                            } else {
                                that.$notify.error({
                                    title: '错误',
                                    message: res.detail
                                });
                            }
                        }
                    });
                },
                search_data: function () {
                    var that = this;
                    app.currentPage = 1;
                    console.log(that.s_apply)
                    app.getDataList();
                },
                change_state: function (val) {
                    var that = this;
                    that.state = val;
                    that.getDataList();
                },
                agree: function (row) {
                    var that = this;
                    console.log(row.id)
                    that.$prompt('请输入佣金', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        inputPattern: /^(([0-9][0-9]*)|(([0]\.\d{1,2}|[1-9][0-9]*\.\d{1,2})))$/, //正则验证
                        inputErrorMessage: '请输入正确的金额',
                    }).then(({ value }) => {
                        console.log(value)
                        $.ajax({
                            url: '/Admin/admin_merchant_project/',
                            type: "POST",
                            async: false,
                            data: {
                                "type": 1,
                                "id": row.id,
                                "broker_rate": value
                            },
                            timeout: 5000, //超出时间
                            dataType: 'json', //返回数据格式Json
                            success: function (ret) {
                                if (ret.code == 0) {
                                    that.$notify({
                                        title: '提示',
                                        message: '操作成功，同意'
                                    })
                                    that.getDataList();
                                }
                            },
                            error: function (xhr, textStatus) {
                                console.log('错误:' + xhr.responseText);
                            }
                        });
                    }).catch(() => {
                        console.log('取消');
                    });
                },
                refuse: function (row) {
                    console.log(row.id)
                    var that = this;
                    that.$prompt('请输入拒绝原因', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        inputPattern: '',
                        inputErrorMessage: '拒绝原因不能为空',
                    }).then(({ value }) => {
                        console.log(value)
                        $.ajax({
                            url: '/Admin/admin_merchant_project/',
                            type: "POST",
                            async: false,
                            data: {
                                "type": 2,
                                "id": row.id,
                                "reason": value
                            },
                            timeout: 5000, //超出时间
                            dataType: 'json', //返回数据格式Json
                            success: function (ret) {
                                if (ret.code == 0) {
                                    that.$notify({
                                        title: '提示',
                                        message: '操作成功，拒绝'
                                    })
                                    that.getDataList();
                                }
                            },
                            error: function (xhr, textStatus) {
                                console.log('错误:' + xhr.responseText);
                            }
                        });
                    }).catch(() => {
                        console.log('取消');
                    });
                }
            }
        })
    </script>
</body>

</html>