{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="{% static 'wafuli_admin/css/AdminCommon.css' %}" />
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
  <style>
    body {
          opacity: 0;
        }
    .grid-content {
      padding: 25px 0;
    }

    .el-input {
      width: 55%;
    }

    .oprate {
      padding: 11px 17px;
    }

    .search_btn {
      width: 90px;
      height: 32px;
      margin-right: 50px;
    }

    .export_btn {
      width: 90px;
      height: 32px;
      margin-right: 10px;
    }

    .grid-content {
      padding: 15px 0;
    }

    .desc_txt {
      color: #909399;
    }

    .el-header {
      margin-top: 0;
    }

    .opreate {
      cursor: pointer;
    }

    .el-dialog__header {
      display: flex;
      justify-content: center;
    }

    .el-form-item {
      display: flex;
      justify-content: center;
    }

    .el-dialog__footer {
      display: flex;
      justify-content: center;
    }
  </style>
</head>

<body>
  <div id="app">
    <el-row :gutter="20" style="width: 100%;">
      <el-col :span="3">
        {% include "leftNav.html" %}
      </el-col>
      <el-col :span="21">
        <div class="container">
          <!-- 第一列 -->
          <el-row :gutter="20">
            <el-col :span="6">
              <div class="grid-content bg-purple">
                <span class="desc_txt">申请开始时间：</span>
                <el-date-picker format="yyyy-MM-dd" value-format="yyyy-MM-dd" v-model="s_time0" type="date" placeholder="选择日期">
                </el-date-picker>
              </div>
            </el-col>
            <el-col :span="6">
              <div class="grid-content bg-purple">
                <span class="desc_txt">申请结束时间：</span>
                <el-date-picker format="yyyy-MM-dd" value-format="yyyy-MM-dd" v-model="e_time0" type="date" placeholder="选择日期">
                </el-date-picker>
              </div>
            </el-col>
            <el-col :span="6">
              <div class="grid-content bg-purple">
                <span class="desc_txt">操作开始时间</span>
                <el-date-picker format="yyyy-MM-dd" value-format="yyyy-MM-dd" v-model="s_time1" type="date" placeholder="选择日期">
                </el-date-picker>
              </div>
            </el-col>
            <el-col :span="6">
              <div class="grid-content bg-purple">
                <span class="desc_txt">操作结束时间：</span>
                <el-date-picker format="yyyy-MM-dd" value-format="yyyy-MM-dd" v-model="e_time1" type="date" placeholder="选择日期">
                </el-date-picker>
              </div>
            </el-col>
          </el-row>
          <!-- 第二列 -->
          <el-row :gutter="20">
            <el-col :span="6">
              <div class="grid-content bg-purple">
                <span class="desc_txt">QQ：</span>
                <el-input v-model="qq_number" placeholder="请输入QQ号"></el-input>
              </div>
            </el-col>
            <el-col :span="6">
              <div class="grid-content bg-purple">
                <span class="desc_txt">用户手机号：</span>
                <el-input v-model="phone_number" placeholder="请输入用户手机号"></el-input>
              </div>
            </el-col>
            <el-col :span="6">
              <div class="grid-content bg-purple">
                <span class="desc_txt">渠道等级：</span>
                <el-select v-model="user_level" slot="prepend" placeholder="请选择">
                  <el-option label="01" value="01"></el-option>
                  <el-option label="02" value="02"></el-option>
                  <el-option label="03" value="03"></el-option>
                </el-select>
              </div>
            </el-col>
            <el-col :span="6">
              <div class="grid-content bg-purple">
                <span class="desc_txt">开户行姓名：</span>
                <el-input v-model="real_name" placeholder="请输入开户行姓名"></el-input>
              </div>
            </el-col>
          </el-row>
          <!-- 第四列 -->
          <el-row :gutter="20">
            <el-col :span="6">
              <div class="grid-content bg-purple">
                <span class="desc_txt">银行卡号：</span>
                <el-input v-model="card_number" placeholder="请输入银行卡号"></el-input>
              </div>
            </el-col>
            <el-col :span="6">
              <div class="grid-content bg-purple">
                <span class="desc_txt">处理人手机号：</span>
                <el-input v-model="admin_mobile" placeholder="请输入用户手机号"></el-input>
              </div>
            </el-col>
            <el-col :span="6">
              <div class="grid-content bg-purple">
                <span class="desc_txt">处理状态：</span>
                <el-select v-model="state" @change="changse_state" slot="prepend" placeholder="请选择处理状态">
                  <!--<el-option label="全部" value=""></el-option>-->
                  <el-option label="未审核" value="1"></el-option>
                  <el-option label="审核通过" value="0"></el-option>
                  <el-option label="审核拒绝" value="2"></el-option>
                </el-select>
              </div>
            </el-col>
            <el-col :span="6">
              <div class="grid-content bg-purple" style="display: flex;">
                <el-button type="primary" @click='search_data' style="height: 42px;margin-right: 20px;">搜索</el-button>
                <!-- <el-button type="danger">导入</el-button> -->
                <el-upload class="avatar-uploader" action="{% url 'import_withdraw_excel'%}" name="file" accept=".xls" :show-file-list="false"
                  :on-success="handleAvatarSuccess" :on-error="handleAvatarError" :before-upload="beforeAvatarUpload">
                  <el-button type="primary">导入</el-button>
                  <div slot="tip" class="el-upload__tip">&nbsp;只能上传xls文件</div>
                </el-upload>
                <el-button type="danger" style="height: 40px;" @click='export_data'>导出</el-button>
              </div>
            </el-col>
          </el-row>
          <el-row>
            <el-col>
              <div class="grid-content bg-purple" style="display: flex;justify-content: flex-end">
                <el-button type="warning" @click='withdrawal'>一键提现</el-button>
                <el-button type="info" @click='audit' style="margin-right: 130px;">一键审核（支付宝）</el-button>
              </div>
            </el-col>
          </el-row>
          <!-- tabale -->
          <el-header>数据总览</el-header>
          <el-table ref="multipleTable" :data="planTableData.results" :header-cell-style="rowStyle" :row-style="rowStyle" style="width: 100%"
            @selection-change="handleSelectionChange">
            <el-table-column type="selection" width="55">
            </el-table-column>
            <el-table-column label="QQ">
              <template slot-scope="scope">${ scope.row.qq_number }</template>
            </el-table-column>
            <el-table-column label="手机号">
              <template slot-scope="scope">${ scope.row.mobile }</template>
            </el-table-column>
            <el-table-column label="开户行">
              <template slot-scope="scope">${ scope.row.bank }</template>
            </el-table-column>
            <el-table-column label="开户行姓名">
              <template slot-scope="scope">${ scope.row.real_name }</template>
            </el-table-column>
            <el-table-column label="银行卡号">
              <template slot-scope="scope">${ scope.row.card_number }</template>
            </el-table-column>
            <el-table-column label="支付宝" :key='Math.random()' v-if="state == '1'">
              <template slot-scope="scope">${ scope.row.zhifubao }</template>
            </el-table-column>
            <el-table-column label="申请提现金额" :key='Math.random()' v-if="state == '2' || state == '0'">
              <template slot-scope="scope">${ scope.row.amount }</template>
            </el-table-column>
            <el-table-column label="申请时间">
              <template slot-scope="scope">${ scope.row.submit_time.split("T")[0] }</template>
            </el-table-column>
            <el-table-column label="金额">
              <template slot-scope="scope">${ scope.row.amount }</template>
            </el-table-column>
            <el-table-column label="处理人">
              <template slot-scope="scope">${ scope.row.admin_mobile }</template>
            </el-table-column>
            <el-table-column label="处理时间" :key='Math.random()' v-if='state == "2" || state == "0"'>
              <template slot-scope="scope">${ scope.row.audit_time }</template>
            </el-table-column>
            <el-table-column label="处理" :key='Math.random()' v-if='state == "1"'>
              <template slot-scope="scope">
                <a class="opreate" @click='agree(scope.row)'>接受</a>
                丨
                <a class="opreate" @click='refuse(scope.row)'>拒绝</a>
              </template>
            </el-table-column>
            <el-table-column label="自动审核失败原因" :key='Math.random()' v-if='state == "1"'>
              <template slot-scope="scope">${ scope.row.except_info }</template>
            </el-table-column>
            <el-table-column label="拒绝原因" :key='Math.random()' v-if='state == "2"'>
              <template slot-scope="scope">${ scope.row.audit_reason }</template>
            </el-table-column>
          </el-table>
          <div class="pagination-box">
            <el-pagination background @current-change="handleCurrentChange" :page-size="pageSize" :current-page="currentPage" layout="total, prev, pager, next, jumper"
              :total="planTableData.recordCount">
            </el-pagination>
          </div>
        </div>
      </el-col>
    </el-row>
    <el-dialog title="一键审核" :visible.sync="auditShow">
      <el-form :model="form">
        <el-form-item>
          <el-checkbox label="用户可选时间段" @change="is_check"></el-checkbox>
        </el-form-item>
        <div class="iptBox" v-show='is_show'>
          <el-form-item label="开始时间">
            <el-date-picker format="yyyy-MM-ddTHH:mm" value-format="yyyy-MM-ddTHH:mm" v-model="audit_stime" type="datetime" placeholder="选择日期">
            </el-date-picker>
          </el-form-item>
          <el-form-item label="结束时间">
            <el-date-picker format="yyyy-MM-ddTHH:mm" value-format="yyyy-MM-ddTHH:mm" v-model="audit_etime" type="datetime" placeholder="选择日期">
            </el-date-picker>
          </el-form-item>
        </div>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="auditShow = false">取 消</el-button>
        <el-button type="primary" @click='send'>确 定</el-button>
      </div>
    </el-dialog>
    <el-dialog title="提示" :visible.sync="refuse_box" width="30%" center>
      <span>请输入拒绝原因：</span>
      <el-input v-model="refuse_reason" placeholder="请输入拒绝原因"></el-input>
      <span slot="footer" class="dialog-footer">
        <el-button @click="refuse_box = false">取 消</el-button>
        <el-button type="primary" @click="refuse_send">确 定</el-button>
      </span>
    </el-dialog>
  </div>
  <iframe id="myIFrame" scrolling="yes" style="display:none" frameborder=1></iframe>
</body>
<script type="text/javascript">
  var app = new Vue({
    el: '#app',
    delimiters: ['${', '}'],
    data: {
      s_time0: '',
      e_time0: '',
      s_time1: '',
      e_time1: '',
      user_level: '',
      phone_number: '',
      real_name: '',
      card_number: '',
      admin_mobile: '',
      qq_number: '',
      state: '1',
      checkIdList: '',
      audit_stime: '',
      audit_etime: '',
      auditShow: false,
      csrf_token: '{{ csrf_token }}',
      form: '',
      refuse_reason: '',
      refuse_id: '',
      is_show: false,
      refuse_box: false,
      num: 1,
      activeNav: '2-1',
      rowStyle: {
        'text-align': 'center'
      },
      planTableData: {},
      page: 1,
      pageSize: 10,
      currentPage: 1,
    },
    created: function () {
      var that = this;
      that.getDataList(1, 10);
    },
    mounted: function() {
      document.body.style.opacity = 1;
    },
    methods: {
      handleCurrentChange: function (val) {
        app.currentPage = val;
        app.getDataList(app.currentPage, app.pageSize);
      },
      getDataList: function () {
        var that = this;
        $.ajax({
          type: "get",
          url: '/restapi/withdrawlogs/?page=' + that.currentPage + '&pageSize=' + that.pageSize + that.url_key,
          async: true,
          success: function (res) {
            console.log(res);
            if (res.code == 0) {
              app.planTableData = res;
            } else {
              that.$notify.error({
                title: '错误',
                message: res.detail
              });
            }
          }
        });
      },
      changse_state: function (val) {
        var that = this;
        that.state = val;
        that.getDataList();
      },
      //搜索
      search_data: function () {
        var that = this;
        that.currentPage = 1;
        that.getDataList();
      },
      //check选中事件
      handleSelectionChange(val) {
        var that = this;
        that.checkIdList = '';
        console.log(val);
        if (val.length) {
          for (let i = 0; i < val.length; i++) {
            app.checkIdList += val[i].id + ','
          }
          app.checkIdList = app.checkIdList.slice(0, app.checkIdList.length - 1);
          console.log('checkbox选中：', app.checkIdList);
        } else {
          app.checkIdList = '';
          console.log('chenckbox未选中：', app.checkIdList);
        }
        this.multipleSelection = val;
      },
      //导出数据
      export_data: function () {
        var that = this;
        var html = '<form action="' + "{% url 'export_withdraw_excel' %}" + '" method="get" target="_self" id="postData_form">';
        var startTime = that.s_time0?that.s_time0:'';
        var endTime = that.e_time0?that.e_time0:'';
        if (startTime && endTime) {
          html += '<input name="submit_date_0" type="hidden" value="' + startTime + '"/>';
          html += '<input name="submit_date_1" type="hidden" value="' + endTime + '"/>';
        }
        var startTime2 = that.s_time1?that.s_time1:'';
        var endTime2 = that.e_time1?that.e_time1:'';
        if (startTime2 && endTime2) {
          html += '<input name="audit_date_0" type="hidden" value="' + startTime2 + '"/>';
          html += '<input name="audit_date_1" type="hidden" value="' + endTime2 + '"/>';
        }
        var qq = that.qq_number;
        var mobile = that.phone_number;
        if (qq) {
          html += '<input name="qq_number" type="hidden" value="' + qq + '"/>';
        }
        if (mobile) {
          html += '<input name="user_mobile" type="hidden" value="' + mobile + '"/>';
        }
        var card_number = that.card_number;
        var real_name = that.real_name;
        if (card_number) {
          html += '<input name="card_number" type="hidden" value="' + card_number + '"/>';
        }
        if (real_name) {
          html += '<input name="real_name" type="hidden" value="' + real_name + '"/>';
        }
        var adminname = that.admin_mobile;
        var usertype = that.user_level;
        var state = that.state;
        if (adminname) {
          html += '<input name="admin_mobile" type="hidden" value="' + adminname + '"/>';
        }
        if (usertype) {
          html += '<input name="user_level" type="hidden" value="' + usertype + '"/>';
        }
        if (state) {
          html += '<input name="audit_state" type="hidden" value="' + state + '"/>';
        }
        html += '</form>';
        var iframe = document.getElementById('myIFrame');
        iframe.contentWindow.document.open();
        iframe.contentWindow.document.write(html);
        iframe.contentWindow.document.close();
        document.getElementById('myIFrame').contentWindow.document.getElementById('postData_form').submit();
      },
      //上传文件
      beforeAvatarUpload: function (file) {
        console.log(file)
        this.$message('正在上传...')
      },
      handleAvatarSuccess: function (res, file) {
        var that = this;
        console.log(res);
        if (res.code == 0) {
          that.$notify({
            title: '上传成功',
            message: '成功数量：' + res.num + '条',
            type: 'success'
          });
          that.getDataList();
        } else {
          that.$notify.error({
            title: '错误',
            message: res.msg
          });
        }
      },
      handleAvatarError: function (res, file) {
        var that = this;
        that.$notify.error({
          title: '错误',
          message: '上传失败'
        });
      },
      //开始时间和结束时间的显示和隐藏
      is_check: function () {
        var that = this;
        that.num++;
        if (that.num % 2 == 0) {
          that.is_show = true;
        } else {
          that.is_show = false;
        }

      },
      //一键审核
      audit: function () {
        var that = this;
        if (that.checkIdList === '') {
          that.auditShow = true;
        } else if (that.checkIdList != '') {
          console.log('一键审核checkIdList', that.checkIdList)
          $.ajax({
            url: '/Admin/withdraw_autoaudit/?sub_from=&sub_to=&id_list=' + that.checkIdList,
            type: 'GET',
            async: false,
            dataType: 'json',
            success: function (res) {
//            if (res.code == 0) {
                that.$confirm('共' + res.count + '笔，' + res.sum + '元，确定通过支付宝转账？提交可能需要一分钟的时间，请稍后刷新查看结果', '温馨提示', {
                  confirmButtonText: '确定',
                  callback: function (action) {
                    if (action == 'confirm') {
                      $.ajax({
                        url: '/Admin/withdraw_autoaudit/',
                        type: "POST",
                        dataType: 'json',
                        data: {
                          csrfmiddlewaretoken: that.csrf_token,
                          sub_from: '',
                          sub_to: '',
                          id_list: that.checkIdList
                        },
                        success: function (res) {
                          that.$notify({
                            title: '提示',
                            message: '一键审核成功'
                          })
                          that.auditShow = false;
                        },
                        error: function () {
                          that.$notify({
                            title: '提示',
                            message: '请检查网络连接'
                          })
                        }
                      })
                    }
                  }
                })
//            } else {
//              that.$notify({
//                title: '提示',
//                message: '成功数量：' + res.count + '总数：' + res.sum
//              })
//            }
            },
          })
        }
      },
      //一键审核确定
      send: function () {
        var that = this;
        if (that.is_show === true) {
          if (!that.audit_stime) {
            that.$notify({
              title: '提示',
              message: '请选择开始时间'
            })
            return false;
          }
          if (!that.audit_etime) {
            that.$notify({
              title: '提示',
              message: '请选择结束时间'
            })
            return false;
          }
          console.log('我出现了')
          $.ajax({
            url: '/Admin/withdraw_autoaudit/?sub_from=' + that.audit_stime + '&sub_to=' + that.audit_etime + '&id_list=',
            type: 'GET',
            dataType: 'json',
            async: false,
            success: function (res) {

              that.$confirm('共' + res.count + '笔，' + res.sum + '元，确定通过支付宝转账？提交可能需要一分钟的时间，请稍后刷新查看结果', '温馨提示', {
                confirmButtonText: '确定',
                callback: function (action) {
                  console.log(action);
                  if (action == 'confirm') {
                    console.log('conform')
                    $.ajax({
                      url: '/Admin/withdraw_autoaudit/',
                      dataType: 'json',
                      type: "POST",
                      async: false,
                      data: {
                        csrfmiddlewaretoken: that.csrf_token,
                        sub_from: that.audit_stime,
                        sub_to: that.audit_etime,
                        id_list: ''
                      },
                      success: function (res) {
                        that.$notify({
                          title: '提示',
                          message: '一键审核成功'
                        })
                        that.auditShow = false;
                      },
                      error: function () {
                        that.$notify({
                          title: '提示',
                          message: '请检查网络连接'
                        })
                      }
                    })
                  }
                }
              })

            }
          })
        } else if (that.is_show === false) {
          console.log('隐藏')
          $.ajax({
            url: '/Admin/withdraw_autoaudit/?sub_from=&sub_to=&id_list=',
            type: "GET",
            async: true,
            dataType: 'json',
            success: function (res) {
              console.log('llc', res)
              that.$alert('共' + res.count + '笔，' + res.sum + '元，确定通过支付宝转账？提交可能需要一分钟的时间，请稍后刷新查看结果', '温馨提示', {
                confirmButtonText: '确定',
                callback: function (action) {
                  if (action == 'confirm') {
                    $.ajax({
                      url: '/Admin/withdraw_autoaudit/',
                      dataType: 'json',
                      type: "POST",
                      async: true,
                      data: {
                        csrfmiddlewaretoken: that.csrf_token,
                        sub_from: '',
                        sub_to: '',
                        id_list: ''
                      },
                      success: function (res) {
                        that.$notify({
                          title: '提示',
                          message: '一键审核成功'
                        })
                        that.is_show = false;
                      }
                    })
                  }
                }
              })
            }
          })
        }

      },
      //一键提现
      withdrawal: function () {
        var that = this;
        that.$confirm('确定是否一键提现?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'info',
          callback: function(action, instance) {
            console.log(action)
            console.log(instance)
            if (action == 'confirm') {
  	          $.ajax({
                url: "{% url 'batch_withdraw' %}",
                dataType: "json",
                async: false,
                type: "get",
                success: function (res) {
                  if (res.code == 0) {
                    that.$notify({
                      title: '提示',
                      type: 'success',
                      message: '一键提现成功'
                    })
                  } else {
                    that.$notify({
                      title: '提示',
                      type: 'error',
                      message: res.msg
                    })
                  }
                },
                error: function () {
                  that.$notify({
                    title: '提示',
                    message: "截取bug一枚，请联系前端技术人员"
                  })
                }
              });
            }
          }
        })
//      .then(() => {

//      }).catch(() => {
//        this.$message({
//          type: 'info',
//          message: '已取消一键提现'
//        });
//      });
      },
      agree: function (row) {
        var that = this;
        console.log(row.id);
        that.$alert('是否同意审核通过', '提示', {
          confirmButtonText: '确定',
          callback: function (action) {
            if (action == 'confirm') {
              $.ajax({
                url: "{%url 'admin_withdraw' %}",
                dataType: 'json',
                type: "POST",
                data: {
                  csrfmiddlewaretoken: that.csrf_token,
                  type: 1,
                  id: row.id
                },
                async: true,
                success: function (res) {
                  if (res.code == 0) {
                    that.$notify({
                      title: '提示',
                      message: '审核完成，通过'
                    });
                    that.getDataList();
                  }
                  else if (res.code == -1) {
                    alert("该页面已过期，请重新登录！");
                    window.location.href = res.url;
                  }
                  else {
                    that.$notify({
                      title: '提示',
                      message: res.res_msg
                    })
                  }
                }
              })
            }
          }
        })

      },
      refuse: function (row) {
        var that = this;
        that.refuse_id = row.id;
        that.refuse_box = true;
      },
      refuse_send: function () {
        var that = this;
        if (!that.refuse_reason) {
          that.$notify({
            title: '提示',
            message: '请填写拒绝原因'
          })
          return false;
        }
        $.ajax({
          url: "{%url 'admin_withdraw' %}",
          dataType: 'json',
          type: "POST",
          data: {
            'csrfmiddlewaretoken': that.csrf_token,
            'id': that.refuse_id,
            'reason': that.refuse_reason,
            'type': 2,
          },
          async: true,
          success: function (res) {
            if (res.code == 0) {
              that.$notify({
                title: '提示',
                message: '审核完成，拒绝'
              });
              that.getDataList();
              that.refuse_box = false;
            }
            else if (res.code == -1) {
              alert("该页面已过期，请重新登录！");
              window.location.href = res.url;
            }
            else {
              that.$notify({
                title: '提示',
                message: res.res_msg
              })
            }
          }
        })
      }
    },
    computed: {
      url_key: function () {
        var that = this;
        return '&submit_date_0=' + (that.s_time0?that.s_time0:'') + '&submit_date_1=' + (that.e_time0?that.e_time0:'') + '&audit_date_0=' + (that.s_time1?that.s_time1:'') + '&audit_date_1=' + (that.e_time1?that.e_time1:'') + 
        '&qq_number=' + that.qq_number + '&user_mobile=' + that.phone_number + '&card_number=' + that.card_number + '&real_name=' + that.real_name + '&admin_mobile=' + that.admin_mobile + '&user_level=' + that.user_level + '&audit_state=' + that.state;
      }
    }
  })
</script>

</html>