{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="{% static 'wafuli_admin/css/AdminCommon.css' %}" />
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
  <style>
    body {
          opacity: 0;
        }
    .grid-content {
      padding: 25px 0;
    }

    .el-input {
      width: 55%;
    }

    .oprate {
      padding: 11px 17px;
    }

    .search_btn {
      width: 90px;
      height: 32px;
      margin-right: 50px;
    }

    .export_btn {
      width: 90px;
      height: 32px;
      margin-right: 10px;
    }

    .grid-content {
      padding: 15px 0;
    }

    .desc_txt {
      color: #909399;
    }

    .el-header {
      margin-top: 0;
    }

    .el-dialog__header {
      display: flex;
      justify-content: center;
    }

    .el-form-item {
      display: flex;
      justify-content: center;
    }

    .el-dialog__footer {
      display: flex;
      justify-content: center;
    }
  </style>
</head>

<body>
  <div id="app">
    <el-row :gutter="20" style="width: 100%;">
      <el-col :span="3">
        {% include "leftNav.html" %}
      </el-col>
      <el-col :span="21">
        <div class="container">
          <!-- 第一列 -->
          <el-row :gutter="20">
            <el-col :span="6">
              <div class="grid-content bg-purple">
                <span class="desc_txt">审核开始时间：</span>
                <el-date-picker format="yyyy-MM-dd" value-format="yyyy-MM-dd" v-model="s_time0" type="date" placeholder="选择日期">
                </el-date-picker>
              </div>
            </el-col>
            <el-col :span="6">
              <div class="grid-content bg-purple">
                <span class="desc_txt">审核结束时间：</span>
                <el-date-picker format="yyyy-MM-dd" value-format="yyyy-MM-dd" v-model="e_time0" type="date" placeholder="选择日期">
                </el-date-picker>
              </div>
            </el-col>
            <el-col :span="6">
              <div class="grid-content bg-purple">
                <span class="desc_txt">投资手机号：</span>
                <el-input placeholder="请输入内容" v-model="phone_number" clearable>
                </el-input>
              </div>
            </el-col>
            <el-col :span="6">
              <div class="grid-content bg-purple">
                <span class="desc_txt">支付宝账号：</span>
                <el-input placeholder="请输入内容" v-model="zhifubao" clearable>
                </el-input>
              </div>
            </el-col>
          </el-row>
          <!-- 第二列 -->
          <el-row :gutter="20">
            <el-col :span="6">
              <div class="grid-content bg-purple">
                <span class="desc_txt">打款状态：</span>
                <el-select v-model="pay_state" @change="change_state" slot="prepend" placeholder="请选择">
                  <el-option label="打款中" value="2"></el-option>
                  <el-option label="已打款" value="3"></el-option>
                  <el-option label="打款失败" value="4"></el-option>
                </el-select>
              </div>
            </el-col>
            <el-col :span="6">
              <div class="grid-content bg-purple">
                <el-button type="primary" @click='search_data'>搜索</el-button>
                <el-button type="danger" @click='pay_money'>一键打款</el-button>
              </div>
            </el-col>
          </el-row>
          <!-- tabale -->
          <el-header>数据总览</el-header>
          <el-table ref="multipleTable" :data="planTableData.results" :header-cell-style="rowStyle" :row-style="rowStyle" style="width: 100%"
            @selection-change="handleSelectionChange">
            <el-table-column type="selection" width="55">
            </el-table-column>
            <el-table-column label="项目名称">
              <template slot-scope="scope">${ scope.row.project_title }</template>
            </el-table-column>
            <el-table-column label="用QQ">
              <template slot-scope="scope">${ scope.row.qq_number }</template>
            </el-table-column>
            <el-table-column label="用户手机号">
              <template slot-scope="scope">${ scope.row.user_mobile }</template>
            </el-table-column>
            <el-table-column label="投资姓名">
              <template slot-scope="scope">${ scope.row.invest_name }</template>
            </el-table-column>
            <el-table-column label="投资手机号">
              <template slot-scope="scope">${ scope.row.invest_mobile }</template>
            </el-table-column>
            <el-table-column label="投资日期">
              <template slot-scope="scope">${ scope.row.invest_date }</template>
            </el-table-column>
            <el-table-column label="审核时间">
              <template slot-scope="scope">${ scope.row.audit_time.split('T')[0] }</template>
            </el-table-column>
            <el-table-column label="结算金额">
              <template slot-scope="scope">${ scope.row.settle_amount }</template>
            </el-table-column>
            <el-table-column label="返现金额">
              <template slot-scope="scope">${ scope.row.return_amount }</template>
            </el-table-column>
            <el-table-column label="支付宝账号">
              <template slot-scope="scope">${ scope.row.zhifubao }</template>
            </el-table-column>
            <el-table-column label="支付宝姓名">
              <template slot-scope="scope">${ scope.row.zhifubao_name }</template>
            </el-table-column>
            <el-table-column label="打款状态">
              <template slot-scope="scope">${ scope.row.pay_state_des }</template>
            </el-table-column>
            <el-table-column label="处理" :key='Math.random()' v-if='pay_state == "2"'>
              <template slot-scope="scope">
                <a class="opreate" @click='agree(scope.row)'>接受</a>
                丨
                <a class="opreate" @click='refuse(scope.row)'>拒绝</a>
              </template>
            </el-table-column>
          </el-table>
          <div class="pagination-box">
            <el-pagination background @current-change="handleCurrentChange" :page-size="pageSize" :current-page="currentPage" layout="total, prev, pager, next, jumper"
              :total="planTableData.recordCount">
            </el-pagination>
          </div>
        </div>
      </el-col>
    </el-row>
    <el-dialog title="一键审核" :visible.sync="auditShow">
      <el-form :model="form">
        <el-form-item>
          <el-checkbox label="用户可选时间段" @change="is_check"></el-checkbox>
        </el-form-item>
        <div class="iptBox" v-show='is_show'>
          <el-form-item label="开始时间">
            <el-date-picker format="yyyy-MM-ddTHH:mm" value-format="yyyy-MM-ddTHH:mm" v-model="audit_stime" type="datetime" placeholder="选择日期">
            </el-date-picker>
          </el-form-item>
          <el-form-item label="结束时间">
            <el-date-picker format="yyyy-MM-ddTHH:mm" value-format="yyyy-MM-ddTHH:mm" v-model="audit_etime" type="datetime" placeholder="选择日期">
            </el-date-picker>
          </el-form-item>
        </div>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="auditShow = false">取 消</el-button>
        <el-button type="primary" @click='send'>确 定</el-button>
      </div>
    </el-dialog>
    <el-dialog title="提示" :visible.sync="refuse_box" width="30%" center>
      <span>请输入拒绝原因：</span>
      <el-input v-model="refuse_reason" placeholder="请输入拒绝原因"></el-input>
      <span slot="footer" class="dialog-footer">
        <el-button @click="refuse_box = false">取 消</el-button>
        <el-button type="primary" @click="refuse_send">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</body>
<script type="text/javascript">
  var app = new Vue({
    el: '#app',
    delimiters: ['${', '}'],
    data: {
      s_time0: '',
      e_time0: '',
      phone_number: '',
      zhifubao: '',
      pay_state: '2',
      checkIdList: '',
      form: '',
      refuse_reason: '',
      audit_stime: '',
      audit_etime: '',
      auditShow: false,
      is_show: false,
      refuse_box: false,
      count: 1,
      post_data: {},
      csrf_token:'{{ csrf_token }}',
      activeNav: '2-2',
      rowStyle: {
        'text-align': 'center'
      },
      planTableData: {},
      page: 1,
      pageSize: 10,
      currentPage: 1,
    },
    created: function () {
      var that = this;
      that.currentPage
      that.search_data();
    },
    mounted: function() {
      document.body.style.opacity = 1;
    },
    methods: {
      handleCurrentChange: function (val) {
        app.currentPage = val;
        var that = this;
        that.search_data();
      },
      change_state: function (val) {
        var that = this;
        that.pay_state = val;
        that.search_data();
      },
      handleSelectionChange(val) {
        var that = this;
        that.checkIdList = '';
        if (val.length) {
          for (let i = 0; i < val.length; i++) {
            app.checkIdList += val[i].id + ','
          }
          app.checkIdList = app.checkIdList.slice(0, app.checkIdList.length - 1);
          console.log('checkbox选中：', app.checkIdList);
        } else {
          app.checkIdList = '';
          console.log('chenckbox未选中：', app.checkIdList);
        }
        this.multipleSelection = val;
      },
     
      //搜索
      search_data: function () {
        var that = this;
        if (that.pay_state == 2) {
          console.log("new" + that.searchVal)
          $.ajax({
            url: '/restapi/investlogs/?page=' + that.currentPage + '&pageSize=' + that.pageSize + '&audit_state=0&pay_state=2'+that.searchVal,
            type: "get",
            async: true,
            success: function (res) {
              console.log(res);
              if (res.code == 0) {
                app.planTableData = res;
              } else {
                that.$notify.error({
                  title: '错误',
                  message: res.detail
                });
              }
            }
          })
        } else {
          console.log("new_1" + that.searchVal)
          $.ajax({
            url: '/restapi/investlogs/?page=' + that.currentPage + '&pageSize=' + that.pageSize + '&audit_state=0&pay_state=' + that.pay_state +that.searchVal,
            type: "get",
            async: true,
            success: function (res) {
              console.log(res);
              if (res.code == 0) {
                app.planTableData = res;
              } else {
                that.$notify.error({
                  title: '错误',
                  message: res.detail
                });
              }
            }
          })
        }
      },
      pay_money: function () {
        var that = this;
        console.log(that.checkIdList)
        if (that.checkIdList == '') {
          that.auditShow = true;
        } else {
          that.auditShow = false;
          $.ajax({
            url: '/Admin/admin_autopay/?id_list=' + that.checkIdList,
            type: 'GET',
            async: false,
            dataType: 'json',
            success: function (res) {
              that.$confirm('共' + res.count + '笔，' + res.sum + '元，确定通过支付宝转账？提交可能需要一分钟的时间，请稍后刷新查看结果', '温馨提示', {
                confirmButtonText: '确定',
                callback: function (action) {
                  if (action == 'confirm') {
                    $.ajax({
                      url: '/Admin/admin_autopay/',
                      dataType: 'json',
                      data: {
                        csrfmiddlewaretoken: that.csrf_token,
                        id_list: that.checkIdList
                      },
                      success: function (res) {
                        that.$notify({
                          title: '提示',
                          message: '一键审核成功'
                        })
                        that.auditShow = false;
                      },
                      error: function () {
                        that.$notify({
                          title: '提示',
                          message: '请检查网络连接'
                        })
                      }
                    })
                  }
                }
              })
            },
          })
        }
      },
      is_check: function () {
        var that = this;
        that.count++;
        if (that.count % 2 == 0) {
          that.is_show = true;
        } else {
          that.is_show = false;
        }
      },
      send: function () {
        var that = this;
        if (that.is_show == true) {
          if (!that.audit_stime) {
            that.$notify({
              title: '提示',
              message: '请选择开始时间'
            })
            return false;
          }
          if (!that.audit_etime) {
            that.$notify({
              title: '提示',
              message: '请选择结束时间'
            })
            return false;
          }
          that.post_data = {
            'csrfmiddlewaretoken':that.csrf_token,
            'sub_from': that.audit_stime,
            'sub_to': that.audit_etime,
            'id_list': that.checkIdList
          }
        } else {
          that.post_data = {
            'csrfmiddlewaretoken':that.csrf_token,
            'id_list': that.checkIdList
          }
        }
        console.log('post_data:', that.post_data)
        $.ajax({
          type: "get",
          url: '/Admin/admin_autopay/',
          data: that.post_data,
          async: true,
          success: function (res) {
            that.$confirm('共' + res.count + '笔，' + res.sum + '元，确定通过支付宝转账？提交可能需要一分钟的时间，请稍后刷新查看结果', '温馨提示', {
              confirmButtonText: '确定',
              callback: function (action) {
                console.log(action);
                if (action == 'confirm') {
                  $.ajax({
                    url: '/Admin/admin_autopay/',
                    type: 'post',
                    data: that.post_data,
                    success: function (res) {
                      console.log(res.suc_num)
                      that.$notify({
                        title: '提示',
                        message: '打款成功'
                      })
                      that.auditShow = false;
                    }
                  });
                }
              }
            })
          }
        });
      },
      agree: function (row) {
        var that = this;
        console.log(row.id);
        that.$alert('是否同意审核通过', '提示', {
          confirmButtonText: '确定',
          callback: function (action) {
            if (action == 'confirm') {
              $.ajax({
                url: "/Admin/admin_pay/",
                dataType: 'json',
                type: "POST",
                data: {
                  csrfmiddlewaretoken: that.csrf_token,
                  type: 1,
                  id: row.id
                },
                async: true,
                success: function (res) {
                  if (ret.code == 0) {
                    that.$notify({
                      title: '提示',
                      message: '审核完成，通过'
                    });
                    that.search_data();
                  }
                  else if (ret.code == -1) {
                    alert("该页面已过期，请重新登录！");
                    window.location.href = ret.url;
                  }
                  else {
                    that.$notify({
                      title: '提示',
                      message: ret.res_msg
                    })
                  }
                }
              })
            }
          }
        })

      },
      refuse: function (row) {
        var that = this;
        that.refuse_id = row.id;
        that.refuse_box = true;
      },
      refuse_send: function () {
        var that = this;
        if (!that.refuse_reason) {
          that.$notify({
            title: '提示',
            message: '请填写拒绝原因'
          })
          return false;
        }
        $.ajax({
          url: "/Admin/admin_pay/",
          dataType: 'json',
          type: "POST",
          data: {
            'csrfmiddlewaretoken': that.csrf_token,
            'id': that.refuse_id,
            'reason': that.refuse_reason,
            'type': 2,
          },
          async: true,
          success: function (res) {
            if (res.code == 0) {
              that.$notify({
                title: '提示',
                message: '审核完成，拒绝'
              });
              that.search_data();
              that.refuse_box = false;
            }
            else if (res.code == -1) {
              alert("该页面已过期，请重新登录！");
              window.location.href = res.url;
            }
            else {
              that.$notify({
                title: '提示',
                message: res.res_msg
              })
            }
          }
        })
      }
    },
    computed: {
      searchVal: function () {
        var that = this;
        var data_url;
        // if (that.pay_state == 2) {  //&auditdate_0=2018-07-05T00:00&auditdate_1=2018-07-06T00:00&invest_mobile=18570661123&zhifubao=185706616
        //   data_url = '&auditdate_0='+that.s_time0+'&auditdate_1='+ that.e_time0 +'&invest_mobile='+that.phone_number+'&zhifubao='+that.zhifubao
        // } else {
          data_url ='&auditdate_0='+(that.s_time0?that.s_time0:'')+'&auditdate_1='+ (that.e_time0?that.e_time0:'') +'&invest_mobile='+that.phone_number+'&zhifubao='+that.zhifubao
        // }
        return data_url;
      }
    }
  })
</script>

</html>