{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="{% static 'wafuli_admin/css/AdminCommon.css' %}" />
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
  <style>
    .grid-content {
      padding: 25px 0;
    }

    .el-input {
      width: 55%;
    }

    .oprate {
      padding: 11px 17px;
    }

    .search_btn {
      width: 90px;
      height: 32px;
      margin-right: 50px;
    }

    .export_btn {
      width: 90px;
      height: 32px;
      margin-right: 10px;
    }

    .grid-content {
      padding: 15px 0;
    }

    .desc_txt {
      color: #909399;
    }

    .el-header {
      margin-top: 0;
    }
  </style>
</head>

<body>
  <div id="app">
    <el-row :gutter="20">
      <el-col :span="3">
        {% include "leftNav.html" %}
      </el-col>
      <el-col :span="21">
        <div class="container">
          <!-- 第一列 -->
          <el-row :gutter="20">
            <el-col :span="6">
              <div class="grid-content bg-purple">
                <span class="desc_txt">审核开始时间：</span>
                <el-date-picker format="yyyy-MM-dd" value-format="yyyy-MM-dd" v-model="s_time0" type="date" placeholder="选择日期">
                </el-date-picker>
              </div>
            </el-col>
            <el-col :span="6">
              <div class="grid-content bg-purple">
                <span class="desc_txt">审核结束时间：</span>
                <el-date-picker format="yyyy-MM-dd" value-format="yyyy-MM-dd" v-model="e_time0" type="date" placeholder="选择日期">
                </el-date-picker>
              </div>
            </el-col>
            <el-col :span="6">
              <div class="grid-content bg-purple">
                <span class="desc_txt">投资手机号：</span>
                <el-input placeholder="请输入内容" v-model="phone_number" clearable>
                </el-input>
              </div>
            </el-col>
            <el-col :span="6">
              <div class="grid-content bg-purple">
                <span class="desc_txt">支付宝账号：</span>
                <el-input placeholder="请输入内容" v-model="zhifubao" clearable>
                </el-input>
              </div>
            </el-col>
          </el-row>
          <!-- 第二列 -->
          <el-row :gutter="20">
            <el-col :span="6">
              <div class="grid-content bg-purple">
                <span class="desc_txt">打款状态：</span>
                <el-select v-model="pay_state" slot="prepend" placeholder="请选择">
                  <el-option label="打款中" value="2"></el-option>
                  <el-option label="已打款" value="3"></el-option>
                  <el-option label="打款失败" value="4"></el-option>
                </el-select>
              </div>
            </el-col>
            <el-col :span="6">
              <div class="grid-content bg-purple">
                <el-button type="primary" @click='search_data'>搜索</el-button>
                <el-button type="danger">一键打款</el-button>
              </div>
            </el-col>
          </el-row>
          <!-- tabale -->
          <el-header>数据总览</el-header>
          <el-table ref="multipleTable" :data="planTableData.results" :header-cell-style="rowStyle" :row-style="rowStyle" style="width: 100%"
            @selection-change="handleSelectionChange">
            <el-table-column type="selection" width="55">
            </el-table-column>
            <el-table-column label="项目名称">
              <template slot-scope="scope">${ scope.row.project_title }</template>
            </el-table-column>
            <el-table-column label="用QQ">
              <template slot-scope="scope">${ scope.row.qq_number }</template>
            </el-table-column>
            <el-table-column label="用户手机号">
              <template slot-scope="scope">${ scope.row.user_mobile }</template>
            </el-table-column>
            <el-table-column label="投资姓名">
              <template slot-scope="scope">${ scope.row.invest_name }</template>
            </el-table-column>
            <el-table-column label="投资手机号">
              <template slot-scope="scope">${ scope.row.invest_mobile }</template>
            </el-table-column>
            <el-table-column label="投资日期">
              <template slot-scope="scope">${ scope.row.invest_date }</template>
            </el-table-column>
            <el-table-column label="审核时间">
              <template slot-scope="scope">${ scope.row.audit_time.split('T')[0] }</template>
            </el-table-column>
            <el-table-column label="结算金额">
              <template slot-scope="scope">${ scope.row.settle_amount }</template>
            </el-table-column>
            <el-table-column label="返现金额">
              <template slot-scope="scope">${ scope.row.return_amount }</template>
            </el-table-column>
            <el-table-column label="支付宝账号">
              <template slot-scope="scope">${ scope.row.zhifubao }</template>
            </el-table-column>
            <el-table-column label="支付宝姓名">
              <template slot-scope="scope">${ scope.row.zhifubao_name }</template>
            </el-table-column>
            <el-table-column label="打款状态">
              <template slot-scope="scope">${ scope.row.pay_state_des }</template>
            </el-table-column>
          </el-table>
          <div class="pagination-box">
            <el-pagination background @current-change="handleCurrentChange" :page-size="pageSize" :current-page="currentPage" layout="total, prev, pager, next, jumper"
              :total="planTableData.recordCount">
            </el-pagination>
          </div>
        </div>
      </el-col>
    </el-row>
  </div>
</body>
<script type="text/javascript">
  var app = new Vue({
    el: '#app',
    delimiters: ['${', '}'],
    data: {
      s_time0: '',
      e_time0: '',
      phone_number: '',
      zhifubao: '',
      pay_state: '',
      activeNav: '2-2',
      // state: '',
      rowStyle: {
        'text-align': 'center'
      },
      planTableData: {},
      page: 1,
      pageSize: 10,
      currentPage: 1,
    },
    created: function () {
      var that = this;
      that.getDataList(1, 10);
    },
    methods: {
      handleCurrentChange: function (val) {
        app.currentPage = val;
        app.getDataList(app.currentPage, app.pageSize);
      },
      getDataList: function () {
        var that = this;
        $.ajax({
          type: "get",
          url: '/restapi/investlogs/?page=' + that.currentPage + '&pageSize=' + that.pageSize + '&audit_state=0&pay_state=2',
          async: true,
          success: function (res) {
            console.log(res);
            if (res.code == 0) {
              app.planTableData = res;
            } else {
              that.$notify.error({
                title: '错误',
                message: res.detail
              });
            }
          }
        });
      },
      handleSelectionChange(val) {
        this.multipleSelection = val;
        console.log(val)
      },
      //搜索
      search_data: function () {
        var that = this;
        console.log('0000000',this.pay_state)
        if (that.pay_state == 2) {
          console.log("new" + that.searchVal)
          $.ajax({
            url: '/restapi/investlogs/?page=' + that.currentPage + '&pageSize=' + that.pageSize + '&audit_state=0&pay_state=2',
            type: "get",
            async: true,
            success: function (res) {
              console.log(res);
              if (res.code == 0) {
                app.planTableData = res;
              } else {
                that.$notify.error({
                  title: '错误',
                  message: res.detail
                });
              }
            }
          })
        } else {
          console.log("new_1" + that.searchVal)
          $.ajax({
            url: '/restapi/investlogs/?page=' + that.currentPage + '&pageSize=' + that.pageSize + '&audit_state=0&pay_state='+that.pay_state,
            type: "get",
            async: true,
            success: function (res) {
              console.log(res);
              if (res.code == 0) {
                app.planTableData = res;
              } else {
                that.$notify.error({
                  title: '错误',
                  message: res.detail
                });
              }
            }
          })
        }
      }
    },
    computed: {
      searchVal: function () {
        var that = this;
        var data_url;
        if (that.pay_state == 2) {
          data_url = '&audit_state=0&pay_state=2'
        } else {
          data_url = '&pay_state='+that.pay_state
        }
        return data_url;
      }
    }
  })
</script>

</html>