{% extends "base.html" %} {% block js %}
<script type="text/javascript">
    var data = '<table width="100%"><tr><th>日期</th><th>新申请用户数</th><th>审核拒绝人数</th><th>审核通过人数</th>' +
        '<th>成功提现金额</th><th>成功提现用户数</th><th>返现金额</th><th>返现用户数</th>' +
        '[results]<tr><td>{date}</td><td>{apply_num}</td><td>{refuse_num}</td>' +
        '<td>{new_reg_num}</td><td>{with_amount}</td><td>{with_num}</td><td>{ret_amount}</td>' +
        '<td>{ret_num}</td>' +
        '</tr>[/results]</table>';
    var url = "/restapi/daystatis/" + "?page={page}&pageSize={pageSize}";
    $(document).ready(function() {
        $(".ListTable tr:even").css("background-color", "#fcfcfc");
        $("li.home12").toggleClass("on");
        $("#pagedata").ajaxPage({
            url: url,
            pageId: $("#page"),
            pageSize: 10,
            run: true,
            content: data,
        });
    });
</script>
{% endblock js %} {% block right %}
<div class="Dateover">
    <span>奖励记录</span>
    <div class="Date-box">
        <div class="Date-Form">
            <form>
            </form>
        </div>
        <div class="ListTable">
            <div id="pagedata">
            </div>
        </div>

    </div>

</div>
<div class="Page-in-admin">
    <div class="page" id="page">
    </div>
</div>
{% endblock %}