{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %}挖福利{% endblock title %}</title>
<link href="{% static 'images/favicon.ico'%}" rel="shortcut icon"/>
<link rel="stylesheet" type="text/css" href="{% static 'wafuli_admin/css/index.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'wafuli_admin/css/style-i.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/page.css' %}" />
    {% block css %}

    {% endblock css %}
<script type="text/javascript" src="{% static 'js/jquery-1.7.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/page.js' %}?v-2"></script>
<script type="text/javascript">
	$(function(){
	    $.ajax({
	    	type:"get",
	    	url:"/Admin/check_new/",
	    	async:true,
	    	success: function (ret) {
	    	    console.log(ret);
	    	    if (ret.admin_apply == 0) {
	    	        $('.admin_apply_num').hide();
	    	    } else {
	    	        $('.admin_apply_num').show().text(ret.admin_apply);
	    	    }
	    	    
	    	    if (ret.admin_margin == 0) {
                    $('.admin_margin_num').hide();
                } else {
                    $('.admin_margin_num').show().text(ret.admin_margin);
                }
                
                if (ret.admin_merchant_investlog == 0) {
                    $('.admin_merchant_investlog_num').hide();
                } else {
                    $('.admin_merchant_investlog_num').show().text(ret.admin_merchant_investlog);
                }
                
                if (ret.admin_merchant_project == 0) {
                    $('.admin_merchant_project_num').hide();
                } else {
                    $('.admin_merchant_project_num').show().text(ret.admin_merchant_project);
                }
                
                if (ret.admin_office == 0) {
                    $('.admin_office_num').hide();
                } else {
                    $('.admin_office_num').show().text(ret.admin_office);
                }
                if (ret.admin_withdraw == 0) {
                    $('.admin_withdraw_num').hide();
                } else {
                    $('.admin_withdraw_num').show().text(ret.admin_withdraw);
                }
	    	},
	    	error: function (ret){
	    	    console.log(ret.msg);
	    	}
	    });
	})
</script>
    {% block js %}

    {% endblock js %}
</head>

<body>
	<!--Top-->
	<div class="Top">
    	<img src="{%static 'wafuli_admin/images/logo.png'%}" class="fl" />
        <div class="Name-info">
        	<div class="Head-img"><img src="{%static 'wafuli_admin/images/head.png'%}" /></div>
            <div class="Name"><span>ADMIN</span></div>
            <div class="Name-link">
            	<a href="{%url 'admin_index'%}">首页</a>    <a href="#">设置</a>    <a href="#">帮助</a>
				<a href="{%url 'admin:logout'%}" class="Signout">【退出】</a>
            </div>
        </div>
    </div>
	<!--Content-->
	<div class="Content">
    	<table width="100%">
        	<tr>
            	<td width="13%" class="Td-ing1" valign="top">
                	<div class="LeftNav-in">
                    	<ul>
                        	<li class="home1"><a href="{%url 'admin_index'%}">首页</a></li>
                        	<li class="home2"><a href="{%url 'admin_user'%}">用户管理</a></li>
                        	<li class="home15"><a href="{%url 'admin_apply'%}">申请名单<span class="new-data admin_apply_num"></span></a></li>
                        	<li class="home3"><a href="{%url 'admin_withdraw'%}">提现管理<span class="new-data admin_withdraw_num"></span></a></li>
                        	<li class="home26"><a href="/Admin/admin_pay">打款管理</a></li>
                        	<li class="home4"><a href="{%url 'admin_office'%}">官方数据<span class="new-data admin_office_num"></span></a></li>
                        	<li class="home5"><a href="{%url 'admin_private'%}">自建数据</a></li>
                            <!--<li class="home12"><a href="">体验管理</a></li>-->
                            <!--<li class="home6"><a href="">推荐管理</a></li>-->
                            <li class="home8"><a href="#">操作日志</a></li>
                            <!--<li class="home9"><a href="">优惠券发放</a></li>-->
                            <!--<li class="home10"><a href="">优惠券审核</a></li>-->
                            <li class="home11"><a href="{%url 'admin_charge'%}">记账查询</a></li>
                            <li class="home12"><a href="{%url 'award_logs'%}">奖励记录</a></li>
                            <li class="home16"><a href="{%url 'admin_merchant_project'%}">放单项目申请 <span class="new-data admin_merchant_project_num"></span></a></li>
                            <li class="home24"><a href="{%url 'admin_merchant_show'%}">放单项目查看</a></li>
                            <li class="home17"><a href="{%url 'admin_merchant_investlog'%}">放单数据 <span class="new-data admin_merchant_investlog_num"></span></a></li>
                            <li class="home18"><a href="{%url 'admin_margin_query'%}">保证金查询 </a></li>
                            <li class="home19"><a href="{%url 'admin_margin'%}">保证金<span class="new-data admin_margin_num"></span></a></li>
                            <li class="home20"><a href="{%url 'admin_merchant_look'%}">放单分析 </a></li>
                            <li class="home21"><a href="{%url 'coupon_count'%}">红包统计 </a></li>
                            <li class="home22"><a href="{%url 'coupon_manage'%}">红包管理 </a></li>
                            <li class="home23"><a href="{%url 'coupon_send'%}">红包发放</a></li>
                            <li class="home25"><a href="{%url 'admin_perform'%}">邀请奖励</a></li>
                        </ul>
                    </div>
                </td>
            	<td width="85%" style="padding-left:2%" valign="top">
                	<div class="Right-box">
						{% block right %}

						{% endblock right %}
                    </div>
                </td>
            </tr>
        </table>
    </div>
	{% block modal %}

	{% endblock modal %}
    <!--Bottom-->
	<div class="Bottom">
    	<p>©2016 挖福利管理系统     版权所有 </p>
    </div>

</body>
</html>
