{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>注册</title>
    <meta name="keywords" content="注册" />
    <meta name="description" content="注册" />
    <link href="{% static 'images/favicon.ico'%}" rel="shortcut icon" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/wfl-common.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/login-1.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}" />
    <!--<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />-->
    <script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/accounts/user-validate.js' %}"></script>
    <!-- <script type="text/javascript" src="{% static 'js/accounts/refresh.js' %}"></script> -->
    <script type="text/javascript" src="{% static 'js/accounts/send.js' %}"></script>
    <style>
        .has-success{
            width: 100%;
            position: relative;
        }
        .has-success::after{
            content: '';
            width: 18px;
            height: 18px;
            background: url(../../../static/images/right_icon.png) no-repeat center center;
            background-size:100% 100%; 
            position: absolute;right: -45px;top: 7px;
        }
        .has-error{
            width: 100%;
            position: relative;
        }
        .has-error::after{
            content: '';
            width: 18px;
            height: 18px;
            background: url(../../../static/images/wrong_icon1.png) no-repeat center center;
            background-size:100% 100%; 
            position: absolute;right: -45px;top: 7px;
        }
        .n-msg{
            font-size: 14px;
            display: inline-block;
            margin-left: 10px;
        }
        .n-icon{
            width: 16px;
            height: 16px;
            display: inline-block;
            background: url(../../../static/images/warning.png) no-repeat center center !important;
            background-size:100% 100%; 
        }
        .n-bottom .msg-wrap {
            margin-top: 15px;
        }
        .footer{
            margin-top: 0;
        }
        .msg-box{
            position: absolute;top: -28px;left:0;
        }
    </style>
</head>

<body>
    {% include "header.html" %}
    <div>
        <div class="wrapper">
            <div class="item1">
                <!-- 注册表单盒子 -->
                <div class="dataBox">
                    <form id="form">
                        <div class="form_box">
                            <div class="itemBox">
                                <span>手机号</span>
                                <input type="text" maxlength="11" name="mobile" autocomplete="off" class="f_ipt phone_number" placeholder="手机号">
                                <span class="tip_box" id="msgbox"></span>
                            </div>
                            <div class="itemBox">
                                <span>验证码</span>
                                <input type="text" name="code" autocomplete="off" class="f_ipt auth_code" style="width: 222px !important;" placeholder="验证码">
                                <input type="button" class="send_code" value="获取验证码">
                            </div>
                            <div class="itemBox">
                                <span>密码</span>
                                <input type="password" autocomplete="new-password" placeholder="密码" name="password" class="f_ipt pwd" style="width: 222px !important;margin-left: 35px;padding-left: 5px;">
                            </div>
                            <div class="itemBox">
                                <span>QQ</span>
                                <input type="text" placeholder="QQ" autocomplete="off" name="qq_number" class="f_ipt qq_number" style="margin-left: 40px;">
                            </div>
                            <div class="itemBox">
                                <span>QQ昵称</span>
                                <input type="text" placeholder="QQ昵称" autocomplete="off" name="qq_name" class="f_ipt qq_name" style="margin-left: 14px;">
                            </div>
                            <div class="itemBox">
                                <span>邀请码（选填）</span>
                                <input type="text" placeholder="邀请码" autocomplete="off" value="{{icode}}" name="invite_code" class="f_ipt invite_code" style="margin-left: 10px;">
                            </div>
                            <div class="itemBox" style="border: none;margin-top: 30px;">
                                    <label>
                                        <input class="check_box" checked="checked" type="checkbox" value="true" data-rule="checked">
                                        <i></i>
                                    </label>
                                    <span style="margin-left: 10px;">我接受<a href="http://51fanshu.com/docs/lMOz8">《注册协议》</a>、<a href="http://51fanshu.com/docs/laSnD">《免责声明》</a></span>
                            </div>
                            <input class="reg_btn" value="注册领取88元红包" type="submit">
                                
                        </div>
                    </form>
                </div>
            </div>
            <div class="item2">
                <div class="reg_title">
                    <img class="title_pic" src="{% static 'images/bg_channel1.png' %}" />
                </div>
                <div class="hongbao1">
                    <p>1</p>
                    <span>关注官微</span>
                </div>
                <div class="hongbao2">
                    <p>2</p>
                    <span>绑银行卡</span>
                </div>
                <div class="hongbao3">
                    <p>5</p>
                    <span>首次交单</span>
                </div>
                <div class="hongbao4">
                    <p>80</p>
                    <div class="descBox">
                        <p>交单奖现金</p>
                        <p style="margin-top: 5px;">福利享不停</p>
                    </div>
                </div>
                <div class="hongbao5">
                    <p>100</p>
                    <div class="desc_box">
                        <p>88元全部激活</p>
                        <p style="margin-top: 5px;">再送100元现金</p>
                        <label class="tips">（ 每月限前十名，先到先得 ）</label>
                    </div>
                </div>
            </div>
            <div class="item3">
                <div class="reg_title">
                    <img class="title_pic" src="{% static 'images/bg_channel2.png' %}" />
                </div>
                <ul>
                    <li class="item_li li1">
                        <div class="c_item">
                            <img class="c_pic1" src="{% static 'images/advantage1.png' %}">
                            <label class="desc_txt">主流选择
                            </label>
                        </div>
                        <p class="desc_txt1">千位大牛渠道的选择</p>
                        <p class="desc_txt2">渠道引入资金81亿</p>
                        <p class="desc_txt3">累计返现1.7亿</p>
                    </li>
                    <li class="item_li li2">
                        <div class="c_item">
                            <img class="c_pic1" src="{% static 'images/advantage2.png' %}">
                            <label class="desc_txt">价格优势
                            </label>
                        </div>
                        <p class="desc_txt1">一手资源，价格优势</p>
                        <p class="desc_txt2" style="position: absolute;left: 80px;">你以“量”相交</p>
                        <p class="desc_txt3" style="position: absolute;left: 70px;">我以“价格”相报</p>
                    </li>
                    <li class="item_li li3">
                        <div class="c_item">
                            <img class="c_pic1" src="{% static 'images/advantage3.png' %}">
                            <label class="desc_txt">功能优势
                            </label>
                        </div>
                        <p class="desc_txt1">交单快，批量无忧</p>
                        <p class="desc_txt2" style="position: absolute;left: 55px;">返现快，次日结算</p>
                        <p class="desc_txt3" style="position: absolute;left: 55px;">提现快，当天到账</p>

                    </li>
                </ul>
            </div>
            <div class="item4">
                <div class="reg_title">
                    <img class="title_pic" src="{% static 'images/bg_channel3.png' %}" />
                </div>
                <div class="ruleBox">
                    <p>1.领取红包后在交单时间范围正常交单即可，红包有效期之前，达成一定的结算单数或结算金额，红包自动激活；</p>
                    <p>2.红包激活后，需手动至账户【我的红包】点击【立即领取】，红包过期不可领取；</p>
                    <p>3.如新手红包全部激活并领取，5天之内，请添加客服QQ：3469318256，提供手机号，核实后发放100元现金奖励，每月</p>
                    <p>仅限前10名，先到先得，逾期不候；</p>
                    <p>4.如核实系老用户多账号注册刷新手红包和现金奖励，平台有权取消用户奖励资格；</p>
                    <p>5.本活动最终解释权归福利联盟。</p>
                </div>
            </div>
        </div>

    </div>
    <div style="clear:both"></div>
    {% include "footer.html" %}
</body>
<script src="https://cdn.bootcss.com/nice-validator/1.1.3/jquery.validator.min.js?local=zh-CN"></script>
<script>
    // var coderefresh_url = "{% url 'captcha-refresh' %}";
    var verifymobile_url = "{% url 'verifymobile' %}"; //验证手机号是否存在url
    var verifyqq_url = "{% url 'verifyqq' %}";        //验证QQurl
    var verifyinviter_url = "{% url 'verifyinviter' %}"; // 邀请码是否存在url
    var get_code_url = "{% url 'phoneImageV' %}"; //验证码url
    var register_url = "{% url 'register' %}"; //注册url
    var index_url = "";
    var login_url = "{% url 'login' %}";
    $.ajaxSetup({
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
    });
    $(function () {
         /*
            llc
            获取验证码
        */
        var timer = null;
        var times = 60;
        $(".send_code").click(function () {
            var phoneNum = $('.phone_number').val();
            if(!phoneNum){
                alert('手机号码不能为空')
                return;
            }
            // ajax获取验证码
            $.ajax({
                url:"/account/phoneImageV/",
                dataType:"json",
                type:"GET",
                data:{
                    "phone":phoneNum,
                },
                success:function(ret){
                    if (ret.code == 0) {
                        timer = setInterval(function () {
                            times--;
                            if (times <= 0) {
                                $(".send_code").val("获取验证码");
                                clearInterval(timer);//清除计时器
                                $(".send_code").attr("disabled", false);
                                times = 60;
                            } else {
                                $(".send_code").val(""+times+"秒后重新获取");
                                $(".send_code").attr("disabled", true);
                            }
                        }, 1000);
                        alert('发送验证码成功');
                    } else if(ret.code == 1){
                        alert('发送验证码失败')
                        return;
                    }else if(ret.code == 2){
                        alert(ret.message);
                    }
                },
                error:function(){
                    alert("请检查网络连接");
                }
            })
        })
        

    })
    $('#form').validator({
        dataFilter: function(data) {
            if (data.code == 0){
                 return "";
            } else {
                if (data.msg){
                    return data.msg
                }else{
                    return false;
                }
            }
        },
        // validClass: "has-success",
        // invalidClass: "has-error",
        // bindClassTo: ".itemBox",
        rules:{
            phone_number:[/^1[3456789]\d{9}$/,'请输入正确的手机号码'],
            password:[/((?=.*[a-z])(?=.*\d)|(?=[a-z])(?=.*[#@!~%^&*])|(?=.*\d)(?=.*[#@!~%^&*]))[a-z\d#@!~%^&*]{6,16}/i, '密码应为6~16位数字、字母或特殊字符中的两种'],
            qq_number:[/^[1-9][0-9]{4,14}$/,'请输入正确的QQ'],
        },
        display: function(el){
        return el.getAttribute('placeholder') || ''; //提示错误语法 
        },
        messages: {
            required: '',
            invite_code: "邀请码不存在",
        },
        fields:{
            'mobile':'required;mobile;remote(get:' + verifymobile_url + ', csrfmiddlewaretoken={{ csrf_token }})',
            'code':'required;code;',
            'password':'required;password',
            'qq_number':'required;qq_number;remote(get:' + verifyqq_url + ', csrfmiddlewaretoken={{ csrf_token }})',
            'qq_name':'required;qq_name',
            'invite_code':'invite_code;remote(get:'+ verifyinviter_url +', csrfmiddlewaretoken={{ csrf_token }})'
        },
        theme: 'simple_bottom',
        formClass: "nice-flat",
        msgClass: "n-bottom",
        invalid: function() {
          console.log('valid fail');
        },
        // target: "#msgbox",
        // msgStyle: 'margin-right: 5000px; line-height: 20px;',
        valid: function(e) {
        //   me.holdSubmit();
        
          var phone_number = $('.phone_number').val();
          var auth_code = $('.auth_code').val();
          var pwd = $('.pwd').val();
          var qq_number = $('.qq_number').val();
          var qq_name = $('.qq_name').val();
          var invite_code = $('.invite_code').val();
          
          $.ajax({
            url: register_url,
            dataType: 'json',
            type: 'POST',
            data: {
                'qq_number':qq_number,
                'qq_name':qq_name,
                'code':auth_code,
                'mobile':phone_number,
                'password':pwd,
                'invite_code':invite_code
            },
            success: function(ret) {
              if(ret.code == 0) {
                // me.holdSubmit(false);
                alert('注册成功');
                window.location.href = "/";
              } else {
                console.log(ret);
                alert(ret.msg);
              }
            },
            error: function() {
              alert('网络错误')
            }
          })
        },
        invalid: function() {
          console.log($("form").serialize())
        }
    })
</script>

</html>
   
     