{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>用户中心</title>
    <link href="{% static 'images/favicon.ico'%}" rel="shortcut icon" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/wfl-common.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/merchant-base.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/margin_manage.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/page.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/microtip.css' %}" />
    <script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/page.js' %}?v-1"></script>
    <script type="text/javascript" src="{% static 'js/wfl-popup.js' %}"></script>
    <style>
        .type1{
            color: RGB(105,105,189);
        }
        .type0{
            color: RGB(145,193,29);
        }
        .page>.href{
            color: black;
        }
        .Content {
            margin:0 auto;
        }
        .Page-in-admin{
            padding: 10px 0;
            padding-right: 20px;
            width: 100%;
            background: white;
        }
        .page > .on{
            width: 26px;
            text-align: center;
        }
        #pagedata{
            margin-top: 35px;
            font-size: 16px;
        }
        .nodata-box {
            min-height: 800px;
        }
        .state0{
            color: #91c11d;
        }
        .state1{
            color: #ffbe00;
        }
        .state2{
            color: red;
        }
        .page-data{
            min-height: 560px;;
        }
    </style>
</head>

<body>
    <!--头部-->
    {% include "merchant_header.html" %}
    <!--内容-->
    
    <div class="wrapper">
        <div class="Content">
            <div class="wrapperBox">
                <nav>
                <span style="position: absolute;top: 75px;left: 0;"  class="tips__icon" data-microtip-size="large" data-microtip="资金账号：商家（您）在审核交单数据时结算使用，可以随时充值和提现，区别于福利联盟个人中心的账户余额" data-microtip-position="bottom">?</span>          
                    <span class="amount">
                        <span class="amount1">资金账户余额：<label>{{user.margin_account}}元</label></span>
                    </span>
                    <input type="button" class="btn add" value="存入">
                    <input type="button" class="btn wit" value="提取保证金">
                </nav>
                <div class="tabBox">
                    <ul class="tabul">
                        <li class="act">资金明细</li>
                        <!-- <li>充值</li> -->
                        <li>提取</li>
                        <li>银行卡充值申请记录</li>
                    </ul>
                    <div id="pagedata" class="page-data">
                    </div>
                    <div class="Page-in-admin">
                        <div class="page" id="page">
                        </div>
                    </div>
                </div>
                <!-- 支付盒子 -->
                <div class="wrapper_pay">
                    <div class="c-payBox">
                            ×
                    </div>
                    <div class="operateBox">
                        <input class="zhifubao" type="radio" checked="checked" name="pay" value="1"><span>支付宝</span>
                        <input class="bank_card" type="radio" name="pay" value="0"><span>银行卡</span>
                    </div>
                    <!-- 银行卡 -->
                    <div class="card_box">
                        <div class="accountBox" style="margin-top: 15px;">
                            <p class="user_account">账户</p>
                            <span style="margin-left: 60px;">6222620640015998179</span>
                        </div>
                        <div class="userBox" style="margin-top: 15px;">
                            <span style="margin-left: 20px;">姓名</span>
                            <span style="margin-left: 60px">龙旺</span>
                        </div>
                        <div class="bank_box" style="margin-top: 15px;">
                            <span style="margin-left: 20px;">开户行</span>
                            <span style="margin-left: 45px">交通银行 长沙分行高新支行</span>
                        </div>
                        <div class="bank_box" style="margin-top: 15px;">
                            <span style="margin-left: 20px;">充值</span>
                            <input type="text" class="bank_rechargeIpt" placeholder="请输入充值金额">
                        </div>
                        <div class="btn card_add">立即充值</div>
                        <div class="cardDescBox">
                            <p><span>*</span>温馨提示：</p>
                            <p>请您将资金汇入如上银行卡账户，汇款备注请填写福利联盟注册手机号，汇款完成后将实际金额填入再点击确认。工作日9点-18点</p>
                            <p>汇款后十分钟内审核入账，其他时间会不定时审核，如有紧急情况，请联系TEL:18075173953</p>
                            
                        </div>
                    </div>
                    <!-- 支付宝 -->
                    <div class="payBox">
                        <div class="payWay">
                            <p class="payText desc">支付方式</p>
                            <img src="{% static 'images/zfb.png'%}">
                        </div>
                        <div class="rechargeBox">
                            <p class="recharge desc" style="font-size: 16px;">充值金额</p>
                            <input type="text" class="rechargeIpt" placeholder="请输入充值金额">
                        </div>
                        <div class="btn rechargeBtn">立即充值</div>
                        <div class="descBox">
                            <p><span>*</span>温馨提示：</p>
                            <p>1、转账充值支持支付宝，以扫码形式完成支付；单次最低充值0.01元，上不封顶，请根据实际需要充值。</p>
                            <p style="color: red">2、转账一定要备注弹框里面红色6位数字（每单不一样，请准确填写），否则会掉单！</p>
                            <p>3、转账30秒内会到账，若充值后发现未到账，请及时联系客服QQ：406051223处理。</p>
                        </div>
                    </div>
                </div>

            </div>
            <!-- 支付宝模态框 -->
            <div class="payMsk">
                <div class="payMskBox">
                    <div class="payMskTop">
                        <label>支付二维码</label>
                        <div class="payClose">
                            <img src="{% static 'images/payClose.png' %}">
                        </div>
                    </div>
                    <div class="payContent">
                        <div class="pay-left">
                            <p class="leftTxt">1、请打开 手机支付宝 扫码</p>
                            <img src="{% static 'images/payQrcode.png' %}">
                        </div>
                        <div class="pay-right">
                            <div class="pay-right-top">
                                <p class="rightTxt">2、依次输入下图中的[金额]和[备注]后完成转账，60秒自动到账</p>
                            </div>
                            <div class="transfer">
                                <img src="{% static 'images/Transfer.png' %}">
                                <div class= "payAmount">
                                    <!-- <span class="aountItem">金额</span><span class="item">1</span> -->
                                </div>
                                <div class="payRemrk">
                                    <!-- <span class="aountItem">金额</span><span class="item">443630</span> -->
                                </div>
                                <div class="payBtn">确认转账</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 提取保证金模态框 -->
            <div class="witMsk ">
                <div class="witBox ">
                    <span class="tips ">提取资金</span>
                    <div class="amountBox ">
                        提取金额(元)
                        <input type="text " class="witamount ">
                    </div>
                    <input type="button" class="send" value="确定">
                    <input type="button" class="cancel" value="取消">
                </div>
            </div>
        </div>
    </div>    
    {% include "footer.html" %}

    <script type="text/javascript " src="{% static 'js/wfl-common.js' %} "></script>
    <script>
        //没有数显显示图片
        function emptydisplay(obj){
            pic_url = "{%static 'images/bg-nodata.png' %}";
            obj.html('<div class="nodata-box"></div>');
        }
        $(function () {
            $('.nav__item:eq(1)').addClass('active');
            //资金明细
            var Data = '<table width="100%"><tr><th width="25%">变更时间</th><th width="25%">变更金额</th><th width="25%">剩余额度</th><th width="25%">变更原因</th></tr>' +
            '[results]<tr><td class="time">{time}</td><td class="transAmount type{transType}" data-type="{transType}">{transAmount}</td><td class="initAmount" data-init="{{transType}}">{initAmount}</td><td>{reason}</td></tr>[/results]</table>';
           //充值数据
           var addData = '<table width="100%"><tr><th width="25%">充值时间</th><th width="25%">充值金额</th><th width="25%">审核状态</th><th width="25%">审核说明</th></tr>' +
            '[results]<tr><td class="c-time">{submit_time}</td><td class="transAmount type{type}" data-type="{type}">{amount}</td><td class="state{audit_state}">{state_des}</td><td>{audit_reason}</td></tr>[/results]</table>';
            //提现数据
            var reduceData = '<table width="100%"><tr><th width="25%">提取时间</th><th width="25%">提取金额</th><th width="25%">审核状态</th><th width="25%">审核原因</th></tr>' +
            '[results]<tr><td class="c-time1">{submit_time}</td><td class="transAmount type{type}" data-type="{type}">{amount}</td><td class="state{audit_state}">{state_des}</td><td>{audit_reason}</td></tr>[/results]</table>';
            //回调函数
            function pagecallback() {
                console.log("回调函数");
                $('.time').each(function () {
                    var time = $(this).text().split('T');//分割字符串 获取年月日
                    console.log(time);
                    var time_1 = time[1].split('.');//分割字符串 获取时分秒
                    $(this).text(`${time[0]} ${time_1[0]}`); //字符串拼接展示
                });

                $('.c-time').each(function(){
                    var time = $(this).text().split('T');
                        console.log('llc'+time);
                        var time_1 = time[1].split('.');//分割字符串 获取时分秒
                        $(this).text(`${time[0]} ${time_1[0]}`); //字符串拼接展示
                });

                $('.c-time1').each(function(){
                    var time = $(this).text().split('T');//分割字符串 获取年月日
                    console.log(time);
                    var time_1 = time[1].split('.');//分割字符串 获取时分秒
                    $(this).text(`${time[0]} ${time_1[0]}`); //字符串拼接展示
                });
                //根据transType来判断‘+’‘-’号
                $('.transAmount').each(function(){
                    var type = $(this).attr('data-type');
                    var initText = $(this).text();  //获取文本内容 再进行字符串拼接
                    if (type == 0) {    
                        $(this).text('+' + initText);
                    }else{
                        $(this).text('-' + initText);
                    }
                });
                var initAmount;
                $(".initAmount").each(function(){
                    var amount = $(this).text(); 
                    // console.log("------剩余额度-----",amount);
                    var initType = $(this).attr("data-type");
                    var transAmount = $(this).prev().text();//根据当前节点的上一个兄弟节点获取transAmount
                    // console.log("transAmount",transAmount);
                    // console.log("---initsmunt---",amount);
                    initAmount = (parseFloat(amount) + parseFloat(transAmount)).toFixed(2);
                   $(this).text(initAmount);
                //    console.log("Amount:",initAmount);
                });
            }
            //分页
            console.log('llc'+'{{user.id}}');
            $("#pagedata").ajaxPage({
                url: '/merchant/margin_translog/?page={page}&pageSize={pageSize}&user_mobile={{user.mobile}}',
                pageId: $("#page"),
                pageSize: 10,
                run: true,
                content:Data,
                complete: pagecallback,
            });   
            //分页过滤
            $('.tabul > li').click(function(){
                $('#pagedata').empty();
                var index = $(this).index();
                console.log(index);
                $(this).addClass('act').siblings().removeClass('act');
                if (index == 0) {
                    $("#pagedata").ajaxPage({
                        url: '/merchant/margin_translog/?page={page}&pageSize={pageSize}&user_mobile={{user.mobile}}',
                        pageId: $("#page"),
                        pageSize: 10,
                        run: true,
                        content:Data,
                        complete: pagecallback,
                    }); 
                }
                else if(index == 1){
                    $("#pagedata").ajaxPage({
                        url: '/merchant/margin_auditlog/?page={page}&pageSize={pageSize}&user_mobile={{user.mobile}}&type=1',
                        pageId: $("#page"),
                        pageSize: 10,
                        run: true,
                        content:reduceData,
                        complete: pagecallback,
                    });
                }
                else if (index == 2) {
                    $("#pagedata").ajaxPage({
                        url: '/merchant/margin_auditlog/?page={page}&pageSize={pageSize}&user_mobile={{user.mobile}}&type=0',
                        pageId: $("#page"),
                        pageSize: 10,
                        run: true,
                        content:addData,
                        complete: pagecallback,
                    });
                }
                
               
            });
            //变更时间处理
            var changeTime = $('.changeTime').text().split('T');
            console.log(changeTime);
            $('.changeTime').text(changeTime[0]);
            // 选中支付宝 支付宝窗口切换
            $('.zhifubao').change(() =>{
                $('.payBox').show();
                $('.card_box').hide();
            })
            // 选中银行卡 银行卡盒子切换
            $('.bank_card').change(() =>{
                $('.card_box').show();
                $('.payBox').hide();
            })
            //点击打开充值模态框
            $(".add").click(function () {
                $(".tabBox").hide();
                $(".wrapper_pay").show();
            });
            // 银行卡充值ajax
            $('.card_add').click(() =>{
                var value = $('.bank_rechargeIpt').val();
                var regx =/^(([1-9][0-9]*)|(([0]\.\d{1,2}|[1-9][0-9]*\.\d{1,2})))$/;
                if(!regx.test(value)){
                    $.prompt({
                        "Content":"请输入正确的金额！"
                    });
                    return;
                }
                if(!value){
                    $.prompt({
                        "Content":"充值金额不能为零！"
                    });
                    return;
                }else if(value <= 0){
                    $.prompt({
                        "Content":"输入正确的充值金额！"
                    });
                    return;
                } 
                $.ajax({
                    url:'/merchant/margin_manage/',
                    type:"POST",
                    timeout:5000,
                    dataType:"json",
                    data:{
                        'type': 0,
                        "amount": value
                    },
                    success:function(ret){
                        if (ret.code == 0) {
                            $.prompt({
                                "Content":"提交充值申请，请等待!"
                            });
                            $('.wrapper_pay').hide();
                            $('.tabBox').show();
                            $(".bank_rechargeIpt ").val('');
                        } else if (ret.code == -2) {
                            $.prompt({
                                "Content":"充值失败!"
                            });
                        }
                    },
                    error:function(xhr, textStatus){
                        alert(xhr.responseText);
                    }
                })

            });
            // 点击关闭充值模态框
            $(".c-payBox").click(function () { 
                $(".wrapper_pay").hide();
                $(".tabBox").show();
             })
            $(".rechargeBtn").click(function () { 
                var addValue = $(".rechargeIpt").val();
                console.log(addValue);
                var regx =/^(([1-9][0-9]*)|(([0]\.\d{1,2}|[1-9][0-9]*\.\d{1,2})))$/;
                if(!regx.test(addValue)){
                    $.prompt({
                        "Content":"请输入正确的金额！"
                    });
                    return;
                }
                //创建标签分别插入金额和备注码
                var amountStr = `<span class="aountItem">金额</span><span class="item">${addValue}</span>`;//充值金额
                $.ajax({
                    url: '/merchant/create_transaction/',
                    type: 'post',
                    async: false,
                    timeout: 5000, //超时时间
                    dataType: 'json', //返回的数据格式：json/xml/html/script/jsonp/text
                    data: {
                        "amount": addValue
                    },
                    success: function (res) {
                        console.log(res)
                        if(res.code === 0){
                            //将创建的标签插入到页面里
                            var remarkStr = `<span class="aountItem">备注</span><span class="item">${res.remark}</span>`
                            $(".payAmount").html(amountStr);
                            $(".payRemrk").html(remarkStr);
                            $(".payMsk").show();
                        }else if(res.code === 1){
                            $.prompt({
                                "Content":`${res.msg}`
                            });
                        }
                    },
                    error: function (xhr, textStatus) {
                        alert(xhr.responseText);
                    }
                });
               
             })
            //  支付宝二维码模态框
             $(".payClose").click(function(){
                $(".payMsk").hide();
                $(".payBox").hide();
                $(".tabBox").show();
                $(".rechargeIpt").val('');
             })
             $(".payBtn").click(function () {  //点击关闭模态框
                $(".payMsk").hide();
                $(".wrapper_pay").hide();
                $(".tabBox").show();
                $(".rechargeIpt").val('');
              })
            //保证金模态框
            $(".wit ").click(function () {
                $(".witMsk ").show();
            });
            $(".cancel").click(function () {
                $(".witMsk ").hide();
                $('.witamount ').val('');
            });
            //获取账户余额：
            var user_account = {{ user.margin_account }};
            console.log("--------账户余额：", user_account);
        //提取保证金
        $(".send ").click(function () {
            var amount = $(".witamount ").val();
            //正则
            var regx = /^[0-9]*$/;
            if (!regx.test(amount)) {
                $.prompt({
                    "Content":"提取金额必须为纯数字!"
                });
                return;
            }
            //获取提取金额不能大于保证金
            if (user_account < amount) {
                $.prompt({
                    "Content":"余额不足！"
                });
                return;
            }else if(!amount){
                $.prompt({
                    "Content":"提取金额不能为空！"
                });
                return;
            }
            //ajax发送提取保证金
            $.ajax({
                url: '/merchant/index/',
                type: 'post',
                async: false,
                timeout: 5000, //超时时间
                dataType: 'json', //返回的数据格式：json/xml/html/script/jsonp/text
                data: {
                    'type': 1,
                    "amount": amount
                },
                success: function (ret) {
                    if (ret.code == 0) {
                        // alert('提交提取申请，请等待');
                        $.prompt({
                            "Content":"申请成功，请等待!"
                        });
                        $(".witMsk ").hide();
                    } else if (ret.code == -2) {
                        $.prompt({
                            "Content":"提取失败！"
                        });
                    }
                     //成功后2s刷新页面
                    // setTimeout(function(){
                    //     window.location.href = window.location.href;
                    // },1000);
                },
                error: function (xhr, textStatus) {
                    $.prompt({
                        "Content":"请检查网络设置！"
                    });
                }
            });
        });

        });
    </script>
</body>
<!-- 
    /merchant/margin_translog/
 -->

</html>