{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>用户中心</title>
    <link href="{% static 'images/favicon.ico'%}" rel="shortcut icon" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/wfl-common.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/account-base.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/margin_manage.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/page.css' %}" />
    <script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/page.js' %}"></script>
    <style>
        .wrapper{
            width: 100%;
            height: 750px;
            background: url(../../static/images/bg_starSky.jpg) no-repeat;
            background-position-y: -10px;
        }
        .footer{
            margin: 0 auto;
        }
        .Content {
            margin:0 auto;
        }
        #pagedata{
            background: white;
        }
    </style>
</head>

<body>
    <!--头部-->
    {% include "merchant_header.html" %}
    <!--内容-->
    <div class="wrapper">
        <div class="Content">
            <div class="wrapperBox">
                <nav>
                    <span class="amount">
                        <span class="amount1">账户保证金余额：<label>{{user.margin_account}}元</label></span>
                    </span>
                    <input type="button" class="btn add" value="充值">
                    <input type="button" class="btn wit" value="提现保证金">
                </nav>
                <div class="tabBox">
                    <div id="pagedata">
                    </div>
                    <div class="Page-in-admin">
                        <div class="page" id="page">
                        </div>
                    </div>
                </div>
            </div>

            <!-- 充值弹窗 -->
            <div class="addMsk">
                <div class="dataBox">
                    <span class="cha">
                        ×
                    </span>
                    <span class="card">充值银行卡</span>
                    <div class="data">
                        <table width="100% ">
                            <tr>
                                <td width="30%">开户行</td>
                                <td width="70%">46315487824564458</td>
                            </tr>
                            <tr>
                                <td width="30%">姓名</td>
                                <td width="70%">llc</td>
                            </tr>
                            <tr>
                                <td width="30%">账户</td>
                                <td width="70%">12345678977</td>
                            </tr>
                            <tr>
                                <td width="30%">充值金额</td>
                                <td width="70%">
                                    <input type="text" class="addAmount" style="width: 200px;">
                                </td>
                            </tr>
                        </table>
                    </div>
                    <input type="button " class="submit " value="确定 " />
                </div>
            </div>

            <!-- 提现保证金模态框 -->
            <div class="witMsk ">
                <div class="witBox ">
                    <span class="tips ">提现保证金</span>
                    <div class="amountBox ">
                        提现金额(元)
                        <input type="text " class="witamount ">
                    </div>
                    <input type="button" class="send" value="确定">
                    <input type="button" class="cancel" value="取消">
                </div>
            </div>
        </div>
    </div>    
    {% include "footer.html" %}

    <script type="text/javascript " src="{% static 'js/wfl-common.js' %} "></script>
    <script>
        $(function () {
            let Data = '<table width="100%"><tr><th width="33%">变更时间</th><th width="33%">变更金额</th><th width="33%">变更原因</th></tr>' +
            '[results]<tr><td class="time">{time}</td><td class="transAmount" data-type="{transType}">{transAmount}</td><td>{reason}</td></tr>[/results]</table>';
            
            //回调函数
            function pagecallback() {
                console.log("回调函数");
                $('.time').each(function () {
                let time = $(this).text().split('T');//分割字符串 获取年月日
                console.log(time);
                let time_1 = time[1].split('.');//分割字符串 获取时分秒
                $(this).text(`${time[0]} ${time_1[0]}`); //字符串拼接展示
                });
                //根据transType来判断‘+’‘-’号
                $('.transAmount').each(function(){
                    let type = $(this).attr('data-type');
                    let initText = $(this).text();  //获取文本内容 再进行字符串拼接
                    if (type == 0) {    
                        $(this).text('+' + initText);
                    }else{
                        $(this).text('-' + initText);
                    }
                });
            }
            //分页
            $("#pagedata").ajaxPage({
                url: '/merchant/margin_translog/?page={page}&pageSize={pageSize}',
                pageId: $("#page"),
                pageSize: 6,
                run: true,
                content:Data,
                complete: pagecallback,
            });   
            //变更时间处理
            let changeTime = $('.changeTime').text().split('T');
            console.log(changeTime);
            $('.changeTime').text(changeTime[0]);

            //添加保证金模态框
            $(".add").click(function () {
                $('.addMsk').show();
            });
            $(".cha").click(function () {
                $('.addMsk').hide();
                $('.addAmount').val('');
            });
            //充值保证金ajax
            $('.submit').click(function () {
                const addAmount = $('.addAmount').val();
                console.log(addAmount);
                //正则验证
                let regx = /^[0-9]*$/; 
                if (!regx.test(addAmount)) {
                    alert('充值金额仅限数字');
                }
                if(!addAmount){
                    alert('充值金额不能为零！');
                    return;
                }else if(addAmount <= 0){
                    alert('输入正确的充值金额！');
                    return;
                }
                $.ajax({
                    url: '/merchant/margin_manage/',
                    type: 'post',
                    async: false,
                    timeout: 5000, //超时时间
                    dataType: 'json', //返回的数据格式：json/xml/html/script/jsonp/text
                    data: {
                        'type': 0,
                        "amount": addAmount
                    },
                    success: function (ret) {
                        if (ret.code == 0) {
                            alert("提交充值申请，请等待");
                            $(".addMsk ").hide();
                        } else if (ret.code == -2) {
                            alert("提取失败");
                        }
                        $('.addAmount').val('');
                    },
                    error: function (xhr, textStatus) {
                        alert(xhr.responseText);
                    }
                });
            });
            //保证金模态框
            $(".wit ").click(function () {
                $(".witMsk ").show();
            });
            $(".cancel").click(function () {
                $(".witMsk ").hide();
                $('.witamount ').val('');
            });
            //获取账户余额：
            const user_account = {{ user.margin_account }};
            console.log("--------账户余额：", user_account);
        //提取保证金
        $(".send ").click(function () {
            const amount = $(".witamount ").val();
            //正则
            const regx = /^[0-9]*$/;
            if (!regx.test(amount)) {
                alert("提取金额必须为纯数字");
                return;
            }
            //获取提现金额不能大于保证金
            if (user_account < amount) {
                alert("提取金额不能大于保证金！");
                return;
            }

            //ajax发送提取保证金
            $.ajax({
                url: '/merchant/index/',
                type: 'post',
                async: false,
                timeout: 5000, //超时时间
                dataType: 'json', //返回的数据格式：json/xml/html/script/jsonp/text
                data: {
                    'type': 1,
                    "amount": amount
                },
                success: function (ret) {
                    if (ret.code == 0) {
                        alert("提交提现申请，请等待");
                        $(".witMsk ").hide();
                    } else if (ret.code == -2) {
                        alert("提取失败");
                    }
                    //成功后刷新页面
                    window.location.href = window.location.href;
                },
                error: function (xhr, textStatus) {
                    alert(xhr.responseText);
                }
            });
        });

        });
    </script>
</body>
<!-- 
    /merchant/margin_translog/
 -->

</html>