<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<!--<link rel="stylesheet" type="text/css" href="{% static 'css/wfl-common.css' %}" />-->
		<!--<link rel="stylesheet" type="text/css" href="{% static 'css/merchant_new_project.css' %}" />-->
		<link rel="stylesheet" type="text/css" href="../../static/css/wfl-common.css" />
		<link rel="stylesheet" type="text/css" href="../../static/css/merchant_new_project.css" />
	</head>

	<body>
		<div class="wrapperBox">
			<div class="wrapper">
				<from class="myFrom">
					<div class="project pro_title">
						<span>新建项目</span>
					</div>
					<div class="project pro_name">
						<span>项目名称</span>
						<div class="pro_right" style="margin-left: 25px;">
							<input type="text" placeholder="请输入项目名称" />
						</div>
					</div>
					<div class="project pro_link">
						<span>攻略链接</span>
						<div class="pro_right" style="margin-left: 25px;">
							<input type="text" placeholder="请输入攻略链接" />
						</div>
					</div>
					<div class="project pro_price">
						<span>结算价格</span>
						<div class="pro_right" style="margin-left: 26px;">
							<input type="text" placeholder="请输入结算价格" />
						</div>
					</div>
					<div class="project pro_cycle">
						<span>项目结算周期</span>
						<div class="pro_right">
							<input type="text" placeholder="请输入项目结算周期" />
						</div>
					</div>
					<div class="project pro_num">
						<span>是否限量</span>
						<div class="pro_right">
							<input type="radio" name="num" style="margin-left: 100px;" />是
							<input type="radio" name="num" style="margin-left: 150px;" />否
						</div>
					</div>
					<div class="project pro_remark">
						<span>备注说明</span>
						<div class="pro_right" style="margin-left: 25px;">
							<input type="text" placeholder="请输入备注说明" />
						</div>
					</div>
					<button class="btn">提交申请</button>
				</from>
			</div>
		</div>

	</body>
	<script>
	</script>

</html>