<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<!--<link rel="stylesheet" type="text/css" href="{% static 'css/wfl-common.css' %}" />-->
		<!--<link rel="stylesheet" type="text/css" href="{% static 'css/merchant_myproject.css' %}" />-->
		<link rel="stylesheet" type="text/css" href="../../static/css/wfl-common.css" />
		<link rel="stylesheet" type="text/css" href="../../static/css/merchant_myproject.css" />
	</head>

	<body>
		<div class="wrapperBox">
			<div class="wrapper">
				<ul class="tab">
					<li class="active">全部</li>
					<li>正在进行</li>
					<li>申请中</li>
					<li>已结束</li>
					<li>已拒绝</li>
				</ul>
				<div class="tab-right">
					<label>+</label>
					新建项目申请
				</div>
			</div>

			<div class="contentBox">
				<div id="pagedata"></div>
				<div class="Page-in1">
					<div class="page" id="page"></div>
				</div>
			</div>
		</div>
		
	</body>

</html>