<!--header-->
{% load staticfiles %}
</style>
<div class="header">
	{% include "pre-header.html" %}
	<div class="headermain-box bgc-fff">
		<div class="headermain clearfix">
			<a href="{% url 'index' %}"><img src="{% static 'images/logo-new.png' %}" alt="福利联盟logo" class="logo l" /></a>
			<ul class="nav nav-layout l fs-0">
				<li class="nav__itembox d-ib">
					<a class="nav__item" href="{% url 'merchant:merchant_index' %}">商家中心</a>
				</li>
				<li class="nav__itembox subnav-show d-ib">
					<a class="nav__item" href="{% url 'merchant:margin_manage' %}">资金管理</a>
				</li>
				<li class="nav__itembox subnav-show d-ib">
                    <a class="nav__item" href="{% url 'merchant:proj_manage' %}">项目管理</a>
                </li>
                <li class="nav__itembox d-ib">
                    <a class="nav__item" href="{% url 'merchant:preaudit_investlog' %}">数据管理</a>
                </li>
			</ul>
		</div>
	</div>
</div>
<!--header---end-->