{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>用户中心</title>
	<link href="{% static 'images/favicon.ico'%}" rel="shortcut icon" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/wfl-common.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/merchant-base.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/merchant_new_project.css' %}" />
	<script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/wfl-popup.js' %}"></script>
	<style>
		.Content {
			width: 1250px;
			min-height: 900px;
			margin: 24px auto;
			overflow: hidden;
		}

		.btn {
			cursor: pointer
		}
		.is_futou {
			width: 20px;
			height: 20px;
			opacity: 0;
		}
		.need-icon {
			display: inline-block;
			margin: 10px 10px 10px 38px;
			width: 26px;
			height: 26px;
			border-radius: 4px;
			border: 1px solid #e4e4e4;
			vertical-align: middle;
			cursor: pointer;
		}
		.is_futou:checked + .need-icon {
			background: url(../../static/images/bg-checked-choose.png) center center no-repeat;
		}
	</style>
</head>

<body>
	<!--头部-->
	{% include "merchant_header.html" %}
	<!--内容-->
	<div class="Content">
		<div class="wrapperBox">
			<div class="wrapper">
				<from class="myFrom">
					<div class="pro pro_title">
						<span>新建项目</span>
					</div>
					<div class="pro pro_name">
						<span>项目名称</span>
						<div class="pro_right" style="margin-left: 25px;">
							<input type="text" name="project" id="project" placeholder="请输入项目名称" />
						</div>
					</div>
					<div class="pro pro_link">
						<span>攻略链接</span>
						<div class="pro_right" style="margin-left: 25px;">
							<select class="seltBox"></select>
							<a class="new_link" href="/docs/create" target="view_window">新建攻略</a>
						</div>
					</div>
					<div class="pro pro_price">
						<span>结算价格</span>
						<div class="pro_right" style="margin-left: 26px;">
							<input type="text" name="price" id="price" placeholder="该价格为公返给渠道的价格，请谨慎确定" />
						</div>
					</div>
					<div class="pro pro_cycle">
						<span>项目结算周期</span>
						<div class="pro_right">
							<input type="text" name="cycle" id="cycle" placeholder="请输入项目结算周期" />
						</div>
					</div>
					<div class="pro pro_num">
						<span>是否限量</span>
						<div class="pro_right">
							<!-- <input type="radio" name="num" style="margin-left: 100px;" value="true" />是
							<input type="radio" name="num" style="margin-left: 150px;" value="false" checked/>否 -->
							<label style="margin-left: 80px;"><input class="is_futou" type="radio" value="true" name="is_futou"><i class="need-icon m-left"></i>是</label>	
							<label><input class="is_futou" type="radio" checked="checked" value="false" name="is_futou"><i class="need-icon"></i>否</label>	
						</div>
					</div>
					<div class="pro pro_remark">
						<span>备注说明</span>
						<div class="pro_right" style="margin-left: 25px;">
							<input type="text" name="remark" id="remark" placeholder="请输入备注说明  非必填" />
						</div>
					</div>
					<!-- <button class="btn">提交申请</button> -->
					<input type="button" value="提交申请" class="btn">
				</from>
			</div>
		</div>

	</div>
	{% include "footer.html" %}

	<script type="text/javascript" src="{% static 'js/wfl-common.js' %}"></script>
	<script>
		$(function () {
			$('.nav__item:eq(2)').addClass('active');
			//获取文档
			function docAjax() {
				$.ajax({
					url: '/restapi/docs/',
					type: 'get',
					async: false,
					timeout: 5000, //超时时间
					dataType: 'json', //返回的数据格式：json/xml/html/script/jsonp/text
					success: function (ret) {
						console.log(ret.results);
						var option = document.createElement("option");
						var str_html = '<option value="0">————</option>';
						for (const i in ret.results) {
							str_html += '<option value="' + ret.results[i].id + '">' + ret.results[i].title + '</option>';
						}
						$(".seltBox").html(str_html);
					},
					error: function (xhr, textStatus) {
						alert(xhr.responseText);
					}
				});
			}
			docAjax();
			//点击Select刷新下拉框内容
			$('.seltBox').focus(function(){
				docAjax();
			});
			//提交申请
			$(".btn").click(function () {
				var radio = $("input:radio:checked").val();
				console.log(radio);
				var project = $("#project").val();
				var strategy_url = $(".seltBox option:selected").val();
				var price = $("#price").val();
				var cycle = $("#cycle").val();
				var remark = $("#remark").val();

				if (strategy_url == 0) {
					$.prompt({
						"Content":"请选择项目攻略链接"
					});
					return;
				}
				//输入框不能为零
				if (!project || !price || !cycle) {
					$.prompt({
                        "Content":"输入框不能为空！"
                    });
					return;
				}
				if (!radio) {
					$.prompt({
                        "Content":"请选择是否限量"
                    });
					return;
				}

				//获取url
				var url = "/merchant/apply_projects/";
				$.ajax({
					url: url,
					type: 'post',
					async: false,
					data: {
						"title": project,        //项目名称
						"strategy": strategy_url,	//攻略链接
						"price": price,			   //结算价格
						"settle_period": cycle,   //项目结算周期
						"remark": remark,    	 //备注说明
						"is_book": radio,		//是否限量
					},
					timeout: 5000, //超时时间
					dataType: 'json', //返回的数据格式：json/xml/html/script/jsonp/text
					success: function (data) {
						$.prompt({
							"Content":"提交成功,即将跳转到项目管理页面"
						});
						setTimeout(function(){
							window.location.href = '/merchant/proj_manage/';
						},1000);
					},
					error: function (xhr, textStatus) {
						alert(xhr.responseText);
					}
				});

			});
		});
	</script>
</body>

</html>