{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>用户中心</title>
	<link href="{% static 'images/favicon.ico'%}" rel="shortcut icon" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/wfl-common.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/account-base.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/merchant_new_project.css' %}" />
	<script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
	<style>
		.Content {
			width: 1250px;
			min-height: 700px;
			margin: 24px auto;
			overflow: hidden;
		}
		.btn{
			cursor: pointer
		}
	</style>
</head>

<body>
	<!--头部-->
	{% include "merchant_header.html" %}
	<!--内容-->
	<div class="Content">
		<div class="wrapperBox">
			<div class="wrapper">
				<from class="myFrom">
					<div class="pro pro_title">
						<span>新建项目</span>
					</div>
					<div class="pro pro_name">
						<span>项目名称</span>
						<div class="pro_right" style="margin-left: 25px;">
							<input type="text" name="project" id="project" placeholder="请输入项目名称" />
						</div>
					</div>
					<div class="pro pro_link">
						<span>攻略链接</span>
						<div class="pro_right" style="margin-left: 25px;">
							<select class="seltBox">
								<option value="0">----</option>
							</select>
						</div>
					</div>
					<div class="pro pro_price">
						<span>结算价格</span>
						<div class="pro_right" style="margin-left: 26px;">
							<input type="text" name="price" id="price" placeholder="请输入结算价格" />
						</div>
					</div>
					<div class="pro pro_cycle">
						<span>项目结算周期</span>
						<div class="pro_right">
							<input type="text" name="cycle" id="cycle" placeholder="请输入项目结算周期" />
						</div>
					</div>
					<div class="pro pro_num">
						<span>是否限量</span>
						<div class="pro_right">
							<input type="radio" name="num" style="margin-left: 100px;" value="true" />是
							<input type="radio" name="num" style="margin-left: 150px;" value="false" />否
						</div>
					</div>
					<div class="pro pro_remark">
						<span>备注说明</span>
						<div class="pro_right" style="margin-left: 25px;">
							<input type="text" name="remark" id="remark" placeholder="请输入备注说明  非必填" />
						</div>
					</div>
					<!-- <button class="btn">提交申请</button> -->
					<input type="button" value="提交申请" class="btn">
				</from>
			</div>
		</div>
		
	</div>
	{% include "footer.html" %}

	<script type="text/javascript" src="{% static 'js/wfl-common.js' %}"></script>
	<script>
		$(function () {
			//获取文档
			$.ajax({
				url: '/restapi/docs/',
				type: 'get',
				async: false,
				timeout: 5000, //超时时间
				dataType: 'json', //返回的数据格式：json/xml/html/script/jsonp/text
				success: function (ret) {
					console.log(ret.results);
					let option = document.createElement("option");
					let str_html = '';
					for (const i in ret.results) {
						str_html += '<option value="'+ret.results[i].id+'">'+ ret.results[i].title +'</option>';
					}
					$(".seltBox").append(str_html);
				},
				error: function (xhr, textStatus) {
					alert(xhr.responseText);
				}
			});

			//提交申请
			$(".btn").click(function () {
				let radio = $("input:radio:checked").val();
				console.log(radio);
				let project = $("#project").val();
				let strategy_url = $(".seltBox option:selected").val();
				let price = $("#price").val();
				let cycle = $("#cycle").val();
				let remark = $("#remark").val();
				
				if(strategy_url == 0){
					alert("请选择项目攻略链接");
					return;
				}
				//输入框不能为零
				if (!project || price || cycle) {
					alert("输入框不能为空");
					return;
				}
				if (!radio) {
					alert("请选择是否限量");
					return;
				}

				//获取url
				let url = "/merchant/apply_projects/";
				$.ajax({
					url: url,
					type: 'post',
					async: false,
					data: {
						"title": project,        //项目名称
						"strategy": strategy_url,	//攻略链接
						"price": price,			   //结算价格
						"settle_period": cycle,   //项目结算周期
						"remark": remark,    	 //备注说明
						"is_book": radio,		//是否限量
					},
					timeout: 5000, //超时时间
					dataType: 'json', //返回的数据格式：json/xml/html/script/jsonp/text
					success: function (data) {
						alert("提交成功");
						window.location.href = window.location.href;
					},
					error: function (xhr, textStatus) {
						alert(xhr.responseText);
					}
				});

			});
		});
	</script>
</body>

</html>