.wrapper{
	width: 100%;
	margin: 0 auto;
}
.banner{
    width: 100%;
	min-width: 1250px;
	/*height: 375px;*/
}
.banner_img{
	width: 100%;
}

/*****************step***************/
.step{
	width: 1100px;
	margin: 86px auto;
}
.step-left{
  padding: 40px 0;
	width: 16%;
	height: 100%;
	position: relative;
	border-right: 2px solid RGB(199,199,199);
}
.step-left-item {
  position: relative;
  padding-left: 60px;
  color: RGB(34,34,34);
  font-size: 16px;
  background-position: left center;
  background-size: auto auto;
  background-repeat: no-repeat;
}
.step-left-item:after {
  content: '';
  position: absolute;
  right: -9px;
  top: 10px;
  width: 16px;
  height: 4px;
  border-radius: 2px 2px 2px 2px;
  background: RGB(199,199,199);
}
.step-left-1 {
  background-image: url(../images/icon_1_08.jpg);
}
.step-left-2 {
  margin-top: 201px;
  background-image: url(../images/icon_2_12.jpg);
}
.step-left-3 {
  margin-top: 108px;
  background-image: url(../images/icon_3_14.jpg);
}
.step-left-4 {
  margin-top: 108px;
  background-image: url(../images/icon_3_17.jpg);
}

.step-right {
  width: 84%;
}
.step-right-box {
  width: 100%;
  font-size: 0;
}
.step-right-box.m-1 {
  margin-top: 28px;
}
.step-right-box.m-mt {
  margin-top: 40px;
}
.step-right-item {
  position: relative;
  display: inline-block;
  width: 50%;
  line-height: 46px;
  padding-left: 100px;
  list-style: black;
  color: RGB(34,34,34);
}
.step-right-item:before {
  content: '';
  position: absolute;
  top: 19px;
  left: 80px;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: RGB(191,191,191);
  
}