.RightCont{
    background: white;
}
.tab{
    width: 200px;
    height: 40px;
    margin: 20px;
    border:1px solid #91c11d;
    background: white;
    color: #91c11d;
}
.tab > li{
    width: 99px;
    height: 39px;
    text-align: center;
    line-height: 40px;
    float: left;
    cursor: pointer;
}
.active{
    background: #91c11d;
    color: white;
}
.contBox{
    width: 100%;
    min-height: 825px;
    padding-top: 30px;
}
.effective{
    width: 100%;
    overflow: hidden;
}
.failure{
    width: 100%;
    display: none;
}
.f_tips{
    margin-left: 20px;
}
.hongbao_box{
    margin: 20px 0;
    width: 198px;
    height: 240px;
    /* background: yellow; */
    padding-top: 12px;
    float: left;
    margin-left: 40px;
}
.hongbao{
    padding:12px 20px;
    width: 198px;
    height: 140px;
    background: url(../../../static/images/hongbao_1.png) no-repeat;
    position: relative;
}
.top_box{
    width: 100%;
    height: 25px;
    line-height: 25px;
    text-align: center;
}
.amount{
    font-size: 20px;
    color: white;
}
.desc{
    font-size: 14px;
    color: white;
    margin-left: 10px;
}
.time{
    font-size: 12px;
    color: white;
    margin: 0 17px;
}
.btm_desc{
    width: 120px;
    height: 40px;
    text-align: center;
    padding-left: 5px;
    line-height: 15px;
    color: white;
    margin: 35px 20px;
}
.p_tips{
    margin-left: 20px;
    margin-top: 40px;
    color: white;
}
.p_tip{
    margin-left: 40px;
    margin-top: 30px;
    color: white;
}
.btn{
    width: 164px;
    height: 44px;
    line-height:44px;
    color: white;
    border-radius: 10px;
    margin: 20px 15px;
    cursor: pointer;
}
.btntrue{
    background: RGB(199,199,199);
    cursor: not-allowed;
}
.fail_hongbao_box{
    margin: 20px 0;
    width: 198px;
    height: 240px;
    padding-top: 12px;
    float: left;
    margin-left: 50px;
}
.fail_hongbao{
    padding:10px 20px;
    width: 198px;
    height: 140px;
    background: url(../../../static/images/hongbao_2.png) no-repeat;
    position: relative;
}
.fbtm_desc{
    width: 120px;
    height: 40px;
    line-height: 15px;
    color: white;
    position: absolute;bottom: 0;left: 38px;
}
.fbtn{
    background: #c7c7c7;
    cursor: not-allowed;
}
/* 红包模态框 */
.modal_box{
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(68, 68, 68, 0.4);
    z-index: 9;
    display: none;
}
.modal_img_box{
    width: 260px;
    height: 370px;
    background: yellow;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    background: url(../../../static/images/hongbao_btn.png) no-repeat center center;
    background-size: 100% auto;
}
.modal_amount_box{
    width: 100%;
    height: 150px;
    position: absolute;bottom: 80px;
}
.modal_amount{
    width: 100%;
    height: 60%;
    text-align: center;
    color: RGB(255,247,92);
    line-height: 90px;
    font-size: 40px;
    padding-top: 20px;
}
.modal_desc{
    width: 100%;
    height: 40%;
    text-align: center;
    color: RGB(248,215,81);
    line-height: 60px;
}
.modal_btn{
    width: 180px;
    height: 45px;
    background: rgba(white, white, white, 0);
    position: absolute;bottom: 32px;left: 40px;
    text-align: center;
    line-height: 45px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.state0{
    background: #91c11d;
}
.state1{
    background: #f8513b;
}
.state2{
    background: RGB(199,199,199);
}
/* 二维码模态框 */
.modal_qrBox{
    width: 100%;
    height: 100%;
    position: fixed; z-index: 999;
    background:rgba(147,147,147,.4);
    display: none;
}
.qr_code{
    width: 354px;
    height: 360px;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
}
.qr_close{
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
    text-align: center;
    line-height: 28px;
    position: absolute;right: -20px;top: -20px;
    border:2px solid white;
    color: white;
}
.qr_close > span{
    font-size: 30px;
    cursor: pointer;
}
/* 交单提示模态框 */
.tipBox{
    width: 430px;
    height: 260px;
    background: white;
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    border-radius: 10px;
}
.tip{
    margin: 60px 130px;
    font-size: 16px;
}
.tipBtn{
    display: inline-block;
    text-align: center;
    width: 120px;
    height: 44px;
    line-height:44px;
    background: RGB(145,193,29);
    color: white;
    border-radius: 10px;
    margin-left:60px;
}
/* 绑卡模态框 */
.modal_card{
    width: 100%;
    height: 100%;
    position: fixed; z-index: 999;
    background:rgba(147,147,147,.4);
    display: none;
}
