.hongbao_box{
    width: 98%;
    height: 10rem;
    margin: 0 auto;
    background: url(../../../static/images/hongbao_box.png) no-repeat center center/100% auto;
}
.hongbao_top{
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.top_tab{
    background: white;
}
.amount{
    margin-left: 0.8rem;
    color: #91c11d;
}
.amount1{
    font-size: 20px;
}
.time{
    color: #656565;
}
.take{
    background: #ffbe00;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.taketrue {
    background: RGB(199,199,199);
}
.state2{
    background: RGB(199,199,199) !important;
}
.hongbao_bottom{
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.btm_text{
    color: #666666;
    margin-left: 1.6rem;
    margin-right: 1rem;
    line-height: 1.1rem;
    font-size: 12px;
}
.fhongbao_top{
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.fail{
    color: #888888;
    margin-left: 1.6rem;
}
.f_tips{
    width: 100%;
    height: 48.5rem;
    display: flex;
    justify-content: center;
    align-self: center;
    vertical-align: middle;
}
.f_img{
    width: 16rem !important;
    height: 16rem;
    margin-top: 13rem;
}
.failBox{
    width: 5rem;
    height: 5rem;
    position: absolute;right: 0.5rem;top: 0;z-index: 9;
    background: url(../../../static/images/expired.png) no-repeat center center;
    background-size: 100% auto;
}
/* 红包模态框 */
.modal_box{
    width: 100%;
    height: 100%;
    background: rgba(68, 68, 68, 0.4);
    position: fixed;
    z-index: 9;
    display: none;
}
.modal_img_box{
    width: 20rem;
    height: 29rem;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    background: url(../../../static/images/hongbao_btn.png) no-repeat center center;
    background-size: 100% auto;
}
.modal_amount_box{
    width: 100%;
    height: 11rem;
    position: absolute;top: 11.5rem;
    display: flex;
    flex-direction: column;
}
.modal_amount{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: RGB(255,247,92);
    padding-top: 2rem;
}
.modal_desc{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: RGB(248,215,81);
    font-size: 14px;
}
.modal_btn{
    width: 13.4rem;
    height: 3.6rem;
    background: rgba(255, 255, 255, 0);
    position: absolute;bottom: 2.6rem;left: 3.2rem;
    color:white;
    text-align: center;
    line-height: 3.6rem;
}
/* 官微模态框 */
.modal_wechant{
    width: 100%;
    height: 100%;
    position: fixed;z-index: 999;
    background:rgba(147,147,147,.4);
    display: none;
}
.qrBox{
    width: 18rem;
    height: 18rem;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
}
.qrBox > img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.qr_close{
    width: 2rem;
    height: 2rem;
    border: 1px solid white;
    font-size: 30px;
    color: white;
    text-align: center;
    line-height: 2rem;
    border-radius: 50%;
    position: absolute;right: -1.2rem;top: -1.2rem;
}
.tips{
    margin: 0 2.5rem;
}
