body{
	line-height: 15px;
	background: white;
}
ul,li {
    padding: 0;
    margin: 0;
}
.mui-content{
	background: white;
	padding-bottom: 9rem;
}
.mui-content .mui-table-view-left {
	width: 25%;
	float: left;
	margin: 0;
	padding: 0;
	text-align: center;
}

.mui-table-view-right {
	width: 75%;
	float: right;
	margin: 0;
	padding: 0;
	overflow-x: scroll;
	border-left: 1px solid RGB(233,233,233);
}

.mui-control-content {
	background-color: white;
}

.item_line {
	box-sizing: content-box;
	padding: 1rem 0;
	height: 40px;
	font-size: 0;
	border-bottom: 1px solid #e4e4e4;
}

.item_line.m-right {
	width: 56rem;
	text-align: center;
	display: table;
}

.column {
	/*display: inline-block;*/
	display: table-cell;
	vertical-align: middle;
	font-size: 0px;
	/*vertical-align: top;*/
}

.column.m-head {
	font-size: 12px;
}

.column_1 {
	width: 100%;
}

.column_2 {
	width: 8rem;
}

.column_3 {
	width: 8rem;
}

.column_4 {
	width: 8rem;
}

.column_4>span {
	display: block;
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.column_5 {
	width: 8rem;
}

.column_6 {
	width: 8rem;
}

.column_7 {
	width: 8rem;
}

.column_7>span{
	display: block;
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.column_8 {
	width: 8rem;
	text-align: center;
}

.item {
	display: block;
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	/*white-space: nowrap;*/
}

.state0 {
	color: #91c11d;
}

.state1 {
	color: #ffbe00;
}

.state2 {
	color: red;
}

.state3 {
	color: blue;
}

.searchBox{
	width:25rem;
	height:3rem;
	border:1px solid RGB(201,201,201);
	margin: 1rem auto;
	border-radius: 5px;
	line-height: 3rem;
	padding: 0 0 0 1rem;
	position: relative;
}

.searchBox > input{
	display: inline-block;
	width: 20rem;
	height: 2.5rem;
	border: none;
	font-size: 1.2rem;
}

.mui-icon-search{
	margin-left: 8rem;	
	position: absolute;right: 1rem;top: 0.4rem;
}
.right_ul{
	padding-left: 0;
}
.left_ul{
	padding-left: 0;
}
/*底部导航部分*/
footer {
    width: 100%;
    height: 45px;
    position: fixed;
    bottom: 0;
    font-size: 0;
    background: #fff;
    z-index: 1000;
    border-top: 1px solid #e4e4e4;
}
footer .footer__item {
    width: 33.3333%;
    display: inline-block;
    font-size: 0;
    text-align: center;
    position: relative;
}
footer .mui-icon {
    font-size: 22px;
    color: #8f8f8f;
}
.on .mui-icon {
    color: #91C11D;
}
.footer__txt {
    display: block;
    margin-top: -6px;
    font-size: 14px;
    color: #4d4d4d;
    line-height: 20px;
}
.on .footer__txt {
    color: #91C11D;
}
