.wrapperBox{
    width: 946px;
    height: 600px;
    margin: 0 auto;
}
nav{
    padding: 15px 15px;
}
.amount{
    display: inline-block;
    margin-left: 20px;
}
.btn{
    display: inline-block;
    border: none;
    margin-left: 30px;
    cursor: pointer;
    color: black;
    background: white;
}
.add:hover{
    background: RGB(22,155,213);
    color: white;
}
.wit:hover{
    background: RGB(22,155,213);
    color: white;
}

.tabBox{
    margin-top: 20px;
    width: 100%;
}
.tabBox th{
    font-size: 16px;
    font-weight: normal;
    border-bottom: 1px solid RGB(216,216,216);
}
.tabBox td{
    height: 40px;
    text-align: center;
    font-size: 16px;
    border-bottom: 1px solid RGB(216,216,216);
}
.page{
    margin-top: 5px;
}
/* 充值模态框 */
.addMsk{
    width: 100%;
    height: 100%;
    position: fixed;top: 0;left: 0;
    background: RGBa(128, 128, 128, .3);
    display: none;
}
.dataBox{
    width: 460px;
    height: 340px;
    background: white;
    box-shadow: 5px 5px 5px 0 gray;
    position: absolute;top: 50%;left: 50%;
    margin-top: -170px;
    margin-left:-230px;
    border-radius:10px; 
}
.card{
    display: block;
    font-size: 18px;
    margin-top: 25px;
    margin-left: 190px;
}
.data{
    width: 400px;
    height: 160px;
    margin:20px auto;
}
.data td{
    height: 50px;
    text-align: center;
    font-size: 16px;
}
.cha{
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border:1px solid RGB(210,210,210); 
    text-align: center;
    line-height: 30px;
    font-size: 26px;
    position: absolute;top: 5px;right: 10px;
    cursor: pointer;
}
.submit{
    border: none;
    width: 110px;
    height: 36px;
    text-align: center;
    background: RGB(26,157,214);
    border-radius: 5px;
    margin: 50px auto;
    display: block;
    cursor: pointer;
    color: white;
    transition: 0.5s ease;
}
.submit:hover{
    transform: translateY(-4px);
}
/* 保证金提现模态框 */
.witMsk{
    width: 100%;
    height: 100%;
    position: fixed;top: 0;left: 0;
    background: RGBa(128, 128, 128, .3);
    display: none;
}
.witBox{
    width: 460px;
    height: 235px;
    background: white;
    box-shadow: 5px 5px 5px 0 gray;
    position: absolute;top: 50%;left: 50%;
    margin-top: -130px;
    margin-left:-230px;
    border-radius:10px; 
}
.tips{
    display: block;
    font-size: 18px;
    margin-top: 25px;
    margin-left: 190px;
}
.amountBox{
    padding: 15px 15px;
    margin-left: 60px;
    margin-top: 30px;
}
.witamount{
    margin-left: 30px;
    height: 30px;
    width: 200px;
}

.send{
    display: inline-block;
    border: none;
    width: 110px;
    height: 36px;
    border-radius: 5px;
    text-align: center;
    background: RGB(26,157,214);
    cursor: pointer;
    transition: 0.5s ease;
    margin:30px 80px;
    color: white;

}
.send:hover{
    transform: translateY(-4px);
}
.cancel{
    display: inline-block;
    border: none;
    width: 110px;
    height: 36px;
    border-radius: 5px;
    text-align: center;
    background: RGB(26,157,214);
    cursor: pointer;
    transition: 0.5s ease;
    color: white;
}
.cancel:hover{
    transform: translateY(-4px);
}