.wrapperBox{
	width: 100%;
}
.myFrom span{
	color: white;
}
.wrapper{
	width: 600px;
	height: 600px;
	margin: 0 auto;
	position: relative;
}
.new_link{
	position: absolute;top:185px;right: -40px;
	text-decoration: underline;
	color: RGB(145,193,29)
}
.input__tips {
    position: absolute;
    top:30px;
    left: 580px;
    white-space: nowrap;
}
.pro{
	margin-top: 10px;
	padding: 15px 10px;
}
.pro_title span{
	font-size: 18px;
	color: white;
}
.pro_left{
	width: 30%;
	height: 100%;
	background: blue;
}
.pro_right{
	width: 70%;
	display: inline-block;
	color: white;
}
.pro_right input[type=text]{
	width: 100%;
	height: 52px;
	border-radius: 10px;
	margin-left: 60px;
}
.btn{
	width: 262px;
	height: 52px;
	display: block;
	margin: 30px auto;
	border: none;
	border-radius: 10px;
	background: #91c11d;
}
.seltBox{
	width: 100%;
    height: 52px;
    border-radius: 10px;
    margin-left: 60px;
}



