/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,table,th,td,form,input,select,a,span {box-sizing: border-box;}
body {font:14px/24px "Microsoft Yahei",sans-serif;background:#f5f5f5; color: #666;}
table{border-collapse:collapse;border-spacing:0;}
html,body,img {border:0;}
/*img {max-width: 100%; vertical-align: middle;}*/
i,em{font-style:normal;}
li{list-style:none;}
a,button{cursor:pointer;}
a {text-decoration:none;font-size: 14px; color: inherit;}
/*快捷样式*/
.wleft {
    width: 930px;
}
.wright {
    width: 300px;
}
.l {
    float: left;
}
.r {
    float: right;
}
.d-ib {
    display: inline-block;
    vertical-align: baseline;
}
.d-tc {
    display: table-cell;
}
.fs-0 {
    font-size: 0;
}
.color-fff {
    color: #fff;
}
.color-red {
    color: #f95a5a;
}
.bgc-333 {
    background-color: #333;
}
.bgc-fff {
    background-color: #fff;
}
.bg-green {
    background-color: #91C11D;
}
.one-line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;

}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.line-2 {height: 60px;}
.line-2s {height: 48px;}
.line-3 {height: 90px;}
.line-3s {height: 72px;}
/*组件定义*/
.wfl-wrap {
    width: 1250px;
    margin: 20px auto 0;
}
.wflbox {
    background-color: #fff;
}
.wflbox__title {
    /*position: relative;
    float: left;*/
    padding-left: 6px;
    line-height: 44px;
}
.wflbox__title.m-green {
    color: #91C11D;
}
.wflbox__title.m-center {
    padding-left: 0;
    text-align: center;
}

.txtbox {
    position: relative;
    overflow: hidden;
}
/*.txtinline {}*/
.toolong::after {
  content: "...";
  position: absolute;
  bottom: 2px;
  right: 0;
  height: 20px;
  padding: 0 4px 0px 10px;
  background: linear-gradient(to right, transparent, #fff 40%);
}

/*板块样式*/
/*header*/
.header {
  height: 105px;
  background: url(http://image.fuliunion.com/bg-header.png) center center no-repeat;
  border-bottom: 1px solid rgba(255,255,255,1);
}
.headertop {
    margin: 0 auto;
    width: 1250px;
    color: #fff;
    background-color: transparent;
}
.headertop a {
  color: #fff;
}
.headertop__welcome {
    line-height: 30px;
}
.headertop__navitem {
    display: inline-block;
    line-height: 30px;
    padding: 0 15px;
    vertical-align: top;
}
.headermain-box {
    border-bottom: none;
    background-color: transparent;
}
.headermain {
    margin: 0 auto;
    width: 1250px;
    background-color: transparent;
}
.logo {
    width: 156px;
    height: auto;
    padding: 4px 0;
}
.nav-layout {
    float: right;
    margin-top: 16px;
    position: relative;
}
.nav__itembox {
    margin-right: 8px;
}
.nav__item {
    display: block;
    line-height: 36px;
    font-size: 14px;
    color: #fff;
    width: 72px;
    margin-left: 30px;
    text-align: center;
    transition: all 0.4s ease;
    border-bottom: 3px solid transparent;
    vertical-align: top;
    line-height: 55px;
}

.nav__item.active,
.nav__item:hover {
  background-color: transparent;
  border-bottom: 3px solid #fff;
}
/*header---end*/
/*footer部分*/
.footer {
    width: 100%;
    height:374px;
    margin-top: 80px;
    padding: 50px 0 75px;
    background-color: #343434;
    color: #fff;
}
.footer__left,
.footer__right {
  font-size: 0;
}
.footer__cloum {
  display: inline-block;
  margin-right: 150px;
  width: 80px;
  vertical-align: top;
}
.footer__cloum:last-child{
  margin-right: 0;
}
.footer__item.m-title {
  margin-bottom: 25px;
  font-size: 20px;
}
.footer__item {
  line-height: 35px;
}
.ewm-box {
  display: inline-block;
}
.footer_bottom {
  margin-top: 70px;
  text-align: center;
}
/*footer部分---end*/

/*contact部分*/
.contact__box {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}
.contact {
  position: relative;
  margin-bottom: 6px;
  width: 58px;
  height: 58px;
  border-radius: 6px;
  border: 1px solid #d7dcdf;
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.contact.backTop {
  transition: all 0.4s ease;
}
.contact.m-hide {
  height: 0;
  opacity: 0;
}
.contact__txt {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 8px;
  background-color: rgba(255,255,255,1);
  text-align: center;
  line-height: 20px;
  border-radius: 6px;
  opacity: 0;
  transition: all 0.4s ease;
} 
.contact:hover .contact__txt {
  opacity: 1;
}
.contact:nth-child(1) {
  background-image: url(../images/icon-outline-1.png);
}
.contact:nth-child(2) {
  background-image: url(../images/icon-outline-2.png);
}
.contact:nth-child(3) {
  background-image: url(../images/icon-outline-3.png);
}
.contact:nth-child(4) {
  background-image: url(../images/icon-outline-4.png);
}
/*contact部分---end*/
