/*fiter-item-container*/

/*llc .fiter-item-container {
	position: relative;
	width: 1250px;
	color: #2d2d2d;
	border: 1px solid #e4e4e4;
	margin: 30px auto 0;
}

.fiter-content {
	padding: 14px;
	padding-bottom: 0;
	background-color: #fff;
}

.filter-box-company {
	height: 40px;
	overflow: hidden;
} */


/*.filter-box-company.more {
	height: auto;
}*/

/*llc .filter-box-company .filter-item {
	width: 76%;
	text-align: left;
} */


/*.filter-box-company .more-box  {
	float: right;
	font-size: 14px;
	line-height: 1;
	padding: 6px 0;
	cursor: pointer;
}
.more-box .more-company {
	position: relative;
	padding-left: 30px;
}
.more-box .more-company:before {
	position: absolute;
	left: 8px;
	top: 0;
	content: "";
	display: block;
	width: 10px;
	height: 10px;
	border-top: 2px solid #2d2d2d;
	border-right: 2px solid #2d2d2d;
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
}
.more-box.more .more-company:before {
	top: 7px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}*/

/* llc .filter-box-name {
	float: left;
	margin-right: 20px;
	height: 30px;
	line-height: 30px;
}

.filter-item {
	float: left;
	width: 500px;
}

.filter-item li {
	display: inline-block;
}

.filter-item li a {
	display: inline-block;
	box-sizing: border-box;
	padding: 6px 10px;
	margin-bottom: 14px;
	margin-right: 8px;
	font-size: 14px;
	line-height: 1;
	border-radius: 4px;
}

.filter-item li.on a {
	color: #fff;
	background-color: #91C11D;
}

.hongbao-search {
	position: absolute;
	right: 10px;
	bottom: 10px;
	width: 600px;
}

.hongbao-input[type="text"] {
	width: 600px;
	height: 46px;
	padding-left: 10px;
	border: 1px solid #e4e4e4;
	border-radius: 8px;
}

.hongbao-submit {
	position: absolute;
	top: 0px;
	right: 10px;
	width: 46px;
	height: 46px;
	border: none;
	background: url(../images/search.png) center center no-repeat;
	cursor: pointer;
} */
/* 顶部css llc */
body{
	background: white;
}
.wrapper{
    width: 1250px;
    margin: 0 auto;
}
.container{
    width: 100%;
    /* height: 260px; */
    background: white; 
    padding: 38px 14px 0;
    margin: 0 auto;
	overflow: hidden;
	font-family: 'Microsoft YaHei';
}
.on{
	height: 260px;
}
.container > p{
	font-size: 18px;
}
.projectBox{
    width: 1104px;
    position: relative;
	font-size: 0;
}
.item{
    display: inline-block;
	width: 78px;
	height: 42px;
	text-align: center;
	line-height: 42px;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 25px 0;
    color: #3d3d3d;
    font-size: 14px;
}
.item:hover{
    background: #91c11d;
    color: white;
}
.operateBox{
    width: 50px;
    height: 20px;
    font-size: 14px;
	position: absolute;right: -40px;top: 155px;
	/* position: absolute;right: 0;bottom: 20px; */
    cursor: pointer;
    color: #91c11d;
}
.operateBox_1{
	width: 50px;
    height: 20px;
    font-size: 14px;
	/* position: absolute;right: 0;top: 160px; */
	position: absolute;right: -40px;bottom: 20px;
    cursor: pointer;
	color: #91c11d;
}
.trango{
    width: 0; 
    height: 0; 
    display: inline-block;
    border-left: 5px solid transparent; 
    border-right: 5px solid transparent; 
    border-top: 10px solid#8cba1d; 
}
.trango1{
	width: 0; 
    height: 0; 
    display: inline-block;
    border-left: 5px solid transparent; 
    border-right: 5px solid transparent; 
    border-bottom: 10px solid#8cba1d; 
}
.btmBox{
   	padding: 10px 0;
    background: white;
    margin: 0 auto;
}
.searchBox{
	width: 595px;
	height: 45px;
	background: #91c11d;
	border-radius: 5px 5px 5px 5px;
	position: relative;
	display: inline-block;
}
#searchTxt{
	width: 80%;
	height: 92%;
	margin: 2px 3px;
	outline: none;
	padding: 0px 10px;
	font-size: 14px;
	color: #3d3d3d;
}
.searchBtn{
	width: 20%;
	height: 100%;
	position: absolute;right: 0;top: 0;
	background: #91c11d;
	border-radius: 0px 5px 5px 0px;
	background: url(../images/search_2.png) no-repeat center center;
	cursor: pointer;
}
.hot_search{
	color: #a2a2a2;
	margin-left: 35px;
}
.s_item{
	color: #a2a2a2;
	margin-left: 21px;
}
/* 顶部css结束 llc */

/*item-container*/
.item-container {
	margin: 15px auto 0;
	/* width: 1250px; */
	/*height: 844px;*/
}

.finance {
	padding: 10px;
	width:1293px;
	background-color: #fff;
	transition: box-shadow 0.4s ease;
	overflow: hidden;
	border-bottom: 1px solid RGB(245, 245, 245);
	display: table;
}

.finance:hover {
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.link_left {
	width: 1100px;
	display: inline-block;
	float: left;
	font-size: 0;
}

.link_right {
	float: right;
	width: 100px;
	position: relative;right:20px;
}

.finance__item {
	display: inline-block;
	width: 180px;
	font-size: 14px;
	/*text-align: center;*/
}

.finance__price {
	color: #ff9501;
}

.finance__term,
.finance__price02 {
	color: #ff9501;
}

.btn.m-finance {
	width: 100px;
}

.add-project.true {
	background-color: orange;
}

.content-head {
	/* width: 1250px; */
	width: 1293px;
	height: 50px;
	margin-top: 20px;
	background: #f5f5f5;
	display: table;
}

.c-item {
	float: left;
	width: 150px;
	height: 100%;
	line-height: 50px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.c1 {
	margin-left: 160px;
}

.c2 {
	margin-left: 20px;
}

.c3 {
	margin-left: 60px;
}

.c4 {
	margin-left: 60px;
}

.c5 {
	margin-left: 30px;
}

/*.finance__term{
	display: table-cell;
	vertical-align: middle;
	box-sizing: border-box;
	padding-left: 160px;
	text-align: center;
}
.finance__range{
	display: table-cell;
	padding-left: 160px;
	vertical-align: middle;
	box-sizing: content-box;
}
.finance__price{
	width: 170px;
	display: table-cell;
	vertical-align: middle;
	box-sizing: border-box;
}
.finance__price02{
	display: table-cell;
	vertical-align: middle;
	box-sizing: border-box;
}
.finance__remark{
	display: table-cell;
	vertical-align: middle;
	padding-left: 90px;
	box-sizing: border-box;
}*/
.item1{
	width: 200px;
	height: 60px;
	text-align: center;
	float: left;
	position: relative;left: 75px;
}
.item1 > span{
	display: table-cell;
	vertical-align: middle;
	height: 60px;
	color: black;
}
.item2{
	width: 200px;
	text-align: center;
	float: left;
	margin-left: 105px;
}
.item2 > span{
	display: table-cell;
	vertical-align: middle;
	height: 60px;
	color: black;
	margin-left: 30px;
}

.item3{
	width: 200px;
	height: 60px;
	text-align: center;
	float: left;
	margin-left: 45px;
}
.item3 > a{
	line-height: 60px;
} 
.item3 > span{
	display: table-cell;
	vertical-align: middle;
	height: 60px;
	color: black;
}

.item4{
	width: 200px;
	height: 60px;
	text-align: center;
	float: left;
	margin-left: 30px;
}
.item4 > a{
	line-height: 60px;
}
.item4 > span{
	display: table-cell;
	vertical-align: middle;
	height: 60px;
	color: black;
}

.item5{
	width: 180px;
	/*height: 60px;*/
	text-align: center;
	float: left;
	margin-left: 50px;
	/*white-space:nowrap;*/
	word-wrap:break-word;
	word-break:break-all;
}

.item5 > span{
	display: table-cell;
	vertical-align: middle;
	height: 60px;
	color: black;
}

.wrapperBox{
	/*display: table-cell;
	vertical-align: middle;*/
	width: 120px;
	height: 50px;
	float: left;
	position: relative;top: 5px;left: 5px;
	color: #ff9501;
}
.wrapperBox > img{
	width: 120px;
	height: 50px;
}
