.nav {
	width: 100%;
	height: 40px;
	border-radius: 5px;
	background: RGB(145, 193, 29);
	margin-top: 5px;
	line-height: 45px;
	color: white;
}

.nav_list {
	font-size: 1.3rem;
}

.pro_name {
	margin-left: 1rem;
	font-size: 1.3rem;
}

.nav_operite,
.navisShow,
.nav_price {
	margin-left: 3rem;
}

.pro_list {
	font-size: 1.4rem;
}

.pro_editor {
	position: absolute;right:1.5rem;
}

.pro_touzi {
	position: absolute;left: 11rem;
}
