.mui-table-view{
	overflow: hidden;
}
.mui-scroll .mui-table-view-left {
	width: 25%;
	float: left;
	margin: 0;
	padding: 0;
	text-align: center;
}

.mui-table-view-right {
	width: 75%;
	float: right;
	margin: 0;
	padding: 0;
	overflow-x: scroll;
	text-align: center;
	border-left: 1px solid RGB(233,233,233);
}

.mui-control-content {
	background-color: white;
}

.item_line {
    display: table;
	width: 100%;
	box-sizing: border-box;
	/*padding: 1rem 0;*/
	height: 6rem;
	font-size: 0;
	border-bottom: 1px solid #e4e4e4;
}
.item_line.m-head {
    border-top: 1px solid #e4e4e4;
}
.item_line.m-right {
	width: 56rem;
	height: 6rem;
	text-align: center;
	display: table;
}

.column {
	display: inline-block;
	font-size: 0px;
	vertical-align: top;
}

.column.m-head {
	font-size: 12px;
}

.column_1 {
	width: 20rem;
	/*height: 4rem;*/
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre-wrap;
}

.column_2 {
	width: 8rem;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre-wrap;
}

.column_3 {
	width: 8rem;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre-wrap;
}

.column_4 {
	width: 8rem;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre-wrap;
}


.column_5 {
	width: 8rem;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre-wrap;
}

.column_6 {
	width: 8rem;
}

.column_7 {
	width: 8rem;
}

.column_8 {
	width: 8rem;
	text-align: center;
}

.item1 {
	display: block;
	vertical-align: middle;
	font-size: 12px;
	/*overflow: hidden;*/
	/*text-overflow: ellipsis;*/
	/*white-space: nowrap;*/
}

