.top{
	width: 100%;
	height: 20rem;
	background: RGB(145,193,29);
	position: relative;
}
.headerPic{
	width: 8rem;
	height: 8rem;
	border-radius: 50%;
	position: absolute;left: 12rem;top: 2rem;
	overflow: hidden;
}
.headerPic img{
	width: 100%;
	height: 100%;
}
.phone_num{
	font-family: "微软雅黑";
	font-size: 1.4rem;
	color: white;
	position: absolute;left: 11.5rem;top: 11rem;
}
.left_btm{
	width: 8rem;
	height: 6rem;
	text-align: center;
	position: absolute;bottom: 0;left: 3rem;
}
.left_btm p{
	font-size: 1.4rem;
	color: white;
}
.left_btm p:nth-child(2){
	margin-top: 1rem;
}
.right_btm{
	width: 8rem;
	height: 6rem;
	text-align: center;
	position: absolute;bottom: 0;right: 3rem;
}
.right_btm p{
	font-size: 1.4rem;
	color: white;
}
.right_btm p:nth-child(2){
	margin-top: 1rem;
}
.mui-table-view-cell a{
	font-size: 1.3rem;	
}
