h1,h2,h3,h4,h5,h6 {line-height: 1;}
/*banner-container*/
.banner-container {
    position: relative;
	height: 400px;
}

.banner {
	width: 100%;
	height: 100%;
	background-color: #fff;
}
.banner-mask {
    position: absolute;
    top: 60px;
    left: 325px;
    padding-top: 50px;
    width: 600px;
    height: 260px;
    background-color: rgba(0,0,0,0.3);
    font-size: 18px;
    color: #fff;
    text-align: center;
}

/*banner-container--end*/

.intro {
    margin-top: 0;
    height: 150px;
    background-color: #fff;
    font-size: 0;
}
.intro__item {
    display: inline-block;
    padding-left: 150px;
    padding-top: 44px;
    margin-right: 110px;
    width: 230px;
    height: 100%;
    font-size: 16px;
    line-height: 32px;
    color: #91C11D;
    background-position: 16px center;
    background-size: 120px 120px;
    background-repeat: no-repeat;
}
.intro__item:last-child {
    margin-right: 0;
}
.intro__item.m-01 {
    background-image: url(../images/index-icon-1.png);
}
.intro__item.m-02 {
    background-image: url(../images/index-icon-2.png);
}
.intro__item.m-03 {
    background-image: url(../images/index-icon-3.png);
}
.intro__item.m-04 {
    background-image: url(../images/index-icon-4.png);
}


/*main*/
.wflbox.m-total {
    position: relative;
    width: 285px;
}
.wflbox.m-total:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(#fff 20%,  #91c11d 60%,#fff);
}
.wflbox.m-today {
    width: 965px;
}
.total__item {
    margin-left: 22px;
    font-size: 16px;
    line-height: 40px;
}
.total__item-num {
    display: inline-block;
    width: 100px;
    text-align: right;
}
.wflbox.m-today {
    height: 204px;
}
.today {
    margin-top: 12px;
    font-size: 0;
}
.today__item {
    display: inline-block;
    width: 33.33%;
}
.today__img {
    float: left;
    margin: 0 12px 0 24px;
    width: 150px;
    height: 130px;
    border: 1px solid #d4d4d4;
}
.today__title {
    margin: 30px 0 22px;
}
/*main---end*/

/*商家展示*/
.wflbox__title.m-business {
    font-size: 20px;
    line-height: 64px;
}
.business {
    font-size: 0;
}
.business__item {
    display: inline-block;
    margin-top: 24px;
    margin-left: 60px;
    width: 178px;
    height: 74px;
}
.business__img {
    display: block;
    width: 100%;
    height: 100%;
}
/*商家展示---end*/

