h1,h2,h3,h4,h5,h6 {line-height: 1;}
.flexslider {
  height: 538px;
}
.slides li {
  height: 538px;
}
.wfl-wrap {
  margin-top: 0;
}
.headermain-box {
  position: absolute;
  width: 100%;
  z-index: 100;
  background-color: transparent;
  border-bottom: none;
}
.headermain {
  background-color: transparent;
}
.nav__item.active,
.nav__item:hover {
  background-color: transparent;
  border-bottom: 2px solid #fff;
}
.nav__item {
  border-radius: 0;
  color: #fff;
}
/*banner-container*/
.banner-container {
  position: relative;
	height: 538px;
}

.banner {
	width: 100%;
	height: 100%;
	background-color: #fff;
}
.banner-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    font-size: 18px;
    color: #fff;
    text-align: center;
    z-index: 10;
}
.banner-txt {
  margin-top: 220px;
}
.banner__nav-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.banner__navbox {
  margin: 0 auto;
  font-size: 0;
}
.banner__nav {
  display: inline-block;
}
.banner__nav-txt {
  display: block;
  margin: 0 1px;
  width: 175px;
  height: 53px;
  line-height: 53px;
  font-size: 16px;
  color: #fff;
  background-color: rgba(0,0,0,0.3);
  border-radius: 10px 10px 0 0;
}
/*banner-container--end*/

.intro {
  /*display: flex;
  justify-content: space-between;*/
  margin-top: 0;
  /*height: 150px;*/
  background-color: #fff;
  font-size: 0;
}
.intro__item {
    display: inline-block;
    width: 120px;
    /*padding-left: 150px;*/
    margin-right: 256px;
    padding-top: 44px;
    height: 100%;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    /*background-position: 16px center;
    background-size: 120px 120px;
    background-repeat: no-repeat;*/
}
.intro__item:last-child {
    margin-right: 0;
}
/*..intro__item.m-01 {
    background-image: url(../images/index-icon-1.png);
}
.intro__item.m-02 {
    background-image: url(../images/index-icon-2.png);
}
.intro__item.m-03 {
    background-image: url(../images/index-icon-3.png);
}
.intro__item.m-04 {
    background-image: url(../images/index-icon-4.png);
}*/
.intro-num {
  font-size: 30px;
  color: #fb8200;
}
.intro-unit {
  font-size: 20px;
  color: #fb8200;
}
.intro__txt {
  margin-top: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
}
.intro__txt-s {
  font-size: 30px;
  color: #222;
}
.intro__detail {
  font-size: 0;
}
.intro__detail-item {
  width: 357px;
  height: 148px;
  font-size: 18px;
  display: inline-block;
}
/*goodness*/
.goodness-box {
  width: 100%;
  height: 484px;
  background: rgba(0,0,0,0.3);
  font-size: 0;
}
.goodness__title {
  font-size: 30px;
  line-height: 176px;
  color: #fff;
  text-align: center;
}
.goodness {
  margin-top: 20px;
}
.goodness__item {
  position: relative;
  display: inline-block;
  width: 312px;
  height: 192px;
  margin-right: 157px;
  border: 1px solid rgba(255,255,255,0.7);
  border-radius: 20px;
  text-align: center;
  color: #fff;
  transition: all 0.4s ease;
}
.goodness__item:last-child {
  margin-right: 0;
}
.goodness__item:hover {
  border: 1px solid rgba(255,255,255,1);
}
.goodness__item:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 45px;
  height: 5px;
  opacity: 0;
  background-color: #fff;
  transition: all 0.4s ease;
}
.goodness__item:after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  opacity: 0;
  width: 45px;
  height: 5px;
  background-color: #fff;
  transition: all 0.4s ease;
}
.goodness__item:hover:before {
  left: 45px;
  opacity: 1;
}
.goodness__item:hover:after {
  left: 45px;
  opacity: 1;
}
.goodness__item-title {
  color: #fff;
  font-size: 18px;
  line-height: 110px;
}
/*goodness---end*/

/*商家展示*/
.tool__title {
  font-size: 30px;
  line-height: 250px;
  text-align: center;
}
.tool {
  font-size: 0;
  text-align: center;
}
.tool__item {
  display: inline-block;
  margin-right: 42px;
  width: 280px;
  height: 370px;
  border-radius: 20px;
      box-shadow: 0 1px 8px rgba(0,0,0,0.2);
}
.tool__item:last-child {
  margin-right: 0;
}
.tool__icon {
  display: block;
  margin: 140px auto 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
}
.tool__name {
  font-size: 18px;
  color: #222;
}
/*商家展示---end*/
.wenan-box {
  position: relative;
  height: 400px;
  background: url(../images/bg-big-3.jpg) center center fixed no-repeat;
}
.wenan-mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
}
.wenan {
  margin: 0 auto;
  width: 1250px;
  height: 400px;
  font-size: 30px;
  color: #fff;
  line-height: 400px;
  text-align: center;
  background: url(../images/bg-wenan.png) 850px 280px no-repeat;
}
