{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="renderer" content="webkit">
  <title>资讯详情页</title>
  <meta name="keywords" content="福利联盟、理财返利、网贷返利、理财师、理财超市、番薯文档、番薯主页" />
  <meta name="description" content="福利联盟项目库为投资者提供理财投资攻略，主要为理财返利平台、网贷返利平台投资攻略，是您身边的理财超市、专业的理财师。" />
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <link rel="stylesheet" type="text/css" href="/static/css/new-common.css?v-3" />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="https://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
</head>

<body style="opacity: 0;">
  {% include "header.html" %}

  <div id="app">
         <p>这里是资讯详情页面</p>
  </div>
  <!-- 底部 -->
  <div>
    {% include "footer.html" %}
  </div>

  <script type="text/javascript">
    var app = new Vue({
      delimiters: ['${', '}'],
      el: '#app',
      data: {
        
      },
      created: function () {
        
      },
      mounted: function () {
        document.body.style.opacity = '1';
      },
      methods: {
      }
    })
  </script>
</body>

</html>