{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>常见问题</title>
        <meta name="keywords" content="福利联盟，p2p理财平台，p2p投资理财，p2p投资理财平台，小额投资理财，个人投资理财，互联网理财产品，互联网理财平台，互联网金融平台，互联网金融产品，网络理财产品，网赚" />
        <meta name="description" content="福利联盟是行业领先的P2P渠道分发机构。" />
		<link rel="stylesheet" href="{% static 'css/wfl-common.css' %}?v-3" />
		<!--<link rel="stylesheet" href="css/HelpCenter.css" />-->
		<link rel="stylesheet" type="text/css" href="/static/css/common-intro.css?v-3"/>
		<link rel="stylesheet" href="{% static 'css/HelpCenter.css' %}" />
	</head>
	<body>
        {% include "header-new.html" %}
        
		<div class="wrapper">
          <!--<div class="banner">
          	<img src="{% static 'images/banner_03.jpg' %}" class="banner_img"/>
          </div>-->
          <!--banner-container-->
        <div class="top-bg-img m-settle-tool">
          <div class="bg-mask">
            <div class="banner__content">
              <div style="margin-top: 50px;" class="banner__title">福利联盟帮助中心</div>
            </div>
          </div>
        </div>
        <!--banner-container--end-->
          <div class="step clearfix">
          	<ul class="step-left l">
          		<li class="step-left-1 step-left-item">新手引导</li>
          		<li class="step-left-2 step-left-item">番薯主页</li>
          		<li class="step-left-3 step-left-item">数据管理</li>
          		<li class="step-left-4 step-left-item">问题反馈</li>
          	</ul>
          	
          	<div class="step-right l">
          		<ul class="step-right-box m-1">
          		  <li class="step-right-item">
                  <a href="http://91fanshu.com/docs/QopON/" target="view_window">如何成为渠道用户</a>
                </li>
                <li class="step-right-item">
                  <a href="http://91fanshu.com/docs/kn9is/" target="view_window">关于结算和提现</a>
                </li>
                <li class="step-right-item">
                  <a href="http://91fanshu.com/docs/FFcDQ/" target="view_window">红包使用说明</a>
                </li>
                <li class="step-right-item">
                  <a href="http://91fanshu.com/docs/uzHmJ/" target="view_window">自助交单说明</a>
                </li>
                <li class="step-right-item">
                  <a href="/intro_fanshu_doc/" target="view_window">番薯文档简介</a>
                </li>
                <li class="step-right-item">
                  <a href="/intro_fanshu_home/" target="view_window">番薯主页简介</a>
                </li>
                <li class="step-right-item">
                  <a href="/intro_settle_tool/" target="view_window">结算工具简介</a>
                </li>
              </ul>
          		
          		<ul class="step-right-box m-mt">
                  <li class="step-right-item">
                    <a href="http://91fanshu.com/docs/ewB8U/" target="view_window">如何设置番薯主页</a>
                  </li>
                  <li class="step-right-item">
                    <a href="http://91fanshu.com/docs/axEr3/" target="view_window">番薯主页项目列表的管理</a>
                  </li>
                  <li class="step-right-item">
                    <a href="http://91fanshu.com/docs/pFVE6/" target="view_window">如何使用标签分类</a>
                  </li>
                  <li class="step-right-item">
                    <a href="http://91fanshu.com/docs/BX4ep/" target="view_window">了解番薯主页的运营工具</a>
                  </li>
              </ul>
          		
          		<ul class="step-right-box m-mt">
                  <li class="step-right-item">
                    <a href="http://91fanshu.com/docs/RtolZ/" target="view_window">如何给用户打款结算</a>
                  </li>
                  <li class="step-right-item">
                    <a href="http://91fanshu.com/docs/sTWLC/" target="view_window">交单数据查看和管理</a>
                  </li>
                  <li class="step-right-item">
                    <a href="http://91fanshu.com/docs/HBT5l/" target="view_window">预约管理如何操作</a>
                  </li>
                  <li class="step-right-item">
                    <a href="http://91fanshu.com/docs/KbFo8/" target="view_window">关于快速交单</a>
                  </li>
              </ul>
            	<ul class="step-right-box m-mt">
                    <li class="step-right-item">
                      <a target="view_window">如有问题，请联系&nbsp;3469318256@qq.com</a>
                    </li>
              </ul>	
          </div>
        </div>
		</div>
         <div style="clear:both"></div>
		<!--底部-->
		 {% include "footer.html" %}
		 <script src="/static/js/jquery-1.11.2.min.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $('.nav__item:eq(2)').addClass('active');
            });
        </script>
	</body>
</html>
