.wrapper{
    width: 100%;
}
.top{
    padding: 15px 15px;
    border-bottom: 2px solid RGB(0, 143, 215);
}
.top>span:before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 20px;
    margin-right: 20px;
    position: relative;
    top: 5px;
    background: red;
}
.wrapper > table{
    width: 100%;
}
.wrapper > tr{
    height: 100%;
}
.td1{
    text-align: center;
    height: 50px;
}
.td1 > input{
    width: 58%;
    margin-left: 1%;
    height: 28px;
    border: 1px solid #4daa84;
    outline: none;
    padding: 0 5px;
    box-sizing: border-box;
    vertical-align: middle;
}
.td1 input[type='datetime-local']{
    background: url(../images/motime.png) no-repeat 95%;
    vertical-align: middle;
}
.td1 input[type='datetime-local']:hover{
    background: none;
}
.td1 select{
    width: 58%;
    margin-left: 1%;
    height: 28px;
    border: 1px solid #4daa84;
    outline: none;
    padding: 0 5px;
    box-sizing: border-box;
    vertical-align: middle;
}
.operateBox{
    width: 100%;
    height: 100px;
    position: relative;
}
.operateTop{
    width: 100%;
    height: 50px;
    background: white;
}
.operateTop > input{
    width: 150px;
    height: 30px;
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 0 40px 0 0;
    box-sizing: border-box;
    min-width: 80px;
    margin: 0 7px;
    background: url(../images/ico2.png) no-repeat 80% #4daa84;
    border: none;
}
#export{
    float: right;
}
#search{
    float: right;
}

#fileupload1 {
    display: inline-block;
    width: 150px;
    height: 30px;
    background-color: #4daa84;
    border: none;
    color: #fff;
    font-size: 16px;
    box-sizing: border-box;
    min-width: 80px;
    vertical-align: bottom;
}
.hint-box {
    position: absolute;top: 60px;left: 160px;
}
.input-clone {
    width: 152px;
    position: absolute;
    top: 50px;
    left: 0;
    text-align: center;
    line-height: 30px;
}
#import{
    display: inline-block;
    width: 150px;
    height: 30px;
    background-color: #4daa84;
    border: none;
    color: #fff;
    font-size: 16px;
    box-sizing: border-box;
    min-width: 80px;
    vertical-align: bottom;
    background: url(../images/ico2.png) no-repeat 80% #4daa84;
    margin-left: 160px;
}