<!DOCTYPE html>
<html lang="zh">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" type="text/css" href="/static/css/new-common.css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--<script src="./header.js" type="text/javascript" charset="utf-8"></script>-->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <style type="text/css">
      #app {
        min-width: 1210px;
        margin: 20px;
        padding: 20px 40px;
        background-color: #fff;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
        border-radius: 8px;
      }
      .search__item {
        width: 150px;
      }
      /*样式覆盖*/
     .el-popover {
       min-width: 60px;
     }
     .pay-state {
       font-weight: bold;
       font-family: "宋体";
     }
     .pay-state-1 {
       color: #59b9ff;
     }
     .pay-state-2 {
       color: #ffab3f;
     }
     .pay-state-3 {
       color: #88d688;
     }
     .pay-state-4 {
       color: #ff5656;
     }
     .avatar-uploader {
       display: inline-block;
       margin-left: 6px;
       vertical-align: top;
     }
     .el-upload__tip {
       display: inline-block;
       vertical-align: bottom;
     }
     .table-box {
       margin-top: 20px;
     }
    </style>
  </head>

  <body>
    <div class="header">
      <div class="bgc-333">
        <div class="headertop color-fff clearfix">
          <p class="headertop__welcome l">欢迎来到福利联盟！客服热线：0731-85586375&nbsp;&nbsp;</p>
          <ul class="r fs-0">
    
            
            <li class="d-ib">
              <font>您好,<a class="headertop__navitem link" href="/account/">18500581509</a>
                
                <a class="link" href="/merchant/index/">招商入驻</a>
                </font>
            </li>
            <!--
                         （VIP01）
                        -->
            <li class="d-ib">
              <a class="headertop__navitem link" href="/account/logout/">退出</a>
            </li>
            
    
          </ul>
        </div>
      </div>
      <div class="headermain-box bgc-fff">
        <div class="headermain clearfix">
          <a href="/"><img src="/static/images/qudao-logo.png" alt="福利联盟logo" class="logo l"></a>
          <ul class="nav nav-layout l fs-0">
            <li class="nav__itembox d-ib">
              <a class="nav__item" href="/">首页</a>
            </li>
            <li class="nav__itembox subnav-show d-ib">
              <a class="nav__item" href="/project_all/">项目库</a>
            </li>
            <li class="nav__itembox subnav-show d-ib">
                        <a class="nav__item" href="/fanshu/">番薯</a>
                    </li>
            <li class="nav__itembox subnav-show d-ib box" style="position: relative;">
              <a class="nav__item">帮助</a>
              <ul class="toggle_box" id="toggle_box">
                <div class="toggle_box_top"></div>
                <li>
                  <a href="/user_guide/">新人指南</a>
                </li>
                <li>
                  <a href="/helpCenter/">常见问题</a>
                </li>
              </ul>
            </li>
            <li class="nav__itembox d-ib">
              <a class="nav__item" href="/cooperate/">合作共赢</a>
            </li>
            <li class="nav__itembox d-ib">
              <a class="nav__item" href="/account/">个人中心</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
    <div id="app">
      <!--<el-menu class="el-menu-demo" mode="horizontal">
        <el-menu-item index="1">处理中心</el-menu-item>
        <el-submenu index="2">
          <template slot="title">我的工作台</template>
          <el-menu-item index="2-1">选项1</el-menu-item>
          <el-menu-item index="2-2">选项2</el-menu-item>
          <el-menu-item index="2-3">选项3</el-menu-item>
        </el-submenu>
        <el-menu-item index="3">消息中心</el-menu-item>
        <el-menu-item index="4"><a href="https://www.ele.me" target="_blank">订单管理</a></el-menu-item>
      </el-menu>-->
     <div class="search__box">
      <el-row>
        <el-col :span="4">
          <span>打款状态：</span>
          <el-select class="search__item" v-model="stateValue" placeholder="请选择打款状态">
            <el-option
              v-for="item in stateOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-col>
        <el-col :span="4">
          <span>时间区域：</span>
          <el-select class="search__item" v-model="dateValue" placeholder="请选择时间区域">
            <el-option
              v-for="item in dateOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-col>
        <el-col :span="4">
          <span>投资手机号：</span>
          <el-input
            class="search__item"
            placeholder="请输入内容"
            v-model="telValue"
            clearable>
          </el-input>
        </el-col>
        <el-col :span="4">
          <span>支付宝账号：</span>
          <el-input
            class="search__item"
            placeholder="请输入内容"
            v-model="zfbValue"
            clearable>
          </el-input>
        </el-col>
        <el-col :span="8" style="display: flex;justify-content: flex-end;">
          <el-button type="primary" @click="searchData">搜索</el-button>
        </el-col>
      </el-row>
      <el-row style="margin-top: 20px">
        <el-col :span="12">
          <el-button type="primary" @click="exportExel">导出Exel</el-button>
          <el-upload
            class="avatar-uploader"
            action="/finance/import_investlog/"
            name="file"
            accept=".xls"
            :show-file-list="false"
            :on-success="handleAvatarSuccess"
            :on-error="handleAvatarError"
            :before-upload="beforeAvatarUpload">
            <el-button type="primary">导入Exel</el-button>
            <div slot="tip" class="el-upload__tip">&nbsp;只能上传xls文件</div>
          </el-upload>
        </el-col>
        <el-col :span="12" style="display: flex;justify-content: flex-end;">
          <el-button type="success" @click="badgeSelect(1)">标记未打款</el-button>
          <el-button type="success" @click="badgeSelect(3)">标记已打款</el-button>
          <el-button type="warning" @click="transferSelect">一键转账</el-button>
        </el-col>
      </el-row>
      <p style="margin-right: 153px;text-align: right;">*注：打款中的数据标记无效。</p>
     </div>
    <div class="line"></div>
    <div class="table-box">
      <el-table
        :header-cell-style="rowStyle"
        :row-style="rowStyle"
        ref="multipleTable"
        :data="tableData.results"
        style="width: 100%"
        @selection-change="handleSelectionChange">
        <el-table-column
          type="selection"
          width="55">
        </el-table-column>
        <el-table-column
          label="项目名称">
          <template slot-scope="scope">${ scope.row.project_title }</template>
        </el-table-column>
        <el-table-column
          label="投资姓名">
          <template slot-scope="scope">${ scope.row.invest_name }</template>
        </el-table-column>
        <el-table-column
          label="投资手机号">
          <template slot-scope="scope">${ scope.row.invest_mobile }</template>
        </el-table-column>
        <el-table-column
          label="投资日期">
          <template slot-scope="scope">${ scope.row.invest_date }</template>
        </el-table-column>
        <el-table-column
          label="审核时间">
          <template slot-scope="scope">${ (scope.row.audit_time).slice(0,10) }</template>
        </el-table-column>
        <el-table-column
          label="结算金额">
          <template slot-scope="scope">${ scope.row.settle_amount }</template>
        </el-table-column>
        <el-table-column
          label="返现金额">
          <template slot-scope="scope">${ scope.row.return_amount }</template>
        </el-table-column>
        <el-table-column
          label="支付宝账号">
          <template slot-scope="scope">${ scope.row.zhifubao }</template>
        </el-table-column>
        <el-table-column
          label="支付宝姓名">
          <template slot-scope="scope">${ scope.row.zhifubao_name }</template>
        </el-table-column>
        <!--<el-table-column
          label="打款审核备注">
          <template slot-scope="scope">${ scope.row.pay_reason }</template>
        </el-table-column>-->
        <el-table-column
          label="打款状态">
          <template slot-scope="scope">
            <el-popover trigger="hover" placement="left">
              <p>备注：${ scope.row.pay_reason ? scope.row.pay_reason : '无' }</p>
              <div slot="reference" class="name-wrapper">
                <!--<el-button>操作</el-button>-->
                <span :class="'pay-state pay-state-' + scope.row.pay_state">${ scope.row.pay_state_des }</span>
              </div>
            </el-popover>
            <!--<span :class="{'all' : scope.row.pay_state==1}">${ scope.row.pay_state_des }</span>-->
          </template>
        </el-table-column>
        <el-table-column
          label="操作"
          width="90">
          <template slot-scope="scope">
            <template v-if="scope.row.pay_state == 2 || scope.row.pay_state == 3 || scope.row.pay_state == 4">
              <el-button disabled>操作</el-button>
            </template>
            <template v-else>
              <el-popover trigger="hover" placement="left">
                <p>
                  <el-button v-if="scope.row.pay_state==1" type="success" size="mini" icon="el-icon-edit" @click="edit(scope.row)">编辑</el-button>
                  <!--<el-button type="primary" size="mini" icon="el-icon-edit"  @click="badge(scope.row)">标记</el-button>-->
                  <!--<el-button v-if="scope.row.pay_state==1" type="warning" size="mini" icon="el-icon-printer" @click="transfer(scope.row)">转帐</el-button>-->
                </p>
                <div slot="reference" class="name-wrapper">
                  <el-button>操作</el-button>
                </div>
              </el-popover>
            </template>
            <!--<el-dialog title="填写转账金额" width="600px" :visible.sync="dialogAmountVisible">
              <el-form :model="dialogData">
                <el-form-item label="转账金额" label-width="90px">
                  <el-input v-model="dialogData.return_ammount" auto-complete="off"></el-input>
                </el-form-item>
              </el-form>
              <div slot="footer" class="dialog-footer">
                <el-button @click="dialogAmountVisible = false">取 消</el-button>
                <el-button type="primary" @click="amountComfirm">确 定</el-button>
              </div>
            </el-dialog>-->
            <el-dialog title="编辑打款信息" width="600px" :visible.sync="dialogEditVisible">
              <el-form :model="dialogData">
                <el-form-item label="转账金额" label-width="90px">
                  <el-input type="number" v-model="dialogData.return_amount" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="支付宝账号" label-width="90px">
                  <el-input v-model="dialogData.zhifubao" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="支付宝姓名" label-width="90px">
                  <el-input v-model="dialogData.zhifubao_name" auto-complete="off"></el-input>
                </el-form-item>
              </el-form>
              <div slot="footer" class="dialog-footer">
                <el-button @click="dialogEditVisible = false">取 消</el-button>
                <el-button type="primary" @click="editConfirm">确 定</el-button>
              </div>
            </el-dialog>
          </template>
        </el-table-column>
      </el-table>
      <div style="margin-top: 20px">
      </div>
    </div>  <!--table-->
    <div class="pagination" style="display: flex;justify-content: flex-end;">
      <el-pagination
        background
        @current-change="handleCurrentChange"
        :page-size="pageSize"
        :current-page="this.currentPage"
        layout="total, prev, pager, next, jumper"
        :total="tableData.recordCount">
      </el-pagination>
    </div>    <!--pagination-->
    </div>
    <iframe id="myIFrame" scrolling="yes" style="display:none" frameborder=1></iframe>
    <script type="text/javascript">
//    $.ajax({
//      type: "get",
//      url: "http://120.79.187.115/get_upload_token/",
//      async: true,
//      success: function(res) {
//        if(res.code == 0) {
//          console.log(res);
////          app.key = res.key;
//          console.log(app.dataData3)
//          console.log(app.dataData3)
//        } else {
//          console.log(res)
//        }
//      }
//    });
      var app = new Vue({
        delimiters: ['${', '}'],
        el: '#app',
        data: {
            tableData: {},
            pageSize: 10,
            multipleSelection: [],
            checkIdList: '',
//          amountSelect:'',
            dialogAmountVisible: false,
            dialogEditVisible: false,
            dialogData: {
              id: '',
              return_amount: '',
              zhifubao: '',
              zhifubao_name: ''
            },
            rowStyle: {
              'text-align': 'center'
            },
            page: 1,
            currentPage: 1,
            stateValue: '',
            stateOptions: [{
              value: '',
              label: '全部'
            }, {
              value: '1',
              label: '未打款'
            }, {
              value: '2',
              label: '打款中'
            }, {
              value: '3',
              label: '已打款'
            }, {
              value: '4',
              label: '打款失败'
            }],
            dateValue: '',
            dateOptions: [{
              value: '',
              label: '全部'
            }, {
              value: '7',
              label: '7天内数据'
            }, {
              value: '30',
              label: '30天内数据'
            }],
            telValue: '',
            zfbValue: '',
        },
        created: function() {
          $.ajax({
              type: "get",
              url: '/restapi/investlogs/?page='+ 1 + '&pageSize=' + 10 +'&audit_state=0' ,
              async: true,
              success: function(res) {
                console.log(res);
                if(res.code == 0) {
                  console.log('created');
                  console.log(res);
                  console.log(app.tableData);
                  app.tableData = res;
                  console.log(app.tableData)
                } else {
                  console.log(res)
                }
              }
          });
        },
        methods: {
          searchData: function() {
            app.getDataList();
//          $.ajax({
//            type: "get",
//            url: '/restapi/investlogs/?page=1&pageSize=' + app.pageSize +'&audit_state=0' + app.searchKeys,
//            async: true,
//            success: function(res) {
//              console.log(res);
//              if(res.code == 0) {
//                app.tableData = res;
//              } else {
//                console.log(res)
//              }
//            }
//          });
          },
          handleSelectionChange: function(val) {
            app.checkIdList = '';
//          app.amountSelect = 0;
            console.log(val);
            if (val.length) {
              for (let i = 0; i < val.length; i++) {
                app.checkIdList += val[i].id + ','
//              if (val[i].return_amount) {
//              	app.amountSelect += parseFloat(val[i].return_amount);
//              }
              }
              app.checkIdList = app.checkIdList.slice(0,app.checkIdList.length-1);
              console.log(app.checkIdList);
            } else {
              app.checkIdList = '';
              console.log(app.checkIdList);
            }
            this.multipleSelection = val;
          },
          handleCurrentChange: function (val) {
            console.log(app.searchKeys);
            console.log(app.stateValue);
            app.currentPage = val;
            app.getDataList();
//          $.ajax({
//            type: "get",
//            url: '/restapi/investlogs/?page='+ app.currentPage + '&pageSize=' + app.pageSize +'&audit_state=0' + app.searchKeys,
//            async: true,
//            success: function(res) {
//              console.log(res);
//              if(res.code == 0) {
//                app.tableData = res;
//              } else {
//                console.log(res)
//              }
//            }
//          });
          },
          edit: function(row) {
            console.log(row);
            app.dialogData.id = row.id;
            app.dialogData.return_amount = row.return_amount;
            app.dialogData.zhifubao = row.zhifubao;
            app.dialogData.zhifubao_name = row.zhifubao_name;
            app.dialogEditVisible = true;
          },
          editConfirm: function() {
            console.log(app.dialogData)
            $.ajax({
              type: "put",
              url: '/restapi/investlogs/' + app.dialogData.id + '/',
              data: {
                return_amount: app.dialogData.return_amount,
                zhifubao: app.dialogData.zhifubao,
                zhifubao_name: app.dialogData.zhifubao_name
              },
              async: true,
              success: function(res) {
                app.dialogEditVisible = false;
                app.getDataList();
              }
            });
          },
          badgeSelect: function(state) {
            var that = this;
            if (!app.checkIdList) {
                this.$notify.error({
                  title: '错误',
                  message: '请先选择要操作的数据'
                });
                return false;
            }
//          console.log(app.amountSelect)
            this.$alert('请确认是否一键标记所选数据？', '温馨提示', {
              confirmButtonText: '确定',
              callback: function(action) {
                console.log(action);
                if (action == 'confirm') {
                	$.ajax({
                    type: "post",
                    url: '/finance/mark_pay_state/',
                    data: {
                      state: state,
                      ids: app.checkIdList
                    },
                    async: true,
                    success: function(res) {
                      console.log(res);
                      if(res.code == 0) {
                        app.getDataList();
                      } else {
//                      that.$message.error(res.detail);
                        that.$notify.error({
                          title: '错误',
                          message: res.detail
                        });
                      }
                    }
                  });
                }
              }
            });
          },
          transferSelect: function() {
            var that = this;
            console.log(app.checkIdList)
//          console.log(app.amountSelect)
            if (!app.checkIdList) {
                this.$notify.error({
                  title: '错误',
                  message: '请先选择要操作的数据'
                });
                return false;
            }
            $.ajax({
              type: "post",
              url: '/finance/check_transfer/',
              async: true,
              data: {
                ids: app.checkIdList
              },
              success: function(res) {
                console.log(res);
                if(res.code == 0) {
                  that.$alert('共转账 '+ res.total + ' 元，余额 '+ res.balance + ' 元', '温馨提示', {
                    confirmButtonText: '确定',
                    callback: function(action) {
                      console.log(action);
                      if (action == 'confirm') {
                        $.ajax({
                          type: "post",
                          url: '/finance/submit_transfer/',
                          async: true,
                          data: {
                            ids: app.checkIdList
                          },
                          success: function(res) {
                            if(res.code == 0) {
                              that.$notify({
                                title: '操作成功',
                                message: '成功数量：' + res.suc_num + '，失败数量：' + res.fail_num,
                                type: 'success'
                              });
                              app.getDataList();
                            } else {
                              that.$notify.error({
                                title: '错误',
                                message: res.detail
                              });
                            }
                          }
                        });
                      }
                    }
                  });
                } else {
                  that.$notify.error({
                    title: '错误',
                    message: res.detail
                  });
                }
              }
            });
            
          },
//        amountComfirm: function() {
//          $.ajax({
//            type: "get",
//            url: '/restapi/investlogs/?page='+ val + '&pageSize=' + app.pageSize +'&audit_state=0' + app.searchKeys,
//            async: true,
//            success: function(res) {
//              console.log(res);
//              if(res.code == 0) {
//                app.tableData = res;
//              } else {
//                console.log(res)
//              }
//            }
//          });
//        },
          beforeAvatarUpload: function (file) {
            console.log(file)
            this.$message('正在上传...')
          },
          handleAvatarSuccess: function(res, file) {
            var that = this;
            console.log(res);
            if (res.code == 0) {
            	that.$notify({
                title: '上传成功',
                message: '成功数量：' + res.suc_num + '，失败数量：' + res.fail_num,
                type: 'success'
              });
              app.getDataList();
            } else{
            	that.$notify.error({
                title: '错误',
                message: res.msg
              });
            }
          },
          handleAvatarError: function(res, file) {
            var that = this;
            that.$notify.error({
              title: '错误',
              message: '上传失败'
            });
          },
          exportExel: function() {
              var html = '<form action="'+"/finance/export_investlog/"+'" method="get" target="_self" id="postData_form">';
              html += '<input name="audit_state" type="hidden" value="0"/>';
              if (app.dateValue == 7) {
                var startTime = app.getDate(0);
                var endTime = app.getDate(7);
              } else if (app.dateValue == 30){
                var startTime = app.getDate(0);
                var endTime = app.getDate(30);
              } else {
                var startTime = '';
                var endTime = '';
              }
              
              if(startTime && endTime){
               html += '<input name="auditdate_0" type="hidden" value="'+ startTime + '"/>';
               html += '<input name="auditdate_1" type="hidden" value="'+ endTime + '"/>';
             }
             var pay_state = app.stateValue;
             var invest_mobile = app.telValue;
             var zhifubao = app.zfbValue;
             console.log(pay_state);
             if(pay_state){
               html += '<input name="pay_state" type="hidden" value="'+ pay_state + '"/>';
             }
             if(invest_mobile){
               html += '<input name="invest_mobile" type="hidden" value="'+ invest_mobile + '"/>';
             }
             if(zhifubao){
               html += '<input name="zhifubao" type="hidden" value="'+ zhifubao + '"/>';
             }
             html += '</form>';
             var iframe = document.getElementById('myIFrame');
             iframe.contentWindow.document.open();
             iframe.contentWindow.document.write(html);
             iframe.contentWindow.document.close();
             document.getElementById('myIFrame').contentWindow.document.getElementById('postData_form').submit();
          },
          getDataList: function() {
            var that = this;
            $.ajax({
                type: "get",
                url: '/restapi/investlogs/?page='+ app.currentPage + '&pageSize=' + app.pageSize +'&audit_state=0' + app.searchKeys ,
                async: true,
                success: function(res) {
                  console.log(res);
                  if(res.code == 0) {
                    console.log(app.tableData);
                    app.tableData = res;
                    console.log(app.tableData)
                  } else {
                    that.$notify.error({
                      title: '错误',
                      message: res.detail
                    });
                  }
                }
            });
          },
          getDate: function (AddDayCount) {     
             var dd = new Date();    
             dd.setDate(dd.getDate()+AddDayCount);//获取AddDayCount天后的日期    
             var y = dd.getFullYear();     
             var m = (dd.getMonth()+1)<10?"0"+(dd.getMonth()+1):(dd.getMonth()+1);//获取当前月份的日期，不足10补0    
             var d = dd.getDate()<10?"0"+dd.getDate():dd.getDate();//获取当前几号，不足10补0    
             return y+"-"+m+"-"+d;     
          }
        },
        computed: {
          searchKeys: function() {
            var auditdate_0;
            var auditdate_1;
            if (app.dateValue == 7) {
            	auditdate_0 = app.getDate(-7);
              auditdate_1 = app.getDate(0);
            } else if (app.dateValue == 30){
            	auditdate_0 = app.getDate(-30);
              auditdate_1 = app.getDate(0);
            } else {
              auditdate_0 = '';
              auditdate_1 = '';
            }
            return '&pay_state='+ app.stateValue + '&invest_mobile='+ app.telValue + '&zhifubao='+ app.zfbValue + '&auditdate_0='+ auditdate_0 + '&auditdate_1='+ auditdate_1;
          }
        }
      })
    </script>
  </body>

</html>