{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>用户中心</title>
<link href="{% static 'images/favicon.ico'%}" rel="shortcut icon"/>
<!--<link rel="stylesheet" type="text/css" href="{% static 'css/User.css' %}" />-->
<link rel="stylesheet" type="text/css" href="{% static 'css/wfl-common.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/account-base.css' %}" />
<!--<link rel="stylesheet" type="text/css" href="{% static 'css/style-i.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />-->

<script type="text/javascript" src="{% static "js/jquery-1.11.2.min.js" %}"></script>
<script type="text/javascript" src="{%static 'js/echarts.common.min.js'%}"></script>
<!--<script type="text/javascript" src="{% static "js/ZeroClipboard.js" %}"></script>-->
<script type="text/javascript" src="{% static 'js/clipboard.min.js' %}"></script>
<script type="text/javascript">
$(function(){
	$('.back-a1').toggleClass("on");
    var clipboard = new Clipboard('#copy');
    
    clipboard.on('success', function(e) {
        console.log(e);
    });
    
    clipboard.on('error', function(e) {
        console.log(e);
    });
//  图表部分
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));
    var data_x = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31];
    // 指定图表的配置项和数据
    var option = {
        title: {
            text: 'ECharts 入门示例'
        },
        tooltip: {},
        legend: {
            data:['销量']
        },
        xAxis: {
//          data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
            data: data_x
        },
        yAxis: {},
        series: [{
            name: '销量',
            type: 'bar',
            barWidth: 20,
            grid:{
                x:0,
                y:0,
                x2:0,
                y2:0
            },
            data: [50, 300, 360, 100, 100, 200, 200, 306, 100, 100, 220, 80, 50, 230, 90, 40, 170, 40, 110, 320, 360, 50, 220, 250,280,90,76,110,365,220,250]
        }]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
//  图表部分---end
});
</script>
</head>

<body>
    	<!--头部-->
{% include "header.html" %}
   	<!--内容-->
<div class="Content">
   	<!--<div class="w1100">-->
			{% include "account/left.html" %}
            <div class="RightCont">
               <div class="Bala-l">
                <span>累计收益(福币)</span>
                  <strong>{{user.accu_income}}</strong>
              </div>
               <form>
                <input id="url-content" type="text" value="http://www.wafuli.cn{%url 'register' %}?icode={{user.invite_code}}" />
                  <input id="copy" type="button" value="点击复制" data-clipboard-target="#url-content" />
              </form>
                
                
                <div id="main" style="width: 600px;height:400px;"></div>
            </div>
</div>
</body>
</html>
