{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>用户中心</title>
<link href="{% static 'images/favicon.ico'%}" rel="shortcut icon"/>
<!--<link rel="stylesheet" type="text/css" href="{% static 'css/User.css' %}" />-->
<link rel="stylesheet" type="text/css" href="{% static 'css/wfl-common.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/account-base.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/account-myproject.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/wfl-page.css' %}" />
<script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/page.js' %}"></script>
<script type="text/javascript" src="{% static 'js/wfl-common.js' %}"></script>
<script type="text/javascript" src="{% static 'js/wfl-popup.js' %}"></script>
<script type="text/javascript" src="{% static 'js/wfl-tab.js' %}"></script>
<script type="text/javascript" >
$.ajaxSetup({
    data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
});
var data = '<table width="100%"><thead><tr><th>项目名称</th>'+
    '<th>客户指导价</th><th>标期</th><th>投资区间</th><th>预计年化</th><th width="14%">是否主页呈现</th><th width="14%">是否推荐</th><th>操作</th></tr></thead><tbody>'+
    '[results]<tr><td>{project_title}</td><td data-price="{project_cprice}" class="price">{price}</td><td>{project_term}</td>'+
    '<td>{project_investrange}</td><td data-intrest="{project_intrest}" class="intrest">{intrest}</td><td><span data-isadd="{is_on}" class="home switch {is_on}" onclick="isadd(this,{id})"></span></td>'+
    '<td><span data-isadd="{is_recommend}" class="recom switch {is_recommend}" onclick="isRecommend(this,{id})"></span></td>'+
    '<td><a data-isofficial="{project_is_official}" data-marks="{marks}" class="edit" onclick="edit(this, {id}, {project})">编辑</a></td></tr>[/results]'
    + '</tbody></table>';
var data2 = '<table width="100%"><thead><tr><th>项目名称</th><th>项目来源</th>'+
    '<th>客户指导价</th><th>标期</th><th>投资区间</th><th>预计年化</th><th width="14%">是否主页呈现</th><th width="14%">是否推荐</th><th>操作</th></tr></thead><tbody>'+
    '[results]<tr><td>{project_title}</td><td>{project_channel}</td><td data-price="{project_cprice}" class="price">{price}</td><td>{project_term}</td>'+
    '<td>{project_investrange}</td><td data-intrest="{project_intrest}" class="intrest">{intrest}</td><td><span data-isadd="{is_on}" class="home switch {is_on}" onclick="isadd(this,{id})"></span></td>'+
    '<td><span data-isadd="{is_recommend}" class="recom switch {is_recommend}" onclick="isRecommend(this,{id})"></span></td>'+
    '<td><a class="edit" href="/account/project_add/{project}/">编辑</a>'+
    ' | <a class="edit" class="edit" onclick="del(this, {id}, {project})">删除</a></td></tr>[/results]'
    + '</tbody></table>';
var url = "/restapi/sub/?page={page}&pageSize={pageSize}&ordering=project__state,-is_on";
//function pop(n){
//	$("#coupon_id").val(n);
//	$(".Password-modify").css("display","block");
//}
//function emptydisplay(obj){
//	pic_url = "{%static 'images/picin.png' %}";
//	obj.html('<div class="Defa-in"><img src="' + pic_url + '">'+
//			'<h2>咦~~ 您还没有相关记录~~</h2></div>');
//}
function pagecallback() {
    $('.price').each(function() {
        if ($(this).text() == "") {
        	$(this).text($(this).data('price'));
        }
    })
    $('.intrest').each(function() {
        if ($(this).text() == "") {
            $(this).text($(this).data('intrest'));
        }
    })
//  $('.project_source').each(function() {
//      if ($(this).text() == "True") {
//          $(this).text('官方');
//      }else {
//          $(this).text('自建');
//      }
//  })
    
}
function isadd(obj,id) {        //是否主页显示调用函数
    var flag = $(obj).data('isadd');
    console.log(flag)
    if (flag == true) {
        $.ajax({
            url: '/restapi/sub/' + id + '/',
            dataType: "json",
            type:"put",
            data: {
                'is_on': false
            },
            success: function(ret) {
                console.log('关闭');
                $(obj).data('isadd', false);
                $(obj).removeClass('true').addClass('false');
                
                $.ajax({
                    url: '/restapi/sub/' + id + '/',
                    dataType: "json",
                    type:"put",
                    data: {
                        'is_recommend': false
                    },
                    success: function(ret) {
                        console.log('关闭');
                        $(obj).parent().parent().find('.recom').data('isadd', false);
                        $(obj).parent().parent().find('.recom').removeClass('true').addClass('false');
                    },
                    error: function() {
                        alert("请检查网络连接");
                    }
                });
            },
            error: function() {
                alert("请检查网络连接");
            }
        });
        
    } else{
        $.ajax({
            url: '/restapi/sub/' + id + '/',
            dataType: "json",
            type:"put",
            data: {
                'is_on': true
            },
            success: function(ret) {
                console.log('开启');
                $(obj).data('isadd', true);
                $(obj).removeClass('false').addClass('true');
            },
            error: function() {
                alert("请检查网络连接");
            }
        });
        
    }
}
function isRecommend(obj,id) {        //是否推荐调用函数
    var flag = $(obj).data('isadd');
    console.log(flag)
    if (flag == true) {
        $.ajax({
            url: '/restapi/sub/' + id + '/',
            dataType: "json",
            type:"put",
            data: {
                'is_recommend': false
            },
            success: function(ret) {
                console.log('关闭');
                $(obj).data('isadd', false);
                $(obj).removeClass('true').addClass('false');
            },
            error: function() {
                alert("请检查网络连接");
            }
        });
        
    } else{
        var isHomePage = $(obj).parent().parent().find('.home').data('isadd');
        if (isHomePage == true) {
            $.ajax({
                url: '/restapi/sub/' + id + '/',
                dataType: "json",
                type:"put",
                data: {
                    'is_recommend': true
                },
                success: function(ret) {
                    console.log('开启');
                    $(obj).data('isadd', true);
                    $(obj).removeClass('false').addClass('true');
                },
                error: function() {
                    alert("请检查网络连接");
                }
            });
        }
        
    }
}
var project_souse;
var project_id;
var parent_dom;
var mark_list;
function edit(obj, id, project) {     //编辑调用函数
    $('.mark-box2').html($('.mark-box').html());
//  console.log(project_type);
    project_souse = project;
//  console.log(project);
    project_id = id;
    parent_dom = $(obj).parent().parent();
    console.log(project_id);
//  var project_type = $(obj).data('isofficial');
//  var marks = $(obj).data('marks');
    
    $.ajax({
        url: '/restapi/sub/' + project_id + '/',
        dataType: "json",
        type:"get",
        success: function(ret) {
            
            if (!ret.introduction) {
                $('#edit_detail').val(ret.project_intro);
            } else{
            	$('#edit_detail').val(ret.introduction);
            }
            if (!ret.price) {
                $('#edit_price').val(ret.project_cprice);
            } else{
                $('#edit_price').val(ret.price);
            }
            if (!ret.shortprice) {
                $('#shortprice').val(ret.project_shortprice);
            } else{
                $('#shortprice').val(ret.shortprice);
            }
            if (!ret.intrest) {
                $('#edit_intrest').val(ret.project_intrest);
            } else{
                $('#edit_intrest').val(ret.intrest);
            }
            mark_list = ret.marks;
            console.log(mark_list);
            $('.mark-box2 .mark-name').each(function(){
                var i;
                for (i in mark_list) {
                    if ($(this).text() == mark_list[i]) {
                        $(this).parent().addClass('on');
                    }
                }
            })
            
            $('.popup.m-edit-proj').addClass('in');
            
        },
        error: function() {
            alert("请检查网络连接");
        }
    });
}
var del_sub_id = '';
var del_proj_id = '';
var del_proj_dom;
function del(obj, id, project) {
    del_sub_id = id;
    del_proj_id = project;
    del_proj_dom = $(obj).parent().parent();
    $('.popup.m-del-proj').addClass('in');
}
$(function(){
	$('.back-a3').toggleClass("on");
//	$(".None-p button").click(function(){
//		$(".Password-modify").css("display","none");
//	});
    $.ajax({        //获取标签数据
        url: "/restapi/marks/",
        dataType: "json",
        type: 'get',
        success: function(ret) {
            console.log(ret.results);
            var mark_detail = '';
            for (var i=0; i<ret.results.length; i++) {
            	mark_detail += '<li data-id="'+ ret.results[i].id +'" class="mark"><span class="mark-name">'+ ret.results[i].name +'</span><span class="mark__del">x<span></li>'
            }
            $('.mark-box').html(mark_detail);
            
        },
        error: function(jqXHR, textStatus, errorThrown) {
            console.log(jqXHR.responseText);
            alert("数据错误");
        }
    });
    var mark_id;
    var del_dom;
    $('.mark-box').on('click', '.mark__del', function(){        //监听删除标签按钮
        del_dom = $(this).parent();
        mark_id = $(this).parent().data('id');
        console.log(mark_id);
        $('.popup.m-del-mark').addClass('in');
    })
    $('#del_mark').click(function(){        //确认删除标签
        $.ajax({        //获取标签数据
            url: "/restapi/marks/" + mark_id +'/',
            dataType: "json",
            type: 'delete',
            success: function(ret) {
                alert('操作成功');
                del_dom.remove();
                $('.popup.m-del-mark').removeClass('in');
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR.responseText);
                alert("数据错误");
            }
        });
    })
    $('.mark-box2').on('click', '.mark', function(){        //选择标签
        if ($('.mark.on').length >= 3 && !$(this).hasClass('on')) {
            alert('每个项目最多选择三个标签');
        } else {
            $(this).toggleClass('on');
        }
    })
    $('.add-mark').click(function(){        //新建标签
        if ($('.mark-box .mark').length >= 7) {
            alert('最多允许新建7个标签')
        } else {
            $('.popup.m-add-mark').addClass('in');
        }
    })
    $('#add_mark').click(function(){
        var markname = $('#markname').val();
        if (!markname) {
            alert('标签内容不能为空');
            return;
        }
        $.ajax({        //获取标签数据
            url: "/restapi/marks/",
            dataType: "json",
            type: 'post',
            data: {
                'user': {{user.id}},
                'name': markname
            },
            success: function(ret) {
                alert('操作成功');
                $('.popup.m-add-mark').removeClass('in');
                history.go(0);
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR.responseText);
                alert("数据错误");
            }
        });
    })
    $('#del_proj').click(function(){        //确认删除项目
        console.log(del_proj_id + ',' + del_sub_id);
        $.ajax({        
            url: "/account/delete_selfproject/" + del_proj_id +'/',
            dataType: "json",
            type: 'post',
            success: function(ret) {
                alert('操作成功');
                $('.popup.m-del-proj').removeClass('in');
                del_proj_dom.remove();
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR.responseText);
                alert("数据错误");
            }
        });
    })
    
    $('.project-box').tab({
        tabActiveClass: 'on',
        tabType: 'click '
    });
    $('.navitem').click(function(){
        console.log($(this).index());
        if ($(this).index() == 0) {
        	$("#pagedata").ajaxPage({
                url:url + '&is_official=2',
                pageId:$("#page"),
                pageSize:10,
                run:true,
                content:data,
                complete:pagecallback,
            });     
        } else if ($(this).index() == 1){
        	$("#pagedata2").ajaxPage({
                url:url + '&is_official=3',
                pageId:$("#page2"),
                pageSize:10,
                run:true,
                content:data2,
                complete:pagecallback,
            });
        }
    })
    
    var page_url = window.location.href;
    console.log(page_url.substr(page_url.length-1,1));
    if (page_url.substr(page_url.length-1,1) == 2) {
        $('.navitem').eq(1).click();
    }

	$("#pagedata").ajaxPage({
        url:url + '&is_official=2',
        pageId:$("#page"),
        pageSize:10,
        run:true,
        content:data,
        complete:pagecallback,
    });
    $('.search_office').click(function(){
        var search_key = $('.search_office_txt').val();
        $("#pagedata").ajaxPage({
            url:url + '&is_official=2&project_title_contains=' + search_key,
            pageId:$("#page"),
            pageSize:10,
            run:true,
            content:data,
            complete:pagecallback,
        });
    })
    $('.search_office_txt').on('keypress',function(e){
        if(e.keyCode == 13) {
            var search_key = $('.search_office_txt').val();
            $("#pagedata").ajaxPage({
                url:url + '&is_official=2&project_title_contains=' + search_key,
                pageId:$("#page"),
                pageSize:10,
                run:true,
                content:data,
                complete:pagecallback,
            });
        }
    });
    $('.search_private').click(function(){
        var search_key = $('.search_private_txt').val();
        $("#pagedata2").ajaxPage({
            url:url + '&is_official=3&project_title_contains=' + search_key,
            pageId:$("#page2"),
            pageSize:10,
            run:true,
            content:data2,
            complete:pagecallback,
        });
    })
    $('.search_private_txt').on('keypress',function(e){
        if(e.keyCode == 13) {
            var search_key = $('.search_private_txt').val();
            $("#pagedata2").ajaxPage({
                url:url + '&is_official=3&project_title_contains=' + search_key,
                pageId:$("#page2"),
                pageSize:10,
                run:true,
                content:data2,
                complete:pagecallback,
            });
        }
    });
    
//  $('.create-project').click(function(){      //新建项目调用函数
//      $('#crt_name').val('');
//      $('#crt_link').val('');
//      $('#crt_detail').val('');
//      $('#crt_price').val('');
//      $('#crt_term').val('');
//      $('#crt_range').val('');
//      $('#crt_intrest').val('');
//      $('.popup.m-create-proj').addClass('in');
//      
//  })
        
    
    $('#edit_confirm').click(function(){     //确认修改官方项目
        var edit_detail = $('#edit_detail').val(),
            edit_price = $('#edit_price').val(),
            shortprice = $('#shortprice').val(),
            edit_intrest = $('#edit_intrest').val();
        var mark_str = '';
        
        $('.mark.on').each(function(){
            mark_str += $(this).data('id') + ',';
        })
        if (!edit_detail || !edit_price || !shortprice || !edit_intrest) {
            alert('填写项不能为空');
            return;
        }
        console.log(' project_id=' + project_id +' edit_detail=' + edit_detail +' edit_price=' + edit_price +' shortprice=' + shortprice);
        $.ajax({
            url: '/account/update_offiproject/' + project_id + '/',
            dataType: "json",
            type: 'post',
            data: {
                'introduction': edit_detail,
                'price': edit_price,
                'shortprice': shortprice,
                'intrest': edit_intrest,
                'marks': mark_str
            },
            success: function(ret) {
                $.prompt({
                    Content: '编辑成功'
                })
                parent_dom.find('td').eq(2).text(edit_price);
                parent_dom.find('td').eq(5).text(edit_intrest);
                $('.popup.m-edit-proj').removeClass('in');
            },
            error: function() {
                alert("请检查网络连接");
            }
        });
    })
   

});
</script>
</head>

<body>
    	<!--头部-->
    	{% include "header.html" %}
    	<!--内容-->
    	<div class="Content">
        	{% include "account/left.html" %}
            <div class="RightCont">
                <div class="project-box">
                    <ul class="myproj-nav-box">
                    	<li class="navitem on myproj-nav">官方项目</li>
                    	<li class="navitem myproj-nav">自建项目</li>
                    </ul>
                    <div class="edit_marks clearfix">
                        <h4 class="l">项目标签（限7个）：</h4>
                        <ul class="mark-box l">
                        </ul>
                        <span class="add-mark l">添加标签</span>
                    </div>
                    <div>
                        <div class="table conitem" style="display: block;">
                            <div class="handle-box clearfix">
                                <!--<a class="create-project link r">新建项目</a>-->
                                <div class="search l">
                                    <input class="search__txt search_office_txt" type="text" />
                                    <input class="search__submit search_office" value="" type="submit" />
                                </div>
                                <a href="{% url 'project_all' %}" target="_blank" class="look-projects link r">查看项目库</a>
                            </div>
                            <div id="pagedata">
                            </div>
                            <div class="changes-p">
                                <div class="page" id="page">
                                </div>
                            </div>
                        </div>
                        <div class="table conitem">
                            <div class="handle-box clearfix">
                                <div class="search l">
                                    <input class="search__txt search_private_txt" type="text" />
                                    <input class="search__submit search_private" value="" type="submit" />
                                </div>
                                <a href="{% url 'project_add' %}" class="create-project link r">新建项目</a>
                            </div>
                            <div id="pagedata2">
                            </div>
                            <div class="changes-p">
                                <div class="page" id="page2">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

<div class="popup m-edit-proj">
    <div class="popup__content" style="width: 600px;">
        <div class="popup__top">
            <h2 class="popup__title">编辑官方项目</h2><button type="button" class="popup__close popup__close-btn" onclick="canclePopup(this)">×</button>
        </div>
        <div class="popup__detail">
            <div class="popup__item"><span class="popup__itemname">项目简介</span><input id="edit_detail" type="text" /></div>
            <div class="popup__item"><span class="popup__itemname">详情页价格</span><input id="edit_price" type="text" maxlength="40" placeholder="限40个字符" /></div>
            <div class="popup__item"><span class="popup__itemname">主页价格</span><input id="shortprice" type="text" maxlength="12" placeholder="例：投一万返两千；限12个字符" /></div>
            <div class="popup__item"><span class="popup__itemname">预计年化</span><input id="edit_intrest" type="text" /></div>
            <div class="popup__item clearfix">
                <span style="width: 200px;" class="popup__itemname l">项目标签（最多选择三个）：</span>               
                <div class="mark-box2 l"></div>
            </div>
        </div>
        <div class="popup__btnbox">
            <a id="edit_confirm" class="btn m-green m-popup popup-confirm popup__close-btn">确认</a>
        </div>
    </div>
</div>
<!--<div class="popup m-edit-proj-02">
    <div class="popup__content" style="width: 600px;">
        <div class="popup__top">
            <h2 class="popup__title">编辑自建项目</h2><button type="button" class="popup__close popup__close-btn" onclick="canclePopup(this)">×</button>
        </div>
        <div class="popup__detail">
            <div class="popup__item"><span class="popup__itemname">攻略链接</span><input id="edit_link_02" type="text" /></div>
            <div class="popup__item"><span class="popup__itemname">项目简介</span><input id="edit_detail_02" type="text" /></div>
            <div class="popup__item"><span class="popup__itemname">价格</span><input id="edit_price_02" type="text" /></div>
            <div class="popup__item"><span class="popup__itemname">标期</span><input id="edit_term_02" type="text" /></div>
            <div class="popup__item"><span class="popup__itemname">投资区间</span><input id="edit_range_02" type="text" /></div>
            <div class="popup__item"><span class="popup__itemname">预计年化</span><input id="edit_intrest_02" type="text" /></div>
        </div>
        <div class="popup__btnbox">
            <a id="edit_confirm_02" class="btn m-green m-popup popup-confirm popup__close-btn">确认</a>
        </div>
    </div>
</div>-->
<!--<div class="popup m-create-proj">
    <div class="popup__content" style="width: 600px;">
        <div class="popup__top">
            <h2 class="popup__title">新建项目</h2><button type="button" class="popup__close popup__close-btn" onclick="canclePopup(this)">×</button>
        </div>
        <div class="popup__detail">
            <div class="popup__item"><span class="popup__itemname">项目名称</span><input id="crt_name" type="text" /></div>
            <div class="popup__item"><span class="popup__itemname">攻略链接</span><input id="crt_link" type="text" />
                <p class="link-tip"><a class="link-btn" target="_blank" href="https://shimo.im/">点击</a>使用石墨创建工具</p>
            </div>
            <div class="popup__item"><span class="popup__itemname">项目简介</span><input id="crt_detail" type="text" /></div>
            <div class="popup__item"><span class="popup__itemname">价格</span><input id="crt_price" type="text" /></div>
            <div class="popup__item"><span class="popup__itemname">标期</span><input id="crt_term" type="text" /></div>
            <div class="popup__item"><span class="popup__itemname">投资区间</span><input id="crt_range" type="text" /></div>
            <div class="popup__item"><span class="popup__itemname">预计年化</span><input id="crt_intrest" type="text" /></div>
        </div>
        <div class="popup__btnbox">
            <a id="crt_confirm" class="btn m-green m-popup popup-confirm popup__close-btn">确认</a>
        </div>
    </div>
</div>-->
<div class="popup m-del-mark">
    <div class="popup__content" style="width: 600px;">
        <div class="popup__top">
            <h2 class="popup__title">删除标签</h2><button type="button" class="popup__close popup__close-btn" onclick="canclePopup(this)">×</button>
        </div>
        <div class="popup__detail">
                        确认删除该标签？
        </div>
        <div class="popup__btnbox">
            <a class="btn m-green m-popup m-right" onclick="canclePopup(this)">取消</a>
            <a id="del_mark" class="btn m-green m-popup popup-confirm">确认</a>
        </div>
    </div>
</div>
<div class="popup m-add-mark">
    <div class="popup__content" style="width: 600px;">
        <div class="popup__top">
            <h2 class="popup__title">添加标签</h2><button type="button" class="popup__close popup__close-btn" onclick="canclePopup(this)">×</button>
        </div>
        <div class="popup__detail">
            <div class="popup__item"><span class="popup__itemname">标签名称</span><input id="markname" type="text" maxlength="4" placeholder="限4个字符长度" /></div>
        </div>
        <div class="popup__btnbox">
            <a class="btn m-green m-popup m-right" onclick="canclePopup(this)">取消</a>
            <a id="add_mark" class="btn m-green m-popup popup-confirm">确认</a>
        </div>
    </div>
</div>
<div class="popup m-del-proj">
    <div class="popup__content" style="width: 600px;">
        <div class="popup__top">
            <h2 class="popup__title">删除项目</h2><button type="button" class="popup__close popup__close-btn" onclick="canclePopup(this)">×</button>
        </div>
        <div class="popup__detail">
                        确认删除该项目？
        </div>
        <div class="popup__btnbox">
            <a class="btn m-green m-popup m-right" onclick="canclePopup(this)">取消</a>
            <a id="del_proj" class="btn m-green m-popup popup-confirm">确认</a>
        </div>
    </div>
</div>
<div style="clear: both;"></div>
</div>
{% include "footer.html" %}
</body>
</html>
