{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>用户中心</title>
<link href="{% static 'images/favicon.ico'%}" rel="shortcut icon"/>
<!--<link rel="stylesheet" type="text/css" href="{% static 'css/User.css' %}" />-->
<link rel="stylesheet" type="text/css" href="{% static 'css/wfl-common.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/account-base.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/wfl-page.css' %}" />
<script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/page.js' %}"></script>
<script type="text/javascript" src="{% static 'js/wfl-common.js' %}"></script>
<script type="text/javascript" src="{% static 'js/wfl-popup.js' %}"></script>
<script type="text/javascript" src="{% static 'js/wfl-tab.js' %}"></script>
<style type="text/css">
    .edit_marks {
        line-height: 30px;
    }
    .add-mark {
        margin-left: 30px;
        text-decoration: underline;
        cursor: pointer;
    }
	.mark-box {
	    font-size: 0;
	}
	.mark {
	    position: relative;
	    display: inline-block;
	    margin: 4px 8px;
	    padding: 5px 6px;
	    font-size: 12px;
	    line-height: 1;
	    border-radius: 4px;
	    color: #fff;
	    background-color: #ffbe00;
	}
	.mark__del {
	    position: absolute;
	    top: -5px;
        right: -5px;
        width: 16px;
        height: 16px;
        text-align: center;
        line-height: 16px;
        border-radius: 50%;
        background-color: rgba(0,0,0,0.3);
        cursor: pointer;
	}
	.mark-box2 .mark__del {
	    display: none;
	}
	.mark-box2 .mark {
	    border: 1px solid #ffbe00;
	    background-color: #fff;
	    color: #ffbe00;
	    cursor: pointer;
	}
	.mark-box2 .mark.on {
	    background-color: #ffbe00;
	    color: #fff;
	}
</style>
<script type="text/javascript" >
$.ajaxSetup({
    data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
});
var data = '<table width="100%"><thead><tr><th>项目名称</th><th>项目来源</th>'+
    '<th>客户指导价</th><th>标期</th><th>投资区间</th><th>预计年化</th><th width="14%">是否主页呈现</th><th width="14%">是否推荐</th><th>操作</th></tr></thead><tbody>'+
    '[results]<tr><td>{project_title}</td><td class="project_source">{project_source}</td><td data-price="{project_cprice}" class="price">{price}</td><td>{project_term}</td>'+
    '<td>{project_investrange}</td><td data-intrest="{project_intrest}" class="intrest">{intrest}</td><td><span data-isadd="{is_on}" class="home switch {is_on}" onclick="isadd(this,{id})"></span></td>'+
    '<td><span data-isadd="{is_recommend}" class="recom switch {is_recommend}" onclick="isRecommend(this,{id})"></span></td>'+
    '<td data-isofficial="{project_is_official}" data-marks="{marks}" class="edit" onclick="edit(this, {id}, {project})">编辑</td></tr>[/results]'
    + '</tbody></table>';
var data2 = '<table width="100%"><thead><tr><th>项目名称</th><th>项目来源</th>'+
    '<th>客户指导价</th><th>标期</th><th>投资区间</th><th>预计年化</th><th width="14%">是否主页呈现</th><th width="14%">是否推荐</th><th>操作</th></tr></thead><tbody>'+
    '[results]<tr><td>{project_title}</td><td class="project_source">{project_source}</td><td data-price="{project_cprice}" class="price">{price}</td><td>{project_term}</td>'+
    '<td>{project_investrange}</td><td data-intrest="{project_intrest}" class="intrest">{intrest}</td><td><span data-isadd="{is_on}" class="home switch {is_on}" onclick="isadd(this,{id})"></span></td>'+
    '<td><span data-isadd="{is_recommend}" class="recom switch {is_recommend}" onclick="isRecommend(this,{id})"></span></td>'+
    '<td data-isofficial="{project_is_official}" class="edit"><a href="/account/project_add/{project}">编辑</a></td></tr>[/results]'
    + '</tbody></table>';
var url = "/restapi/sub/?page={page}&pageSize={pageSize}";
//function pop(n){
//	$("#coupon_id").val(n);
//	$(".Password-modify").css("display","block");
//}
//function emptydisplay(obj){
//	pic_url = "{%static 'images/picin.png' %}";
//	obj.html('<div class="Defa-in"><img src="' + pic_url + '">'+
//			'<h2>咦~~ 您还没有相关记录~~</h2></div>');
//}
function pagecallback() {
    $('.price').each(function() {
        if ($(this).text() == "") {
        	$(this).text($(this).data('price'));
        }
    })
    $('.intrest').each(function() {
        if ($(this).text() == "") {
            $(this).text($(this).data('intrest'));
        }
    })
    $('.project_source').each(function() {
        if ($(this).text() == "True") {
            $(this).text('官方');
        }else {
            $(this).text('自建');
        }
    })
    
}
function isadd(obj,id) {        //是否主页显示调用函数
    var flag = $(obj).data('isadd');
    console.log(flag)
    if (flag == true) {
        $.ajax({
            url: '/restapi/sub/' + id + '/',
            dataType: "json",
            type:"put",
            data: {
                'is_on': false
            },
            success: function(ret) {
                console.log('关闭');
                $(obj).data('isadd', false);
                $(obj).removeClass('true').addClass('false');
                
                $.ajax({
                    url: '/restapi/sub/' + id + '/',
                    dataType: "json",
                    type:"put",
                    data: {
                        'is_recommend': false
                    },
                    success: function(ret) {
                        console.log('关闭');
                        $(obj).parent().parent().find('.recom').data('isadd', false);
                        $(obj).parent().parent().find('.recom').removeClass('true').addClass('false');
                    },
                    error: function() {
                        alert("请检查网络连接");
                    }
                });
            },
            error: function() {
                alert("请检查网络连接");
            }
        });
        
    } else{
        $.ajax({
            url: '/restapi/sub/' + id + '/',
            dataType: "json",
            type:"put",
            data: {
                'is_on': true
            },
            success: function(ret) {
                console.log('开启');
                $(obj).data('isadd', true);
                $(obj).removeClass('false').addClass('true');
            },
            error: function() {
                alert("请检查网络连接");
            }
        });
        
    }
}
function isRecommend(obj,id) {        //是否推荐调用函数
    var flag = $(obj).data('isadd');
    console.log(flag)
    if (flag == true) {
        $.ajax({
            url: '/restapi/sub/' + id + '/',
            dataType: "json",
            type:"put",
            data: {
                'is_recommend': false
            },
            success: function(ret) {
                console.log('关闭');
                $(obj).data('isadd', false);
                $(obj).removeClass('true').addClass('false');
            },
            error: function() {
                alert("请检查网络连接");
            }
        });
        
    } else{
        var isHomePage = $(obj).parent().parent().find('.home').data('isadd');
        if (isHomePage == true) {
            $.ajax({
                url: '/restapi/sub/' + id + '/',
                dataType: "json",
                type:"put",
                data: {
                    'is_recommend': true
                },
                success: function(ret) {
                    console.log('开启');
                    $(obj).data('isadd', true);
                    $(obj).removeClass('false').addClass('true');
                },
                error: function() {
                    alert("请检查网络连接");
                }
            });
        }
        
    }
}
var project_souse;
var project_id;
var parent_dom;
var mark_list;
function edit(obj, id, project) {     //编辑调用函数
    $('.mark-box2').html($('.mark-box').html());
//  console.log(project_type);
    project_souse = project;
//  console.log(project);
    project_id = id;
    parent_dom = $(obj).parent();
    console.log(project_id);
    var project_type = $(obj).data('isofficial');
//  var marks = $(obj).data('marks');
    
    $.ajax({
        url: '/restapi/sub/' + project_id + '/',
        dataType: "json",
        type:"get",
        success: function(ret) {
            if (project_type == 'True') {
                if (!ret.introduction) {
                    $('#edit_detail').val(ret.project_intro);
                } else{
                	$('#edit_detail').val(ret.introduction);
                }
                if (!ret.price) {
                    $('#edit_price').val(ret.project_cprice);
                } else{
                    $('#edit_price').val(ret.price);
                }
                if (!ret.intrest) {
                    $('#edit_intrest').val(ret.project_intrest);
                } else{
                    $('#edit_intrest').val(ret.intrest);
                }
                mark_list = ret.marks;
                console.log(mark_list);
                $('.mark-box2 .mark-name').each(function(){
                    var i;
                    for (i in mark_list) {
                        if ($(this).text() == mark_list[i]) {
                            $(this).parent().addClass('on');
                        }
                    }
                })
                
                $('.popup.m-edit-proj').addClass('in');
            } else if(project_type == 'False') {
                if (!ret.introduction) {
                    $('#edit_detail_02').val(ret.project_intro);
                } else{
                    $('#edit_detail_02').val(ret.introduction);
                }
                if (!ret.price) {
                    $('#edit_price_02').val(ret.project_cprice);
                } else{
                    $('#edit_price_02').val(ret.price);
                }
                if (!ret.intrest) {
                    $('#edit_intrest_02').val(ret.project_intrest);
                } else{
                    $('#edit_intrest_02').val(ret.intrest);
                }
                
                $('#edit_link_02').val(ret.project_strategy);
//              $('#edit_detail_02').val(ret.introduction);
//              $('#edit_price_02').val(ret.price);
                $('#edit_term_02').val(ret.project_term);
                $('#edit_range_02').val(ret.project_investrange);
//              $('#edit_intrest_02').val(ret.intrest);
                
            	$('.popup.m-edit-proj-02').addClass('in');
            }
        },
        error: function() {
            alert("请检查网络连接");
        }
    });
}
$(function(){
	$('.back-a3').toggleClass("on");
//	$(".None-p button").click(function(){
//		$(".Password-modify").css("display","none");
//	});
    $.ajax({        //获取标签数据
        url: "/restapi/marks/",
        dataType: "json",
        type: 'get',
        success: function(ret) {
            console.log(ret.results);
            var mark_detail = '';
            for (var i=0; i<ret.results.length; i++) {
            	mark_detail += '<li data-id="'+ ret.results[i].id +'" class="mark"><span class="mark-name">'+ ret.results[i].name +'</span><span class="mark__del">x<span></li>'
            }
            $('.mark-box').html(mark_detail);
            
        },
        error: function(jqXHR, textStatus, errorThrown) {
            console.log(jqXHR.responseText);
            alert("数据错误");
        }
    });
    var mark_id;
    var del_dom;
    $('.mark-box').on('click', '.mark__del', function(){        //监听删除标签按钮
        del_dom = $(this).parent();
        mark_id = $(this).parent().data('id');
        console.log(mark_id);
        $('.popup.m-del-mark').addClass('in');
    })
    $('#del_mark').click(function(){        //确认删除标签
        $.ajax({        //获取标签数据
            url: "/restapi/marks/" + mark_id +'/',
            dataType: "json",
            type: 'delete',
            success: function(ret) {
                alert('操作成功');
                del_dom.hide();
                $('.popup.m-del-mark').removeClass('in');
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR.responseText);
                alert("数据错误");
            }
        });
    })
    $('.mark-box2').on('click', '.mark', function(){        //选择标签
        if ($('.mark.on').length >= 3) {
            alert('每个项目最多选择三个标签');
        } else {
            $(this).toggleClass('on');
        }
    })
    $('.add-mark').click(function(){        //新建标签
        $('.popup.m-add-mark').addClass('in');
    })
    $('#add_mark').click(function(){
        var markname = $('#markname').val();
        $.ajax({        //获取标签数据
            url: "/restapi/marks/",
            dataType: "json",
            type: 'post',
            data: {
                'user': {{user.id}},
                'name': markname
            },
            success: function(ret) {
                alert('操作成功');
                $('.popup.m-add-mark').removeClass('in');
                history.go(0);
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR.responseText);
                alert("数据错误");
            }
        });
    })
    
    $('.project-box').tab({
        tabActiveClass: 'on',
        tabType: 'click '
    });
    $('.navitem').click(function(){
        console.log($(this).index());
        if ($(this).index() == 0) {
        	$("#pagedata").ajaxPage({
                url:url + '&is_official=2',
                pageId:$("#page"),
                pageSize:10,
                run:true,
                content:data,
                complete:pagecallback,
            });     
        } else if ($(this).index() == 1){
        	$("#pagedata2").ajaxPage({
                url:url + '&is_official=3',
                pageId:$("#page2"),
                pageSize:10,
                run:true,
                content:data2,
                complete:pagecallback,
            });
        }
    })
    
    var page_url = window.location.href;
    console.log(page_url.substr(page_url.length-1,1));
    if (page_url.substr(page_url.length-1,1) == 2) {
        $('.navitem').eq(1).click();
    }

	$("#pagedata").ajaxPage({
        url:url + '&is_official=2',
        pageId:$("#page"),
        pageSize:10,
        run:true,
        content:data,
        complete:pagecallback,
    });
    
//  $('.create-project').click(function(){      //新建项目调用函数
//      $('#crt_name').val('');
//      $('#crt_link').val('');
//      $('#crt_detail').val('');
//      $('#crt_price').val('');
//      $('#crt_term').val('');
//      $('#crt_range').val('');
//      $('#crt_intrest').val('');
//      $('.popup.m-create-proj').addClass('in');
//      
//  })
    $('#crt_confirm').click(function(){     //确认新建项目
        var crt_name = $('#crt_name').val(),
            crt_link = $('#crt_link').val(),
            crt_detail = $('#crt_detail').val(),
            crt_price = $('#crt_price').val(),
            crt_term = $('#crt_term').val();
            crt_range = $('#crt_range').val();
            crt_intrest = $('#crt_intrest').val();
            console.log(' crt_name=' + crt_name +' crt_link=' + crt_link +' crt_detail=' + crt_detail +' crt_price=' + crt_price +' crt_term=' + crt_term);
        if (!crt_name || !crt_link || !crt_detail || !crt_price || !crt_term || !crt_range || !crt_intrest) {
        	alert("填写项不能为空")
        	return;
        }    
        $.ajax({
            url: "{%url 'project_create' %}",
            dataType: "json",
            type: 'post',
            data: {
                'title': crt_name,
                'strategy': crt_link,
                'introduction': crt_detail,
                'price': crt_price,
                'term': crt_term,
                'investrange': crt_range,
                'intrest': crt_intrest
            },
            success: function(ret) {
                if (ret.code == 0) {
                    $.prompt({
                        Content: '新建成功'
                    })
                    alert('新建成功');
//                  $('.popup.m-create-proj').removeClass('in');
                    history.go(0);
                } else {
                    alert(ret.msg);
                }
            },
            error: function() {
                alert("请检查网络连接");
            }
        });
    })
    
    
    $('#edit_confirm').click(function(){     //确认修改官方项目
        var edit_detail = $('#edit_detail').val(),
            edit_price = $('#edit_price').val(),
            edit_intrest = $('#edit_intrest').val();
        var mark_str = '';
        
        $('.mark.on').each(function(){
            mark_str += $(this).data('id') + ',';
        })
        console.log(mark_str);
        console.log(' project_id=' + project_id +' edit_detail=' + edit_detail +' edit_price=' + edit_price);
        $.ajax({
            url: '/account/update_offiproject/' + project_id + '/',
            dataType: "json",
            type: 'post',
            data: {
                'introduction': edit_detail,
                'price': edit_price,
                'intrest': edit_intrest,
                'marks': mark_str
            },
            success: function(ret) {
                $.prompt({
                    Content: '编辑成功'
                })
                parent_dom.find('td').eq(2).text(edit_price);
                parent_dom.find('td').eq(5).text(edit_intrest);
                $('.popup.m-edit-proj').removeClass('in');
            },
            error: function() {
                alert("请检查网络连接");
            }
        });
    })
    $('#edit_confirm_02').click(function(){     //确认修改自建项目
        var edit_link_02 = $('#edit_link_02').val(),
            edit_detail_02 = $('#edit_detail_02').val(),
            edit_price_02 = $('#edit_price_02').val(),
            edit_term_02 = $('#edit_term_02').val(),
            edit_range_02 = $('#edit_range_02').val(),
            edit_intrest_02 = $('#edit_intrest_02').val();
            
            console.log(' project_id=' + project_id +' edit_detail=' + edit_detail +' edit_price=' + edit_price);
        $.ajax({
            url: '/restapi/sub/' + project_id + '/',
            dataType: "json",
            type: 'put',
            data: {
                'project_strategy': edit_link_02,
                'introduction': edit_detail_02,
                'price': edit_price_02,
                'project_term': edit_term_02,
                'project_investrange': edit_range_02,
                'intrest': edit_intrest_02
            },
            success: function(ret) {
                $.ajax({
                    url: '/restapi/projects/' + project_souse + '/',
                    dataType: "json",
                    type: 'put',
                    data: {
                        'strategy': edit_link_02,
                        'introduction': edit_detail_02,
                        'cprice': edit_price_02,
                        'term': edit_term_02,
                        'investrange': edit_range_02,
                        'intrest': edit_intrest_02
                    },
                    success: function(ret) {
                        $.prompt({
                            Content: '编辑成功'
                        })
                        parent_dom.find('td').eq(2).text(edit_price_02);
                        parent_dom.find('td').eq(3).text(edit_term_02);
                        parent_dom.find('td').eq(4).text(edit_range_02);
                        parent_dom.find('td').eq(5).text(edit_intrest_02);
                        $('.popup.m-edit-proj-02').removeClass('in');
                    },
                    error: function() {
                        alert("请检查网络连接");
                    }
                });
            },
            error: function() {
                alert("请检查网络连接");
            }
        });
    })

});
</script>
</head>

<body>
    	<!--头部-->
    	{% include "header.html" %}
    	<!--内容-->
    	<div class="Content">
        	{% include "account/left.html" %}
            <div class="RightCont">
                <div class="project-box">
                    <ul class="myproj-nav-box">
                    	<li class="navitem on myproj-nav">官方项目</li>
                    	<li class="navitem myproj-nav">自建项目</li>
                    </ul>
                    <div class="edit_marks clearfix">
                        <h4 class="l">项目标签：</h4>
                        <ul class="mark-box l">
                        </ul>
                        <span class="add-mark l">添加标签</span>
                    </div>
                    <div>
                        <div class="table conitem" style="display: block;">
                            <div class="handle-box clearfix">
                                <!--<a class="create-project link r">新建项目</a>-->
                                <a href="{% url 'project_all' %}" target="_blank" class="look-projects link r">查看项目库</a>
                            </div>
                            <div id="pagedata">
                            </div>
                            <div class="changes-p">
                                <div class="page" id="page">
                                </div>
                            </div>
                        </div>
                        <div class="table conitem">
                            <div class="handle-box clearfix">
                                <a href="{% url 'project_add' %}" class="create-project link r">新建项目</a>
                            </div>
                            <div id="pagedata2">
                            </div>
                            <div class="changes-p">
                                <div class="page" id="page2">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

<div class="popup m-edit-proj">
    <div class="popup__content" style="width: 600px;">
        <div class="popup__top">
            <h2 class="popup__title">编辑官方项目</h2><button type="button" class="popup__close popup__close-btn" onclick="canclePopup(this)">×</button>
        </div>
        <div class="popup__detail">
            <div class="popup__item"><span class="popup__itemname">项目简介</span><input id="edit_detail" type="text" /></div>
            <div class="popup__item"><span class="popup__itemname">价格</span><input id="edit_price" type="text" /></div>
            <div class="popup__item"><span class="popup__itemname">预计年化</span><input id="edit_intrest" type="text" /></div>
            <div class="popup__item clearfix">
                <span style="width: 200px;" class="popup__itemname l">项目标签（最多选择三个）：</span>               
                <div class="mark-box2 l"></div>
            </div>
        </div>
        <div class="popup__btnbox">
            <a id="edit_confirm" class="btn m-green m-popup popup-confirm popup__close-btn">确认</a>
        </div>
    </div>
</div>
<div class="popup m-edit-proj-02">
    <div class="popup__content" style="width: 600px;">
        <div class="popup__top">
            <h2 class="popup__title">编辑自建项目</h2><button type="button" class="popup__close popup__close-btn" onclick="canclePopup(this)">×</button>
        </div>
        <div class="popup__detail">
            <div class="popup__item"><span class="popup__itemname">攻略链接</span><input id="edit_link_02" type="text" /></div>
            <div class="popup__item"><span class="popup__itemname">项目简介</span><input id="edit_detail_02" type="text" /></div>
            <div class="popup__item"><span class="popup__itemname">价格</span><input id="edit_price_02" type="text" /></div>
            <div class="popup__item"><span class="popup__itemname">标期</span><input id="edit_term_02" type="text" /></div>
            <div class="popup__item"><span class="popup__itemname">投资区间</span><input id="edit_range_02" type="text" /></div>
            <div class="popup__item"><span class="popup__itemname">预计年化</span><input id="edit_intrest_02" type="text" /></div>
        </div>
        <div class="popup__btnbox">
            <a id="edit_confirm_02" class="btn m-green m-popup popup-confirm popup__close-btn">确认</a>
        </div>
    </div>
</div>
<div class="popup m-create-proj">
    <div class="popup__content" style="width: 600px;">
        <div class="popup__top">
            <h2 class="popup__title">新建项目</h2><button type="button" class="popup__close popup__close-btn" onclick="canclePopup(this)">×</button>
        </div>
        <div class="popup__detail">
            <div class="popup__item"><span class="popup__itemname">项目名称</span><input id="crt_name" type="text" /></div>
            <div class="popup__item"><span class="popup__itemname">攻略链接</span><input id="crt_link" type="text" />
                <p class="link-tip"><a class="link-btn" target="_blank" href="https://shimo.im/">点击</a>使用石墨创建工具</p>
            </div>
            <div class="popup__item"><span class="popup__itemname">项目简介</span><input id="crt_detail" type="text" /></div>
            <div class="popup__item"><span class="popup__itemname">价格</span><input id="crt_price" type="text" /></div>
            <div class="popup__item"><span class="popup__itemname">标期</span><input id="crt_term" type="text" /></div>
            <div class="popup__item"><span class="popup__itemname">投资区间</span><input id="crt_range" type="text" /></div>
            <div class="popup__item"><span class="popup__itemname">预计年化</span><input id="crt_intrest" type="text" /></div>
        </div>
        <div class="popup__btnbox">
            <a id="crt_confirm" class="btn m-green m-popup popup-confirm popup__close-btn">确认</a>
        </div>
    </div>
</div>
<div class="popup m-del-mark">
    <div class="popup__content" style="width: 600px;">
        <div class="popup__top">
            <h2 class="popup__title">删除标签</h2><button type="button" class="popup__close popup__close-btn" onclick="canclePopup(this)">×</button>
        </div>
        <div class="popup__detail">
                        确认删除该标签？
        </div>
        <div class="popup__btnbox">
            <a class="btn m-green m-popup m-right" onclick="canclePopup(this)">取消</a>
            <a id="del_mark" class="btn m-green m-popup popup-confirm">确认</a>
        </div>
    </div>
</div>
<div class="popup m-add-mark">
    <div class="popup__content" style="width: 600px;">
        <div class="popup__top">
            <h2 class="popup__title">添加标签</h2><button type="button" class="popup__close popup__close-btn" onclick="canclePopup(this)">×</button>
        </div>
        <div class="popup__detail">
            <div class="popup__item"><span class="popup__itemname">标签名称</span><input id="markname" type="text" maxlength="4" placeholder="限4个字符长度" /></div>
        </div>
        <div class="popup__btnbox">
            <a class="btn m-green m-popup m-right" onclick="canclePopup(this)">取消</a>
            <a id="add_mark" class="btn m-green m-popup popup-confirm">确认</a>
        </div>
    </div>
</div>
<div style="clear: both;"></div>
</div>
{% include "footer.html" %}
</body>
</html>
