{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>用户中心</title>
<link href="{% static 'images/favicon.ico'%}" rel="shortcut icon"/>
<!--<link rel="stylesheet" type="text/css" href="{% static 'css/User.css' %}" />-->
<link rel="stylesheet" type="text/css" href="{% static 'css/wfl-common.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/account-base.css' %}" />
<!--<link rel="stylesheet" type="text/css" href="{% static 'css/style-i.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />-->
<script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>

</head>

<body>
    	<!--头部-->
{% include "header.html" %}
   	<!--内容-->
<div class="Content">
   	<!--<div class="w1100">-->
			{% include "account/left.html" %}
            <div class="RightCont">
                <div class="notice-index">
                    <h3 class="notice__title">通知栏</h3>
                    <div id="noticeBox" class="notice__box">
                        <ul id="con1">
                            <!--{%for notice in announce_list%}
                                <li><a class="notice__txt oneline">{{forloop.counter}}、{{notice.content}}</a></li>
                            {%endfor%}-->
                            <!--<li><a class="notice__txt oneline">1、这里是通知11111111111111111111这里是通知11111111111111111111这里是通知11111111111111111111这里是通知11111111111111111111这里是通知11111111111111111111这里是通知11111111111111111111</a></li>
                            <li><a class="notice__txt oneline">2、这里是通知22222222222222222222这里是通知222222222222222222这里是通知2222222222222222222</a></li>
                            <li><a class="notice__txt oneline">3、这里是通知33333333333333333这里是通知33333333333333333333333这里是通知33333333333333333</a></li>
                            <li><a class="notice__txt oneline">4、这里是通知4444444444444444这里是通知4444444444444444444444444这里是通知4444</a></li>-->
                        </ul>
                        <!--<ul id="con2">
                        </ul>-->
                    </div>
                    <div class="copy-link">
                        <p class="link-box">我的主页：<a href="http://{{user.qq_number}}.51fanshu.com" target="_blank" class="target-link">http://{{user.qq_number}}.51fanshu.com</a></p>
                        <a id="copy" class="btn m-green m-link">复制链接</a><a style="margin-left: 244px;" href="{% url 'account_setting' %}" class="btn m-green m-link">设置</a>
                    </div>
                </div>
                
                <ul class="benefit">
                    <li class="benefit__item">累计收益（元）<br /><span class="benefit__item-txt">{{user.accu_income}}</span></li>
                    <!--<li class="benefit__item">昨日收益（元）<br /><span class="benefit__item-txt">19999</span></li>-->
                    <li class="benefit__item">账户余额（元）<br /><span class="benefit__item-txt">{{user.balance}}</span></li>
                    <li class="benefit__withdraw"><a href="{% url 'account_withdraw' %}" class="btn m-green">提现</a></li>
                    <div id="main" class="chart" style="width: 600px;height:400px;"></div>
                </ul>
                <div class="recommend">
                    <div class="recommend__titlebox clearfix">
                        <h2 class="recommend__title l">热门推荐</h2>
                        <a class="recommend__more r" href="{% url 'project_all' %}" target="_blank">查看更多>></a>
                    </div>
                    <ul class="recommend__itembox">
                    {% for recom in recom_projects %}
                            <li class="recommend__item"><a href="{{recom.strategy}}" target="_blank">
                                <img class="recommend__img" src="{{recom.picture_url}}" alt="" />
                                <!--<h4 class="recommend__name oneline">{{recom.title}}</h4>
                                <p class="recommend__detail oneline">{{recom.introduction}}</p>
                                <div class="btn-box m-account">
                                    <a href="{{recom.strategy}}" target="_blank" class="btn m-green">查看攻略</a>
                                </div>-->
                            </a></li>
                    {%endfor%}
                    </ul>
                </div>
                
                
            </div>
            <div class="popup m-notice-top">
                <div class="popup__content" style="width: 600px;">
                    <div class="popup__top">
                        <h2 class="popup__title">置顶通知</h2><button type="button" class="popup__close popup__close-btn" onclick="canclePopup(this)">×</button>
                    </div>
                    <div class="popup__detail m-notice">
                    </div>
                    <div class="popup__btnbox">
                        <a class="cancel btn m-green" onclick="canclePopup(this)">我知道了</a>
                    </div>
                </div>
            </div>
</div>
{% include "footer.html" %}

<script type="text/javascript" src="{% static 'js/wfl-common.js' %}"></script>
<script type="text/javascript" src="{%static 'js/echarts.common.min.js'%}"></script>
<!--<script type="text/javascript" src="{% static "js/ZeroClipboard.js" %}"></script>-->
<script type="text/javascript" src="{% static 'js/clipboard.min.js' %}"></script>
<script type="text/javascript">
$(function(){
    $('.back-a1').toggleClass("on");
    var notice_flag = 0;
    var notice_top = '';
    function saveCookie() {
        var date = new Date();
        //  date.setDate(date.getDate()+1);
        date.setTime(date.getTime() + 1 * (24 * 60 * 60 * 1000));
        //将cookie保存1天
        setCookie("first_time", now_time, date.toUTCString(), "", "", "");
    }

    function setCookie(name, value, expires, path, domain, secure) {
        document.cookie = name + "=" + encodeURI(value) +
            ((expires) ? "; expires=" + expires : "") +
            ((path) ? "; path=" + path : "") +
            ((domain) ? "; domain=" + domain : "") +
            ((secure) ? "; secure=" + secure : "");
    }

    function getCookie(cName) {
        var cookieString = decodeURI(document.cookie);
        var cookieArray = cookieString.split("; ");
        console.log(cookieArray.length);
        for(var i = 0; i < cookieArray.length; i++) {
            var cookieNum = cookieArray[i].split("=");
            console.log(cookieNum.toString());
            var cookieName = cookieNum[0];
            var cookieValue = cookieNum[1];

            if(cookieName == cName) {
                return cookieValue;
            }
        }
        return false;
    }
    //删除Cookie就是简单的将cookie的expires属性设置为一个过去的时间即可。
    function deleteCookie() {
        var date = new Date();
        date.setTime(date.getTime() - 1000);
        setCookie("first_time", date.getTime(), date.toUTCString(), "", "", "");
    }

//  deleteCookie();
    var date = new Date();
    var first_time = getCookie('first_time');
    var now_time = date.getTime();
    console.log(first_time);
    console.log(now_time);
    if (first_time && first_time<now_time) {
        console.log('已有');
        notice_flag = 0;
    } else{
        console.log('还未');
        saveCookie();
        notice_flag = 1;
    }
    
    var con1 = document.getElementById('con1');
    var notice_txt = '';
    $.ajax({
        url: '/restapi/announcement/?ordering=state',
        dataType: "json",
        type: 'get',
        success: function(ret) {
            if (ret.results.length != 0){
                var notice_num = 1;
                for (var i in ret.results) {
                    notice_txt += '<li class="notice__item">';
                    if (ret.results[i].state == 0) {
                        notice_txt += '<span style="color:#f95a5a">【置顶】</span>';
                        notice_top += '<p>' + ret.results[i].content +'</p>';
                    } else{
                        notice_txt += '<span>'+ notice_num++ +'</span>、';
                    }
                    notice_txt += ret.results[i].content +'</li>';
                }
                if (notice_flag == 1) {
                    $('.popup__detail.m-notice').html(notice_top);
                    $('.popup.m-notice-top').addClass('in');
                }
            }
            con1.innerHTML = notice_txt;
        },
        error: function(jqXHR, textStatus, errorThrown) {
            console.log(jqXHR.responseText);
            alert("数据错误");
        }
    });
    
    var clipboard = new Clipboard('#copy', {
        target: function() {
            return document.querySelector('.target-link');
        }
    });

    clipboard.on('success', function(e) {
        console.log(e);
    });

    clipboard.on('error', function(e) {
        console.log(e);
    });

//  图表部分
//  获取图表数据
    var chartdata_01;
    var data_x = [0,0,0,0,0,0,0,0,0,0,0,0,0,0];
    var data_y = [0,0,0,0,0,0,0,0,0,0,0,0,0,0];
    $.ajax({
        url:"/restapi/userstatis/?page=1&pageSize=14&user={{user.id}}",
    	type:"get",
    	dataType: "json",
    	success: function(ret) {
    	    chartdata_01 = ret.results;
    	    console.log(ret.results.length);
    	    if (ret.results.length > 0) {
    	        for (var i = 0; i<ret.results.length; i++) {
    	        	data_x[i] = ret.results[i].date.slice(5);
    	        	data_y[i] = ret.results[i].settle_amount;
    	        	console.log('ret.results[i].date')
    	        }
    	    }
    	    console.log(data_x);
    	    console.log(data_y);
    	    //  获取图表数据---end
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('main'));
            // 指定图表的配置项和数据
            var option = {
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    crossStyle: {
                        color: '#999'
                    }
                }
            },
            toolbox: {
                feature: {
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            legend: {
                data:['结算数']
            },
            xAxis: [
                {
                    type: 'category',
                    data: data_x,
                    axisPointer: {
                        type: 'shadow'
                    }
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    name: '结算金额',
                    axisLabel: {
                        formatter: '{value} 元'
                    }
                }

            ],
            color:['#61a0a8', '#2f4554', '#d48265', '#91c7ae','#749f83',  '#ca8622', '#bda29a','#6e7074', '#546570', '#c4ccd3'],
            series: [
                {
                    name:'结算金额',
                    type:'bar',
                    bgcolor: '#ffbe00',
                    data: data_y
                }

            ]
        };
        
            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
        //  图表部分---end
        },
        error: function() {
            alert("请检查网络连接");
        }
    });


});

</script>
</body>
</html>
