{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>用户中心</title>
<link href="{% static 'images/favicon.ico'%}" rel="shortcut icon"/>
<!--<link rel="stylesheet" type="text/css" href="{% static 'css/User.css' %}" />-->
<link rel="stylesheet" type="text/css" href="{% static 'css/wfl-common.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/account-base.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/wfl-page.css' %}" />
<script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/page.js' %}"></script>
<script type="text/javascript" >
$.ajaxSetup({
    data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
});
var data3 = '<table width="100%"><thead><tr><th>项目</th><th>项目来源</th>'+
    '<th>返现价格</th><th>标期</th><th>是否主页呈现</th><th>操作</th></tr></thead><tbody>'+
    '[data]<tr><td>{title}</td><td>{username}</td><td>{time}</td><td>{state}</td><td><input type="radio" /></td>'+
    '<td onclick="edit({id})">编辑</td></tr>[/data]'
    + '</tbody></table>';
var furl = "{% url 'get_user_wel_page' %}" + "?fpage={page}&size={pageSize}&filter=";
function pop(n){
	$("#coupon_id").val(n);
	$(".Password-modify").css("display","block");
}
function emptydisplay(obj){
	pic_url = "{%static 'images/picin.png' %}";
	obj.html('<div class="Defa-in"><img src="' + pic_url + '">'+
			'<h2>咦~~ 您还没有相关记录~~</h2></div>');
}
function edit(id) {
    console.log(id);
}
$(function(){
	$('.back-a4').toggleClass("on");
//	$(".None-p button").click(function(){
//		$(".Password-modify").css("display","none");
//	});
	$("#pagedata").ajaxPage({
        url:furl+0,
        pageId:$("#page2"),
        pageSize:10,
        run:true,
        content:data3,
    });
//	$(".Swi-Top li").click(function(){
//		if($(this).attr("class")!="on"){
//			$(this).toggleClass("on").siblings().removeClass("on")
//			var index = $(this).index();
//			var data = data0;
//    if (index==1){
//      data = data1;
//    }
//			if (index==2){
//				data = data2;
//			}
//			$("#page").empty();
//			$("#pagedata1").ajaxPage({
//			    url:url+index,
//			    pageId:$("#page1"),
//			    pageSize:6,
//			    run:true,
//			    content:data,
//			});
//		}
//	});
//	$('#submit').click(function(){
//		var telnum = $("#telnum").val();
//		var remark = $("#remark").val();
//		var amount = $("#amount").val();
//		var term = $("#term").val();
//		var id = $("#coupon_id").val();
//		telnum = telnum.replace(/(^\s*)|(\s*$)/g, "");
//		remark = remark.replace(/(^\s*)|(\s*$)/g, "");
//		term = term.replace(/(^\s*)|(\s*$)/g, "");
//		amount = amount.replace(/(^\s*)|(\s*$)/g, "");
//		var re_amount=/^\d+(\.\d+)?$/;
//		var re=/^1[1,2,3,4,6,5,7,8,9]\d{9}$/;
//		if(!re.test(telnum)){
//			alert("手机号格式不正确！")
//			return;
//		}
//		if(!re_amount.test(amount)){
//			alert("投资金额不能为空且必须为纯数字格式！")
//			return;
//		}
//		if(!re_amount.test(term)){
//			alert("投资标期不能为空且必须为纯数字格式！")
//			return;
//		}
//		amount = parseFloat(amount);
//		$.ajax({
//			url:"{%url 'useCoupon' %}",
//			dataType:"json",
//			type:"POST",
//			data : {
//				'id': id,
//				'telnum': telnum,
//				'remark': remark,
//				'term': term,
//				'amount': amount
//			},
//			success:function(ret){
//				if(ret.code==-1){
//					alert("该页面已过期，请重新登录！");
//					window.location.href = ret.url;
//				}
//				else{
//					alert(ret.msg);
//				}
//			},
//			error:function(){
//				alert("请检查网络连接");
//			}
//		});
//		$(".Password-modify").css("display","none");
//	});
//	$("#pagedata1").on("click", ".open", function(){
//		var is_mobile = this.getAttribute("mobile");
//		var pro_id = this.getAttribute("pro_id");
//		var url = this.getAttribute("url");
//		if (is_mobile==1){
//			document.getElementById("erweima").src=url;
//			$(".popup-box").addClass("in");
//		}
//		else{
//			window.open(url_openwindow + "?id=" + pro_id + "&type=CouponProject");
//		}
//	});

  // 二维码部分
//$(".popup-content ").click(function(){
//  event.stopPropagation();
//});
//$(".popup-box ").click(function(){
//  $(".popup-box ").removeClass("in ");
//});

  // 审核拒绝原因弹窗
//$('.Content').on('click','.state_2',function(){
//	  var reason = $(this).attr('reason');
//    alert(reason);
//});

  //文字提示
//$('.Swi-info').on("mouseover", ".intro-text",  function() {
//  this.title = this.innerHTML;
//});
});
</script>
</head>

<body>
    	<!--头部-->
    	{% include "header.html" %}
    	<!--内容-->
    	<div class="Content">
        	{% include "account/left.html" %}
            <div class="RightCont" style="padding:0 20px;background-color: #fff;">
                    <div class="handle-box clearfix">
                        <a class="create-project link r">新建项目</a>
                        <a class="look-projects link r">查看项目库</a>
                    </div>
                    <div id="pagedata">
                    </div>
                    <div class="changes-p">
                        <div class="page" id="page2">
                        </div>
                    </div>
            </div>
            
        </div>

</body>
</html>
