{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>用户中心</title>
    <link href="{% static 'images/favicon.ico'%}" rel="shortcut icon" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/wfl-common.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/account-base.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/wfl-page.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/datePicker.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/hongbao.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/page.js' %}?v-1"></script>
    <script type="text/javascript" src="{% static 'js/jquery.date_input.pack.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/wfl-popup.js' %}"></script>
    
</head>

<body>
    <!-- 红包模态框 -->
    <div class="modal_box">
        <div class="modal_img_box">
            <div class="modal_amount_box">
                <div class="modal_amount">
                    
                </div>
                <div class="modal_desc">
                    已存放至账户余额
                </div>
            </div>
            <div class="modal_btn">确定</div>
        </div>        
    </div>
    {% include "header.html" %}
    <div class="Content">
        <!--头部-->
        <!--内容-->
        {% include "account/left.html" %}
        <!-- 右边内容部分 -->
        <ul class="RightCont">
            <!-- tab部分 -->
            <ul class="tab">
                <li class="active">可用红包</li>
                <li>失效红包</li>
            </ul>
            <ol class="contBox">
                <li class="effective">
                    
                </li>
                <li class="failure">
                    
                </li>
            </ol>
    </div>
    <!--底部-->
    <div style="clear: both;"></div>
    </div>
    {% include "footer.html" %}
    <!--浮动窗口-->
    </div>
</body>
<script type="text/javascript">
    "use strict";//声明严格模式
    $(function () {
        $('.back-a14').toggleClass("on");
        /**
         tab效果
        **/
        $(".tab>li").click(function () {
            // console.log("当前下标序号：", $(this).index());
            let index = $(this).index()
            $(this).addClass("active").siblings().removeClass("active");
            $(".contBox > li").eq(index).show().siblings().hide();
        });
        /**
          ajax获取红包列表  
        **/
        $.ajax({
            url: '/coupon/coupons/?' + "user={{user.id}}&pageSize=9999",
            type: "get", //提交方式post
            async: true, //是否同步
            timeout: 5000, //超出时间
            dataType: 'json', //返回数据格式Json
            success: function (data) {
                console.log(data.results);
                let str_html;
                let str_html1;
                for (let i in data.results) {
                    // console.log("-- is_expired --",data.results[i].is_expired)
                    if (data.results[i].is_expired === false) {
                        str_html = '<div class="hongbao_box">'+
                                        '<div class="hongbao">'+
                                            '<div class="top_box">'+
                                                '<span style="color: white;">'+
                                                    '￥<span class="amount">'+ data.results[i].award +'</span>'+
                                                '</span>'+
                                            '</div>'+
                                            '<p class="time">有效期至：'+data.results[i].expire+'</p>'+
                                            '<div class="btm_desc" data-type="'+ data.results[i].type +'"></div>'+
                                        '</div>'+
                                        '<input class="btn btn'+ data.results[i].is_to_expired +' get state'+ data.results[i].state +'" data-id="'+ data.results[i].id +'" data-award="'+ data.results[i].award +'" data-state="'+ data.results[i].state +'" type="button" value="'+ data.results[i].state_des+'">'+
                                    '</div>' 
                        $(".effective").append(str_html);       
                    }else{
                        str_html1 = '<div class="fail_hongbao_box">'+
                                        '<div class="fail_hongbao">'+
                                            '<div class="top_box">'+
                                                '<span style="color: white;">'+
                                                    '￥<span class="amount">'+ data.results[i].award +'</span>'+
                                                '</span>'+
                                            '</div>'+
                                            '<p class="time">有效期至：'+data.results[i].expire+'</p>'+
                                            '<div class="fbtm_desc btm_desc" data-type="'+ data.results[i].type +'"></div>'+
                                        '</div>'+
                                        '<input class="btn fbtn" type="button" value="'+ data.results[i].state_des+'">'+
                                    '</div>'
                        $(".failure").append(str_html1);            
                    }
                    
                }
                //根据type来渲染
                $(".btm_desc").each(function () { 
                    let type = $(this).attr("data-type");
                    if(type == "heyue"){
                        $(this).text("累计提交5单并且审核通过");
                    }else if(type == "guanzhu"){
                        $(this).text("关注官微并且绑定账号");
                    }else if(type == "shoudan"){
                        $(this).text("首次交单挺且审核通过");
                    }else{
                        $(this).text("绑定银行卡");
                    }
                })
            },
            error: function (xhr, textStatus) {
                console.log('错误:' + xhr.responseText);
            }
        });
        
        //点击领取功能 
        $(document).on("click",".get",function () { //给动态添加出来的按钮添加监听事件
            let that = $(this);
            let award = $(this).attr("data-award"); //获取data-award的值
            let hongbaoId = $(this).attr("data-id");//获取data-id的值
            $(".modal_amount").text(award); //将获取的data-award放入modal_amount盒子里
            let state = $(this).attr("data-state");//获取当前data-state的值
            if(state == 0){
                $.prompt({
                    "Content":"您未达到解锁条件，请完成任务后再来领取红包"
                });
            }else if(state == 2){
                $.prompt({
                    "Content":"您已领取过该红包"
                });
            }else{
                $.ajax({
                    url: '/coupon/open_coupon/',
                    data:{
                        id:hongbaoId
                    },
                    type: "post", //提交方式post
                    async: true, //是否同步
                    timeout: 5000, //超出时间
                    dataType: 'json', //返回数据格式Json
                    success: function (res) {
                        console.log("success this",that);
                        if(res.code == 0){
                            that.css("background","#c7c7c7");
                            that.val("已领取");
                            //模态框的出现
                            $(".modal_box").show();
                        }
                    },
                    error: function (xhr, textStatus) {
                        console.log('错误:' + xhr.responseText);
                    }
                });
            }
         })
         
        //模态框消失
        $(".modal_btn").click(function () { 
            $(".modal_box").hide();
         })
        

    });
</script>

</html>