{% load staticfiles %}
<div class="leftnav">
	<ul>
	   	<li><a href="{% url 'account_index' %}" class="back-a1 account-nav bottom">用户中心</a></li>
	   	<li><a href="{% url 'account_setting' %}" class="back-a2 account-nav bottom">主页设置</a></li>
	   	<li><a href="{% url 'project_manage' %}" class="back-a3 account-nav bottom">我的项目</a></li>
	   	
	   	<li><a href="{% url 'account_submit' %}" class="back-a4 account-nav">自助交单</a></li>
	   	<li><a href="{% url 'account_audited' %}" class="back-a5 account-nav bottom">数据审核</a></li>
	   	
	   	<li><a href="{% url 'account_security' %}" class="back-a6 account-nav">安全中心</a></li>
	   	<li><a href="{% url 'account_bankcard' %}" class="back-a7 account-nav">银行卡绑定</a></li>
	   	<li><a href="{% url 'account_money' %}" class="back-a8 account-nav">福币记录</a></li>
	   	<li><a href="{% url 'account_withdraw' %}" class="back-a9 account-nav">提现</a></li>
	   </ul>
</div>
<script>
$(function(){
	$('.nav__item:eq(5)').addClass('active');
});
</script>
