{% load staticfiles %}
<div class="leftnav">
	<ul>
	    <li class="account-nav-head m-homepage">主页管理</li>
	   	<!--<li><a href="{% url 'account_index' %}" class="back-a1 account-nav">用户中心</a></li>-->
	   	<li class="back-a2 account-navbox"><a href="{% url 'account_setting' %}" class="account-nav">主页设置</a></li>
	   	<li class="back-a10 account-navbox"><a href="{% url 'account_notice' %}" class="account-nav">编辑公告</a></li>
	   	<li class="back-a3 account-navbox"><a href="{% url 'project_manage' %}" class="account-nav">我的项目</a></li>
	   	<li class="account-nav-head m-num">数据管理</li>
	   	<li class="back-a4 account-navbox"><a href="{% url 'account_submit' %}" class="account-nav">自助交单</a></li>
	   	<li class="back-a5 account-navbox"><a href="{% url 'account_audited' %}" class="account-nav">数据审核</a></li>
	   	<li class="back-a11 account-navbox"><a href="{% url 'account_yuyue' %}" class="account-nav">预约管理</a></li>
	   	<li class="account-nav-head m-num">番薯文档</li>
        <!--<li class="back-a12 account-navbox"><a href="{% url 'create_doc' %}" class="account-nav">新建文档</a></li>-->
        <li class="back-a13 account-navbox"><a href="{% url 'doc_list' %}" class="account-nav">文档管理</a></li>
	   	<li class="account-nav-head m-account">账号管理</li>
	   	<li class="back-a6 account-navbox"><a href="{% url 'account_security' %}" class="account-nav">安全中心</a></li>
	   	<li class="back-a7 account-navbox"><a href="{% url 'account_bankcard' %}" class="account-nav">银行卡绑定</a></li>
	   	<li class="back-a8 account-navbox"><a href="{% url 'account_money' %}" class="account-nav">收支详情</a></li>
	   	<li class="back-a9 account-navbox"><a href="{% url 'account_withdraw' %}" class="account-nav">提现</a></li>
	   </ul>
</div>
<script>
$(function(){
	$('.nav__item:eq(4)').addClass('active');
});
</script>
