{% load staticfiles %}
<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
	<title>红包详情</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link href="{% static 'css/mui.min.css' %}" rel="stylesheet" />
	<link rel="stylesheet" href="{% static 'css/m_hongbao.css' %}" />
	<script type="text/javascript" src="{% static 'js/rem.js' %}"></script>
	<style>
		.mui-bar-nav~.mui-content {
			padding-top: 0;
		}
		.mui-table-view-cell:after {
			position: absolute;
			right: 0;
			bottom: 0;
			left: 15px;
			height: 0;
			content: '';
			-webkit-transform: scaleY(.5);
			transform: scaleY(.5);
			background-color: #c8c7cc;
		}
		.mui-toast-container{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%)
		}
		.mui-table-view-cell {
			background: RGB(247,247,247);
		}
		.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
			color: #90c01e;
			border-bottom: 2px solid #90c01e;
			background: 0 0;
		}

		.state0 {
			background: #91c11d;
		}

		.state1 {
			background: #f8513b;
		}

		.state2 {
			background: RGB(199, 199, 199);
		}
	</style>
</head>

<body>
	<header class="mui-bar mui-bar-nav" style="position: relative;background: white;">
		<a href="{% url 'account_index' %}" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #656565;"></a>
		<h1 class="mui-title" style=" color: RGB(102,102,102);">我的红包</h1>
	</header>
	<div class="mui-content">
		<!-- 红包模态框 -->
		<div class="modal_box">
			<div class="modal_img_box">
				<div class="modal_amount_box">
					<div class="modal_amount">

					</div>
					<div class="modal_desc">
						已存放至账户余额
					</div>
				</div>
				<div class="modal_btn">确定</div>
			</div>
		</div>
		<!-- 官微模态框 -->
		<div class="modal_wechant">
			<div class="qrBox">
				<img src="{% static 'images/m_hongbao_qrCode.png' %}">
				<span class="tips">请关注<label style="color:white">福利联盟官微</label></span>
				<div class="qr_close">×</div>
			</div>
		</div>
		<!--选项卡部分-->
		<div id="finance_slider" class="mui-slider mui-fullscreen">
			<div class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
				<a class="mui-control-item" style="background: white" href="#item1">可用红包
					<span class="top_left"></span>
				</a>
				<a class="mui-control-item" style="background: white" href="#item2">失效红包
					<span class="top_right"></span>
				</a>
				<a class="mui-control-item" style="background: white" href="#item3">已领取红包
						<span class="top_3"></span>
				</a>
			</div>
			<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-4" style="background: #90c01e;"></div>
			<div class="mui-slider-group">
				<div id="item1" class="mui-slider-item mui-control-content mui-active" value="1">
					<div id="scroll1" class="mui-scroll-wrapper">
						<div class="mui-scroll">
							<ul class="mui-table-view tab1">

							</ul>
						</div>
					</div>
				</div>
				<!-- 失效红包 -->
				<div id="item2" class="mui-slider-item mui-control-content" value="2">
					<div id="scroll1" class="mui-scroll-wrapper">
						<div class="mui-scroll">
							<ul class="mui-table-view tab2">

							</ul>
						</div>
					</div>
				</div>
				<!-- 已领取红包 -->
				<div id="item3" class="mui-slider-item mui-control-content" value="3">
					<div id="scroll1" class="mui-scroll-wrapper">
						<div class="mui-scroll">
							<ul class="mui-table-view tab3">

							</ul>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
	<!-- <div id="pullrefresh" class="mui-scroll-wrapper" style="top:32px;">
			<div class="mui-content">
				<ul class="mui-table-view">
					
				</ul>
			</div>
		</div> -->
	{% include "m_footer.html" %}
	<script src="{% static 'js/mui.min.js' %}"></script>
	<script src="{%static 'js/mui.pullToRefresh.js'%}"></script>
	<script src="{%static 'js/mui.pullToRefresh.material.js'%}"></script>
	<script type="text/javascript">
		mui.init();
		//判断是否是微信浏览器来显示
		var tips = document.querySelector(".tips");
		function isWeiXin() {
			//window.navigator.userAgent属性包含了浏览器类型、版本、操作系统类型、浏览器引擎类型等信息，这个属性可以用来判断浏览器类型
			var ua = window.navigator.userAgent.toLowerCase();
			//通过正则表达式匹配ua中是否含有MicroMessenger字符串
			if (ua.match(/MicroMessenger/i) == 'micromessenger') {
				console.log("微信浏览器")
				tips.style.display = "none";
				return true;
			} else {
				tips.style.display = "block"
				console.log("其他浏览器")
				return false;
			}
		}
		isWeiXin();//调用一遍
		//初始化滚动条
		mui('.mui-scroll-wrapper').scroll({
			deceleration: 0.0005 //flick 减速系数，系数越大，滚动速度越慢，滚动距离越小，默认值0.0006
		});
		//ajax获取红包列表数据：
		var html1 = document.querySelector(".tab1");
		var html2 = document.querySelector(".tab2");
		var html3 = document.querySelector(".tab3");
		var top_left = document.querySelector(".top_left");
		var top_right = document.querySelector(".top_right");
		var top_3 = document.querySelector(".top_3");
		mui.ajax('/coupon/coupons/?' + "user_mobile={{user.mobile}}&pageSize=999", {
			dataType: 'json', //服务器返回json格式数据 
			type: 'get', //HTTP请求类型
			timeout: 10000, //超时时间设置为10秒；
			//headers:{'Content-Type':'application/json'},
			success: function (data) {
				console.log("data:", data.results);
				//定义有效红包个数、失效红包个数、已领取红包个数
				var effective_hongbao = 0;
				var failure_hongbao = 0;
				var received = 0;
				var str_html;
				for (var i in data.results) {
					str_html = '';
					var li = document.createElement("li");
					li.className = "mui-table-view-cell";
					var span = document.createElement("span");
					var dataNum = parseInt(data.results[i].state);
					//判断当前红包是否有效
					if (data.results[i].is_expired === false && dataNum != 2) {
						effective_hongbao++;
						str_html += '<div class="hongbao_box" data-id="' + data.results[i].id + '">' +
							'<div class="hongbao_top">' +
							'<div class="amount">' +
							'<span>￥</span>' +
							'<span class="amount1 useable">' + data.results[i].award + '</span>' +
							'</div>' +
							'<div class="time">' +
							'<span>有效期至：</span>' +
							'<span>' + data.results[i].expire + '</span>' +
							'</div>';
						if (dataNum == 1) {
							str_html += '<button type="button" data-type="' + data.results[i].type + '" data-state="' + dataNum + '"  data-award="' + data.results[i].award + '" data-id="' + data.results[i].id + '" class="mui-btn take take' + data.results[i].is_to_expired + ' state' + dataNum + ' mui-btn-outlined">立即领取</button>'
						} else if (dataNum == 2) {
							str_html += '<button type="button" data-type="' + data.results[i].type + '" data-state="' + dataNum + '"  data-award="' + data.results[i].award + '" data-id="' + data.results[i].id + '" class="mui-btn take take' + data.results[i].is_to_expired + ' state' + dataNum + ' mui-btn-outlined">已领取</button>'
						} else {
							str_html += '<button type="button" data-type="' + data.results[i].type + '" data-state="' + dataNum + '"  data-award="' + data.results[i].award + '" data-id="' + data.results[i].id + '" class="mui-btn take take' + data.results[i].is_to_expired + ' state' + dataNum + ' mui-btn-outlined">立即激活</button>'
						}
						str_html += '</div>' +
							'<div class="hongbao_bottom">';
						// '<span class="btm_text" data-type="'+ data.results[i].type +'">'+ data.results[i].type_des +'</span>' +
						if (data.results[i].type === "heyue") {
							if(data.results[i].settle_amount > 0){
								str_html += '<div class="btm_text" data-type="' + data.results[i].type + '">结算金额' + data.results[i].settle_amount + '元</div>'
							}
							if(data.results[i].settle_count > 0){
								str_html += '<div class="btm_text" data-type="' + data.results[i].type + '">结算单数' + data.results[i].settle_count + '单</div>'
							}
						} else if (data.results[i].type === "guanzhu") {
							str_html += '<div class="btm_text" data-type="' + data.results[i].type + '">关注官微并且绑定账户</div>'
						} else if (data.results[i].type === "shoudan") {
							str_html += '<div class="btm_text" data-type="' + data.results[i].type + '">首次交单并且审核通过</div>'
						} else {
							str_html += '<div class="btm_text" data-type="' + data.results[i].type + '">绑定银行卡</div>'
						}
						str_html += '</div>' +
							'</div>';
						li.innerHTML = str_html;
						html1.appendChild(li);
					} else if(dataNum === 2){
						str_html = '';
						received ++;
						str_html += '<div class="hongbao_box" data-id="' + data.results[i].id + '">' +
							'<div class="hongbao_top">' +
							'<div class="amount">' +
							'<span>￥</span>' +
							'<span class="amount1 useable">' + data.results[i].award + '</span>' +
							'</div>' +
							'<div class="time">' +
							'<span>有效期至：</span>' +
							'<span>' + data.results[i].expire + '</span>' +
							'</div>';
							str_html += '<button type="button" data-type="' + data.results[i].type + '" data-state="' + dataNum + '"  data-award="' + data.results[i].award + '" data-id="' + data.results[i].id + '" class="mui-btn take take' + data.results[i].is_to_expired + ' state' + dataNum + ' mui-btn-outlined">已领取</button>'
					
						str_html += '</div>' +
							'<div class="hongbao_bottom">';
						// '<span class="btm_text" data-type="'+ data.results[i].type +'">'+ data.results[i].type_des +'</span>' +
						if (data.results[i].type === "heyue") {
							if(data.results[i].settle_amount > 0){
								str_html += '<div class="btm_text" data-type="' + data.results[i].type + '">结算金额' + data.results[i].settle_amount + '元</div>'
							}
							if(data.results[i].settle_count > 0){
								str_html += '<div class="btm_text" data-type="' + data.results[i].type + '">结算单数' + data.results[i].settle_count + '单</div>'
							}
						} else if (data.results[i].type === "guanzhu") {
							str_html += '<div class="btm_text" data-type="' + data.results[i].type + '">关注官微并且绑定账户</div>'
						} else if (data.results[i].type === "shoudan") {
							str_html += '<div class="btm_text" data-type="' + data.results[i].type + '">首次交单并且审核通过</div>'
						} else {
							str_html += '<div class="btm_text" data-type="' + data.results[i].type + '">绑定银行卡</div>'
						}
						str_html += '</div>' +
							'</div>';
						li.innerHTML = str_html;
						html3.appendChild(li);
					} else {
						str_html = '';
						failure_hongbao++;
						str_html += '<div class="hongbao_box">' +
							'<div class="fhongbao_top">' +
							'<div class="amount fail">' +
							'<span>￥</span>' +
							'<span class="amount1">' + data.results[i].award + '</span>' +
							'</div>' +
							'<div class="time fail">' +
							'<span>有效期至：</span>' +
							'<span>' + data.results[i].expire + '</span>' +
							'</div>' +
							'<div class="failBox"></div>' +
							'</div>' +
							'<div class="hongbao_bottom">';
						// str_html +='<span class="btm_text" data-type="' + data.results[i].type + '">' + data.results[i].type_des + '</span>' +
						if (data.results[i].type === "heyue") {
							str_html += '<span class="btm_text" data-type="' + data.results[i].type + '">累计提交' + data.results[i].settle_amount + '单并且审核通过</span>'
						} else if (data.results[i].type === "guanzhu") {
							str_html += '<span class="btm_text" data-type="' + data.results[i].type + '">关注官微并且绑定账户</span>'
						} else if (data.results[i].type === "shoudan") {
							str_html += '<span class="btm_text" data-type="' + data.results[i].type + '">首次交单并且审核通过</span>'
						} else {
							str_html += '<span class="btm_text" data-type="' + data.results[i].type + '">绑定银行卡</span>'
						}
						str_html += '</div>' +
							'</div>';
						li.innerHTML = str_html;
						html2.appendChild(li);

					}
				}
				//将统计好的红包个数放入顶部tab切换栏
				top_left.innerHTML = "(" + effective_hongbao + ")"
				top_right.innerHTML = "(" + failure_hongbao + ")";
				top_3.innerHTML = "(" + received + ")";
				//当没有红包的时候显示图片
				if(failure_hongbao == 0){
					html2.innerHTML=("<div class='f_tips'><img class='f_img' src='{% static 'images/hongbao_nodata.png' %}'></div>");
				}
				if(received == 0){
					html3.innerHTML=("<div class='f_tips'><img class='f_img' src='{% static 'images/hongbao_nodata.png' %}'></div>");
				}
				if(effective_hongbao == 0){
					html1.innerHTML=("<div class='f_tips'><img class='f_img' src='{% static 'images/hongbao_nodata.png' %}'></div>");
				}
			},
			error: function (xhr, type, errorThrown) {
				console.log(xhr.responseText);
			}
		});

		//领取点击事件ajax:
		var modal_box = document.querySelector(".modal_box");
		var modal_amount = document.querySelector(".modal_amount");
		var modal_wechant = document.querySelector(".modal_wechant");
		mui(document).on("tap", ".take", function () { //加载出来的button DOM节点 用on监听
			var btnArray = ['取消', '确定'];
			var that = mui(this)[0];
			var award = mui(this)[0].getAttribute("data-award"); //获取button的data-award属性
			modal_amount.innerHTML = award;
			var hongbaoId = mui(this)[0].getAttribute("data-id");
			var state = mui(this)[0].getAttribute("data-state");
			var type = mui(this)[0].getAttribute("data-type");
			var hongbao_id = mui(this)[0].getAttribute("data-id");
			if (state == 0) {
				if (type == "guanzhu") {
					modal_wechant.style.display = "block";
					return;
				} else if (type == "bangka") {
					mui.confirm('是否要跳转到绑定银行卡页面', '提示', btnArray, function (e) {
						if (e.index == 1) {
							mui.openWindow({
								url: "/account/bankcard/",
								styles: {
									top: 0,
									bottom: 0
								},
								show: {
									aniShow: 'slide-in-right',
								},
								waiting: {
									autoShow: false, //自动显示等待框
									title: '正在加载...', //等待对话框上显示的提示内容
								}
							});
						} else {
							console.log("取消")
						}
					})
					// window.open("{% url 'account_bankcard' %}");
					return;
				} else if (type == "heyue") {
					mui.ajax('/coupon/get_coupon_schedule/', {
						dataType: 'json', //服务器返回json格式数据 
						type: 'post', //HTTP请求类型
						timeout: 10000, //超时时间设置为10秒；
						data: {
							id: hongbao_id
						},
						success: function (data) {
							if (data.code == 0) {
								mui.toast(`已经结算了${data.count}单，结算了${data.amount}元`);
							} else if(data.code == 1){
								// mui(this).style.background = "RGB(249,86,60)";
								that.className = "mui-btn take takefalse state1 mui-btn-outlined";
								that.setAttribute("data-state","1");
								that.innerText = "立即领取";
							}
						},
						error: function (xhr, type, errorThrown) {
							console.log(xhr.responseText);
						}
					});
					// window.open("{% url 'account_submit' %}");
					return;
				} else { //首单红包
					mui.ajax('/coupon/open_coupon/', {
						dataType: 'json', //服务器返回json格式数据 
						type: 'post', //HTTP请求类型
						data: {
							id: hongbaoId
						},
						timeout: 10000, //超时时间设置为10秒；
						//headers:{'Content-Type':'application/json'},
						success: function (data) {
							if (data.code == 0) {
								mui.toast("请首次交单并且通过")
								// modal_box.style.display = "block";
								// that.innerText = "已领取";
								// that.style.backgroundColor = "#c7c7c7";
							} else if(data.code == 1){
								that.className = "mui-btn take takefalse state1 mui-btn-outlined";
								that.setAttribute("data-state","1");
								that.innerText = "立即领取";
								// modal_box.style.display = "block";
								// that.innerText = "已领取";
								// that.style.backgroundColor = "#c7c7c7";
							}
						},
						error: function (xhr, type, errorThrown) {
							console.log(xhr.responseText);
						}
					});
					return;
				}
				// mui.toast('您未达到解锁条件，请完成任务后再来领取红包');  
				return;
			} else if (state == 2) {
				// mui.toast('您已领取过该红包');  
				return;
			} else {
				//领取红包ajax
				mui.ajax('/coupon/open_coupon/', {
					dataType: 'json', //服务器返回json格式数据 
					type: 'post', //HTTP请求类型
					data: {
						id: hongbaoId
					},
					timeout: 10000, //超时时间设置为10秒；
					//headers:{'Content-Type':'application/json'},
					success: function (data) {
						if (data.code == 0) {
							modal_box.style.display = "block";
							that.innerText = "已领取";
							that.style.backgroundColor = "#c7c7c7";
						}
					},
					error: function (xhr, type, errorThrown) {
						console.log(xhr.responseText);
					}
				});
			}


		});
		//隐藏模态框：
		var modal_btn = document.querySelector(".modal_btn");
		modal_btn.onclick = function () {
			modal_box.style.display = "none";
		}
		//隐藏二维码模态框
		var qr_close = document.querySelector(".qr_close");
		qr_close.onclick = function () {
			modal_wechant.style.display = "none";
		}
	</script>
</body>

</html>