{% load staticfiles %}
<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>数据管理</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" href="{% static 'css/mui.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/m_audit.css' %}">
		<script type="text/javascript" src="{% static  'js/rem.js'%}"></script>
		<style>
		    ul,li {
		        padding: 0;
		        margin: 0;
		    }
		    .mui-scroll-wrapper {
		        top: 84px;
		    }
			.nav__head {
			    position: fixed;
			    top: 44px;
			    width: 100%;
			    font-size: 0;
			}
			.nav__item {
			    display: inline-block;
			    height: 40px;
			    width: 50%;
			    font-size: 14px;
			    list-style: none;
			    text-align: center;
			    line-height: 40px;
			}
			.nav__item.on {
			    color: #91C11D;
			}
			.nav__link {
			    display: block;
			    color: #333;
			}
			.m-head{
            	background: RGB(145,193,29);
            	color: white;
            }
		</style>
	</head>

	<body>
		<header id="header" class="mui-bar mui-bar-nav">
			<a id="anchor" href="{% url 'account_index' %}" class="mui-action-back2 mui-icon mui-icon-left-nav mui-pull-left" style="color: #656565;"></a>
			<h1 class="mui-title">数据管理</h1>
		</header>

		<ul class="nav__head clearfix tc">
            <li class="nav__item"><a class="nav__link" href="{% url 'account_audited' %}">官方数据</a></a></li>
            <li class="nav__item on">自建数据</li>
        </ul>

		<div id="pullrefresh" class="mui-scroll-wrapper">
				<div class="mui-table-view">
					<ul class="mui-table-view-left">
						<li class="item_line m-head">
						    <div class="column_0 column m-head">序号</div>
						    <div class="column_1 column m-head">名称/<br />手机号</div>
						</li>
					</ul>
					<div class="mui-scroll-wrapper2" style="width: 75%; float: right;">
            			<div class="mui-scroll" style="width: 64rem;position: static;">
        					<ul class="mui-table-view-right">
        						<li class="item_line m-head m-right">
        							<div class="column_2 column m-head">提交日期/<br />投资姓名</div>
        							<div class="column_3 column m-head">投资金额/<br />投资标期</div>
        							<div class="column_6 column m-head">审核状态/<br />审核信息</div>
        							<div class="column_4 column m-head">收款信息</div>
        							<div class="column_5 column m-head">结算金额/<br />返现金额</div>
        							<div class="column_7 column m-head">备注及其他</div>
        							<div class="column_8 column m-head">操作</div>
        						</li>
        					</ul>
            			</div>
        			</div>
				</div>
		</div>
        
        <div class="popup m-pass-proj">
            <div class="popup__content">
                <div class="popup__top">
                    <h2 class="popup__title">数据返现</h2><button type="button" class="popup__close popup__close-btn" onclick="canclePopup(this)">×</button>
                </div>
                <div class="popup__detail">
                    <div class="popup__item">
                        <span class="popup__itemname">返现金额：</span>
                        <input type="number" id="return_amount" class="return_amount" value="0" placeholder="填写返现金额" />
                    </div>
                </div>
                <div class="popup__btnbox">
                    <button class="cancel mui-btn mui-btn-outlined" onclick="canclePopup(this)">取消</button>
                    <button id="confirm_pass" class="popup__close-btn mui-btn mui-btn-primary">确认</button>
                </div>
            </div>
        </div>
        <div class="popup m-pass-proj-02">
            <div class="popup__content">
                <div class="popup__top">
                    <h2 class="popup__title">审核通过</h2><button type="button" class="popup__close popup__close-btn" onclick="canclePopup(this)">×</button>
                </div>
                <div class="popup__detail">
                    <div class="popup__item">
                        <span class="popup__itemname">结算金额：</span>
                        <input type="number" id="settle_amount_02" class="settle_amount_02" placeholder="填写结算金额" />
                    </div>
                    <div class="popup__item">
                        <span class="popup__itemname">返现金额：</span>
                        <input type="number" id="return_amount_02" class="return_amount_02" placeholder="填写返现金额" />
                    </div>
                </div>
                <div class="popup__btnbox">
                    <button class="cancel mui-btn mui-btn-outlined" onclick="canclePopup(this)">取消</button>
                    <button id="confirm_pass_02" class="popup__close-btn mui-btn mui-btn-primary">确认</button>
                </div>
            </div>
        </div>
        <div class="popup m-refuse-proj-02">
            <div class="popup__content">
                <div class="popup__top">
                    <h2 class="popup__title">审核拒绝</h2><button type="button" class="popup__close popup__close-btn" onclick="canclePopup(this)">×</button>
                </div>
                <div class="popup__detail">
                    <div class="popup__item">
                        <span class="popup__itemname">拒绝原因：</span>
                        <input type="text" id="refuse_reason_02" class="refuse_reason_02" placeholder="填写拒绝原因" />
                    </div>
                </div>
                <div class="popup__btnbox">
                    <button class="cancel mui-btn mui-btn-outlined" onclick="canclePopup(this)">取消</button>
                    <button id="confirm_refuse_02" class="popup__close-btn mui-btn mui-btn-primary">确认</button>
                </div>
            </div>
        </div>
        {% include "m_footer.html" %}
		<script src="{% static 'js/mui.min.js' %}"></script>
		<script>
		    var count = 1;
		    var num = 1;
		    var index = 1;
			mui.init({
			    pullRefresh: {
                    container: '#pullrefresh',
                    up: {
                        auto:true,
                        contentrefresh: '正在加载...',
                        contentnomore:'—— 暂无更多数据 ——',//可选，请求完毕若没有更多数据时显示的提醒内容；
                        callback: function() {
                            var self = this;
                            var ul_left = self.element.querySelector('.mui-table-view-left');
                            var ul_right = self.element.querySelector('.mui-table-view-right');
                            if (count == 1){
                                mui('#pullrefresh').pullRefresh().scrollTo(0,0);
                            }
                            getList(this, ul_left, ul_right, count++, index);
                        }
                    }
                }
			}); //是否显示滚动条,默认是true
			mui('.mui-scroll-wrapper2').scroll({
			    scrollX: true,
			    scrollY: false,
//			    startX: 100,
                bounce: true,
                indicators: true, //是否显示滚动条
//              deceleration: deceleration
            });


					function getList(obj, ul_left, ul_right, n, index) {
						console.log(obj);
						if(index == 0) {
							var url = '/restapi/investlogs/?is_official=true&user={{user.id}}';
						} else if(index == 1) {
							var url = '/restapi/investlogs/?is_official=false&user={{user.id}}';
						}
						mui.ajax(url, {
							data: {
								page: n,
								pageSize: 30,
							},
							dataType: 'json', //服务器返回json格式数据
							type: 'get', //HTTP请求类型
							timeout: 3000, //超时时间设置为10秒；
							success: function(data) {
								console.log("ajax数据：", data.results);
								if(!data.results.length) {
									mui('#pullrefresh').pullRefresh().endPullupToRefresh(true);
								} else {
									mui('#pullrefresh').pullRefresh().endPullupToRefresh(false); //参数为true代表没有更多数据了。
									//var table = document.body.querySelector('.mui-table-view');
									for(var i in data.results) {
									    console.log(data.results[i].id);
										var li_left = document.createElement('li');
										var li_right = document.createElement('li');
										li_left.className = 'item_line item' + data.results[i].id;
										li_right.className = 'item_line m-right item' + data.results[i].id;
										var left_html = '<div class="column_0 column">'+ (num++) +'</div>' +
										                '<div data-id="' + data.results[i].id + '" class="column_1 column"><span class="item">' + data.results[i].project_title +
											            '</span><span class="item">' + data.results[i].invest_mobile + '</span></div>';

										var right_html = '<div data-id="' + data.results[i].id + '" class="column_2 column"><span class="item">' + data.results[i].invest_date + '</span>' +
											'<span class="item">' + data.results[i].invest_name + '</span></div>' +
											//投资金额/投资标期
											'<div class="column_3 column"><span class="item">' + data.results[i].invest_amount + '</span>' +
											'<span class="item">' + data.results[i].invest_term + '</span></div>' +
											//审核状态/审核信息
											'<div class="column_6 column"><span class="item state_'+ data.results[i].id +' state' + data.results[i].audit_state + ' ">' + data.results[i].audit_state_des + '</span>' +
											'<span class="item refuse_'+ data.results[i].id +'">' + data.results[i].audit_reason + '</span></div>' +
											//收款信息
											'<div class="column_4 column"><span>' + data.results[i].zhifubao + '</span></div>' +
											//结算返现
											'<div class="column_5 column"><span class="item settle_'+ data.results[i].id +'">' + data.results[i].settle_amount + '</span>' +
											'<span class="item pass_' + data.results[i].id + '">' + (data.results[i].return_amount == null?'无':data.results[i].return_amount) + '</span></div>' +
											//备注及其他
											'<div class="column_7 column"><span>' + data.results[i].remark + '</div>' +
											//操作
											'<div class="column_8 column">';
											if (index == 0) {
												if (data.results[i].audit_state == 1) {
                                                    right_html += '<span data-id="' + data.results[i].id + '" class="item deleteItem">删除</span>' +
                                                                   '<span data-id="' + data.results[i].id + '" class="item pro_editor">编辑</span></div>';
                                                } else if ((data.results[i].audit_state == 0)) {
                                                    right_html += '<span data-id="' + data.results[i].id + '" class="item pro_editor">查看</span>' +
                                                                    '<span data-id="' + data.results[i].id + '" class="item pro_pass_01">返现</span></div>';
                                                } else {
                                                    right_html += '<span data-id="' + data.results[i].id + '" class="item pro_editor">查看</span></div>';
                                                }
											} else{
											    if (data.results[i].audit_state == 1) {
											    	right_html += '<span data-id="' + data.results[i].id + '" class="item deleteItem">删除</span>' +
											    	               '<span data-id="' + data.results[i].id + '" class="item pro_editor">编辑</span>' +
											    	               '<span data-id="' + data.results[i].id + '" class="item pro_pass_02">审核</span>' +
											    	               '<span data-id="' + data.results[i].id + '" class="item pro_refuse_02">拒绝</span></div>';
											    } else{
											    	right_html += '<span data-id="' + data.results[i].id + '" class="item pro_editor">查看</span></div>';
											    }
											}
//												(data.results[i].audit_state == 1 ? '<span data-id="' + data.results[i].id + '" class="item deleteItem">删除</span>' : '') +
//												'<span data-type="' + data.results[i].is_official + '"  data-id="' + data.results[i].id + '" class="item pro_editor"> ' + (data.results[i].audit_state == 1 ? '编辑' : '查看') + ' </span></div>';
										li_left.innerHTML = left_html;
										li_right.innerHTML = right_html;
										ul_left.appendChild(li_left);
										ul_right.appendChild(li_right);
									}

								}
							},
							error: function(xhr, type, errorThrown) {
								console.log("没有数据")
								//没有数据 显示没有更多数据
								mui('#pullrefresh').pullRefresh().endPullupToRefresh(true);;
							}

						});
					}

            
            var _that;
            var _id;
            var confirm_pass = document.getElementById('confirm_pass'),
                confirm_pass_02 = document.getElementById('confirm_pass_02'),
                confirm_refuse_02 = document.getElementById('confirm_refuse_02');
			mui(".mui-table-view-right").on('tap', '.deleteItem', function() {
				var dataId = this.getAttribute('data-id'); //获取当前span标签的data-id
				console.log('dataId:', dataId);
				//					console.log(mui(".item" + dataId));
				var btnArry = ['否', '是'];
				mui.confirm("是否要删除该条数据", "提示", btnArry, function(e) {
					if(e.index == 1) {

						mui.ajax("/restapi/investlogs/" + dataId + "/", {
							dataType: 'json', //服务器返回json格式数据
							type: 'delete', //HTTP请求类型
							timeout: 10000, //超时时间设置为10秒；
							success: function(data) {
								mui(".item" + dataId).each(function() {
									console.log(this.parentNode); //当前父节点 
									this.parentNode.removeChild(this);
								})
							},
							error: function(xhr, type, errorThrown) {
								console.log(xhr.resoponseText);
							}
						});

					} else {
						return;
					}
				});
			});

            mui('.mui-bar').on('tap', '.mui-action-back2', function() {
                var href = this.getAttribute("href");
                mui.openWindow({
                    url: href,
                    styles: {
                        top: 0,
                        bottom: 0
                    },
                    show: {
                        aniShow: 'slide-in-right',
                    },
                    waiting: {
                        autoShow: false, //自动显示等待框
                        title: '正在加载...', //等待对话框上显示的提示内容
                    }
                });
            });
			mui('.mui-table-view-right').on('tap', '.pro_editor', function() {

				var project_id = this.getAttribute('data-id'); //获取自定义data-id属性
				var type = this.getAttribute("data-type"); //获取自定义属性data-type属性
				console.log(type)
				if(type == "true") {
					mui.openWindow({
						url: "/account/detail_investlog/" + project_id,
						styles: {
							top: 0,
							bottom: 0
						},
						show: {
							aniShow: 'slide-in-right',
						},
						waiting: {
							autoShow: false, //自动显示等待框
							title: '正在加载...', //等待对话框上显示的提示内容
						}
					});
				} else {
					mui.openWindow({
						url: "/account/detail_investlog/" + project_id,
						styles: {
							top: 0,
							bottom: 0
						},
						show: {
							aniShow: 'slide-in-right',
						},
						waiting: {
							autoShow: false, //自动显示等待框
							title: '正在加载...', //等待对话框上显示的提示内容
						}
					});
				}
			});
			
			mui(".mui-table-view-right").on('tap', '.pro_pass_01', function() {
                _id = this.getAttribute('data-id');
                _that = this;
                document.getElementById("return_amount").value = '';
                mui('.popup.m-pass-proj')[0].style.display = 'block';
            });
			mui(".mui-table-view-right").on('tap', '.pro_pass_02', function() {
                _id = this.getAttribute('data-id');
                _that = this;
                document.getElementById("settle_amount_02").value = '';
                document.getElementById("return_amount_02").value = '';
                mui('.popup.m-pass-proj-02')[0].style.display = 'block';
            });
            mui(".mui-table-view-right").on('tap', '.pro_refuse_02', function() {
                _id = this.getAttribute('data-id');
                _that = this;
                document.getElementById("refuse_reason_02").value = '';
                mui('.popup.m-refuse-proj-02')[0].style.display = 'block';
            });
            confirm_pass.addEventListener('tap', function(){
                console.log(_id);
                var return_amount = document.getElementById("return_amount").value;
                if(!return_amount) {
                    mui.alert('填写项不能为空')
                    return;
                }
                console.log(return_amount)
                
                mui.ajax("/account/admin_invest/" + _id + "/", {
                    dataType: 'json', //服务器返回json格式数据
                    type: 'post', //HTTP请求类型
                    timeout: 10000, //超时时间设置为10秒；
                    data: {
                        'return_amount': return_amount,
                    },
                    success: function(ret) {
                        if(ret.code == 0) {
                            var pass_dom = '.pass_' + _id;
                            mui(pass_dom)[0].innerText = return_amount;
                            mui('.popup.m-pass-proj')[0].style.display = 'none';
                            mui.alert('操作成功');
                        } else {
                            mui.alert(ret.msg);
                        }
                    },
                    error: function(xhr, type, errorThrown) {
                        console.log(xhr.resoponseText);
                    }
                });
            })
            confirm_pass_02.addEventListener('tap', function(){
                console.log(_id);
                var settle_amount_02 = document.getElementById("settle_amount_02").value;
                var return_amount_02 = document.getElementById("return_amount_02").value;
                if(!settle_amount_02 || !return_amount_02) {
                    mui.alert('填写项不能为空');
                    return;
                }
                console.log(settle_amount_02 + ', ' + return_amount_02);
                mui.ajax("/account/admin_invest/" + _id + "/", {
                    dataType: 'json', //服务器返回json格式数据
                    type: 'post', //HTTP请求类型
                    timeout: 10000, //超时时间设置为10秒；
                    data: {
                        'settle_amount': settle_amount_02,
                        'return_amount': return_amount_02,
                        'audit_state': 0,
                    },
                    success: function(ret) {
                        if(ret.code == 0) {
                            var settle_amount = '.settle_' + _id;
                            var pass_dom = '.pass_' + _id;
                            var state_dom = '.state_' + _id;
                            mui(settle_amount)[0].innerText = settle_amount_02;
                            mui(pass_dom)[0].innerText = return_amount_02;
                            mui(state_dom)[0].innerText = '审核通过';
                            mui(state_dom)[0].style.color = '#91c11d';
                            _that.parentNode.innerHTML = '<span data-id="' + _id + '" class="item pro_editor">查看</span>';
                            mui('.popup.m-pass-proj-02')[0].style.display = 'none';
                            mui.alert('操作成功');
                        } else {
                            mui.alert(ret.msg);
                        }
                    },
                    error: function(xhr, type, errorThrown) {
                        console.log(xhr.resoponseText);
                    }
                });
            })
            confirm_refuse_02.addEventListener('tap', function(){
                console.log(_id);
                var refuse_reason_02 = document.getElementById("refuse_reason_02").value;
                if(!refuse_reason_02) {
                    mui.alert('拒绝原因不能为空')
                    return;
                }
                console.log(refuse_reason_02);
                mui.ajax("/account/admin_invest/" + _id + "/", {
                    dataType: 'json', //服务器返回json格式数据
                    type: 'post', //HTTP请求类型
                    timeout: 10000, //超时时间设置为10秒；
                    data: {
                        'audit_reason': refuse_reason_02,
                        'audit_state': 2,
                    },
                    success: function(ret) {
                        if(ret.code == 0) {
                             var refuse_reason = '.refuse_' + _id;
                             var state_dom = '.state_' + _id;
                            mui(refuse_reason)[0].innerText = refuse_reason_02;
                            mui(state_dom)[0].innerText = '审核未通过';
                            mui(state_dom)[0].style.color = 'red';
                            _that.parentNode.innerHTML = '<span data-id="' + _id + '" class="item pro_editor">查看</span>';
                            mui('.popup.m-refuse-proj-02')[0].style.display = 'none';
                            mui.alert('操作成功');
                        } else {
                            mui.alert(ret.msg);
                        }
                    },
                    error: function(xhr, type, errorThrown) {
                        console.log(xhr.resoponseText);
                    }
                });
                
            })
            var canclePopup = function(obj) {       //取消自定义弹窗
                obj.parentNode.parentNode.parentNode.style.display = 'none';
            }
		</script>

	</body>

</html>