<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>项目管理详情</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="{% static 'css/mui.min.css' %}" rel="stylesheet" />
	</head>
		
	<body>
		<header id="header" class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #656565;"></a>
			<h1 class="mui-title">项目管理</h1>
		</header>
		
		
		<script src="{% static 'css/mui.min.js' %}"></script>
		<script type="text/javascript">
			mui.init();
			
		</script>
	</body>

</html>