{% load staticfiles %}
<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>项目管理</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" href="{% static 'css/mui.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/ProjectMamagement.css' %}">
		<script type="text/javascript" src="{% static  'js/rem.js'%}"></script>
		<style>
			.mui-pull-bottom-wrapper {
				/*margin: 0 auto;*/
				text-align: center;
			}
			
			.deleteItem {
				color: RGB(228, 44, 44);
			}
			
			.btn {
				margin-left: 2rem;
			}
			.btn1{
				margin-left: 2rem;
			}
			.item_line.m-right{
				display: table;
			}
			.column{
				display: table-cell;
				vertical-align: middle;
			}
			.pro_editor{
				text-decoration: underline;
				color: blue;
			}
		</style>
	</head>

	<body>
		<header id="header" class="mui-bar mui-bar-nav">
			<a id="anchor" href="{% url 'account_index' %}" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #656565;"></a>
			<h1 class="mui-title">项目管理</h1>
		</header>

		<div class="mui-content">
			<div id="finance_slider" class="mui-slider mui-fullscreen">
				<div class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<a class="mui-control-item" href="#item1">官方数据</a>
					<a class="mui-control-item" href="#item2">自建数据</a>
				</div>
				<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-6" style="background: #92C11D;"></div>

				<div class="mui-slider-group">
					<div id="item1" class="mui-slider-item mui-control-content mui-active">
						<div id="scroll1" class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<div class="mui-table-view">
									<ul class="mui-table-view-left">
										<li class="item_line m-head">
										    <div class="column_1 column m-head">项目名称</div>
										</li>
									</ul>
									<ul class="mui-table-view-right">
										<li class="item_line m-head m-right">
											<div class="column_2 column m-head">客户指导价</div>
											<div class="column_3 column m-head">标期</div>
											<div class="column_4 column m-head">投资区间</div>
											<div class="column_5 column m-head">预计年化</div>
											<div class="column_6 column m-head">是否主页呈现</div>
											<div class="column_7 column m-head">是否推荐</div>
											<div class="column_8 column m-head">操作</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div id="item2" class="mui-slider-item mui-control-content">
						<div id="scroll2" class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<div class="mui-table-view">
									<ul class="mui-table-view-left">
										<li class="item_line m-head">
										    <div class="column_1 column m-head">名称/手机号</div>
										</li>
									</ul>
									<ul class="mui-table-view-right">
										<li class="item_line m-head m-right">
											<div class="column_2 column m-head">客户指导价</div>
											<div class="column_3 column m-head">标期</div>
											<div class="column_4 column m-head">投资区间</div>
											<div class="column_5 column m-head">预计年化</div>
											<div class="column_6 column m-head">是否主页呈现</div>
											<div class="column_7 column m-head">是否推荐</div>
											<div class="column_8 column m-head">操作</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<script src="{% static 'js/mui.min.js' %}"></script>
			<script src="{%static 'js/mui.pullToRefresh.js'%}"></script>
			<script src="{%static 'js/mui.pullToRefresh.material.js'%}"></script>
			<script>
				mui.init();
				mui('.mui-slider').slider().setStopped(true);
				(function($) {
					//阻尼系数
					var deceleration = mui.os.ios ? 0.003 : 0.0009;
					$('.mui-scroll-wrapper').scroll({
						bounce: true,
						indicators: true, //是否显示滚动条
						deceleration: deceleration
					});
					$.ready(function() {
						//循环初始化所有上拉加载
						$.each(document.querySelectorAll('.mui-slider-group .mui-scroll'), function(index, pullRefreshEl) {
							var count = 1;
							$(pullRefreshEl).pullToRefresh({
								up: {
									auto: true,
									callback: function() {
										var self = this;
										var ul_left = self.element.querySelector('.mui-table-view-left');
										var ul_right = self.element.querySelector('.mui-table-view-right');
										getList(this, ul_left, ul_right, count++, index);

									}
								}
							});
						});

						function getList(obj, ul_left, ul_right, n, index) {
							console.log(index);
							if(index === 0) {
								var url = '/restapi/sub/?ordering=project__state,-is_on&is_official=2';
							} else if(index === 1) {
								var url = '/restapi/sub/?ordering=project__state,-is_on&is_official=3';
							}
							mui.ajax(url, {
								data: {
									page: n,
									pageSize: 12,
								},
								dataType: 'json', //服务器返回json格式数据
								type: 'get', //HTTP请求类型
								timeout: 3000, //超时时间设置为10秒；
								success: function(data) {
									console.log("ajax数据：", data.results);
									if(!data.results.length) {
										obj.endPullUpToRefresh(true);
									} else {
										obj.endPullUpToRefresh(false); //参数为true代表没有更多数据了。
										//var table = document.body.querySelector('.mui-table-view');
										for(var i in data.results) {
											var li_left = document.createElement('li');
											var li_right = document.createElement('li');
											li_left.className = 'item_line item';
											li_right.className = 'item_line m-right item';
											var left_html = '<div class="column_1 column"><span class="item1" >' + data.results[i].project_title + '</span></div>';

											var right_html = '<div data-id=" ' + data.results[i].id + ' " class="column_2 column">' +
												'<span class="item1">' + (data.results[i].price ? data.results[i].price : data.results[i].project_cprice) + '</span></div>' +
												//标期
												'<div class="column_3 column"><span class="item1">' + data.results[i].project_term + '</span></div>' +
												//投资区间
												'<div class="column_4 column"><span class="item1">' + data.results[i].project_intrest + '</span></div>' +
												//
												'<div class="column_5 column"><span class="item1">' + data.results[i].project_intrest + '</span></div>' +
												//是否主业呈现
												'<div class="column_6 column"><div class="btn"><div data-btn="' + (data.results[i].id) + '" class="mui-switch show mui-switch-mini ' + (data.results[i].is_on ? "mui-active" : "") + ' "><div class="mui-switch-handle"></div></div></div></div>' +
												//是否推荐
												'<div class="column_7 column"><div class="btn1"><div data-id="' + (data.results[i].id) + '" data-recommend= "' + (data.results[i].is_recommend) + '" class="mui-switch recommend mui-switch-mini ' + (data.results[i].is_recommend ? "mui-active" : "") + ' "><div class="mui-switch-handle"></div></div></div></div>' +
												//操作
												'<div class="column_8 column"><span data-type="' + data.results[i].project_is_official + '" data-project="' + data.results[i].project + '" data-id="' + data.results[i].id + '" class="item1 pro_editor"> ' + (data.results[i].audit_state == 1 ? '查看' : '编辑') + ' </span></div>';
											li_left.innerHTML = left_html;
											li_right.innerHTML = right_html;
											ul_left.appendChild(li_left);
											ul_right.appendChild(li_right);
										}
										mui('.mui-switch').switch();
									}
								},
								error: function(xhr, type, errorThrown) {
									console.log("没有数据")
									//没有数据 显示没有更多数据
									obj.endPullUpToRefresh(true);
								}

							});
						}

					});
				})(mui);

				//是否主业呈现
				mui('.mui-table-view').on('toggle', '.show', function() {
					var id = this.getAttribute("data-btn"); //获取当前switch属性
					console.log('是否主页呈现', id)
					if(event.detail.isActive) {
						console.log("你启动了开关");
						mui.ajax('/restapi/sub/' + id + '/', {
							data: {
								'is_on': true
							},
							dataType: 'json', //服务器返回json格式数据
							type: 'put', //HTTP请求类型
							timeout: 10000, //超时时间设置为10秒；
							success: function(data) {
								console.log("llc发送成功");
							},
							error: function(xhr, type, errorThrown) {
								console.log(xhr.responseText);
							}
						});

					} else {
						console.log("你关闭了开关");
						mui.ajax('/restapi/sub/' + id + '/', {
							data: {
								'is_on': false
							},
							dataType: 'json', //服务器返回json格式数据
							type: 'put', //HTTP请求类型
							timeout: 10000, //超时时间设置为10秒；
							success: function(data) {
								console.log("llc发送成功");
							},
							error: function(xhr, type, errorThrown) {
								console.log(xhr.responseText);
							}
						});
					}
				});

				//是否推荐
				mui('.mui-table-view').on('toggle', '.recommend', function() {
					var id = this.getAttribute("data-id");
					console.log("当前的----ID：", id);
					var r_id = this.getAttribute("data-recommend"); //获取当前switch属性
					console.log("是否推荐", r_id);
					if(event.detail.isActive) {
						console.log("你启动了开关");
						mui.ajax('/restapi/sub/' + id + '/', {
							data: {
								'is_recommend': true
							},
							dataType: 'json', //服务器返回json格式数据
							type: 'put', //HTTP请求类型
							timeout: 10000, //超时时间设置为10秒；
							success: function(data) {
								console.log("llc发送成功");
							},
							error: function(xhr, type, errorThrown) {
								console.log(xhr.responseText);
							}
						});

					} else {
						console.log("你关闭了开关");
						mui.ajax('/restapi/sub/' + id + '/', {
							data: {
								'is_recommend': false
							},
							dataType: 'json', //服务器返回json格式数据
							type: 'put', //HTTP请求类型
							timeout: 10000, //超时时间设置为10秒；
							success: function(data) {
								console.log("llc发送成功");
							},
							error: function(xhr, type, errorThrown) {
								console.log(xhr.responseText);
							}
						});
					}

				});

				//跳转页面
				mui('.mui-table-view').on('tap', '.pro_editor', function() {
					var project_id = this.getAttribute('data-project');
					console.log("当前project_id值：", project_id);
					var type = this.getAttribute("data-type");
					console.log("当前type值：", type);
					if(type == 'True') {
						mui.openWindow({
							url: "/account/update_offiproject/" + project_id,
							styles: {
								top: 0,
								bottom: 0
							},
							show: {
								aniShow: 'slide-in-right',
							},
							waiting: {
								autoShow: false, //自动显示等待框
								title: '正在加载...', //等待对话框上显示的提示内容
							}
						});
					} else {
						mui.openWindow({
							url: "/account/create_update_selfproject/" + project_id,
							styles: {
								top: 0,
								bottom: 0
							},
							show: {
								aniShow: 'slide-in-right',
							},
							waiting: {
								autoShow: false, //自动显示等待框
								title: '正在加载...', //等待对话框上显示的提示内容
							}
						});
					}
				});
			</script>

	</body>

</html>