{% load staticfiles %}
<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>收支详情</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="{% static 'css/mui.min.css' %}" rel="stylesheet" />
		<link rel="stylesheet" href="{% static 'css/PaymentDetails.css' %}" />
		<script type="text/javascript" src="{% static 'js/rem.js' %}"></script>
		<style>
			.pro_reduice {
				position: absolute;
				left: 5px;
			}
			.add{
				color: RGB(248,90,89);
			}
			.reduce{
				color: RGB(234,240,254)
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav" style="position: relative;background: white;">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: RGB(102,102,102);"></a>
			<h1 class="mui-title" style="style=" color: RGB(102,102,102); "">收支详情</h1>
			<img src="{% static 'images/icon_03.jpg' %}" class="header_icon" />
			<span class="header_audit">全部</span>
		</header>
		<div class="mui-content">
			<div id="finance_slider" class="mui-slider mui-fullscreen" style="top: 0;">
				<div class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
				</div>
				<div class="mui-slider-group">
					<div id="item1" class="mui-slider-item mui-control-content mui-active">
						<div id="scroll1" class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<ul class="mui-table-view">
									<!--<li class="mui-table-view-cell">
								    	<span class="pro_name">项目名称</span>
								    	<span class="pro_add pro_reduice">-1000.00</span>
								    	<p class="pro_time">2017-10-10</p>
								    	<span class="pro_num">200000</span>
								    </li>-->
								</ul>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<script src="{% static 'js/mui.min.js' %}"></script>
		<script src="{%static 'js/mui.pullToRefresh.js'%}"></script>
		<script src="{%static 'js/mui.pullToRefresh.material.js'%}"></script>
		<script type="text/javascript">
			mui.init();
			(function($) {
				//阻尼系数
				var deceleration = mui.os.ios ? 0.003 : 0.0009;
				$('.mui-scroll-wrapper').scroll({
					bounce: true,
					indicators: true, //是否显示滚动条
					deceleration: deceleration
				});
				$.ready(function() {
					//循环初始化所有上拉加载
					$.each(document.querySelectorAll('.mui-slider-group .mui-scroll'), function(index, pullRefreshEl) {
						var count = 1;
						$(pullRefreshEl).pullToRefresh({
							up: {
								auto: true,
								callback: function() {
									var self = this;
									var ul = self.element.querySelector('.mui-table-view');
									getList(this, ul, count++, index);

								}
							}
						});
					});
				});
				function getList(obj, ul, n, index) {
						var url = '/restapi/translist/?page=1&pageSize=10';
						mui.ajax(url, {
							data: {
								page: n,
								pageSize: 1,
							},
							dataType: 'json', //服务器返回json格式数据
							type: 'get', //HTTP请求类型
							timeout: 3000, //超时时间设置为10秒；
							success: function(data) {
								console.log("这是data：", data.results);
								if(!data.results.length) {
									obj.endPullUpToRefresh(true);
								} else {
									obj.endPullUpToRefresh(false); //参数为true代表没有更多数据了。
									var table = document.body.querySelector('.mui-table-view');
									for(var i in data.results) {
										//截取字符串
										var Time = data.results[i].time.split("T");
										console.log('transType值:', data.results[i].transType);
										var transType = data.results[i].transType;
										var li = document.createElement('li');
										li.className = 'mui-table-view-cell';
										str_html = '<span class=" pro_name">' + data.results[i].user + '</span>' +
											'<span data-isAdd="+ data.results[i].transType +" class="pro_add">' + (transType==0 ? '+' + data.results[i].transAmount : '-' + data.results[i].transAmount) +'</span>' +
											'<p class="pro_time">' + Time[0] + '</p>' +
											'<span  class="pro_num">' + data.results[i].user_balance + '</span>';

										console.log(mui(".pro_add").data);
										if (mui(".pro_add").transType==0) {
											mui(".pro_add").classList.add("add");
										} else if(mui(".pro_add").transType==1){
											mui(".pro_add").classList.add("reduce");
										}
										
										li.innerHTML = str_html;
										ul.appendChild(li);
									}

								}
							},
							error: function(xhr, type, errorThrown) {
								console.log("没有数据")
								//没有更多数据
								obj.endPullUpToRefresh(true);
							}
						});
					}

			})(mui);
		</script>
	</body>

</html>