{% load staticfiles %}
<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>收支详情</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="{% static 'css/mui.min.css' %}" rel="stylesheet" />
		<link rel="stylesheet" href="{% static 'css/PaymentDetails.css' %}" />
		<script type="text/javascript" src="{% static 'js/rem.js' %}" ></script>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav" style="position: relative;background: white;">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: RGB(102,102,102);"></a>
		    <h1 class="mui-title"style="style="color: RGB(102,102,102);"">收支详情</h1>
		    <img src="img/icon_03.jpg" class="header_icon" />
		    <span class="header_audit">全部</span>
		</header>
		<div class="mui-content">
		    <ul class="mui-table-view">
			    <li class="mui-table-view-cell">
			    	
			    </li>
			    <li class="mui-table-view-cell">
			    	
			    </li>
			    <li class="mui-table-view-cell">
			    	<span class="pro_name">项目名称</span>
			    	<span class="pro_add pro_reduice">-1000.00</span>
			    	<p class="pro_time">2017-10-10</p>
			    	<span class="pro_num">200000</span>
			    </li>
			    <li class="mui-table-view-cell">
			    	<span class="pro_name">项目名称</span>
			    	<span class="pro_add pro_reduice">-1000.00</span>
			    	<p class="pro_time">2017-10-10</p>
			    	<span class="pro_num">200000</span>
			    </li>
			    <li class="mui-table-view-cell">
			    	<span class="pro_name">项目名称</span>
			    	<span class="pro_add">+1000.00</span>
			    	<p class="pro_time">2017-10-10</p>
			    	<span class="pro_num">200000</span>
			    </li>
			    <li class="mui-table-view-cell">
			    	<span class="pro_name">项目名称</span>
			    	<span class="pro_add">+1000.00</span>
			    	<p class="pro_time">2017-10-10</p>
			    	<span class="pro_num">200000</span>
			    </li>
			    <li class="mui-table-view-cell">
			    	<span class="pro_name">项目名称</span>
			    	<span class="pro_add">+1000.00</span>
			    	<p class="pro_time">2017-10-10</p>
			    	<span class="pro_num">200000</span>
			    </li>
			</ul>
		</div>
		
		
		<script src="dist/js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init()
			
		</script>
	</body>

</html>