{% load staticfiles %}
<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>自建项目详情</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="{% static 'css/mui.min.css' %}" rel="stylesheet" />
		<script type="text/javascript" src="{% static 'js/rem.js' %}"></script>
		<style type="text/css">
			body {
				background: white;
			}
			
			table {
				color: RGB(102, 102, 102);
				font-size: 1.2rem;
			}
			td{
				color: RGB(116,39,39);
			}
			.t1 {
				width: 8rem;
				height: 4rem;
				text-align: center;
				line-height: 3rem;
			}
			.t2{
				width: 22rem;
				height: 3rem;
			}
			.t3{
				width: 100%;
				height: 3rem;
				margin-top: 6rem;
			}
			.txt{
				width: 18rem;
				height: 3rem;
				line-height: 3rem;
				border-radius: 5px;
				border: 1px solid RGB(116,39,39);
				position: relative;
			}
			.txt > input{
				border: none;
				height: 2.5rem;
				font-size: 15px;
			}
			.btn {
				width: 16rem;
				height: 3.5rem;
				background: RGB(145, 193, 29);
				color: white;
				margin: 1rem 7rem;
				border-radius: 10px;
				font-size: 1.4rem;
			}
			
			.decrBox {
				width: 100%;
				height: 3rem;
				position: absolute;top: -1.5rem;left: -4rem;
			}
			
			.mark {
				list-style: none;
				float: left;
				width: 5rem;
				height: 3rem;
				text-align: center;
				line-height: 3rem;
				margin-left: 1rem;
				margin-top: 0.6rem;
				border-radius: 6px;
				font-size: 12px;
			}
			
			.decrBox .mark.on {
				background: RGB(254, 191, 0);
				color: white;
			}
			
			.decrBox .mark {
				border: 1px solid RGB(254, 191, 0);
				color: RGB(254, 191, 0);
			}
			
			.box {
				width: 1.2rem;
				height: 1.2rem;
			}
			
			.box1 {
				width: 1.2rem;
				height: 1.2rem;
			}
			
			.box2 {
				width: 1.2rem;
				height: 1.2rem;
			}
			
		</style>
	</head>

	<body>
		<header id="header" class="mui-bar mui-bar-nav">
			<a id="anchor" href="{% url 'project_manage' %}" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #656565;"></a>
			<h1 class="mui-title" style="color: RGB(102,102,102);">查看详情</h1>
		</header>
		
		<div class="mui-content" style="background: white;">
			<form>
				<table>
					<tr>
						<td class="t1"><span>项目名称</span></td>
						<td class="t2">
							<div class="txt">
								<input id="title" type="text" />
							</div>
						</td>
					</tr>
					<tr>
						<td class="t1"><span>详情页价格</span></td>
						<td class="t2">
							<div class="txt">
								<input id="cprice" type="text" />
							</div>
						</td>
					</tr>
					<tr>
						<td class="t1"><span>主页价格</span></td>
						<td class="t2">
							<div class="txt">
								<input id="shortprice" type="text" />
							</div>
						</td>
					</tr>
					<tr>
						<td class="t1"><span>标期</span></td>
						<td class="t2">
							<div class="txt">
								<input id="term" type="text" />
							</div>
						</td>
					</tr>
					<tr>
						<td class="t1"><span>投资区间</span></td>
						<td class="t2">
							<div class="txt">
								<input id="investrange" type="text" />
							</div>
						</td>
					</tr>
					<tr>
						<td class="t1"><span>预计年化</span></td>
						<td class="t2">
							<div class="txt">
								<input id="intrest" type="text" />
							</div>
						</td>
					</tr>
					<tr>
						<td class="t1">允许复投</td>
						<td class="t2">
							<input class="box is_futou" type="radio" name="yes_no" value="true" />是
							<input class="box is_futou" type="radio" name="yes_no" value="false" style="margin-left: 4rem;" />否
						</td>
					</tr>
					<tr>
						<td class="t1">需要预约</td>
						<td class="t2">
							<input class="box1 is_book" type="radio" name="older" value="true" />是
							<input class="box1 is_book" type="radio" name="older" value="false" style="margin-left: 4rem;" />否
						</td>
					</tr>
					<tr>
						<td class="t1"><span>项目标签</span></td>
						<td class="t2" style="position: relative;">
							<ul class="decrBox mark-box">
								{% for item in marks %}
                                    <li data-id="{{item.id}}" class="mark">{{item.name}}</li>
                                {%endfor%}
							</ul>
						</td>
					</tr>
					<tr>
						<td style="padding-top:8rem;"></td>
					</tr>
					<tr>
						<td class="t3" colspan="2">
							<span style="margin-left: 12rem;">用户交单项</span>
						</td>
					</tr>
					<tr>
						<td style="padding-left: 1.5rem;" class="t3" colspan="2">
							<input class="box2" value="4" type="checkbox" checked="checked" disabled="disabled" />收款信息
							<input class="box2" value="5" type="checkbox"  checked="checked" disabled="disabled" style="margin-left: 2rem;" />投资手机号
							<input class="box2" value="2" type="checkbox" style="margin-left: 4.5rem;" />投资标期
						</td>
					</tr>
					<tr>
						<td style="padding-left: 1.5rem;" class="t3" colspan="2">
							<input class="box2" value="3" type="checkbox" />投资日期
							<input class="box2" value="0" type="checkbox" style="margin-left: 2rem;"/>投资姓名/用户名
							<input class="box2" value="1" type="checkbox" style="margin-left: 2rem;"/>投资金额
						</td>
					</tr>
					<tr>
						<td style="padding-left: 1.5rem;" class="t3" colspan="2">
							<input class="box2" value="8" type="checkbox" />投资截图
							<input class="box2" value="6" type="checkbox" style="margin-left: 2rem;" />用户预期返现金额
							<input class="box2" value="7" type="checkbox" style="margin-left:1.2rem ;" />QQ
						</td>
					</tr>
					<tr>
						<td  class="t3" colspan="2">
							<button type="button" id="submit" class="mui-btn btn">确定</button>
						</td>
					</tr>
				</table>
			</form>
		</div>

		<script src="{% static 'js/mui.min.js' %}"></script>
		<script type="text/javascript">
			mui.init();
			var project_id = "{{id}}";
			var company_id;
			var strategy;
			var title = document.getElementById('title'),
			    cprice = document.getElementById('cprice'),
			    shortprice = document.getElementById('shortprice'),
			    term = document.getElementById('term'),
			    investrange = document.getElementById('investrange'),
			    intrest = document.getElementById('intrest');
			    
			mui.ajax('/restapi/projects/' + project_id + '/',{
                dataType:'json',//服务器返回json格式数据
                type:'get',//HTTP请求类型
                timeout:10000,//超时时间设置为10秒；
                success:function(ret){
                    company_id = ret.company;
                    strategy = ret.strategy;
                    title.value = ret.title;
                    cprice.value = ret.cprice?ret.cprice:ret.cprice;
                    shortprice.value = ret.shortprice;
                    term.value = ret.term;
                    investrange.value = ret.investrange;
                    intrest.value = ret.intrest;
                    
                    var radio_dom = '.is_futou[value="'+ ret.is_multisub_allowed +'"]'
                    mui(radio_dom)[0].checked = true;
                    var radio_dom2 = '.is_book[value="'+ ret.is_book +'"]'
                    mui(radio_dom2)[0].checked = true;
                    
                    var need_str = ret.necessary_fields;
                    var need_set = need_str.split(',');
                    var need_id;
                    if (need_set.length != 0) {
                        for (need_id in need_set) {
                            var dom = 'input[value="'+ need_set[need_id].replace(/(^\s*)|(\s*$)/g, "") +'"]';
                            mui(dom)[0].checked = true;
                        }
                    }
                },
                error:function(xhr,type,errorThrown){
                    console.log(xhr.responseText);
                }
            });
            
            var checked_marks = {{checked_marks}};
            console.log('marks: '+checked_marks);
            mui('.mark-box .mark').each(function(){
                var i;
                var mark_id = this.getAttribute('data-id');
                console.log(mark_id);
                for (i in checked_marks) {
                    if (mark_id == checked_marks[i]) {
                        this.className = 'mark on';
                        console.log('on');
                    }
                }
            })
            mui('.mark-box').on('tap', '.mark', function(){        //选择标签
                if (this.className == 'mark on') {
                	this.className = 'mark';
                } else{
                	
                    if (mui('.mark.on').length >= 3) {
                        mui.alert('每个项目最多选择三个标签');
                    } else {
                        this.className = 'mark on';
                    }
                }
            })
            
            document.getElementById('submit').addEventListener('tap',function (){
                var is_futou = mui("input[name='yes_no']:checked")[0].value;
                var is_book = mui("input[name='older']:checked")[0].value;
                var mark_str = '';
                mui('.mark.on').each(function(){
                    mark_str += this.getAttribute('data-id') + ',';
                })
                
                var need_arr = [];
                mui('input[type="checkbox"]:checked').each(function() {
                    need_arr.push(this.value);
                })
                var necessary_fields = need_arr.join(',');
                console.log(necessary_fields);
                
                if (!title.value || !cprice.value || !shortprice.value || !term.value || !investrange.value || !intrest.value) {
                	mui.alert('填写项不能为空');
                	return;
                }
                console.log(typeof(is_futou));
                mui.ajax('/account/create_update_selfproject/' + project_id + '/',{
                    data: {
                        'company': company_id,
                        'strategy': strategy,
                        'title': title.value,
                        'cprice': cprice.value,
                        'shortprice': shortprice.value,
                        'term': term.value,
                        'investrange': investrange.value,
                        'intrest': intrest.value,
                        'is_multisub_allowed': is_futou,
                        'is_book': is_book,
                        'necessary_fields': necessary_fields,
                        'marks': mark_str,
                    },
                    dataType:'json',//服务器返回json格式数据
                    type:'post',//HTTP请求类型
                    timeout:10000,//超时时间设置为10秒；
                    success:function(ret){
                        if (ret.code == 0) {
                        	mui.alert('修改成功');
                        } else{
                        	console.log(ret.msg);
                        }
                    },
                    error:function(xhr,type,errorThrown){
                        console.log(xhr.responseText);
                    }
                });
            })
            
            mui('.mui-bar-nav').on('tap', '.mui-pull-left', function() {
					mui.openWindow({
						url:'account/submit_itembyitem' ,
						styles: {
							top: 0,
							bottom: 0
						},
						show: {
							aniShow: 'slide-in-right',
						},
						waiting: {
							autoShow: false, //自动显示等待框
							title: '正在加载...', //等待对话框上显示的提示内容
						}
					});
			});
			
			mui('.mui-bar-nav').on('tap', '.mui-pull-left', function() {
				var Url = document.getElementById("anchor").getAttribute("href");
				mui.openWindow({
					url: Url,
					styles: {
						top: 0,
						bottom: 0
					},
					show: {
						aniShow: 'slide-in-right',
					},
					waiting: {
						autoShow: false, //自动显示等待框
						title: '正在加载...', //等待对话框上显示的提示内容
					}
				});
			});
		</script>
	</body>

</html>