<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>项目管理</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<!--标准mui.css-->
		<link rel="stylesheet" href="dist/css/mui.min.css">
		<link rel="stylesheet" href="dist/css/ProjectMamagement.css" />
		<script type="text/javascript" src="dist/js/rem.js" ></script>
		<!--App自定义的css-->
		<!--<link rel="stylesheet" type="text/css" href="../css/app.css" />-->
	</head>

	<body>

		<style>
			.mui-control-content {
				background-color: white;
			}
		</style>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: RGB(102,102,102);"></a>
			<h1 class="mui-title" style="color: RGB(102,102,102);">项目管理</h1>
		</header>
		<div class="mui-content">
			<div id="slider" class="mui-slider">
				<div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<a class="mui-control-item" href="#item1mobile" style="color: RGB(102,102,102);">
						官方项目
					</a>
							<a class="mui-control-item" href="#item2mobile" style="color: RGB(102,102,102);">
						自建项目
					</a>
				</div>
				<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-6" style="background: RGB(145,193,29);"></div>
				<div class="mui-slider-group" style="margin-top: 5px;">
					<div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
						<ul class="mui-table-view">
							<li class="mui-table-view-cell nav">
								<span class="nav_list nav_name">项目名称</span>
								<span class="nav_list nav_price">客户指导价</span>
								<span class="nav_list nav_isShow">是否主业呈现</span>
								<span class="nav_list nav_operation">操作</span>
							</li>
							<li class="mui-table-view-cell">
								<span class="pro_list pro_name">合时代一期</span>
								<span class="pro_list pro_price">年化投资金额*1.4%</span>
								<div class="mui-switch mui-switch-mini" style="position: absolute;right: 8rem;top: 1.6rem;">
								  <div class="mui-switch-handle"></div>
								</div>
								<span class="pro_list pro_editor">编辑</span>
							</li>
							<li class="mui-table-view-cell">
								<span class="pro_list pro_name">合时代一期</span>
								<span class="pro_list pro_price">年化投资金额*1.4%</span>
								<div class="mui-switch mui-switch-mini" style="position: absolute;right: 8rem;top: 1.6rem;">
								  <div class="mui-switch-handle"></div>
								</div>
								<span class="pro_list pro_editor">编辑</span>
							</li>
							<li class="mui-table-view-cell">
								<span class="pro_list pro_name">合时代一期</span>
								<span class="pro_list pro_price">年化投资金额*1.4%</span>
								<div class="mui-switch mui-switch-mini" style="position: absolute;right: 8rem;top: 1.6rem;">
								  <div class="mui-switch-handle"></div>
								</div>
								<span class="pro_list pro_editor">编辑</span>
							</li>
							<li class="mui-table-view-cell">
								<span class="pro_list pro_name">合时代一期</span>
								<span class="pro_list pro_price">年化投资金额*1.4%</span>
								<div class="mui-switch mui-switch-mini" style="position: absolute;right: 8rem;top: 1.6rem;">
								  <div class="mui-switch-handle"></div>
								</div>
								<span class="pro_list pro_editor">编辑</span>
							</li>
							<li class="mui-table-view-cell">
								<span class="pro_list pro_name">合时代一期</span>
								<span class="pro_list pro_price">年化投资金额*1.4%</span>
								<div class="mui-switch mui-switch-mini" style="position: absolute;right: 8rem;top: 1.6rem;">
								  <div class="mui-switch-handle"></div>
								</div>
								<span class="pro_list pro_editor">编辑</span>
							</li>
						</ul>
					</div>
					<div id="item2mobile" class="mui-slider-item mui-control-content">
						<ul class="mui-table-view">
							<li class="mui-table-view-cell nav">
								<span class="nav_list nav_name">项目名称</span>
								<span class="nav_list nav_price">客户指导价</span>
								<span class="nav_list nav_isShow">是否主业呈现</span>
								<span class="nav_list nav_operation">操作</span>
							</li>
							<li class="mui-table-view-cell">
								<span class="pro_list pro_name">合时代一期</span>
								<span class="pro_list pro_price">年化投资金额*1.4%</span>
								<div class="mui-switch mui-switch-mini" style="position: absolute;right: 8rem;top: 1.6rem;">
								  <div class="mui-switch-handle"></div>
								</div>
								<span class="pro_list pro_editor">编辑</span>
							</li>
							<li class="mui-table-view-cell">
								<span class="pro_list pro_name">合时代一期</span>
								<span class="pro_list pro_price">年化投资金额*1.4%</span>
								<div class="mui-switch mui-switch-mini" style="position: absolute;right: 8rem;top: 1.6rem;">
								  <div class="mui-switch-handle"></div>
								</div>
								<span class="pro_list pro_editor">编辑</span>
							</li>
							<li class="mui-table-view-cell">
								<span class="pro_list pro_name">合时代一期</span>
								<span class="pro_list pro_price">年化投资金额*1.4%</span>
								<div class="mui-switch mui-switch-mini" style="position: absolute;right: 8rem;top: 1.6rem;">
								  <div class="mui-switch-handle"></div>
								</div>
								<span class="pro_list pro_editor">编辑</span>
							</li>
							<li class="mui-table-view-cell">
								<span class="pro_list pro_name">合时代一期</span>
								<span class="pro_list pro_price">年化投资金额*1.4%</span>
								<div class="mui-switch mui-switch-mini" style="position: absolute;right: 8rem;top: 1.6rem;">
								  <div class="mui-switch-handle"></div>
								</div>
								<span class="pro_list pro_editor">编辑</span>
							</li>
							<li class="mui-table-view-cell">
								<span class="pro_list pro_name">合时代一期</span>
								<span class="pro_list pro_price">年化投资金额*1.4%</span>
								<div class="mui-switch mui-switch-mini" style="position: absolute;right: 8rem;top: 1.6rem;">
								  <div class="mui-switch-handle"></div>
								</div>
								<span class="pro_list pro_editor">编辑</span>
							</li>
							<li class="mui-table-view-cell">
								<span class="pro_list pro_name">合时代一期</span>
								<span class="pro_list pro_price">年化投资金额*1.4%</span>
								<div class="mui-switch mui-switch-mini" style="position: absolute;right: 8rem;top: 1.6rem;">
								  <div class="mui-switch-handle"></div>
								</div>
								<span class="pro_list pro_editor">编辑</span>
							</li>
							<li class="mui-table-view-cell">
								<span class="pro_list pro_name">合时代一期</span>
								<span class="pro_list pro_price">年化投资金额*1.4%</span>
								<div class="mui-switch mui-switch-mini" style="position: absolute;right: 8rem;top: 1.6rem;">
								  <div class="mui-switch-handle"></div>
								</div>
								<span class="pro_list pro_editor">编辑</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<script src="dist/js/mui.min.js"></script>
		<script>
			mui.init({
				swipeBack: false
			});
			(function($) {
				$('.mui-scroll-wrapper').scroll({
					indicators: true //是否显示滚动条
				});
								
			
			})(mui);
		</script>

	</body>

</html>