{% load staticfiles %} {% load myfilter %}
<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <!-- 优先使用 IE 最新版本和 Chrome -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!-- 为移动设备添加 viewport -->
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <!-- 添加到主屏后的标题（iOS 6 新增） -->
    <meta name="apple-mobile-web-app-title" content="">
    <!-- 是否启用 WebApp 全屏模式，删除苹果默认的工具栏和菜单栏 -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- 设置苹果工具栏颜色 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <!-- 添加智能 App 广告条 Smart App Banner（iOS 6+ Safari） -->
    <meta name="apple-itunes-app" content="app-id=myAppStoreID, affiliate-data=myAffiliateData, app-argument=myURL">
    <!-- 忽略页面中的数字识别为电话，忽略email识别 -->
    <meta name="format-detection" content="telphone=no" />
    <!--下面三个是清除缓存 微信浏览器缓存严重又无刷新；这个方法调试的时候很方便-->
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title></title>
    <link href="{% static 'css/mui.min.css' %}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/m_common.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/m_account_withdraw.css' %}" />
    <script>
        (function (designWidth, maxWidth) {
            var doc = document,
                win = window,
                docEl = doc.documentElement,
                remStyle = document.createElement("style"),
                tid;

            function refreshRem() {
                var width = docEl.getBoundingClientRect().width;
                maxWidth = maxWidth || 540;
                width > maxWidth && (width = maxWidth);
                var rem = width * 100 / designWidth;
                remStyle.innerHTML = 'html{font-size:' + rem + 'px;}';
            }

            if (docEl.firstElementChild) {
                docEl.firstElementChild.appendChild(remStyle);
            } else {
                var wrap = doc.createElement("div");
                wrap.appendChild(remStyle);
                doc.write(wrap.innerHTML);
                wrap = null;
            }
            //要等 wiewport 设置好后才能执行 refreshRem，不然 refreshRem 会执行2次；
            refreshRem();

            win.addEventListener("resize", function () {
                clearTimeout(tid); //防止执行两次
                tid = setTimeout(refreshRem, 300);
            }, false);

            win.addEventListener("pageshow", function (e) {
                if (e.persisted) { // 浏览器后退的时候重新计算
                    clearTimeout(tid);
                    tid = setTimeout(refreshRem, 300);
                }
            }, false);

            if (doc.readyState === "complete") {
                doc.body.style.fontSize = "16px";
            } else {
                doc.addEventListener("DOMContentLoaded", function (e) {
                    doc.body.style.fontSize = "16px";
                }, false);
            }
        })(750, 750);
    </script>
    <style>
        .mui-btn-block {
            font-size: 14px;
            /* display: block; */
            /* width: 100%; */
            margin-bottom: 0;
            padding: 0 0;
            color: #8f8f94;
        }
    </style>
</head>

<body>
    <header id="header" class="mui-bar mui-bar-nav">
        <a href="{% url 'account_index' %}" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
        <h1 class="mui-title">提现</h1>
    </header>
    <div class="mui-content" id="box" data-card_number="{{card.card_number}}" data-zhifubao="{{card.zhifubao}}">
        <!-- 未绑定银行卡盒子 -->
       
        <div class="no_bindBankCardBox" id="no_bindBankCardBox" style="display: none !important">
            <div class="no_bindImgBox">
                <img src="/static/images/no_bindCard.png" />
            </div>
            <div class="bankBox">
                <div class="bank_name">
                    <p class="addCard">点击添加银行卡</p>
                </div>
            </div>
            <div class="operateBox">
                <p class="operate">></p>
            </div>
        </div>
        <!-- 已绑定银行卡盒子 -->        
        <div class="bindBankCardBox" id="change_card" style="display: none !important">
            <div class="imgBox">
                    <!-- {%if card.bank %} -->
                    <img src="/static/images/{{card.bank}}.png" />
                    <!-- {%endif%} -->
            </div>
            <div class="bankBox">
                <div class="bank_name">
                    <p><span>{{card.get_bank_display}}</span></p>
                </div>
                <div class="bank_num">
                    <p><span><a>{{card.card_number}}</a></span></p>
                </div>
            </div>
            <div class="operateBox">
                <p>修改></p>
            </div>
        </div>
      
        <!-- 未绑定支付宝盒子 -->
        <div class="no_bindAlipayBox" id="no_bindAlipayBox" style="display: none !important">
            <div class="no_bindImgBox">
                <img src="/static/images/no_bindZfb.png" />
            </div>
            <div class="bankBox">
                <div class="bank_name">
                    <p class="addCard">点击添加支付宝</p>
                </div>
            </div>
            <div class="operateBox">
                <p class="operate">></p>
            </div>
        </div>
       
        <!-- 已绑定支付宝盒子 -->
        <div class="bindAlipayBox" id="bindAlipayBox" style="display: none !important">
            <div class="imgBox1">
                <img src="/static/images/zfbLogo.png" />
            </div>
            <div class="bankBox">
                <div class="bank_name">
                    <p><span>支付宝（{{user.zhifubao_real_name}}）</span></p>
                </div>
                <div class="bank_num">
                    <p><span><a>{{user.zhifubao}}</a></span></p>
                </div>
            </div>
            <div class="operateBox">
                <p>修改></p>
            </div>
        </div>
        
        <!-- 可提现金额 -->
        <p style="margin: 0.3rem 0.5rem 0.2rem">可提现金额<span style="color: RGB(149,194,38);">{{user.balance}}</span>元</p>
        <div class="amountBox">
            <p style="margin-left: 0.3rem;">提现金额</p>
            <input id="amontIpt" type="text" placeholder="输入的提现金额大于10元" />
            <p style="margin-right: 0.2rem">元</p>
        </div>
        <div class="desc">
            <p>
                注：单笔提现金额大于等于5万时，将提现至已绑定银行卡；单笔提现金额小于5万时，将提现至已绑定支付宝，当未绑定相应账号时， 将提现失败！
            </p>
        </div>
        <button class="submit">确定</button>
        <!-- 绑定银行卡 -->
        <div id="bindCard" class="mui-popover mui-popover-action mui-popover-bottom">
            <ul class="mui-table-view">
                <li class="mui-table-view-cell">
                    <!-- <a href="{% url 'change_bankcard_page' %}">添加银行卡</a> -->
                    <a href="{% url 'bind_bankcard_page' %}">添加银行卡</a>
                </li>
            </ul>
            <ul class="mui-table-view">
                <li class="mui-table-view-cell">
                    <a href="#bindCard"><b>取消</b></a>
                </li>
            </ul>
        </div>
        <!-- 更换银行卡 -->
        <div id="changeCard" class="mui-popover mui-popover-action mui-popover-bottom">
            <ul class="mui-table-view">
                <li class="mui-table-view-cell">
                    <a href="{% url 'change_bankcard_page' %}">更换银行卡</a>
                    <!-- <a href="{% url 'bind_bankcard_page' %}">绑定银行卡</a> -->
                </li>
            </ul>
            <ul class="mui-table-view">
                <li class="mui-table-view-cell">
                    <a href="#changeCard"><b>取消</b></a>
                </li>
            </ul>
        </div>
        <!-- 更换支付宝弹出层 -->
        <div id="changeAlipay" class="mui-popover mui-popover-action mui-popover-bottom">
            <ul class="mui-table-view">
                <li class="mui-table-view-cell">
                <!-- <a href="{% url 'bind_zhifubao_page' %}">绑定支付宝</a> -->
                <a href="{% url 'change_zhifubao_page' %}">更换支付宝</a>
                </li>
            </ul>
            <ul class="mui-table-view">
                <li class="mui-table-view-cell">
                    <a href="#changeAlipay"><b>取消</b></a>
                </li>
            </ul>
        </div>
        <!-- 绑定支付宝弹出层 -->
        <div id="bindAlipay" class="mui-popover mui-popover-action mui-popover-bottom">
            <ul class="mui-table-view">
                <li class="mui-table-view-cell">
                <a href="{% url 'bind_zhifubao_page' %}">绑定支付宝</a>
                <!-- <a href="{% url 'change_zhifubao_page' %}">更换支付宝</a> -->
                </li>
            </ul>
            <ul class="mui-table-view">
                <li class="mui-table-view-cell">
                    <a href="#bindAlipay"><b>取消</b></a>
                </li>
            </ul>
        </div>
    </div>
    {% include "m_footer.html" %}

    <script src="{% static 'js/mui.min.js' %}"></script>
    <!--弹窗部分-->
    <script type="text/javascript" charset="utf-8">
            mui.init({
                swipeBack: true //启用右滑关闭功能
            });
            var card_number = document.getElementById("box").getAttribute("data-card_number");
            var alipay_number = document.getElementById("box").getAttribute("data-zhifubao");
            var balance = {{user.balance}};
            //提现功能
            var withdraw_url = "{%url 'account_withdraw' %}";
            document.querySelector(".submit").addEventListener('tap',function(){
                var amount = document.getElementById("amontIpt").value;
                console.log(amount);
                amount = parseInt(amount);
                if (balance < amount) {
                    mui.alert("提现金额不能大于可以现金额")
                    return;
                }else if(isNaN(amount)){
                    mui.alert('提现数量必须为整数！');
                    return;
                }else if (isNaN(amount) || (amount<10)) {
                    mui.alert('提现金额应为大于等于为10的整数！');
                    return;
                }
                if(!alipay_number){
                    mui.alert("请绑定支付宝！");
                    return;
                }
                if(!card_number){
                    mui.alert("请绑定银行卡！");
                    return;
                }
                var confirm_str = "您提现的金额为人民币" + amount + "元，确认？"
                var btnArray = ['否', '是'];
                mui.confirm(confirm_str,'提现确认',btnArray,function (e) { 
                    if(e.index == 1){
                        mui.ajax({
                            url: withdraw_url,
                            dataType:"json",
                            type:'POST',
                            data : {
                                amount: amount,
                                
                            },
                            success:function(ret){
                                if (ret.code == 0) {
                                    mui.alert('申请提现成功');
                                } else {
                                    mui.alert(ret.res_msg);
                                }
                            },
                            error:function(){
                                alert("请检查网络连接");
                            }
                        });
                    }else{
                        console.log("取消")
                    }
                 })
            });
            
            //默认样式为隐藏 根据card_number和alipay_number是否存在显示绑定银行卡和更换银行卡
            if (!card_number) {
                document.getElementById("no_bindBankCardBox").style.display = "flex";
            } else if(card_number){
                document.getElementById("change_card").style.display = "flex";
            }
            if (!alipay_number) {
                document.getElementById("no_bindAlipayBox").style.display = "flex"; 
            } else if(alipay_number){
                document.getElementById("bindAlipayBox").style.display= "flex";
            }
         
            //绑定银行卡
            document.getElementById("no_bindBankCardBox").addEventListener('tap',function () { 
                mui("#bindCard").popover('toggle');
            }); 
        
            //更换银行卡
            document.getElementById("change_card").addEventListener('tap',function () { 
                mui('#changeCard').popover('toggle');
            })
        
            //绑定支付宝
            document.getElementById("no_bindAlipayBox").addEventListener('tap',function () { 
                mui("#bindAlipay").popover('toggle');
            })
        
            //更换支付宝
            document.getElementById("bindAlipayBox").addEventListener('tap',function () { 
                mui('#changeAlipay').popover('toggle');
            }) 
           
            




            // var withdraw_url = "{%url 'account_withdraw' %}";
            // document.getElementById("Btn").addEventListener('tap', function() {
            //     var amount = document.getElementById("with_amount").value;
            //     amount = parseInt(amount);
            //     if (isNaN(amount)){
            //         mui.alert('提现数量必须为整数！');
            //         return;
            //     }
            //     if (isNaN(amount) || (amount<10)) {
            //         mui.alert('提现金额应为大于等于为10的整数！');
            //         return;
            //     }
            //     var csrfmiddlewaretoken = document.getElementsByName("csrfmiddlewaretoken")[0].value;
            //     var btnArray = ['否', '是'];
            //     var confirm_str = "您提现的金额为人民币" + amount + "元，确认？"
            //     mui.confirm(confirm_str, '提现确认', btnArray, function(e) {
            //         if (e.index == 1) {
            //             mui.ajax({
            //                 url: withdraw_url,
            //                 dataType:"json",
            //                 type:'POST',
            //                 data : {
            //                     amount: amount,
            //                     csrfmiddlewaretoken:csrfmiddlewaretoken
            //                 },
            //                 success:function(ret){
            //                     if (ret.code == 0) {
            //                         mui.alert('申请提现成功');
            //                     } else {
            //                         mui.alert(ret.res_msg);
            //                     }
            //                 },
            //                 error:function(){
            //                     alert("请检查网络连接");
            //                 }
            //             });
            //         }
            //     })
            // });
            // document.getElementById("bank_card").addEventListener('tap', function() {
            //     mui('#sheet1').popover('toggle');
            // });
            // mui('.mui-bar').on('tap', '.mui-action-back', function() {
            //     var href = this.getAttribute("href");
            //     mui.openWindow({
            //         url: href,
            //         styles: {
            //             top: 0,
            //             bottom: 0
            //         },
            //         show: {
            //             aniShow: 'slide-in-right',
            //         },
            //         waiting: {
            //             autoShow: false, //自动显示等待框
            //             title: '正在加载...', //等待对话框上显示的提示内容
            //         }
            //     });
            // });
    </script>
</body>

</html>