{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>用户中心</title>
<link href="{% static 'images/favicon.ico'%}" rel="shortcut icon"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/wfl-common.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/account-base.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/wfl-page.css' %}" />
<script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/page.js' %}"></script>
<style type="text/css">
	.fubi-box {
	    margin-bottom: 20px;
	    height: 80px;
	    background-color: #fff;
	}
	.fubi-item {
	    display: inline-block;
	    margin-left: 20px;
	    min-width: 200px;
	    height: 80px;
	    line-height: 80px;
	    font-size: 18px;
	}
	.fubi-num {
	    display: inline-block;
	    padding: 0 10px;
	    color: #FFBE00;
	    font-size: 24px;
	}
	.tixian {
	    margin-top: 22px;
	    margin-right: 20px;
	}
</style>
<script type="text/javascript">
var data = '<table width="100%"><thead><tr><th height="44">项目</th>' +
'<th>金额</th><th>余额</th><th>获取时间</th><th>备注</th></tr></thead><tbody>'+
'[results]<tr><td>{reason}</td><td>{transAmount}</td><td>{initAmount}</td><td>{time}</td><td>{remark}</td></tr>[/results]'+
'</tbody></table>';
var url = "/restapi/translist/" + "?page={page}&size={pageSize}";
//function emptydisplay(obj){
//	pic_url = "/restapi/projects/";
//	obj.html('<div class="Defa-in"><img src="' + pic_url + '">'+
//			'<h2>咦~~ 您还没有相关记录~~</h2></div>');
//}
$(function(){
	$('.back-a8').toggleClass("on");
    $(".Close").click(function(){
    	$(".Listpop").css("display","none")<!--隐藏-->
    });
	$("#pagedata").ajaxPage({
	    url:url,
	    pageId:$("#page"),
	    run:true,
	    content:data,
	});

    // 审核拒绝原因弹窗
//	$('.Content').on('click','.state_2',function(){
//		  var reason = $(this).attr('reason');
//	      alert(reason);
//	  });
});
</script>
</head>

<body>
    {% include "header.html" %}
	<div class="Content">
    	<!--头部-->
    	<!--内容-->
    	{% include "account/left.html" %}
    	<div class="RightCont">
        	<div class="fubi-box">
            	<span class="fubi-item">您的累积收益<strong class="fubi-num">{{user.accu_income}}</strong></span>
            	<span class="fubi-item">账户余额<strong class="fubi-num">{{user.balance}}</strong></span>
                <a href="{%url 'account_withdraw'%}" class="tixian btn m-yellow r">提  现</a>
            </div>
            <div class="table">
                <h2 class="table__title">收支详情</h2>
                        <div id="pagedata">

                        </div>

                <div class="changes-p">
                    <div class="page" id="page">
                    </div>
                </div>

            </div>

        </div>
    	<!--底部-->
  {% include "footer.html" %}
  <!--浮动窗口-->
  {% include "outline.html" %}
    </div>
</body>
</html>
