{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>创建修改项目</title>
<link href="{% static 'images/favicon.ico'%}" rel="shortcut icon"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/wfl-common.css' %}" />
<link rel="stylesheet" href="{% static 'css/cropbox.css' %}" type="text/css" />
<link rel="stylesheet" type="text/css" href="{% static 'css/account-base.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/account_add_project.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.searchableSelect.css' %}" />
<script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/cropbox.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.searchableSelect.js' %}"></script>
<!--<script type="text/javascript" src="{% static 'js/page.js' %}"></script>-->
<script type="text/javascript">


$(function(){
    $('.back-a3').toggleClass("on");
    $(window).load(function() {

    });
});
</script>
</head>

<body>
	{% include "header.html" %}
	<!--内容-->
	<div class="Content">
    	{% include "account/left.html" %}
    	<div class="RightCont">
    	    <div class="right-top clearfix">
    	        <h2 class="top-title add-title l">新建项目</h2>
    	    </div>
    	    <div class="user-info-box">
        	    <div class="item m-company">
                    <span class="item__name">选择平台<i class="item__need">*</i></span>
                    <select class="company" name="choose_company">
                        <option data-logo="" value="0">--</option>
                        {% for item in companies %}
                        <option data-logo="{{item.logo.url}}" value="{{item.id}}">{{item.name}}</option>
                      {%endfor%}
                    </select>
                    <img class="company-logo" src="" alt="" />
                </div>
                <p style="padding-left: 204px;">注：如没有找到要选择的平台，请联系工作人员上传平台。
                    <a style="color: #91C11D; text-decoration: underline;" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=690501772&site=qq&menu=yes">点击联系</a>
                </p>
                <div class="item">
                    <span class="item__name">项目名称<i class="item__need">*</i></span>
                    <input class="title item__txt" type="text" maxlength="8" placeholder="限8个字符" />
                </div>
                <div class="item">
                    <span class="item__name">攻略链接<i class="item__need">*</i></span>
                    <input class="strategy item__txt" type="text" />
                    <span><a class="link-btn" target="_blank" href="https://shimo.im/">点击</a>使用石墨创建工具</span>
                </div>
                <div class="item">
                    <span class="item__name">详情页价格<i class="item__need">*</i></span>
                    <input class="cprice item__txt" type="text" maxlength="40" placeholder="详细返现方案，限40个字符" />
                </div>
                <div class="item">
                    <span class="item__name">主页价格<i class="item__need">*</i></span>
                    <input class="shortprice item__txt" type="text" maxlength="12" placeholder="主页精短价格，限12个字符，例如：投10000返200" />
                </div>
                <div class="item">
                    <span class="item__name">标期<i class="item__need">*</i></span>
                    <input class="term item__txt" type="text" placeholder="例如：1~3个月" />
                </div>
                <div class="item">
                    <span class="item__name">投资区间<i class="item__need">*</i></span>
                    <input class="investrange item__txt" type="text" placeholder="例如：3000~5万" />
                </div>
                <div class="item">
                    <span class="item__name">预计年化<i class="item__need">*</i></span>
                    <input class="intrest item__txt" type="text" maxlength="20" placeholder="百分比，例如：20%" />
                </div>
                <div class="item">
                    <span class="item__name">项目来源</span>
                    <input class="channel item__txt" type="text" maxlength="20" placeholder="记录项目的结算方，限20个字符，例如：金叶子" />
                </div>
                <div class="item">
                    <span class="item__name">结算价格</span>
                    <input class="up_price item__txt" type="text" maxlength="40" placeholder="记录项目的结算价格，限40个字符，例如10000返220" />
                </div>
                <div class="item">
                    <span class="item__name">允许复投</span>
                    <!--<input class="is_futou" name="is_futou" type="checkbox" />-->
                    <label><input class="is_futou" type="radio" value="true" name="is_futou" /><i class="need-icon m-left"></i>是</label>
                    <label><input class="is_futou" type="radio" checked="checked" value="false" name="is_futou" /><i class="need-icon"></i>否</label>
                </div>
                <div class="item">
                    <span class="item__name">需要预约</span>
                    <label><input class="is_book" type="radio" value="true" name="is_book" /><i class="need-icon m-left"></i>是</label>
                    <label><input class="is_book" type="radio" checked="checked" value="false" name="is_book" /><i class="need-icon"></i>否</label>
                </div>
    	    </div>

            <div class="right-top clearfix">
                <h2 class="top-title l">用户交单项</h2>
            </div>
            <div class="user-info-box">
                <div class="">
                    <div class="need-box">
                        <label><input data-type="0" class="need" type="checkbox" value="0" checked="checked" disabled="disabled" name="invest-account" /><i class="need-icon"></i>投资姓名/用户名</label>
                        <label><input data-type="1" class="need" type="checkbox" value="1" checked="checked" disabled="disabled" name="amount" /><i class="need-icon"></i>投资金额</label>
                        <label><input data-type="2" class="need" type="checkbox" value="2" checked="checked" disabled="disabled" name="term" /><i class="need-icon"></i>投资标期</label>
                        <label><input data-type="3" class="need" type="checkbox" value="3" checked="checked" disabled="disabled" name="date" /><i class="need-icon"></i>投资日期</label>
                        <label><input data-type="4" class="need" type="checkbox" value="4" checked="checked" disabled="disabled" name="zfb" /><i class="need-icon"></i>收款信息</label>
                        <label><input data-type="5" class="need" type="checkbox" value="5" checked="checked" disabled="disabled" name="invest-name" /><i class="need-icon"></i>投资手机号</label><br />
                        <label><input data-type="6" class="need m-choose" type="checkbox" value="6" name="return-amount" /><i class="need-icon"></i>用户预期返现金额</label>
                        <label><input data-type="7" class="need m-choose" type="checkbox" value="7" name="qq" /><i class="need-icon"></i>QQ</label>
                        <label><input data-type="8" class="need m-choose" type="checkbox" value="8" name="pic" /><i class="need-icon"></i>投资截图</label>
                    </div>
                </div>

            </div>
            <div class="right-top clearfix">
                <h2 class="top-title l">项目标签（最多选择3个）</h2>
            </div>
            <div class="mark-box">
                {% for item in marks %}
                    <li data-id="{{item.id}}" class="mark">{{item.name}}</li>
                  {%endfor%}
            </div>
                <div class="btnbox">
                    <a style="margin-left: -160px;" class="save btn m-green">保存</a>
                </div>

        </div>
    </div>
	{% include "footer.html" %}
	<script src="{% static 'js/wfl-common.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
    
    var options =
    {
        thumbBox: '.thumbBox',
        spinner: '.spinner',
        imgSrc: ""
    }
    var cropper;
    var project_id = "{{id}}";
    var company_id;
    if (project_id) {
        $('.company').attr('disabled', true);
        var url = '/account/create_update_selfproject/' + project_id + '/';
        var type = 'post';
        $('.add-title').text('修改项目');
        console.log(project_id)
        $.ajax({
            url: '/restapi/projects/' + project_id + '/',
            dataType: "json",
            type:"get",
            success: function(ret) {
                company_id = ret.company;
                var opt_dom = 'option[value="'+ ret.company +'"]';
                console.log($(opt_dom).data('logo'));
                $(opt_dom).prop("selected", true);
                $('.company-logo').attr('src', $(opt_dom).data('logo'));
                
                options.imgSrc = ret.pic;
                cropper = $('.imageBox').cropbox(options);

                $('.title').val(ret.title);
                $('.strategy').val(ret.strategy);
                $('.cprice').val(ret.cprice);
                $('.shortprice').val(ret.shortprice);
                $('.term').val(ret.term);
                $('.investrange').val(ret.investrange);
                $('.intrest').val(ret.intrest);
//              $('.introduction').val(ret.introduction);
                $('.channel').val(ret.channel);
                $('.up_price').val(ret.up_price);
                var radio_dom = '.is_futou[value="'+ ret.is_multisub_allowed +'"]'
                $(radio_dom).prop("checked",true);
                var radio_dom2 = '.is_book[value="'+ ret.is_book +'"]'
                $(radio_dom2).prop("checked",true);

                var need_str = ret.necessary_fields;
                var need_set = need_str.split(',');
                var need_id;
                console.log(need_set);
                for (need_id in need_set) {
                    var dom = 'input[value="'+ need_set[need_id].replace(/(^\s*)|(\s*$)/g, "") +'"]';
                    console.log(dom);
                    $(dom).prop("checked", true);
                }
            },
            error: function() {
                alert("请检查网络连接");
            }
        });
    } else {
        var url = '/account/create_update_selfproject/';
        var type = 'post';
        $('.add-title').text('新建项目');
        $('.company').searchableSelect();
        console.log('xinjian');
    }
    
    $('.mark-box').on('click', '.mark', function(){        //选择标签
        if ($('.mark.on').length >= 3 && !$(this).hasClass('on')) {
            alert('每个项目最多选择三个标签');
        } else {
            $(this).toggleClass('on');
        }
    })
    
    var img = '';
    var img2;
    var file_list = [];
    //    用于压缩图片的canvas
    var canvas = document.createElement("canvas");
    var ctx = canvas.getContext('2d');
    //    瓦片canvas
    var tCanvas = document.createElement("canvas");
    var tctx = tCanvas.getContext("2d");
    var file;
    var maxsize = 80 * 1024;
    $(function() {
        var checked_marks = {{checked_marks}};
        console.log(typeof(checked_marks));
        $('.mark-box .mark').each(function(){
            var i;
            for (i in checked_marks) {
                console.log(checked_marks[i]);
                if ($(this).data('id') == checked_marks[i]) {
                    $(this).addClass('on');
                }
            }
        })
        
        $(".company").change(function(){
            var opt=$(".company").val();
            console.log('change');
            console.log(opt);
            var option_dom = '.company option[value=' + opt + ']'
            console.log($(option_dom).data('logo'));
            $('.company-logo').attr('src', $(option_dom).data('logo'));
        });
//      searchable-select-item selected
        $('.searchable-select-item').click(function() {
            var value = $(this).data('value');
            console.log(value);
            var option_dom = 'option[value="'+ value +'"]';
            $('.company-logo').attr('src', $(option_dom).data('logo'));
        })

//      var cropper = $('.imageBox').cropbox(options);
        $('#upload-file').on('change', function(){
            file_list = [];
            var reader = new FileReader();

            if(!this.files.length) return;
            file = this.files[0];
            console.log(file);

            reader.onload = function(e) {
                options.imgSrc = e.target.result;
                cropper = $('.imageBox').cropbox(options);
            }
            reader.readAsDataURL(this.files[0]);
//          this.files = [];
        })
        var result;
        $('#btnCrop').on('click', function(){
            if (!file) {
                alert('请先上传图片');
            	return false;
            }
            img2 = cropper.getDataURL();
            console.log(img2);
            $('.cropped').html('<span style="display: inline-block;margin-bottom: 30px;">*请先上传后进行裁切</span>');
            $('.cropped').append('<img src="'+img2+'" align="absmiddle" style="width:120px;margin-top:4px;box-shadow:0px 0px 12px #7E7E7E;"><p>120px*120px</p>');

            result = img2;
            var img = new Image();
            img.src = result;
//              $(li).css("background-image", "url(" + result + ")");
            //如果图片大小小于100kb，则直接上传
            if(result.length <= maxsize) {
                if (file) {
                    process(result, file.name, file.type);
                } else{
                    alert('请先上传图片');
                    return;
                }
//              submit();
            }
            else{
            	if(img.complete) {
                    callback();
                } else {
                    img.onload = callback;
                }
            }
            //      图片加载完毕之后进行压缩，然后上传


            function callback() {
                var data = compress(img);
                if (file) {
                    process(data, file.name, file.type);
                } else{
                	alert('请先上传图片');
                	return;
                }
//              submit();
            }


        })
        $('#btnZoomIn').on('click', function(){
            if (options.imgSrc) {
                cropper.zoomIn();
            } else{
            	alert('请先上传图片');
            }
        })
        $('#btnZoomOut').on('click', function(){

            if (options.imgSrc) {
                cropper.zoomOut();
            } else{
                alert('请先上传图片');
            }
        })



//      头像处理

        //    使用canvas对大图片进行压缩
        function compress(img) {
            var initSize = img.src.length;
            var width = img.width;
            var height = img.height;
            //如果图片大于四百万像素，计算压缩比并将大小压至40万以下
            var ratio;
            if((ratio = width * height / 400000) > 1) {
                ratio = Math.sqrt(ratio);
                width /= ratio;
                height /= ratio;
            } else {
                ratio = 1;
            }
            console.log("ratio:" + ratio);
            canvas.width = width;
            canvas.height = height;
            //        铺底色
            ctx.fillStyle = "#fff";
            ctx.fillRect(0, 0, canvas.width, canvas.height);
            //如果图片像素大于100万则使用瓦片绘制
            var count;
            if((count = width * height / 1000000) > 1) {
                count = ~~(Math.sqrt(count) + 1); //计算要分成多少块瓦片
                //            计算每块瓦片的宽和高
                var nw = ~~(width / count);
                var nh = ~~(height / count);
                tCanvas.width = nw;
                tCanvas.height = nh;
                for(var i = 0; i < count; i++) {
                    for(var j = 0; j < count; j++) {
                        tctx.drawImage(img, i * nw * ratio, j * nh * ratio, nw * ratio, nh * ratio, 0, 0, nw, nh);
                        ctx.drawImage(tCanvas, i * nw, j * nh, nw, nh);
                    }
                }
            } else {
                ctx.drawImage(img, 0, 0, width, height);
            }
            //进行最小压缩
            var ndata = canvas.toDataURL('image/jpeg', 0.9);
            console.log('压缩前：' + initSize);
            console.log('压缩后：' + ndata.length);
            console.log('压缩率：' + ~~(100 * (initSize - ndata.length) / initSize) + "%");
            tCanvas.width = tCanvas.height = canvas.width = canvas.height = 0;
            return ndata;
        }
        //    图片上传，将base64的图片转成二进制对象，塞进formdata上传
        function process(basestr, name, type, $li) {
            var text = window.atob(basestr.split(",")[1]);
            var buffer = new Uint8Array(text.length);
            for(var i = 0; i < text.length; i++) {
                buffer[i] = text.charCodeAt(i);
            }
            var blob = getBlob([buffer], type);
            file_list.push({
                name:name,
                blob:blob
            });
        }

        function submit(){
            var need_arr = [];
            $('input[type="checkbox"]:checked').each(function() {
                need_arr.push($(this).val())
            })
            var necessary_fields = need_arr.join(',');
            console.log(necessary_fields);
            var company = $('.company').val();
            var title = $('.title').val();
            var strategy = $('.strategy').val();
            var cprice = $('.cprice').val();
            var shortprice = $('.shortprice').val();
            var term = $('.term').val();
            var investrange = $('.investrange').val();
            var intrest = $('.intrest').val();
//          var introduction = $('.introduction').val();
            var channel = $('.channel').val();
            var up_price = $('.up_price').val();
            var is_futou = $('input[name="is_futou"]:checked').val();
            var is_book = $('input[name="is_book"]:checked').val();
            var mark_str = '';
            $('.mark.on').each(function(){
                mark_str += $(this).data('id') + ',';
            })
            console.log(mark_str);
            
            if (company == 0){
                alert('请选择项目平台');
                return;
            }
            if (!title || !strategy || !cprice || !shortprice || !term || !investrange || !intrest || !is_futou) {
                alert('必填项不能为空');
                return;
            }
            var reg_url= /(http|ftp|https):\/\/[\w\-_]+(\.[\w\-_]+)+([\w\-\.,@?^=%&:/~\+#]*[\w\-\@?^=%&/~\+#])?/;
            if(!reg_url.test(strategy)){
                alert("输入的链接不是正确的网址");
                return;
            }

            $.ajax({        
                url: url,
                dataType: "json",
                type: 'post',
                data: {
                    'company' : company,
                    'title' : title,
                    'strategy' : strategy,
                    'cprice' : cprice,
                    'shortprice' : shortprice,
                    'term' : term,
                    'investrange' : investrange,
                    'intrest' : intrest,
//                  'introduction' : introduction,
                    'channel' : channel,
                    'up_price' : up_price,
                    'is_multisub_allowed' : is_futou,
                    'is_book' : is_book,
                    'necessary_fields' : necessary_fields,
                    'marks' : mark_str,
                },
                success: function(ret) {
                    if(ret.code == 0) {
                        alert("操作成功!");
//                      window.location.href="/account/project?tab=2"
                    } else {
                        console.log(ret.msg)
                    }
                    
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR.responseText);
                    alert("数据错误");
                }
            });

        }
        /**
         * 获取blob对象的兼容性写法
         * @param buffer
         * @param format
         * @returns {*}
         */
        function getBlob(buffer, format) {
            try {
                return new Blob(buffer, {
                    type: format
                });
            } catch(e) {
                var bb = new(window.BlobBuilder || window.WebKitBlobBuilder || window.MSBlobBuilder);
                buffer.forEach(function(buf) {
                    bb.append(buf);
                });
                return bb.getBlob(format);
            }
        }

//      头像处理---end

        $('.save').click(function(){
            submit();

        })

    })







    </script>
</body>
</html>
