{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>用户中心</title>
<link href="{% static 'images/favicon.ico'%}" rel="shortcut icon"/>
<!--<link rel="stylesheet" type="text/css" href="{% static 'css/User.css' %}" />-->
<link rel="stylesheet" type="text/css" href="{% static 'css/wfl-common.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/account-base.css' %}" />
<!--<link rel="stylesheet" type="text/css" href="{% static 'css/style-i.css' %}" />-->
<!--<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />-->

<link rel="stylesheet" type="text/css" href="{% static 'css/wfl-page.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/datePicker.css' %}" />
<script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.date_input.pack.js' %}"></script>

</head>

<body>
<!--头部-->
{% include "header.html" %}
<!--内容-->
<div class="Content">
{% include "account/left.html" %}
<div class="RightCont">
    <div class="table">
        <h2 class="table__title">官方数据</h2>
        <div class="search">
            <div class="search__item">
                <span class="search__name">项目名称：</span>
                <input type="text" id="proj_name" />
            </div>
            <div class="search__item">
                <span class="search__name">投资日期：</span>
                <input class="date_picker time-input" type="text" id="invest_date0" />——<input class="date_picker time-input" type="text" id="invest_date1" />
            </div>
            <div class="search__item">
                <span class="search__name">提交手机号：</span>
                <input type="text" id="telnum_sub" />
            </div>
            <div class="search__item">
                <span class="search__name">审核状态：</span>
                <select name="select_status" id="state">
                    <option value="0">未审核</option>
                    <option value="1">已通过</option>
                    <option value="2">已拒绝</option>
                    <option value="3">已删除</option>
                </select>
            </div>
        </div>
        <div class="handle clearfix">
            <div class="handle__in l">
                <input style="display: none;" id="fileupload1" name="file" type="file" onchange='hint.innerHTML = this.files[0].name;' />
                <a id="input_clone" class="btn m-green m-choose">选择文件</a>
                <p class="hint-box">已选择表格：<b id="hint" class="hint">无</b></p>
                <a id="import" class="btn m-green m-import">导入</a>
            </div>
            <div class="handle__out r">
                <a id="search" class="btn m-green m-search">搜索</a>
                <a id="export" class="btn m-green m-export">导出</a>
            </div>
        </div>
        <div id="pagedata">
        </div>
        <div class="changes-p">
            <div class="page" id="page">
            </div>
        </div>
                            

    </div>
    <div class="table">
        <h2 class="table__title">自建数据</h2>
        
        <div id="pagedata2">
        </div>
        <div class="changes-p">
            <div class="page2" id="page">
            </div>
        </div>
                            

    </div>
    
    <div class="popup-box popup-box-05">
        <div class="popup-content">
            <h3>数据修改</h3>
            <p>
                <span>项目名称：</span>
                <select class="invest-project height-add01" placeholder="选择项目">
                    <option value="0">--</option>
                    {% for x in flist %}
                    <option value="{{x.id}}">{{x.title}}</option>
                    {%endfor%}
                </select>
            </p>
            <p>
                <span>投资日期：</span>
                <input type="text" class="invest-time date_picker" placeholder="选择投资日期" />
            </p>
            <p>
                <span>提交手机号：</span>
                <input id="project_name_change" class="submit-tel" maxlength=11 type="text" onkeyup="value=value.replace(/[^\d.]/g,'')" placeholder="填写正确的手机号" />
            </p>
            <p>
                <span>投资标期：</span>
                <input id="contact_person_change" class="invest-days" type="text" onkeyup="value=value.replace(/[^\d.]/g,'')" placeholder="仅限纯数字" />
            </p>
            <p>
                <span>投资金额：</span>
                <input id="cooperate_type_change" class="invest-money" type="text" onkeyup="value=value.replace(/[^\d.]/g,'')" placeholder="仅限纯数字" />
            </p>
            <p>
                <span>备注：</span>
                <input id="balance_type_change" class="invest-remarks" type="text" placeholder="选填" />
            </p>

            <a id="cancel" class="cancel confirm" onclick="popupOutInfo()">取&nbsp;&nbsp;&nbsp;&nbsp;消</a>
            <a id="confirm_revise" class="confirm">确认修改</a>
        </div>
    </div>
</div>
</div>
<iframe id="myIFrame" scrolling="yes" src="abount:blank" style="display:none" frameborder=1></iframe>


<script type="text/javascript" src="{% static 'js/page.js' %}"></script>
<script type="text/javascript">
    var data = '<table width="100%"><tr><th>项目名称</th><th>投资日期</th><th>提交手机号</th><th>投资标期</th>' +
        '<th>投资金额</th><th>备注</th><th>审核状态</th><th>操作</th></tr>[data]' +
        '<tr><td>{project}</td><td>{invest_time}</td><td>{mobile_sub}</td><td>{term}</td>' +
        '<td>{invest_amount}</td><td>{remark}</td><td>{state}</td>' +
        '<td id="item_{id}"><a class="fyin" onclick="pass({id})">返现' +
        '</a> │ <a class="jion-s" onclick="refuse({id})">拒绝</a></td></tr>[/data]</table>';
    var data1 = '<table width="100%"><tr><th>项目名称</th><th>投资日期</th><th>提交手机号</th><th>投资标期</th>' +
        '<th>投资金额</th><th>返现金额</th><th>备注</th><th>审核状态</th></tr>[data]' +
        '<tr><td>{project}</td><td>{invest_time}</td><td>{mobile_sub}</td><td>{term}</td>' +
        '<td>{invest_amount}</td><td>{ret_amount}</td><td>{remark}</td><td>{state}</td></tr>[/data]</table>';
    var data2 = '<table width="100%"><tr><th>项目名称</th><th>投资日期</th><th>提交手机号</th><th>投资标期</th>' +
        '<th>投资金额</th><th>拒绝原因</th><th>备注</th><th>审核状态</th></tr>[data]' +
        '<tr><td>{project}</td><td>{invest_time}</td><td>{mobile_sub}</td><td>{term}</td>' +
        '<td>{invest_amount}</td><td>{refuse_reason}</td><td>{remark}</td><td>{state}</td></tr>[/data]</table>';
    var data3 = '<table width="100%"><tr><th>项目名称</th><th>投资日期</th><th>提交手机号</th><th>投资标期</th>' +
        '<th>投资金额</th><th>备注</th><th>审核状态</th></tr>[data]' +
        '<tr><td>{project}</td><td>{invest_time}</td><td>{mobile_sub}</td><td>{term}</td>' +
        '<td>{invest_amount}</td><td>{remark}</td><td>{state}</td></tr>[/data]</table>';
        var url = "{% url 'get_admin_finance_page' %}" + "?page={page}&size={pageSize}";
        
        $("#pagedata").ajaxPage({
            url: url + "&state=1",
            pageId: $("#page"),
            pageSize: 10,
            run: true,
            content: data,
        });
        $("#pagedata2").ajaxPage({
            url: url + "&state=1",
            pageId: $("#page"),
            pageSize: 10,
            run: true,
            content: data2,
        });
        $(function(){
            $(".RightCont").on("focus", ".date_picker", function() {
                $(this).date_input();
            })
//          官方数据
            $("#search").click(function() {
                var proj_name = $("#proj_name").val(),
                    invest_date0 = $("#invest_date0").val(),
                    invest_date1 = $("#invest_date1").val(),
                    telnum_sub = $("#telnum_sub").val(),
                    state = $("#state").val();
                var newurl = url;
                if(proj_name) {
                    newurl += "&proj_name=" + proj_name;
                }
                if(invest_date0) {
                    newurl += "&invest_date0=" + invest_date0;
                }
                if(invest_date1) {
                    newurl += "&invest_date1=" + invest_date1;
                }
                if(telnum_sub) {
                    newurl += "&telnum_sub=" + telnum_sub;
                }
                if(state) {
                    newurl += "&state=" + state;
                }
                
                var search_data = data;
                if(state == '1') {
                    search_data = data1;
                }
                if(state == '2') {
                    search_data = data2;
                }
                if(state == '3') {
                    search_data = data3;
                }
                
                console.log(newurl);
                $("#page").empty();
                $("#pagedata").ajaxPage({
                    url: newurl,
                    pageId: $("#page"),
                    pageSize: 10,
                    run: true,
                    content: search_data,
                });
            });
            $("#export").click(function() {
                var html = '<form action="' + "{% url 'export_finance_excel' %}" + '" method="get" target="_self" id="postData_form">';
                var proj_name = $("#proj_name").val(),
                    invest_date0 = $("#invest_date0").val(),
                    invest_date1 = $("#invest_date1").val(),
                    telnum_sub = $("#telnum_sub").val(),
                    state = $("#state").val();
                if(proj_name) {
                    html += '<input name="proj_name" type="hidden" value="' + proj_name + '"/>';
                }
                if(invest_date0 && invest_date1) {
                    html += '<input name="invest_date0" type="hidden" value="' + invest_date0 + '"/>';
                    html += '<input name="invest_date1" type="hidden" value="' + invest_date1 + '"/>';
                }
                if(telnum_sub) {
                    html += '<input name="telnum_sub" type="hidden" value="' + telnum_sub + '"/>';
                }
                if(state) {
                    html += '<input name="state" type="hidden" value="' + state + '"/>';
                }
                
                html += '</form>';
                var iframe = document.getElementById('myIFrame');
                iframe.contentWindow.document.open();
                iframe.contentWindow.document.write(html);
                iframe.contentWindow.document.close();
                document.getElementById('myIFrame').contentWindow.document.getElementById('postData_form').submit();
            });
//          官方数据---end
            
            var choose_file = document.getElementById("input_clone");
            var hint = document.getElementById("hint");
            choose_file.onclick = function() {
                document.getElementById("fileupload1").click();
            }
        })
</script>
</body>
</html>
