{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>用户中心</title>
<link href="{% static 'images/favicon.ico'%}" rel="shortcut icon"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/User.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/wfl-common.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/account-base.css' %}" />
<!--<link rel="stylesheet" type="text/css" href="{% static 'css/style-i.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />-->
<link rel="stylesheet" type="text/css" href="{% static 'css/dialog.css' %}" />
<script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/wfl-common.js' %}"></script>
<script type="text/javascript" src="{% static 'js/wfl-popup.js' %}"></script>
<script type="text/javascript" src="{% static 'js/accounts/refresh.js' %}"></script>
<style type="text/css">
.isauto-box {
    padding-left: 20px;
    margin-top: 40px;
} 
.need-icon {
    display: inline-block;
    margin: 10px 10px 10px 38px;
    width: 26px;
    height: 26px;
    border-radius: 4px;
    border: 1px solid #e4e4e4;
    vertical-align: middle;
    cursor: pointer;
}
/*.need-icon.m-left {
    margin-left: 0;
}*/
.is_auto {
    opacity: 0;
    position: absolute;
}

.is_auto:checked + .need-icon {
    background: url(/static/images/bg-checked-choose.png) center center no-repeat;
}
</style>
<script type="text/javascript" >
var coderefresh_url = "{% url 'captcha-refresh' %}";
$.ajaxSetup({
    data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
});
$(function(){
	$('.back-a9').toggleClass("on");
	$("#submit").click(function(){
		varicode = $("#input_varicode").val();
		amount = $("#withdraw_amount").val();
		amount = parseFloat(amount,0)
		if (isNaN(amount) || (amount<10)){
			alert("提现金额最小为10元！");
			return;
		}
		if (!varicode){
			alert("验证码不能为空");
			return;
		}
		$("#rmb_with").text(amount)
//		$(".popup1").css("display","block");
        $('.popup.m-withdraw').addClass('in');
	});
    $('#edit_confirm').click(function(){
    	$(".popup1").hide();
    	varicode = $("#input_varicode").val();
		amount = $("#withdraw_amount").val();
		hashkey = $("#id_hashkey").val();
		var post_url = "{%url 'account_withdraw' %}";
		$.ajax({
			url: post_url,
			dataType:"json",
			type:'POST',
			data : {
				'amount': amount,
				'varicode': varicode,
				'hashkey':hashkey,
			},
			success:function(ret){
				if(ret.code==0){
				    $('.popup.m-withdraw').removeClass('in');
					alert("提现申请提交成功！");
					window.location.href = "{% url 'account_money' %}";
				}
				else {
					new_cptch_key = ret['key'];
			        new_cptch_image = ret['image_url'];
					key = $("#id_hashkey");
			        img = $("#id_checkImg");
			        key.attr("value", new_cptch_key);
			        img.attr("src", new_cptch_image);
					alert(ret.res_msg);
				}
			},
			error:function(){
				alert("请检查网络连接");
			}
		});
    });
    $('.btn_x').click(function(){
        $(this).parent().parent().hide();
        bRotate = false;
    });
    $('.btn_cont button').click(function(){
        $(this).parent().parent().parent().parent().hide();
    });
    
    $('.is_auto[name="is_auto"]').click(function(){
        var that = this;
        if ($(this).val() == 'true') {
            var is_auto = true;
        } else {
            var is_auto = false;
        }
        console.log(is_auto);
        $.ajax({
            url: '/restapi/users/' + {{user.id}} + '/',
            dataType: "json",
            type:"post",
            data: {
                "is_autowith": is_auto
            },
            success: function(ret) {
                alert("操作成功");
                $(this).prop('checked', true);
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR.responseText);
                $(that).prop('checked', false);
                console.log(that);
                alert("数据错误");
            }
        });
    })
});
</script>
</head>

<body>
    {% include "header.html" %}
	<div class="Content">
    	<!--头部-->
    	<!--内容-->
    	{% include "account/left.html" %}
    	<div class="RightCont">
                <div class="RightCont">
                	<div class="binding" style=" min-height:515px">
                    	<div class="Binding-Top">
                        	<h2>提现</h2>
                        </div>
                        <div class="Cash-box">
                        	<div class="Cash-info"><span>可提现金额：</span><i>{{user.balance}}</i></div>

                            	<div class="Cash-input">
                                	<span>提现金额：</span>
                                    <input id="withdraw_amount" type="text" />
                                    <i>（最低提现10元）</i>
                                </div>
                                <div class="Cash-input">
                                	<span>提现账户：</span>
                                	{%if not card %}
                                    <p>您还未绑定任何银行卡号，请 <a target="_blank" href="{%url 'account_bankcard'%}#update">绑定</a>
                                  		，然后刷新本页面
                                    </p>
                                    {%else%}
                                    <strong>{{card.real_name}}（{{card.card_number}}）</strong>
                                    <a target="_blank" href="{%url 'account_bankcard'%}#update">更换账号</a>
                                    {%endif%}
                                </div>

                                <div class="Cash-input2">
                                	<span>验证码：</span>
                                    <input id="input_varicode" type="text" />
                                    <div class="info-con">
                                    	<div class="Yzin">
                                    	<img width="111" height="34" src="{{ codimg_url }}" id="id_checkImg" class="imageCheckRefresh">
       									<input id="id_hashkey" name="hashkey" type="hidden" value="{{ hashkey }}">
                                    	</div>
                                    </div>
                                </div>
                                <input id="submit" type="submit" value="确  定" />

                        </div>
                        <div class="isauto-box">
                            <span class="item__name">允许自动提现</span>
                            <label><input class="is_auto" type="radio" value="true" name="is_auto" /><i class="need-icon"></i>是</label>
                            <label><input class="is_auto" type="radio" checked="checked" value="false" name="is_auto" /><i class="need-icon"></i>否</label>
                        </div>
                    </div>


                </div>
        </div>
        <!-- 提现弹窗部分 -->
        <!--<div class="popup1" style="display:none;">
            <div class="w698_box">
                <div class="pop_left">
                    <h2>温馨提示</h2>
                    <p>您好，您本次兑换现金为<font id="rmb_with"></font>元，并将在24小时内提现到您的银行卡</p>
                    <div class="btn_cont">
                        <button>取&nbsp;&nbsp;消</button>
                        <button class="confirm_withdraw">确&nbsp;&nbsp;定</button>
                    </div>
                </div>
                <div class="btn_x"><button></button></div>
            </div>
          </div>-->
        <div class="popup m-withdraw">
            <div class="popup__content" style="width: 600px;">
                <div class="popup__top">
                    <h2 class="popup__title">温馨提示</h2><button type="button" class="popup__close popup__close-btn" onclick="canclePopup(this)">×</button>
                </div>
                <div class="popup__detail">
                    <div class="popup__item">
                        <p>您好，您本次提现现金为<font id="rmb_with"></font>元，预计将在24小时内到达您的银行卡内，如遇节假日时间将顺延。</p>
                    </div>
                </div>
                <div class="popup__btnbox">
                    <a id="edit_confirm" class="btn m-green m-popup popup-confirm popup__close-btn">确认</a>
                </div>
            </div>
        </div>
    	<!--底部-->
  <div style="clear: both;"></div>
  </div>
  {% include "footer.html" %}
  <!--浮动窗口-->
    </div>

</body>
</html>
