{% load staticfiles %}
<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="P2P理财,P2P网贷,投资理财,网络理财,网络投资,小额投资理财,如何投资理财,个人理财,家庭理财" />
<meta name="description" content="福利联盟是行业领先的P2P渠道分发机构。" />
<meta itemprop="name" content="{{user.username}}"/>
<meta itemprop="image" content="{{user.picture_url}}" />
<meta name="description" itemprop="description" content="{{user.profile}}" />
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<title>找不到页面</title>
<style type="text/css">
    html {
        height: 100%;
    }
   body {
       background: url(../static/images/page-404.png) center center no-repeat;
   }
   @media screen and (max-width:800px){
        body {
            background: url(../static/images/page-404.png) center center/80% auto no-repeat;
        }
    }
	
</style>
</head>
<body>

<script src="{% static 'js/flexible.js' %}"></script>
<script>
    
</script>
</body>
</html>
