<!--channel-header-->
{% load staticfiles %}
</style>
<div class="header">
  {% include "pre-header.html" %}
  <div class="headermain-box bgc-fff">
    <div class="headermain clearfix">
      <a href="{% url 'index' %}"><img src="{% static 'images/logo-new.png' %}" alt="福利联盟logo" class="logo l" /></a>
      <ul class="nav nav-layout l fs-0">
        <li class="nav__itembox d-ib">
          <a class="nav__item back-a3" href="{% url 'project_manage' %}">我的项目</a>
        </li>
        <li class="nav__itembox subnav-show d-ib">
          <a class="nav__item back-a5" href="{% url 'account_audited' %}">数据审核</a>
        </li>
        <li class="nav__itembox subnav-show d-ib">
          <a class="nav__item back-a4" href="{% url 'account_submit' %}">自助交单</a>
        </li>
        <li class="nav__itembox d-ib">
          <a class="nav__item back-a11" href="{% url 'account_yuyue' %}">预约管理</a>
        </li>
        <li class="nav__itembox d-ib">
          <a class="nav__item back-a10" href="{% url 'account_notice' %}">编辑公告</a>
        </li>
        <li class="nav__itembox d-ib">
          <a class="nav__item back-a2" href="{% url 'account_setting' %}">主页设置</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!--channel-header---end-->