{% load staticfiles %}
<!--footer部分-->
<div class="footer clearfix">
	<div class="wfl-wrap m-footer">
		<!--<div class="footer-btm">
			<p class="footer-left l"><a href="http://www.miitbeian.gov.cn">Copyright © 2016-2026 福利联盟 版权所有 备案号：湘ICP备16014503号-1</a></p>
		</div>
		<div class="footer-btm" style="margin-left: 40px;">
			<p class="footer-right r">在线客服：
				<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=406051223&site=qq&menu=yes" class="footer-qq-icon"></a>
			</p>
		</div>
		<div class="footer-btm">
			<p class="footer-right r" style="margin: 0 20px;">加入QQ群：
				<a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=e13d23cb6afcfd4ae334ce53cab7d0ff67480084c02367b9a035182f7e1c4d10" class="footer-qq-icon"></a>
			</p>
		</div>
		<div class="footer-btm">
			<p class="footer-middle r">联系电话：<span class="footer-num">0731-85586375</span></p>
		</div>
		<div class="QrBox" style="right: 120px;">
			<img style="border-radius: 10px;" src="{% static 'images/weixin_kefu.jpg' %}" />
			<p style="width:100%; text-align: center;">客服微信</p>
		</div>
		<div class="QrBox">
            <img src="{% static 'images/QrCode.jpg' %}" />
            <p style="width:100%; text-align: center;">福利联盟官微</p>
        </div>-->
    <div class="footer-topbox clearfix">
      <div class="footer__left l">
        <ul class="footer__cloum">
          <li class="footer__item m-title">福利联盟</li>
          <li class="footer__item"><a href="/intro_about_us/">关于我们</a></li>
          <li class="footer__item"><a href="/intro_about_us/#cooperate">商务合作</a></li>
        </ul>
        <ul class="footer__cloum">
          <li class="footer__item m-title">产品服务</li>
          <li class="footer__item"><a href="/intro_fanshu_home/">番薯主页</a></li>
          <li class="footer__item"><a href="/intro_fanshu_doc/">番薯文档</a></li>
          <li class="footer__item"><a href="/intro_settle_tool/">结算工具</a></li>
        </ul>
        <ul class="footer__cloum">
          <li class="footer__item m-title">理财资讯</li>
          <li class="footer__item"><a href="/newsm/get_article_list/?group=网贷资讯">网贷资讯</a></li>
          <li class="footer__item"><a href="/newsm/get_article_list/?group=平台曝光">平台曝光</a></li>
          <li class="footer__item"><a href="/newsm/get_article_list/?group=理财攻略">理财攻略</a></li>
          <li class="footer__item"><a href="/newsm/get_article_list/?group=P2P平台">P2P平台</a></li>
          <li class="footer__item"><a href="/newsm/get_article_list/?group=网贷返利">网贷返利</a></li>
        </ul>
        <ul class="footer__cloum">
          <li class="footer__item m-title">帮助中心</li>
          <li class="footer__item"><a href="/helpCenter/">新手引导</a></li>
          <li class="footer__item"><a href="/helpCenter/">常见问题</a></li>
        </ul>
      </div>
      <div class="footer__right r">
        <div class="ewm-box" style="margin-right: 80px;">
          <img style="border-radius: 10px;" src="{% static 'images/ewm-kefu.png' %}" />
          <p style="width:100%; text-align: center;">客服微信</p>
        </div>
        <div class="ewm-box">
            <img style="border-radius: 10px;" src="{% static 'images/ewm-guanwei.png' %}" />
            <p style="width:100%; text-align: center;">福利联盟官微</p>
        </div>
      </div>
    </div>
    <p class="footer_bottom">
      <a href="http://www.miitbeian.gov.cn">Copyright © 2016-2026 福利联盟 版权所有 备案号：湘ICP备16014503号-1</a>
      <span>联系电话：0731-85586375</span>
    </p>
	</div>
</div>
{% include "outline.html" %}
<script>
	var _hmt = _hmt || [];
	(function() {
		var hm = document.createElement("script");
		hm.src = "https://hm.baidu.com/hm.js?6c92d867430ff48935788ec3fe675fad";
		var s = document.getElementsByTagName("script")[0];
		s.parentNode.insertBefore(hm, s);
	})();
</script>