<!--header-->
{% load staticfiles %}
<div class="header">
	{% include "pre-header.html" %}
	<div class="headermain-box bgc-fff">
		<div class="headermain clearfix">
			<a href="{% url 'index' %}"><img src="{% static 'images/logo-new.png' %}" alt="福利联盟logo" class="logo l" /></a>
			<ul class="nav nav-layout l fs-0">
				<li class="nav__itembox d-ib">
					<a class="nav__item" href="/">首页</a>
				</li>
				<li class="nav__itembox subnav-show d-ib">
					<a class="nav__item" href="{% url 'project_all' %}">项目库</a>
				</li>
				<li class="nav__itembox subnav-show d-ib">
            <a class="nav__item" href="{% url 'helpCenter' %}">帮助中心</a>
        </li>
				<li class="nav__itembox d-ib">
					<a class="nav__item" href="{% url 'intro_about_us' %}">关于我们</a>
				</li>
				<li class="nav__itembox d-ib">
					<a class="nav__item" href="{% url 'account_index' %}">个人中心</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!--header---end-->