{% load staticfiles %}
<!--contact部分-->
<ul class="contact__box">
  <li class="contact">
    <a class="contact__txt" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=406051223&site=qq&menu=yes">在线<br />客服</a>
  </li>
  <li class="contact">
    <a class="contact__txt" target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=e13d23cb6afcfd4ae334ce53cab7d0ff67480084c02367b9a035182f7e1c4d10">加入<br />QQ群</a>
  </li>
  <li class="contact">
    <a class="contact__txt">帮助<br />中心</a>
  </li>
  <li class="contact m-hide backTop" onclick="$('html,body').animate({ scrollTop: 0 }, 500);">
     <a class="contact__txt">回到<br />顶部</a>
  </li>
</ul>
<script type="text/javascript">
  window.onload = function () {
  	$(document).scroll(function(){
      var distance = $(document).scrollTop();
      if(distance >= 500) {
        $('.backTop').removeClass('m-hide')
      } else {
        $('.backTop').addClass('m-hide')
      }
    })
  }
</script>
<!--contact部分---end-->