<!--pre-header-->
{% load staticfiles %}
<div class="bgc-333">
  <div class="headertop color-fff clearfix">
    <p class="headertop__welcome l">欢迎来到福利联盟！客服热线：0731-85586375&nbsp;&nbsp;</p>
    <ul class="r fs-0">

      {% if not user.is_authenticated %}
      <!-- <li class="d-ib"><a class="headertop__navitem link" href="{% url 'login' %}">登录</a></li> -->
      <li class="d-ib">
        <a id="login" class="headertop__navitem link">登录</a>
      </li>
      <script>
        window.onload = function() {
          document.getElementById('login').onclick = function() {
            window.location.href = '/account/login/?next=/account/';
          }

        }
      </script>
      <li class="d-ib">
        <a class="headertop__navitem link" href="{% url 'register' %}">注册</a>
      </li>
      {% else %}
      <li class="d-ib">
        <font><span>您好,</span><a class="headertop__navitem link" href="{% url 'account_index' %}">{{user.mobile}}</a>
          <a class="link headertop__navitem a_location" href="/account/message/"><img class="infoimg" src="{% static 'images/small_bell.png' %}"/>{%if user.num_message_sync != 0 %}<span class="infonum">{{user.num_message_sync}}</span>{% endif %}</a>
          {%if user.is_merchant == '1' %}
          <a class="link headertop__navitem" href="{% url 'merchant:merchant_index' %}">放单中心</a>
          {% else %}
          <a class="link headertop__navitem" href="{% url 'merchant:merchant_guide' %}">招商入驻</a>
          {% endif %}
          
          {%if user.is_channel == '1' %}
          <a class="link headertop__navitem" href="{% url 'project_manage' %}">渠道中心</a>
          {% else %}
          <a class="channelapply link headertop__navitem" href="/account/apply_for_channel_user/">渠道申请</a>
          {% endif %}
        </font>
      </li>
      <!--{%if user.level > 0 %}
                   （VIP{{user.level}}）
                  {%endif%}-->
      <li class="d-ib">
        <a class="headertop__navitem link" href="{%url 'logout' %}">退出</a>
      </li>
      {% endif %}

    </ul>
  </div>
</div>
<!--pre-header---end-->