{% load staticfiles %}
<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>个人主页</title>
<meta name="keywords" content="P2P理财,P2P网贷,投资理财,网络理财,网络投资,小额投资理财,如何投资理财,个人理财,家庭理财,挖福利" />
<meta name="description" content="挖福利是一个优质的互联网理财平台！让你感受到不一样的金融理财。" />
<link href="{% static 'images/favicon.ico'%}" rel="shortcut icon"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/wfl-common.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/my_homepage.css' %}" />
<link id="skin" rel="stylesheet" type="text/css" href="{% static 'css/skin.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/datePicker.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/wfl-page.css' %}" />
<script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
<script type="text/javascript">
    var skin_id = "{{user.color}}";
    console.log(skin_id);
	skin.href="/static/css/skin" + skin_id + ".css";
</script>
</head>
<body>
    <div class="user__top">
        <div class="user__info">
            <img class="user__img" src="{{user.picture_url}}" alt="" />
            <div class="user__detail">
                <h1 class="user__name">{{user.qq_name}}</h1>
                <p class="user__intro">{{user.profile}}</p>
            </div>
        </div>
    </div>
    <div class="content clearfix">
        <div class="con-left l">
            <div class="hot">
                <h2 class="hot__title">热门推荐</h2>
                <div class="scroll_box">
                    <span class="hot_prev"></span>
                    <div class="list_box">
                        <ul class="hot__box scroll_list">
                        {% for recom in recom_list %}
                            <li class="hot__itembox">
                                <!--<img class="hot__img" src="{{recom.pic}}" alt="" />-->
                                <div data-pic="{{recom.pic}}" data-imgtxt="{{recom.title}}" class="hot__img"></div>
                                <p class="hot__name hot__info">{{recom.title}}</p>
                                <p class="hot__profit hot__info">预计最高年化：<span class="hot__profit-num">{{recom.intrest}}</span></p>
                                <p class="hot__price hot__info">返现价格：<span class="hot__price-num">{{recom.price}}</span></p>
                                <p class="hot__money hot__info">投资区间：{{recom.investrange}}</p>
                                <p class="hot__term hot__info">标期：{{recom.term}}</p>
                                <div class="btn-box">
                                    <a href="#" class="btn m-green m-hot">查看攻略</a>
                                    <a class="btn m-green m-hot" projectid="{{recom.id}}" onclick="submit({{recom.id}})">交&nbsp;&nbsp;单</a>
                                </div>
                            </li>
                          {%endfor%}
                        </ul>
                    </div>
                    <span class="hot_next"></span>
                </div>
            </div>
            
            <div class="project">
                <h2 class="project__title">项目列表</h2>
                <div class="search__box clearfix">
                    <div class="search__left l">
                        <input class="search-input" name="key" type="text">
                        <input class="search-submit" type="submit" value="">
                    </div>
                    <!--<div class="search__right r">
                        <a class="search__right-item">预计最高年化</a><a class="search__right-item">返现价格</a>
                    </div>-->
                </div>
                <ul id="pagedata1" class="item-container clearfix">
                    
                    <!--<li class="project__itembox">
                        <h2 class="project__name">核时代一一期<span class="project__name-small">皮卡三大诉讼法的角色</span></h2>
                        <div class="project__detail">
                            <img class="project__img" src="" alt="" />
                            <p class="project__profit project__info">预计最高年化<br /><span class="project__profit-num">17%</span></p>
                            <p class="project__price project__info">返现价格<br /><span class="project__price-num">0.6/万</span></p>
                            <p class="project__money project__info">投资区间<br />100-10000</p>
                            <p class="project__term project__info">标期<br />不限</p>
                            <div class="project-btn-box">
                                <a href="#" class="btn m-green m-project">查看攻略</a>
                                <a class="btn m-green m-project" onclick="submit()">交&nbsp;&nbsp;单</a>
                            </div>
                        </div>
                    </li>-->
                </ul>
                <!--<div class="changes-p">
                    <div class="page"  id="page1">
                    </div>
                </div>-->
                <div style="width: 980px; margin: 0 auto;" class="changes-p clearfix">
                    <div style="padding: 10px 20px 6px;" class="page r"  id="page1">
                    </div>
                </div>
            </div>
        </div>
        <div class="con-right r">
            <a href="http://wpa.qq.com/msgrd?v=3&uin={{user.qq_number}}&site=qq&menu=yes" target="_blank"><div class="ask">点击咨询我<br /><span class="ask-time">(9:00-20:00)</span></div></a>
            <div class="notice">
                <h3 class="notice__title">最新公告</h3>
                <div id="noticeBox" class="notice__box">
                    <ul id="con1">
                    {%for notice in notice_list%}
                    	<li><a class="notice__txt line-2s">{{forloop.counter}}、{{notice.content}}</a></li>
                    {%endfor%}
                    </ul>
                    <ul id="con2">
                    </ul>
                </div>
            </div>
            <div class="rank">
                <h3 class="rank__title">大家都在</h3>
                <div id="rankBox" class="rank__box">
                    <ul id="rank_con1">
                        <li><a class="rank__txt oneline">1、152****2344体验了<span class="rank__project">核时代一期</span></a></li>
                        <li><a class="rank__txt oneline">2、152****2344体验了<span class="rank__project">核时代一期</span></a></li>
                        <li><a class="rank__txt oneline">3、152****2344体验了<span class="rank__project">核时代一期</span></a></li>
                        <li><a class="rank__txt oneline">4、152****2344体验了<span class="rank__project">核时代一期</span></a></li>
                        <li><a class="rank__txt oneline">5、152****2344体验了<span class="rank__project">核时代一期</span></a></li>
                        <li><a class="rank__txt oneline">6、152****2344体验了<span class="rank__project">核时代一期</span></a></li>
                        <li><a class="rank__txt oneline">7、152****2344体验了<span class="rank__project">核时代一期</span></a></li>
                        <li><a class="rank__txt oneline">8、152****2344体验了<span class="rank__project">核时代一期</span></a></li>
                    </ul>
                    <ul id="rank_con2">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="popup m-submit-proj">
        <div class="popup__content" style="width: 600px;">
            <div class="popup__top">
                <h2 class="popup__title">新建项目</h2><button type="button" class="popup__close popup__close-btn" onclick="canclePopup(this)">×</button>
            </div>
            <div class="popup__detail">
                <div class="popup__item">
                    <span class="popup__itemname">提交手机号：</span>
                    <input type="text" class="telnum" placeholder="填写提交手机号" />
                </div>
                <div class="popup__item">
                    <span class="popup__itemname">投资标期：</span>
                    <input type="text" class="term" placeholder="填写投资标期" />
                </div>
                <div class="popup__item">
                    <span class="popup__itemname">投资金额：</span>
                    <input type="text" class="money" placeholder="填写投资金额" />
                </div>
                <div class="popup__item">
                    <span class="popup__itemname">投资日期：</span>
                    <input type="text" class="date date_picker" placeholder="选择投资日期" />
                </div>
                <div class="popup__item">
                    <span class="popup__itemname">支付宝账号：</span>
                    <input type="text" class="zhifubao" placeholder="填写支付宝账号" />
                </div>
                <div class="popup__item">
                    <span class="popup__itemname">支付宝姓名：</span>
                    <input type="text" class="zfbname" placeholder="填写支付宝姓名" />
                </div>
                <div class="popup__item">
                    <span class="popup__itemname">备注：</span>
                    <input type="text" class="remark" placeholder="填写备注" />
                </div>
            </div>
            <div class="popup__btnbox">
                <a id="cancel" class="cancel btn m-green m-right" onclick="canclePopup(this)">取消</a>
                <a id="confirm" class="btn m-green m-popup popup-confirm popup__close-btn">确认</a>
            </div>
        </div>
    </div>

<script type="text/javascript" src="{% static 'js/wfl-common.js' %}"></script>
<script type="text/javascript" src="{% static 'js/wfl-popup.js' %}"></script>
<!--<script type="text/javascript" src="{% static 'js/clipboard.min.js' %}"></script>-->
<script type="text/javascript" src="{% static 'js/jquery.date_input.pack.js' %}"></script>
<script type="text/javascript" src="{% static 'js/page.js' %}"></script>
<script type="text/javascript">
    var data='[results]<li class="project__itembox"><h2 class="project__name">{title}<span class="project__name-small">{introduction}</span></h2>'+
      '<div class="project__detail">'+
//    '<img class="project__img" src="" alt="" />'+
      '<div data-pic="{pic}" data-imgtxt="{title}" class="project__img"></div>'+
      '<p class="project__profit project__info">预计最高年化<br /><span class="project__profit-num">{intrest}</span></p>'+
      '<p class="project__price project__info">返现价格<br /><span class="project__price-num">{cprice}</span></p>'+
      '<p class="project__money project__info">投资区间<br />{investrange}</p>'+
      '<p class="project__term project__info">标期<br />{term}</p>'+
      '<div class="project-btn-box"><a href="{strategy}" target="_blank" class="btn m-green m-project">查看攻略</a>'+
      '<a class="btn m-green m-project" onclick="submit({id})">交&nbsp;&nbsp;单</a></div></div></li>[/results]';
      
    var colors = ['red','blue','green','yellow','black','indianred'];
    function pagecallback (){
        $('.project__img').each(function(){
            var imgurl = $(this).data('pic');
            console.log(imgurl);
            if (imgurl) {
            	$(this).css('background', 'url('+imgurl+') center center/120px 120px no-repeat');
            } else{
                var imgtxt = ''+$(this).data('imgtxt');
                imgtxt = imgtxt.substr(0, 1);
                var num = parseInt(Math.random()*6);
                $(this).text(imgtxt).css('background-color', colors[num]);
            }
        })
    }
    $('.hot__img').each(function(){
        var imgurl = $(this).data('pic');
        console.log(imgurl);
        if (!imgurl) {
            $(this).css('background', 'url('+imgurl+') center center/120px 120px no-repeat');
        } else{
            var imgtxt = ''+$(this).data('imgtxt');
            imgtxt = imgtxt.substr(0, 1);
            console.log(imgtxt);
            var num = parseInt(Math.random()*6);
            $(this).text(imgtxt).css('background-color', colors[num]);
        }
    })


    var rankarea = document.getElementById('rankBox');
    var rank_con1 = document.getElementById('rank_con1');
    var rank_con2 = document.getElementById('rank_con2');
    var rank_speed = 50;
    rankarea.scrollTop = 0;
    function scrollUpRank(){
        if(rankarea.scrollTop >= rank_con1.scrollHeight) {
            rankarea.scrollTop = 0;
            }else{
               rankarea.scrollTop ++;
            }
    }
    $.ajax({
    	url:"/restapi/investlogs/?page=1&size=8",
    	type: 'get',
    	dataType: "json",
    	success: function(ret) {
            console.log(ret.results);
            var notice_html='';
            for (var i=0; i<ret.results.length; i++) {
            	notice_html += '<li><a class="rank__txt oneline">' + (i+1) + '、' + ret.results[i].invest_mobile +
            	'体验了<span class="rank__project">' + ret.results[i].project_title + '</span></a></li>';
            }
            console.log(notice_html);
            $('#rank_con1').html(notice_html);
            
            
            console.log(rankarea.clientHeight);
            console.log(rank_con1.clientHeight);
            if (rankarea.clientHeight >= rank_con1.clientHeight) {
            } else {    
                rank_con2.innerHTML = rank_con1.innerHTML;
                
                var myScroll_rank = setInterval("scrollUpRank()",rank_speed);
                rankarea.onmouseover = function(){
                    clearInterval(myScroll_rank);
                }
                rankarea.onmouseout = function(){
                    myScroll_rank = setInterval("scrollUpRank()",rank_speed);
                }
            }
        },
        error: function() {
            alert("请检查网络连接");
        }
    });
    
    $('.search-submit').click(function(){
        var search_key = $('.search-input').val();
        console.log(search_key);
        if (search_key) {
            $("#pagedata1").ajaxPage({
              url: "/restapi/projects/?page={page}&size={pageSize}&project_title_contains="+search_key,
              pageId:$("#page1"),
              run:true,
              content:data,
              complete:pagecallback,
            });
        }
    })

    $(function(){
        $("#pagedata1").ajaxPage({
          url: "/restapi/projects/?page={page}&size={pageSize}",
          pageId:$("#page1"),
          run:true,
          content:data,
          complete:pagecallback,
        });
    })
    var project_id;
    function submit (id) {
        project_id = id;
        $('.popup.m-submit-proj').addClass('in');
    }
    $(".popup.m-submit-proj").on("focus", ".date_picker", function() {
        $(this).date_input();
    })
    $("#confirm").click(function() {
        var telnum = $(".telnum").val(),
            term = $(".term").val(),
            money = $(".money").val(),
            date = $(".date").val(),
            zhifubao = $(".zhifubao").val();
            zfbname = $(".zfbname").val();
            remark = $(".remark").val();
        console.log(project_id+","+date+","+telnum+","+term+","+money+","+remark+",");
        if( !date || !telnum || !term || !money || !zhifubao || !zfbname ) {
            alert("必填写项不能为空");
            return;
        }

        $.ajax({
            url: '/restapi/investlogs/',
            dataType: "json",
            type: 'post',
            data: {
                'project': project_id,
                'invest_mobile': telnum,
                'invest_term': term,
                'invest_amount': money,
                'invest_date': date,
                'zhifubao': zhifubao,
                'zhifubao_name': zfbname,
                'remark': remark
            },
            success: function(ret) {
                alert('提交成功');
                $('.popup.m-submit-proj').removeClass('in');
            },
            error: function() {
                alert("请检查网络连接");
            }
        });
    });
    
//  横向滚动部分
    var page= 1; 
    var i = 4;//每版四个图片
    //向右滚动 
    $(".hot_next ").click(function(){ //点击事件 
        console.log('next');
        var v_wrap = $(this).parents(".scroll_box "); // 根据当前点击的元素获取到父元素 
        var v_show = v_wrap.find(".scroll_list "); //找到视频展示的区域 
        var v_cont = v_wrap.find(".list_box "); //找到视频展示区域的外围区域 
        var v_width = v_cont.width(); 
        var len = v_show.find("li ").length; //我的视频图片个数 
        var page_count = Math.ceil(len/i); //只要不是整数，就往大的方向取最小的整数 
        if(!v_show.is(":animated ")){ 
            if(page == page_count){ 
                v_show.animate({left:'0px'},"slow "); 
                page =1;    
            }else{ 
                v_show.animate({left:'-='+v_width},"slow "); 
                page++; 
            } 
        } 
    }); 
    
    //向左滚动 
    $(".hot_prev ").click(function(){ //点击事件 
        console.log('prev');
        var v_wrap = $(this).parents(".scroll_box "); // 根据当前点击的元素获取到父元素 
        var v_show = v_wrap.find(".scroll_list "); //找到视频展示的区域 
        var v_cont = v_wrap.find(".list_box "); //找到视频展示区域的外围区域 
        var v_width = v_cont.width(); 
        var len = v_show.find("li ").length; //我的视频图片个数 
        var page_count = Math.ceil(len/i); //只要不是整数，就往大的方向取最小的整数 
        if(!v_show.is(":animated ")){ 
            if(page == 1){ 
                v_show.animate({left:'-='+ v_width*(page_count-1)},"slow "); 
                page =page_count; 
            }else{ 
                v_show.animate({left:'+='+ v_width},"slow "); 
                page--; 
            } 
        } 
    }); 
//  横向滚动部分---end
//  滚动部分
    var area = document.getElementById('noticeBox');
    var con1 = document.getElementById('con1');
    var con2 = document.getElementById('con2');
    var speed = 50;
    area.scrollTop = 0;
    console.log(area.scrollTop);
    console.log(con1.scrollTop);
    if (area.clientHeight > con1.clientHeight) {
    } else {    
        con2.innerHTML = con1.innerHTML;
        function scrollUp(){
            if(area.scrollTop >= con1.scrollHeight) {
                area.scrollTop = 0;
                }else{
                   area.scrollTop ++;
                }
        }
        var myScroll = setInterval("scrollUp()",speed);
        area.onmouseover = function(){
            clearInterval(myScroll);
        }
        area.onmouseout = function(){
            myScroll = setInterval("scrollUp()",speed);
        }
    }
    
//  var rankarea = document.getElementById('rankBox');
//  var rank_con1 = document.getElementById('rank_con1');
//  var rank_con2 = document.getElementById('rank_con2');
//  var rank_speed = 50;
//  rankarea.scrollTop = 0;
//  console.log(rankarea.clientHeight);
//  console.log(rank_con1.clientHeight);
//  if (rankarea.clientHeight >= rank_con1.clientHeight) {
//  } else {    
//      rank_con2.innerHTML = rank_con1.innerHTML;
//      function scrollUpRank(){
//          if(rankarea.scrollTop >= rank_con1.scrollHeight) {
//              rankarea.scrollTop = 0;
//              }else{
//                 rankarea.scrollTop ++;
//              }
//      }
//      var myScroll_rank = setInterval("scrollUpRank()",rank_speed);
//      rankarea.onmouseover = function(){
//          clearInterval(myScroll_rank);
//      }
//      rankarea.onmouseout = function(){
//          myScroll_rank = setInterval("scrollUpRank()",rank_speed);
//      }
//  }
//  滚动部分---end 
</script>
</body>
</html>
