{% load staticfiles %}
<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>理财福利，互联网理财平台。</title>
<meta name="keywords" content="P2P理财,P2P网贷,投资理财,网络理财,网络投资,小额投资理财,如何投资理财,个人理财,家庭理财,挖福利" />
<meta name="description" content="挖福利是一个优质的互联网理财平台！让你感受到不一样的金融理财。" />
<link href="{% static 'images/favicon.ico'%}" rel="shortcut icon"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/wfl-common.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/project_all.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/wfl-page.css' %}" />


</head>
<body>
{% include "header.html" %}
<div id="content">

  <div class="fiter-item-container">
    <div class="fiter-content">
      <!--<div class="filter-box-company">
        <div class="filter-box-name">
          平台背景：
        </div>
        <ul class="filter-item company-background">
          <li class="on">
            <a href="javascript:void(0);">不限</a>
          </li>
          <li>
            <a href="javascript:void(0);">民营系</a>
          </li>
          <li>
            <a href="javascript:void(0);">国资系</a>
          </li>
          <li>
            <a href="javascript:void(0);">上市系</a>
          </li>
        </ul>
      </div>-->

      <div class="filter-box-company">
        <div class="filter-box-name">
          投标次数：
        </div>
        <ul class="filter-item invest-count">
          <li data-key = "" class="on">
            <a href="javascript:void(0);">不限</a>
          </li>
          <li data-key = "">
            <a href="javascript:void(0);">首投</a>
          </li>
          <li data-key = "">
            <a href="javascript:void(0);">复投</a>
          </li>
        </ul>
      </div>

      <div class="filter-box-company">
        <div class="filter-box-name">
          项目分类：
        </div>
        <ul class="filter-item project-type">
          <li data-key = "" class="on">
            <a href="javascript:void(0);">不限</a>
          </li>
          <li data-key = "2">
            <a href="javascript:void(0);">稳健投资</a>
          </li>
          <li data-key = "3">
            <a href="javascript:void(0);">高收益区</a>
          </li>
        </ul>
      </div>

      <div class="filter-box-company">
        <div class="filter-box-name">
          项目状态：
        </div>
        <ul class="filter-item project-status">
          <li data-key = "" class="on">
            <a href="javascript:void(0);">不限</a>
          </li>
          <li data-key = "10">
            <a href="javascript:void(0);">正在进行</a>
          </li>
          <li data-key = "20">
            <a href="javascript:void(0);">已结束</a>
          </li>
        </ul>
      </div>
    </div>
    
    <div class="hongbao-search">
        <input class="hongbao-input" name="key" type="text">
        <input class="hongbao-submit" type="submit" value="">
    </div>

  </div>  <!--fiter-item-container-end-->

  <ul id="pagedata1" class="item-container clearfix">
    
  </ul>
  <!--<div style="width: 1250px; margin: 0 auto;" class="page-box clearfix">-->
      <div style="width: 1250px; margin: 0 auto;" class="changes-p clearfix">
          <div style="padding: 10px 20px 6px;" class="page r"  id="page1">
          </div>
      </div>
  <!--</div>-->
</div>
<div style="clear:both"></div>

<script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/wfl-common.js' %}"></script>
<script type="text/javascript" src="{% static 'js/wfl-popup.js' %}"></script>
<script type="text/javascript" src="{% static 'js/clipboard.min.js' %}"></script>
<!--<script type="text/javascript" src="{% static 'js/jQuery.infiniteCarousel.js' %}"></script>-->
<!--<script type="text/javascript" src="{% static 'js/MSClass.js' %}"></script>-->
<script type="text/javascript" src="{% static 'js/page.js' %}"></script>
<script type="text/javascript">

//var data='[data]<div class="item-content">'+
//'<img src="{img_url}" alt="商家logo" />'+
//'<p class="item-name">{title}{marks}</p>'+
//'<p class="item-interest">官网利率<span>{interest}</span></p>'+
//'<p class="item-invest">起投金额<span>{amount}</span></p>'+
//'<p class="item-date">标期长度<span>{time}</span></p>'+
//'<p class="item-profit">补贴收益<span>+{benefit}</span></p>'+
//'<p class="item-year">预计年化收益<span>{revenue}</span></p>'+
//'<a class="item-btn {end}" href="{url}">立即投资</a>'+
//'</div>[/data]';
var userlevel = '{{user.level}}';
console.log(userlevel);
if (userlevel == '01') {
	var data='[results]<li class="finance"><div class="finance__content">'+
  '<img class="finance__img" src="{pic}" alt="商家logo">'+
  '<div class="finance__delbox"><h4 class="finance__title">{title}'+
  '<span class="finance__term">{term}</span><span class="finance__price">{price01}</span></h4>'+
  '<p class="finance__price02">客户指导价：<span class="finance__price02-txt">{cprice}</span></p>'+
  '<p class="finance__intro oneline">{introduction}</p>'+
  '</div><div class="finance__btnbox">'+
  '<a class="btn m-green m-finance" href="{strategy}" target="_blank">查看攻略</a>'+
  '<a class="copy-link btn m-green m-finance" target="_blank" data-clipboard-text="{strategy}">复制攻略</a>'+
  '<a class="add-project true btn m-green m-finance" data-isadd = "true" onclick = "addProject(this, {id})">添加至主页</a></div></li>[/results]';
} else if (userlevel == '02') {
	var data='[results]<li class="finance"><div class="finance__content">'+
  '<img class="finance__img" src="{pic}" alt="商家logo">'+
  '<div class="finance__delbox"><h4 class="finance__title">{title}'+
  '<span class="finance__term">{term}</span><span class="finance__price">{price02}</span></h4>'+
  '<p class="finance__price02">客户指导价：<span class="finance__price02-txt">{cprice}</span></p>'+
  '<p class="finance__intro oneline">{introduction}</p>'+
  '</div><div class="finance__btnbox">'+
  '<a class="btn m-green m-finance" href="{strategy}" target="_blank">查看攻略</a>'+
  '<a class="copy-link btn m-green m-finance" target="_blank" data-clipboard-text="{strategy}">复制攻略</a>'+
  '<a class="add-project true btn m-green m-finance" data-isadd = "true" onclick = "addProject(this, {id})">添加至主页</a></div></li>[/results]';
} else if (userlevel == '03') {
    var data='[results]<li class="finance"><div class="finance__content">'+
  '<img class="finance__img" src="{pic}" alt="商家logo">'+
  '<div class="finance__delbox"><h4 class="finance__title">{title}'+
  '<span class="finance__term">{term}</span><span class="finance__price">{price03}</span></h4>'+
  '<p class="finance__price02">客户指导价：<span class="finance__price02-txt">{cprice}</span></p>'+
  '<p class="finance__intro oneline">{introduction}</p>'+
  '</div><div class="finance__btnbox">'+
  '<a class="btn m-green m-finance" href="{strategy}" target="_blank">查看攻略</a>'+
  '<a class="copy-link btn m-green m-finance" target="_blank" data-clipboard-text="{strategy}">复制攻略</a>'+
  '<a class="add-project true btn m-green m-finance" data-isadd = "true" onclick = "addProject(this, {id})">添加至主页</a></div></li>[/results]';
}
var url = "/restapi/projects/?page={page}&size={pageSize}";
function pagecallback(){
//  $(".lc-h2.new").append('<img src="/static/images/new_cont.png" class="new_cont2">');
//  $(".end").text("已结束");
    $('.add-project.true').each(function() {
        this.innerText = '已添加';
    })
    $('.oneline').each(function(index, el) {        //单行
        if ($(this).height() > 30) {
            $(this).addClass('one-line')
            $(this).addTitle();
        }
    });
    var btns = document.querySelectorAll('.copy-link');
    var clipboard = new Clipboard(btns);

    clipboard.on('success', function(e) {
        console.log(e);
        $.prompt({
            Content: '复制成功'
        })
    });

    clipboard.on('error', function(e) {
        console.log(e);
    });
}
var textarray=[];
//function getText(n) {
//   if (textarray[n-1])
//       return textarray[n-1];
//   else
//       return n;
//}
function addProject (obj, id) {
    var isadd = obj.getAttribute('data-isadd');
    if (isadd == 'false') {
    	obj.setAttribute('data-isadd', 'true');
    	obj.innerText = "已添加";
    	$(obj).removeClass('false').addClass('true');
    } else if (isadd == 'true') {
    	obj.setAttribute('data-isadd', 'false');
        obj.innerText = "添加至主页";
        $(obj).removeClass('true').addClass('false');
    }
}
function emptydisplay(obj){
  obj.html('<p style="margin-top:20px;">抱歉，没有找到符合条件的项目！</p>');
}
$(function(){
    $('.nav__item:eq(1)').addClass('active');

  var newurl = url;
  var index = "0",
    index_text;
  var invest_account = "", 
    project_type = "",
    project_status = "";


    $("#pagedata1").ajaxPage({
          url:url + "&type=" + "&state=",
          pageId:$("#page1"),
          pageSize:12,
          run:true,
          content:data,
          complete:pagecallback,
    });

  $(".fiter-item-container li").click(function() {
    var parent = $(this).parent(".filter-item");

//  if($(parent).hasClass("company-background")) {
//    $(this).addClass("on").siblings().removeClass("on");
//    index = $(this).index();
//    index_text = $(this).children().text();
//    company_background = index_text;
//  }

    if($(parent).hasClass("invest-count")) {
      $(this).addClass("on").siblings().removeClass("on");
//    index = $(this).index();
//    index_text = $(this).children().text();
//    invest_account = index_text;
      invest_account = $(this).data('key');
    }

    if($(parent).hasClass("project-type")) {
      $(this).addClass("on").siblings().removeClass("on");
//    index = $(this).index();
//    var text_item = $(this).children().text();
//    project_type = index;
      project_type = $(this).data('key');
    }

    if($(parent).hasClass("project-status")) {
      $(this).addClass("on").siblings().removeClass("on");
//    index = $(this).index();
//    var text_item = $(this).children().text();
//    project_status = index;
      project_status = $(this).data('key');
    }
    newurl=url + "&invest_account=" + invest_account + "&type=" + project_type + "&state=" + project_status;
    console.log(newurl)

    $("#pagedata1").ajaxPage({
        url:newurl,
        pageId:$("#page1"),
        pageSize:12,
        run:true,
        content:data,
        complete:pagecallback,
    });
  })
  
    $('.hongbao-submit').click(function() {
        var searchValue = $('.hongbao-input').val();
        var newurl2 = url + "&search=" + searchValue;
        
        $("#pagedata1").ajaxPage({
        url:newurl2,
        pageId:$("#page1"),
        pageSize:12,
        run:true,
        content:data,
        complete:pagecallback,
    });
    })
    

});

function tounicode(data) {
   if(data == '') return '请输入汉字';
   var str ='';
   for(var i=0;i<data.length;i++)
   {
      str+="\\u"+parseInt(data[i].charCodeAt(0),10).toString(16);
   }
   return str;
}
</script>
</body>
</html>
