{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>常见问题</title>
        <meta name="keywords" content="福利联盟，p2p理财平台，p2p投资理财，p2p投资理财平台，小额投资理财，个人投资理财，互联网理财产品，互联网理财平台，互联网金融平台，互联网金融产品，网络理财产品，网赚" />
        <meta name="description" content="福利联盟是行业领先的P2P渠道分发机构。" />
		<link rel="stylesheet" href="{% static 'css/wfl-common.css' %}?v-3" />
		<!--<link rel="stylesheet" href="css/HelpCenter.css" />-->
		<link rel="stylesheet" type="text/css" href="/static/css/common-intro.css?v-3"/>
		<link rel="stylesheet" href="{% static 'css/HelpCenter.css' %}" />
	</head>
	<body>
        {% include "header-new.html" %}
        
		<div class="wrapper">
          <!--<div class="banner">
          	<img src="{% static 'images/banner_03.jpg' %}" class="banner_img"/>
          </div>-->
          <!--banner-container-->
        <div class="top-bg-img m-settle-tool">
          <div class="bg-mask">
            <div class="banner__content">
              <div style="margin-top: 50px;" class="banner__title">福利联盟帮助中心</div>
            </div>
          </div>
        </div>
        <!--banner-container--end-->
          <div class="step">
          	<div class="step-left">
          		<div class="regestor">
          			<!--<img src="img/icon_1_08.jpg" />-->
          			<img src="{% static 'images/icon_1_08.jpg' %}" />
          			<a href="#">注册</a>
          		</div>
          		<div class="main">
          			<!--<img src="img/icon_2_12.jpg" />-->
          			<img src="{% static 'images/icon_2_12.jpg' %}" />
          			<a href="#">番薯主页</a>
          		</div>
          		<div class="data">
          			<!--<img src="img/icon_3_14.jpg" />-->
          			<img src="{% static 'images/icon_3_14.jpg' %}" />
          			<a href="#">数据管理</a>
          		</div>
          		<div class="botm">
          			<!--<img src="img/icon_3_17.jpg" />-->
          			<img src="{% static 'images/icon_3_17.jpg' %}" />
          			<a href="#">提现与返现</a>
          		</div>
          		<div class="dot1"></div>
          		<div class="dot2"></div>
          		<div class="dot3"></div>
          		<div class="dot4"></div>
          	</div>
          	
          	<div class="step-center">
          		<div class="first">
          			<div class="f-dot"></div>
          			<a href="http://91fanshu.com/docs/a22Kr/" target="view_window">如何注册</a>
          		</div>
          		
          		<ul class="scond">
          			<li>
          				<div class="s-dot"></div>
          				<a href="http://91fanshu.com/docs/qycrN/" target="view_window">什么是番薯主页？为什么使用番薯主页？</a>
          			</li>
          			<li>
          				<div class="s-dot"></div>
          				<a href="http://91fanshu.com/docs/tSgKQ/" target="view_window">如何管理番薯主页上展示的项目？</a>
          			</li>
          			<li>
          				<div class="s-dot"></div>
          				<a href="http://91fanshu.com/docs/fV9hB/" target="view_window">如何推广自己的番薯主页？</a>
          			</li>
          		</ul>
          		
          		<ul class="thrid">
          			<li>
          				<div class="s-dot"></div>
          				<a href="http://91fanshu.com/docs/dQiYl/" target="view_window">官方项目数据怎么管理？</a>
          			</li>
          			<li>
          				<div class="s-dot"></div>
          				<a href="http://91fanshu.com/docs/KjkBo/" target="view_window">预约管理如何操作？</a>
          			</li>
          			<li>
          				<div class="s-dot"></div>
          				<a href="http://91fanshu.com/docs/jpnEw" target="view_window">如何进行快速交单？</a>
          			</li>
          		</ul>
          		
          		<ul class="fouth">
          			<li>
          				<div class="s-dot"></div>
          				<a href="http://91fanshu.com/docs/cEbzY/" target="view_window">提现规则是什么？</a>
          			</li>
          		</ul>
          	</div>
          	
          	<div class="step-right">
          		<ul class="r-f-box"> 
          			<li>
          				<div class="r-dot"></div>
          				<a href="http://91fanshu.com/docs/VJd64/" target="view_window">如何设置番薯主页信息？</a>
          			</li>
          			<li>
          				<div class="r-dot"></div>
          				<a href="http://91fanshu.com/docs/YhVAR" target="view_window">如何使用标签分类？</a>
          			</li>
          		</ul>
          		
          		<ul class="r-s-box">
          			<li>
          				<div class="r-dot"></div>
          				<a href="http://91fanshu.com/docs/ahnzV/" target="view_window">自建项目数据怎么管理？</a>
          			</li>
          			<li>
          				<div class="r-dot"></div>
          				<a href="http://www.fuliunion.com/docs/ov1UV/" target="view_window">如何进行自助交单？</a>
          			</li>
          		</ul>
          		
          	</div>
          </div>
		</div>
         <div style="clear:both"></div>
		<!--底部-->
		 {% include "footer.html" %}
		 <script src="/static/js/jquery-1.11.2.min.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $('.nav__item:eq(2)').addClass('active');
            });
        </script>
	</body>
</html>
