{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>福利联盟-行业领先的P2P渠道分发机构</title>
        <meta name="keywords" content="福利联盟，p2p理财平台，p2p投资理财，p2p投资理财平台，小额投资理财，个人投资理财，互联网理财产品，互联网理财平台，互联网金融平台，互联网金融产品，网络理财产品，网赚" />
        <meta name="description" content="福利联盟是行业领先的P2P渠道分发机构。" />
        <link href="/static/images/favicon.ico" rel="shortcut icon"/>
        <link rel="stylesheet" type="text/css" href="/static/css/wfl-common.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/wfl-flesslider.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/wfl-index.css"/>
        <style>
            .modal_hangbao_box{
                width: 100%;
                height: 300px;
                position: fixed;bottom: -10px;z-index: 999;
            }
            .modal_btm{
                width: 100%;
                height: 113px;
                position: absolute;bottom: 0;
                background: url(../../../static/images/hongbao_index1.png) no-repeat center center;
                background-size: 100% auto;
                background-position-y: 8px;
            }
            .modal_top{
                width: 300px;
                height: 300px;
                background: url(../../../static/images/hongbao_index2.png) no-repeat center center;
                background-size: 100% auto;
                position:absolute;z-index: 999;
                left:50%;
                top:50%;
                transform:translate(-50%,-50%);
                cursor: pointer;
            }
            .close{
                width: 20px;
                height: 20px;
                background: rgba(171,171,171,.4);
                text-align: center;
                line-height: 22px;
                font-size: 24px;
                border-radius: 50%;
                cursor: pointer;
                position: absolute;right: 0;top: 20px;
                color: white;
            }
            .register_box{
                width: 120px;
                height: 35px;
                margin: 52px 35px;
            }
            .hongbao_box{
                width: 200px;
                height: 150px;
                position: absolute;top: 80px;left: 60px;
                cursor: pointer;
            }
        </style>
    </head>
    <body>
        <!-- 底部红包模态框 -->
        <!--{% if not user.is_authenticated %}
        <div class="modal_hangbao_box">
            <div class="modal_top">
                <div class="close">×</div>
                <div class="register_box"></div>
                <div class="hongbao_box"></div>
            </div>
            <div class="modal_btm"></div>
        </div>
        {% endif %}-->
        <!-- 头部 -->
        <div class="header">
          {% include "pre-header.html" %}
          <div class="headermain-box bgc-fff">
            <div class="headermain clearfix">
              <a href="{% url 'index' %}"><img src="{% static 'images/logo-new.png' %}" alt="福利联盟logo" class="logo l" /></a>
              <!--<a href="https://fuliunion.mikecrm.com/bd4sR5a" target="_blank"><img style="margin-top: 5px;margin-left: 10px;" src="{% static 'images/act-enter.gif' %}" alt="活动入口图片" class="l" /></a>-->
              <ul class="nav nav-layout l fs-0">
                <li class="nav__itembox d-ib">
                  <a class="nav__item" href="/">首页</a>
                </li>
                <li class="nav__itembox subnav-show d-ib">
                  <a class="nav__item" href="{% url 'project_all' %}">项目库</a>
                </li>
                <li class="nav__itembox subnav-show d-ib">
                            <a class="nav__item" href="{% url 'fanshu' %}">番薯</a>
                        </li>
                <li class="nav__itembox subnav-show d-ib box" style="position: relative;">
                  <a class="nav__item">帮助</a>
                  <ul class="toggle_box" id="toggle_box">
                    <div class="toggle_box_top"></div>
                    <li>
                      <a href="{% url 'user_guide'  %}">新人指南</a>
                    </li>
                    <li>
                      <a href="{% url 'helpCenter' %}">常见问题</a>
                    </li>
                  </ul>
                </li>
                <li class="nav__itembox d-ib">
                  <a class="nav__item" href="{% url 'cooperate' %}">合作共赢</a>
                </li>
                <li class="nav__itembox d-ib">
                  <a class="nav__item" href="{% url 'account_index' %}">个人中心</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!--banner-container-->
        <div class="banner-container clearfix">
            <div class="banner l">
                <div class="flexslider">
                    <ul class="slides">
                        <!--{% for adv in ad_list %}
                            <li onclick="location='{{adv.url}}'" style="background:url({{adv.pic.url}}) 50% 0 no-repeat;cursor:pointer;"></li>
                        {%endfor%}-->
                        <li style="background:url('/static/images/bg-big-1.jpg') center center no-repeat;cursor:pointer;"></li>
                    </ul>
                </div>
            </div>
            <div class="banner-mask">
              <div class="banner-txt">
                <div style="font-size: 40px;">创新、变革引领理财推广2.0时代</div>
                <p style="font-size: 35px; margin-top: 63px;">一站式服务体验</p>
              </div>
              <div class="banner__nav-container">
                <ul class="banner__navbox">
                	<li class="banner__nav"><a class="banner__nav-txt" href="#">新手福利</a></li>
                	<li class="banner__nav"><a class="banner__nav-txt" href="#">招商入住</a></li>
                	<li class="banner__nav"><a class="banner__nav-txt" href="#">关于我们</a></li>
                	<li class="banner__nav"><a class="banner__nav-txt" href="#">福利活动</a></li>
                	<li class="banner__nav"><a class="banner__nav-txt" href="#">新手注册</a></li>
                </ul>
              </div>
            </div>
        </div>
        <!--banner-container--end-->
        <div class="wfl-wrap intro">
          <ul class="intro__top">
              <li class="intro__item m-01">渠道引入资金<br /><span class="intro-num">100</span><span class="intro-unit">亿+</span></li>
              <li class="intro__item m-02">渠道引入用户<br /><span class="intro-num">500</span><span class="intro-unit">万+</span></li>
              <li class="intro__item m-03">商家入驻<br /><span class="intro-num">500</span><span class="intro-unit">+</span></li>
              <li class="intro__item m-04">渠道推广<br /><span class="intro-num">2000</span><span class="intro-unit">+</span></li>
          </ul>
          <p class="intro__txt">
            <span class="intro__txt-s">引领理财cps2.0时代</span><br />
            在福利联盟稳赚的推广用户
          </p>
        	<ul class="intro__detail">
        		<li class="intro__detail-item">
        		  <p class="intro__detail-h">社群推广</p>
        		  <p class="intro__detail-t">拥有QQ、微信群的社群领袖</p>
        		</li>
        		<li class="intro__detail-item">
              <p class="intro__detail-h">媒体机构</p>
              <p class="intro__detail-t">门户网站、流量站、自媒体、垂直平台等</p>
            </li>
            <li class="intro__detail-item">
              <p class="intro__detail-h">线下推广</p>
              <p class="intro__detail-t">线下推荐理财投资的理财师</p>
            </li>
        	</ul>
        </div>
        <!--main-->
        <div class="goodness-box">
          <h2 class="goodness__title">平台三大核心优势</h2>
          <ul class="wfl-wrap goodness">
          	<li class="goodness__item">
          	  <div class="goodness__item-content">
          	    <h4 class="goodness__item-title">价格优势</h4>
          	    <p class="goodness__item-txt">一手资源，优势价格</p>
          	  </div>
          	</li>
          	<li class="goodness__item">
              <div class="goodness__item-content">
                <h4 class="goodness__item-title">品牌优势</h4>
                <p class="goodness__item-txt">三年深耕，行业领先</p>
              </div>
            </li>
            <li class="goodness__item">
              <div class="goodness__item-content">
                <h4 class="goodness__item-title">风控优势</h4>
                <p class="goodness__item-txt">多维度审核，重重把关</p>
              </div>
            </li>
          </ul>
        </div>
        <!--main---end-->
        
        <!--商家展示-->
        <div class="wfl-wrap">
            <div class="wflbox">
                <h2 class="tool__title">优质合作平台</h1>
                <div class="tool-box">
                    <ul class="tool">
                      <li class="tool__item">
                        <span class="tool__icon"></span>
                        <h4 class="tool__name">番薯主页</h4>
                        <p class="tool__txt">快速搭建个人网站<br />免费打造专属品牌</p>
                      </li>
                      <li class="tool__item">
                        <span class="tool__icon"></span>
                        <h4 class="tool__name">结算工具</h4>
                        <p class="tool__txt">首创高效结算工具<br />一键批量实时转账</p>
                      </li>
                      <li class="tool__item">
                        <span class="tool__icon"></span>
                        <h4 class="tool__name">番薯文档</h4>
                        <p class="tool__txt">专为CPS打造的云文档<br />免费、便捷、更安全</p>
                      </li>
                      <li class="tool__item">
                        <span class="tool__icon"></span>
                        <h4 class="tool__name">开放平台</h4>
                        <p class="tool__txt">免费提供API技术对接<br />实现快速开发</p>
                      </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--商家展示---end-->
        <!--文案-->
        <div class="wenan-box">
          <div class="wenan-mask">
            <p class="wenan">一个人走，可以走的很快，和我们一起走，会走的更远！</p>
          </div>
        </div>
        <!--文案---end-->
        {% include "footer.html" %}

        <script src="/static/js/jquery-1.11.2.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/js/wfl-flexslider-min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/js/wfl-common.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/js/wfl-popup.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/js/cookie.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                //跳转到红包页面
    //            $(".hongbao_box").click(function(){
    //                window.location.href="{% url 'account_hongbao' %}";
    //            });
                $('.nav__item:eq(0)').addClass('active');
                //点击模态框消失
                $(".close").click(function(){
                    $(".modal_hangbao_box").hide();
                });
                //跳转到注册页面
                $(".hongbao_box").click(function(){
                    window.location.href="{% url 'register' %}";
                });
//              轮播部分
                $('.flexslider').flexslider({
                    directionNav: true,
                    pauseOnAction: false 
                });
//              轮播部分---end
            });
        </script>

    </body>
</html>
