{% load staticfiles %}
<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>数据管理</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" href="{% static 'css/mui.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/m_project_all.css' %}">
		<script type="text/javascript" src="{% static  'js/rem.js'%}"></script>
		
	</head>

	<body>
		<!--<header id="header" class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #656565;"></a>
			<h1 class="mui-title">项目库</h1>
		</header>-->
        <!--<div id="pullrefresh" class="mui-scroll-wrapper">-->
            <div class="mui-content">
                <div id="search" class="searchBox">
                	<input type="text" placeholder="点此进入搜索" />
                	<span class="search-icon mui-icon mui-icon-search"></span>
                </div>
                <div class="mui-table-view project-all-box">
                    <ul id="mui-table-view-left" class="mui-table-view-left">
                        <li class="item_line m-head"><span class="column_1 column m-head">项目名称</span></li>
                    </ul>
                    <ul id="mui-table-view-right" class="mui-table-view-right">
                        <li class="item_line m-head m-right">
                            <div class="column_2 column m-head">推广标期</div>
                            <div class="column_3 column m-head">投资档位</div>
                            <div class="column_4 column m-head">结算价格</div>
                            <div class="column_5 column m-head">客户指导价</div>
                            <div class="column_6 column m-head">备注说明</div>
                            <div class="column_7 column m-head">操作</div>
                        </li>
                    </ul>
                </ul>
            </div>
        <!--</div>-->
		

		<script src="{% static 'js/mui.min.js' %}"></script>
		<script src="{%static 'js/mui.pullToRefresh.js'%}"></script>
		<script src="{%static 'js/mui.pullToRefresh.material.js'%}"></script>
		<script type="text/javascript" charset="utf-8">
            mui.init({
//                  pullRefresh: {
//                      container: '#pullrefresh',
//                      up: {
//                          auto:true,
//                          contentrefresh: '正在加载...',
//                          contentnomore:'—— 我可是有底线的 ——',//可选，请求完毕若没有更多数据时显示的提醒内容；
//                          callback: pullupRefresh
//                      }
//                  }
            });
            /**
             * 上拉加载具体业务实现
             */
//          var count = 1;
            var get_proj_url = "/restapi/sub/?page={page}&pageSize={pageSize}&is_official=2";
            get_list(get_proj_url);
            function get_list(url){
//              console.log(n);
                mui.ajax(url,{
                    data:{
                        'page':1,
                        'pageSize': 999,
                    },
                    dataType:'json',//服务器返回json格式数据
                    type:'get',//HTTP请求类型
                    timeout:10000,//超时时间设置为10秒；
    //              headers:{'Content-Type':'application/json'},
                    success:function(data){
                        console.log(data.results);
                        if (!data.results.length){
//                          mui('#pullrefresh').pullRefresh().endPullupToRefresh(true);
                        }
                        else {
//                          mui('#pullrefresh').pullRefresh().endPullupToRefresh(false); //参数为true代表没有更多数据了。
//                          var table = document.body.querySelector('.project-all-box');
                            for(var i in data.results) {
                                var li_left = document.createElement('li');
                                var li_right = document.createElement('li');
                                li_left.className = 'item_line';
                                li_right.className = 'item_line m-right';
                                var left_html = '<div class="column_1 column"><span class="item">' + data.results[i].project_title + '</span></div>';

                                var right_html = '<div class="column_2 column"><span class="item">' + data.results[i].project_term + '</span></div>' +
                                    '<div class="column_3 column"><span class="item">' + data.results[i].project_investrange + '</span></div>' +
                                    '<div class="column_4 column"><span class="item">' + data.results[i].project_price03 + '</span></div>' +
                                    '<div class="column_5 column"><span class="item">' + data.results[i].project_cprice + '</span></div>' +
                                    '<div class="column_6 column"><span class="item">这里是备注说明这里是备注说明</div>' +
                                    '<div class="column_7 column"><span data-isadd="'+ data.results[i].is_on +'" data-id="'+ data.results[i].id +
                                    '" class="item add-project '+ data.results[i].is_on +'">'+ (data.results[i].is_on?'已添加':'添加至主页') +'</span>' +
                                    '<a '+ (data.results[i].is_on?'':'style="display:none"') +' class="item" href="http://{{user.domain_name}}.51fanshu.com/detail/project/'+ data.results[i].project+'/">进入推广主页</a></div>';
                                li_left.innerHTML = left_html;
                                li_right.innerHTML = right_html;
                                document.getElementById('mui-table-view-left').appendChild(li_left);
                                document.getElementById('mui-table-view-right').appendChild(li_right);
                            }
                        }
    
                    },
                    error:function(xhr,type,errorThrown){
                        mui('#pullrefresh').pullRefresh().endPullupToRefresh(true);
                        console.log(xhr.responseText);
                    }
                });
            }
//          function pullupRefresh() {
//              console.log('ss');
//              if (count == 1){
//                  mui('#pullrefresh').pullRefresh().scrollTo(0,0);
//              }
//              get_wel_list(count++);
//          }
            
            mui(".mui-table-view-right").on('tap', '.add-project', function() {
                var that = this;
                var dataId = this.getAttribute('data-id'); //获取当前span标签的data-id
                var flag = this.getAttribute('data-isadd');
                console.log(flag)
                console.log(typeof(flag))
                if(flag == 'true') {
                    var btnArry = ['否', '是'];
                    mui.confirm("是否取消添加项目到个人主页", "提示", btnArry, function(e) {
                        if(e.index == 1) {
    
                            mui.ajax("/restapi/sub/" + dataId + "/", {
                                dataType: 'json', //服务器返回json格式数据
                                type: 'put', //HTTP请求类型
                                timeout: 10000, //超时时间设置为10秒；
                                data: {
                                    'is_on': false
                                },
                                success: function(ret) {
                                    console.log('关闭');
                                    that.setAttribute('data-isadd', 'false');
                                    that.innerText = "添加至主页";
                                    that.className = 'item add-project false';
                                    that.nextSibling.style.display = 'none';
                                },
                                error: function(xhr, type, errorThrown) {
                                    console.log(xhr.resoponseText);
                                }
                            });
    
                        }
                    });
    
                } else {
                    var btnArry = ['否', '是'];
                    mui.confirm("是否添加项目到个人主页", "提示", btnArry, function(e) {
                        if(e.index == 1) {
    
                            mui.ajax("/restapi/sub/" + dataId + "/", {
                                dataType: 'json', //服务器返回json格式数据
                                type: 'put', //HTTP请求类型
                                timeout: 10000, //超时时间设置为10秒；
                                data: {
                                    'is_on': true
                                },
                                success: function(ret) {
                                    console.log('关闭');
                                    that.setAttribute('data-isadd', 'true');
                                    that.innerText = "已添加";
                                    that.className = 'item add-project true';
                                    that.nextSibling.style.display = 'block';
                                },
                                error: function(xhr, type, errorThrown) {
                                    console.log(xhr.resoponseText);
                                }
                            });
                        }
                    });
    
                }
                
            });
    
        </script>

	</body>

</html>