{% load staticfiles %}
<!DOCTYPE html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>理财福利，互联网理财平台。</title>
    <meta name="keywords" content="P2P理财,P2P网贷,投资理财,网络理财,网络投资,小额投资理财,如何投资理财,个人理财,家庭理财,挖福利" />
    <meta name="description" content="挖福利是一个优质的互联网理财平台！让你感受到不一样的金融理财。" />
    <link href="{% static 'images/favicon.ico'%}" rel="shortcut icon" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/wfl-common.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/project_all.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/wfl-page.css' %}" />
    <style type="text/css">
        .state20 {
            pointer-events: none;
            background-color: #e4e4e4 !important;
        }
        
        .go_homepage {
            display: none;
        }
        
        .go:hover {
            color: RGB(150, 150, 150);
            text-decoration: underline;
        }
        /*未登录下样式*/
       .c1 {
           margin-left: 214px;
       }
       .link_left {
           display: block;
           float: none;
           margin: 0 auto;
       }
    </style>

</head>

<body>
    {% include "header.html" %}
    <div id="content">
        <div class="content-head">
            <div class="c-item c1">推广标期</div>
            <div class="c-item c2">投资档位</div>
            <div class="c-item c3">结算价格</div>
            <div class="c-item c4">客户指导价</div>
            <div class="c-item c5">备注说明</div>
        </div>

        <ul id="pagedata1" class="item-container clearfix">
            {% for item in projects %}
            <li class="finance">
                <a class="link_left" href="http://51fanshu.com/docs/HLUlS" target="_blank">
                    <div class="wrapperBox">
                        <img class="finance__img finance__item" src="{{item.pic.url}}" alt="商家logo">
                    </div>
                    <div class="item1"><span class="finance__term finance__item">{{item.term}}</span></div>
                    <div class="item2"><span class="finance__range finance__item">{{item.investrange}}</span></div>
                    <div class="item3"><a href="/account/login/?next=/project_all" class="finance__price finance__item">登陆后查看</a></div>
                    <div class="item4"><a href="/account/login/?next=/project_all" class="finance__price02 finance__item">登陆后查看</a></div>
                    <div class="item5"><span class="finance__remark finance__item">{{item.remark}}</span></div>
                </a>
            </li>
            {%endfor%}
        </ul>

    </div>
    <div style="clear:both"></div>
    {% include "footer.html" %}

    <script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/wfl-common.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/wfl-popup.js' %}"></script>
    <script type="text/javascript">
        $(function() {
            $('.nav__item:eq(1)').addClass('active');
        });

        function tounicode(data) {
            if(data == '') return '请输入汉字';
            var str = '';
            for(var i = 0; i < data.length; i++) {
                str += "\\u" + parseInt(data[i].charCodeAt(0), 10).toString(16);
            }
            return str;
        }
    </script>
</body>

</html>