{% load staticfiles %}
<!DOCTYPE html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>理财福利，互联网理财平台。</title>
	<meta name="keywords" content="P2P理财,P2P网贷,投资理财,网络理财,网络投资,小额投资理财,如何投资理财,个人理财,家庭理财,挖福利" />
	<meta name="description" content="挖福利是一个优质的互联网理财平台！让你感受到不一样的金融理财。" />
	<link href="{% static 'images/favicon.ico'%}" rel="shortcut icon" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/wfl-common.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/project_all.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/wfl-page.css' %}" />
	<style type="text/css">
		.state20 {
			pointer-events: none;
		}

		.go_homepage {
			display: none;
		}

		.go:hover {
			color: RGB(150, 150, 150);
			text-decoration: underline;
		}

		.over {
			width: 46px;
			height: 20px;
			background: #b3b3b3;
			border-radius: 2px;
			text-align: center;
			line-height: 22px;
			position: absolute;
			right: 0;
			top: 0;
			z-index: 9;
		}

		.over span {
			color: white !important;
			font-size: 12px;
		}
		.gapBox{
			width: 100%;
			height: 12px;
			background: #f4f4f4;
		}
		.pagedata1{
			min-height: 200px;
			color: #858585;
		}
	</style>

</head>

<body>
	{% include "header.html" %}
	<div class="gapBox"></div>
	<div id="content" style="width: 1293px;margin: 0 auto;">
		<div class="wrapper">
			<div class="container on">
				<p>平台搜索</p>
				<ul class="projectBox" style="padding-left: 40px;">
					<li class="item all_project active">全部</li>
					<li class="item">金融工场</li>
					<li class="item">金融工场</li>
					<li class="item">金融工场</li>
					<li class="item">金融工场</li>
					<li class="item">金融工场</li>
					<li class="item">金融工场</li>
					<li class="item">金融工场</li>
					<li class="item">金融工场</li>
					<li class="item">金融工场</li>
					<li class="item">金融工场</li>
					<li class="item">金融工场</li>
					<li class="item">金融工场</li>
					<li class="item">金融工场</li>
					<li class="item">金融工场</li>
					<li class="item">金融工场</li>
					<li class="item">金融工场</li>
					<li class="item">金融工场</li>
					<li class="item">金融工场</li>
					<li class="item">金融工场</li>
					<li class="item">金融工场</li>
					<li class="item">金融工场</li>
					<li class="item">金融工场</li>
					<li class="item">金融工场</li>
					<li class="item">金融工场</li>
					<li class="item">金融工场</li>
					<li class="item">金融工场</li>
					<li class="item">金融工场</li>
					<li class="item">金融工场</li>
					<li class="item">金融工场</li>
					<li class="item">金融工场</li>
					<li class="item">金融工场</li>
					<li class="item">金融工场</li>
					<li class="item">金融工场</li>
					<div class="operateBox">
						<span>展开</span>
						<div class="trango"></div>
					</div>
					<div class="operateBox_1" style="display: none;">
						<span>收起</span>
						<div class="trango1"></div>
					</div>
				</ul>
			</div>
			<div class="btmBox">
				<div class="searchBox">
					<input id="searchTxt" type="text">
					<div class="searchBtn"></div>
				</div>
				<span class="hot_search">热搜：</span>
				{% for x in hot_platforms %}
				<span class="s_item">{{x.name}}</span>
				{%endfor%}
			</div>
		</div>
		<!-- llc<div class="fiter-item-container">
			 <div class="filter-box-company">
					<div class="filter-box-name">
						投标次数：
					</div>
					<ul class="filter-item invest-count">
						<li data-key="" class="on">
							<a href="javascript:void(0);">不限</a>
						</li>
						<li data-key="3">
							<a href="javascript:void(0);">首投</a>
						</li>
						<li data-key="2">
							<a href="javascript:void(0);">复投</a>
						</li>
					</ul>
				</div>

				<div class="filter-box-company">
					<div class="filter-box-name">
						项目分类：
					</div>
					<ul class="filter-item project-type">
						<li data-key="" class="on">
							<a href="javascript:void(0);">不限</a>
						</li>
						<li data-key="2">
							<a href="javascript:void(0);">稳健投资</a>
						</li>
						<li data-key="3">
							<a href="javascript:void(0);">高收益区</a>
						</li>
					</ul>
				</div>
				<div class="filter-box-company">
					<div class="filter-box-name">
						项目状态：
					</div>
					<ul class="filter-item project-status">
						<li data-key="" class="on">
							<a href="javascript:void(0);">不限</a>
						</li>
						<li data-key="10">
							<a href="javascript:void(0);">正在进行</a>
						</li>
						<li data-key="20">
							<a href="javascript:void(0);">已结束</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="hongbao-search">
				<input class="hongbao-input" name="key" type="text">
				<input class="hongbao-submit" type="submit" value="">
			</div>

		</div> -->
		<!--fiter-item-container-end-->

		<div class="content-head">
			<div class="c-item">平台</div>
			<div class="c-item" style="margin-left: 80px;">推广标期</div>
			<div class="c-item" style="margin-left: 80px;">投资档位</div>
			<div class="c-item" style="margin-left: 90px;">结算价格</div>
			<div class="c-item" style="margin-left: 100px;">备注说明</div>
		</div>

		<ul id="pagedata1" class="item-container clearfix">

		</ul>
		<!--<div style="width: 1250px; margin: 0 auto;" class="page-box clearfix">-->
		<div style="display:none; width: 1250px; margin: 0 auto;" class="changes-p clearfix">
			<div style="padding: 10px 20px 6px;" class="page r" id="page1">
			</div>
		</div>
		<!--</div>-->
	</div>
	<div style="clear:both"></div>
	{% include "footer.html" %}

	<script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/wfl-common.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/wfl-popup.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/clipboard.min.js' %}"></script>
	<!--<script type="text/javascript" src="{% static 'js/jQuery.infiniteCarousel.js' %}"></script>-->
	<!--<script type="text/javascript" src="{% static 'js/MSClass.js' %}"></script>-->
	<script type="text/javascript" src="{% static 'js/page.js' %}?v-1"></script>
	<script type="text/javascript">
		var userlevel = '{{user.level}}';
		console.log(userlevel);
		var data = '[results]<li class="finance">' +
			'<a class="link_left" href="{strategy}" target="_blank"><div class="wrapperBox"><div class="over" data-state={project_state}><span>已结束</span></div><img class="finance__img finance__item" src="{project_picture}" alt="商家logo"></div>' +
			'<div class="item1"><span class="finance__term finance__item">{term}</span></div><div class="item2"><span class="finance__range finance__item">{investrange}</span></div>' +
			'<div class="item3"><span class="finance__price finance__item">{display_price}</span></div>' +
			'<div class="item5"><span class="finance__remark finance__item">{remark}</span></div></a>' +
			'<a class="go_homepage" href="http://{{user.domain_name}}.51fanshu.com/detail/project/{project}/" target="_blank"><span class="go">进入推广主页-></span></a></div></li>[/results]';
		var url = "/restapi/projects/?page={page}&pageSize={pageSize}";

		function pagecallback() {
			$('.add-project.true').each(function () {
				this.innerText = '取消添加';
				$(this).parent().find('.go_homepage').show()
			})
			//			$('.state20').text('已结束');

			/**************添加已结束标识***************/
			$(".over").each(function () {
				if ($(this).attr("data-state") == 20) {
					$(this).css("display", "block");
				} else {
					$(this).css("display", "none");
				}
			});

			$('.oneline').each(function (index, el) { //单行
				if ($(this).height() > 30) {
					$(this).addClass('one-line')
					$(this).addTitle();
				}
			});
			var btns = document.querySelectorAll('.copy-link');
			var clipboard = new Clipboard(btns);

			clipboard.on('success', function (e) {
				console.log(e);
				$.prompt({
					Content: '复制成功'
				})
			});

			clipboard.on('error', function (e) {
				console.log(e);
			});
		}
		var textarray = [];

		// function addProject(obj, id) {
		// 	var flag = $(obj).data('isadd');
		// 	console.log(flag)
		// 	if (flag == true) {
		// 		$.ajax({
		// 			url: '/restapi/sub/' + id + '/',
		// 			dataType: "json",
		// 			type: "put",
		// 			data: {
		// 				'is_on': false
		// 			},
		// 			success: function (ret) {
		// 				console.log('关闭');
		// 				$(obj).data('isadd', false);
		// 				obj.innerText = "添加至主页";
		// 				$(obj).removeClass('true').addClass('false');
		// 				$(obj).parent().find('.go_homepage').hide();
		// 			},
		// 			error: function () {
		// 				alert("请检查网络连接");
		// 			}
		// 		});

		// 	} else {
		// 		$.ajax({
		// 			url: '/restapi/sub/' + id + '/',
		// 			dataType: "json",
		// 			type: "put",
		// 			data: {
		// 				'is_on': true
		// 			},
		// 			success: function (ret) {
		// 				console.log('开启');
		// 				$(obj).data('isadd', true);
		// 				obj.innerText = "已添加";
		// 				$(obj).removeClass('false').addClass('true');
		// 				$(obj).parent().find('.go_homepage').show();
		// 			},
		// 			error: function () {
		// 				alert("请检查网络连接");
		// 			}
		// 		});

		// 	}
		// }

		function emptydisplay(obj) {
			obj.html('<p style="margin-top:20px;">抱歉，没有找到符合条件的项目！</p>');
		}
		$(function () {
			$('.nav__item:eq(1)').addClass('active');
			let childHeight = $('.projectBox').height();//获取子元素的高度
			let parentHeight = $('.container').height();//获取父元素的高度
			let gapHeight = childHeight - parentHeight;
			
			//展开收起功能
			$('.operateBox').click(() =>{
				if (gapHeight > 0) {
					$('.container').removeClass("on");
					$('.operateBox').hide();
					$('.operateBox_1').show();
				} 
			})
			//收起
			$('.operateBox_1').click(() =>{
				$('.container').addClass("on");
				$('.operateBox').show();
			})
			//获取平台列表
			$.ajax({
				url:'/restapi/company2/',
				dataType: "json",
				type: 'GET',
				success: function (ret) {
					if(ret.code == 1){
						var str_html;
						console.log(ret.results)
						for(let i in ret.results){
							str_html = `<li class="item" data-value="${ret.results[i].name}">${ret.results[i].name}</li>`;
							$('.projectBox').append(str_html);
						}
					}else{
						console.log('暂无数据~~~')
					}
				},
				error: function () {
					console.log("请检查网络连接");
				}
			})
			//点击全部返回所有项目列表
			$('.all_project').click(() =>{
				$("#pagedata1").ajaxPage({
					url: '/restapi/projects/',
					pageId: $("#page1"),
					pageSize: 999,
					run: true,
					content: data,
					complete: pagecallback,
				});
			})
			//项目点击搜索 llc
			$('.projectBox').on('click','.item',function () { 
				var _that = $(this);
				var value = _that.attr('data-value');
				console.log(value);
				var newUrl1 = url + "&search=" + encodeURI(value);
				$("#pagedata1").ajaxPage({
					url:newUrl1,
					pageId:$('#page1'),
					pageSize:999,
					run:true,
					content:data,
					complete:pagecallback
				})
			})
			//平台搜索active切换
			$('.projectBox').on('click','.item',function () { 
				var index = $(this).index();//获取li标签的下表序号
				$(this).addClass('active').siblings().removeClass('active');
			})
			
			var newurl = url;
			var index = "0",
				index_text;
			var invest_account = "",
				project_type = "",
				project_status = "";

			$("#pagedata1").ajaxPage({
				url: url + "&type=" + "&state=",
				pageId: $("#page1"),
				pageSize: 999,
				run: true,
				content: data,
				complete: pagecallback,
			});

			// $(".fiter-item-container li").click(function () {
			// 	var parent = $(this).parent(".filter-item");

			// 	if ($(parent).hasClass("invest-count")) {
			// 		$(this).addClass("on").siblings().removeClass("on");
			// 		invest_account = $(this).data('key');
			// 	}

			// 	if ($(parent).hasClass("project-type")) {
			// 		$(this).addClass("on").siblings().removeClass("on");
			// 		project_type = $(this).data('key');
			// 	}

			// 	if ($(parent).hasClass("project-status")) {
			// 		$(this).addClass("on").siblings().removeClass("on");
			// 		project_status = $(this).data('key');
			// 	}
			// 	newurl = url + "&project_futou=" + invest_account + "&project_type=" + project_type + "&project_state=" + project_status;
			// 	console.log(newurl)

			// 	$("#pagedata1").ajaxPage({
			// 		url: newurl,
			// 		pageId: $("#page1"),
			// 		pageSize: 999,
			// 		run: true,
			// 		content: data,
			// 		complete: pagecallback,
			// 	});
			// })
			//输入框搜索llc
			$('.searchBtn').click(() =>{
				var searchValue = $('#searchTxt').val();
				if (!searchValue) {
					alert('搜索内容不能为空');
					return;
				}
				var newurl2 = url + "&search=" + encodeURI(searchValue);
				$("#pagedata1").ajaxPage({
					url: newurl2,
					pageId: $("#page1"),
					pageSize: 12,
					run: true,
					content: data,
					complete: pagecallback,
				});			
			})
			$('#searchTxt').on('keypress',(e) =>{
				if (e.keyCode == 13) {
					var searchValue = $('#searchTxt').val();
					var newurl2 = url + "&search=" + encodeURI(searchValue);

					$("#pagedata1").ajaxPage({
						url: newurl2,
						pageId: $("#page1"),
						pageSize: 999,
						run: true,
						content: data,
						complete: pagecallback,
					});
				}
			});
			// $('.hongbao-submit').click(function () {
			// 	var searchValue = $('.hongbao-input').val();
			// 	var newurl2 = url + "&project_title_contains=" + encodeURI(searchValue);

			// 	$("#pagedata1").ajaxPage({
			// 		url: newurl2,
			// 		pageId: $("#page1"),
			// 		pageSize: 12,
			// 		run: true,
			// 		content: data,
			// 		complete: pagecallback,
			// 	});
			// })
			// $('.hongbao-input').on('keypress', function (e) {
			// 	if (e.keyCode == 13) {
			// 		var searchValue = $('.hongbao-input').val();
			// 		var newurl2 = url + "&project_title_contains=" + encodeURI(searchValue);

			// 		$("#pagedata1").ajaxPage({
			// 			url: newurl2,
			// 			pageId: $("#page1"),
			// 			pageSize: 999,
			// 			run: true,
			// 			content: data,
			// 			complete: pagecallback,
			// 		});
			// 	}
			// });

		});

		function tounicode(data) {
			if (data == '') return '请输入汉字';
			var str = '';
			for (var i = 0; i < data.length; i++) {
				str += "\\u" + parseInt(data[i].charCodeAt(0), 10).toString(16);
			}
			return str;
		}
	</script>
</body>

</html>