{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>挖福利-专业的互联网福利体验平台！</title>
        <meta name="keywords" content="挖福利，我要挖福利，p2p理财平台，p2p投资理财，p2p投资理财平台，小额投资理财，个人投资理财，互联网理财产品，互联网理财平台，互联网金融平台，互联网金融产品，网络理财产品，网赚" />
        <meta name="description" content="挖福利从用户角度出发，致力于对整合对用户有价值的互联网福利产品，打造全国首家专业的互联网福利产品体验平台。" />
        <link href="/static/images/favicon.ico" rel="shortcut icon"/>
        <link rel="stylesheet" type="text/css" href="/static/css/wfl-common.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/wfl-flesslider.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/wfl-index.css"/>
    </head>
    <body>
        {% include "header.html" %}

        <!--banner-container-->
        <div class="banner-container wfl-wrap clearfix">
            <div class="banner l">
                <div class="flexslider">
                    <ul class="slides">
                        {% for adv in ad_list %}
                            <li onclick="location='{{adv.url}}'" style="background:url({{adv.pic.url}}) 50% 0 no-repeat;cursor:pointer;"></li>
                        {%endfor%}
                    </ul>
                </div>
            </div>
            <div class="banner-mask">
                <div>行业领先的P2P渠道分发机构</div>
                <p>The industry leading Internet financial  channel distribution organization
</p>
            </div>
        </div>
        <!--banner-container--end-->
        <ul class="intro wfl-wrap">
            <li class="intro__item m-01">三年深耕<br />行业领先</li>
            <li class="intro__item m-02">隔天结算<br />当天到账</li>
            <li class="intro__item m-03">一手资源<br />优势价格</li>
            <li class="intro__item m-04">专业团队<br />全天服务</li>
        </ul>
        <!--main-->
        <div class="wfl-wrap clearfix">
            <div class="wflbox m-total l">
                <h2 class="wflbox__title m-green">截止至今日</h2>
                <div class="total__box">
                    <p class="total__item">累计渠道引入资金：<span class="total__item-num">{{invest_total}}万</span></p>
                    <p class="total__item">累计渠道引入用户：<span class="total__item-num">{{invite_total}}位</span></p>
                    <p class="total__item">累计渠道提现金额：<span class="total__item-num">{{with_total}}万</span></p>
                    <p class="total__item">累计加入渠道数量：<span class="total__item-num">{{user_total}}位</span></p>
                </div>
            </div>
            <div class="wflbox m-today r">
                <h2 class="wflbox__title m-green">今日推荐</h2>
                <ul class="today">
                    {% for item in recom_projects %}
                        <li class="today__item">
                            <img class="today__img" src="{{item.pic.url}}"/>
                            <h2 class="today__title oneline">{{item.title}}</h2>
                            <a class="today__btn btn m-green" href="{{item.strategy}}" target="_blank">查看攻略</a>
                        </li>
                    {%endfor%}
                </ul>
            </div>
        </div>
        <!--main---end-->
        
        <!--商家展示-->
        <div class="wfl-wrap">
            <div class="wflbox">
                <h1 class="wflbox__title m-business m-center">优质合作平台</h1>
                <div class="business clearfix">
                    <ul class="business-box fs-0 l">
                        {% for item in platforms %}
                            <li class="business__item"><img class="business__img" src="{{item.logo.url}}" alt="平台logo" /></li>
                        {%endfor%}
                        <!--<li class="business__item"><img class="business__img" src="" alt="" /></li>
                        <li class="business__item"><img class="business__img" src="" alt="" /></li>
                        <li class="business__item"><img class="business__img" src="" alt="" /></li>
                        <li class="business__item"><img class="business__img" src="" alt="" /></li>
                        <li class="business__item"><img class="business__img" src="" alt="" /></li>
                        <li class="business__item"><img class="business__img" src="" alt="" /></li>
                        <li class="business__item"><img class="business__img" src="" alt="" /></li>
                        <li class="business__item"><img class="business__img" src="" alt="" /></li>
                        <li class="business__item"><img class="business__img" src="" alt="" /></li>
                        <li class="business__item"><img class="business__img" src="" alt="" /></li>
                        <li class="business__item"><img class="business__img" src="" alt="" /></li>
                        <li class="business__item"><img class="business__img" src="" alt="" /></li>
                        <li class="business__item"><img class="business__img" src="" alt="" /></li>
                        <li class="business__item"><img class="business__img" src="" alt="" /></li>
                        <li class="business__item"><img class="business__img" src="" alt="" /></li>-->
                    </ul>
                </div>
            </div>
        </div>
        <!--商家展示---end-->

        <script src="/static/js/jquery-1.11.2.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/js/wfl-flexslider-min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/js/wfl-common.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/js/wfl-popup.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/js/cookie.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $('.nav__item:eq(0)').addClass('active');

//              轮播部分
                $('.flexslider').flexslider({
                    directionNav: true,
                    pauseOnAction: false
                });
//              轮播部分---end
            });
        </script>

    </body>
</html>
