{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>用户中心</title>
    <link href="{% static 'images/favicon.ico'%}" rel="shortcut icon" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/wfl-common.css' %}" />
    <!--<link rel="stylesheet" type="text/css" href="{% static 'css/account-base.css' %}" />-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/wfl-page.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/datePicker.css' %}" />
    <script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/page.js' %}?v-2"></script>
    <script type="text/javascript" src="{% static 'js/jquery.date_input.pack.js' %}"></script>
    <style type="text/css">
      .search__item {
        display: inline-block;
      }
      input[type="text"],input[type="number"], select {
        padding-left: 8px;
        width: 200px;
        height: 30px;
        border: 1px solid #e4e4e4;
      }
      .time-input-box {
        display: inline-block;
      }
      .date_selector {
        box-sizing: content-box;
      }
      .detail-box {
        display: none;
      }
    </style>
    <script type="text/javascript">
      var data = '<table width="100%"><thead><tr><th height="44">项目</th>' +
        '<th>金额</th><th>余额</th><th>获取时间</th><th>备注</th></tr></thead><tbody>' +
        '[results]<tr><td>{reason}</td><td class="shouzhi" data-shouzhi="{transType}">{transAmount}</td>' +
        '<td>{user_balance}</td><td class="submit-time">{time}</td><td>{remark}</td></tr>[/results]' +
        '</tbody></table>';
      var url = "/restapi/translist/" + "?page={page}&pageSize={pageSize}&user_mobile={{user.mobile}}";

      function pagecallback() {
        $('.shouzhi').each(function() {
          console.log($(this).data('shouzhi'))
          if($(this).data('shouzhi') == '0') {
            $(this).text('+' + $(this).text());
          } else if($(this).data('shouzhi') == '1') {
            $(this).text('-' + $(this).text());
          }
        })
        $('.submit-time').each(function() {
          var submit_time = $(this).text().replace('T', ' ');
          $(this).text(submit_time);
        })
      }
      function getNowFormatDate() {
        var date = new Date();
        var seperator1 = "-";
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var strDate = date.getDate();
        if (month >= 1 && month <= 9) {
            month = "0" + month;
        }
        if (strDate >= 0 && strDate <= 9) {
            strDate = "0" + strDate;
        }
        var currentdate = year + seperator1 + month + seperator1 + strDate;
        return currentdate;
    }
      $(function() {
        $('.time-input').val(getNowFormatDate());
        $(".Close").click(function() {
          $(".Listpop").css("display", "none") <!--隐藏-->
        });
//      $("#pagedata").ajaxPage({
//        url: url,
//        pageId: $("#page"),
//        run: true,
//        content: data,
//        complete: pagecallback,
//      });

        $(".RightCont").on("focus", ".date_picker", function() {
          $(this).date_input();
        })

//      $("#search").click(function() {
//        var trans_date_0 = $("#trans_date_0").val(),
//          trans_date_1 = $("#trans_date_1").val(),
//          transType = $("#transType").val();
//        var newurl = url;
//        if(trans_date_0) {
//          newurl += "&trans_date_0=" + trans_date_0;
//        }
//        if(trans_date_1) {
//          newurl += "&trans_date_1=" + trans_date_1;
//        }
//        if(transType) {
//          newurl += "&transType=" + transType;
//        }
//
//        console.log(newurl);
//        $("#page").empty();
//        $("#pagedata").ajaxPage({
//          url: newurl,
//          pageId: $("#page"),
//          run: true,
//          content: data,
//          complete: pagecallback,
//        });
//      });
        $("#search_data").click(function() {
          var search_date_0 = $("#search_date_0").val(),
            search_date_1 = $("#search_date_1").val(),
            search_mobile = $("#search_mobile").val();
          var re=/^1[1,2,3,4,6,5,7,8,9]\d{9}$/;
            if(!re.test(search_mobile) || !search_mobile){
                alert("手机号格式不正确，请检查后重新填写！")
                return;
            }
          var search_url = "/yirendai/check/";
          $.ajax({
            url: search_url,
            dataType: "json",
            type: 'POST',
            data: {
              start: search_date_0,
              end: search_date_1,
              mobile: search_mobile,
            },
            success: function(ret) {
              console.log(ret);
              if(ret.code == 0) {
                console.log('有数据')
                $('.res_phone').text(ret.mobile);
                $('.res_time').text(ret.createTime);
                $('.res_source').text(ret.source);
                $('.detail-box').show();
              } else {
                $('.detail-box').hide();
                alert("未查询到信息！");
              }
            },
            error: function() {
              $('.detail-box').hide();
              alert("请检查网络连接");
            }
          });
        });
        $("#export").click(function() {
          var html = '<form action="' + "/yirendai/export/" + '" method="post" target="_self" id="postData_form">';
          var invest_mobile = $("#invest_mobile").val(),
            invest_date0 = $("#date_0").val(),
            invest_date1 = $("#date_1").val();
//        html += '<input name="is_official" type="hidden" value="true"/>';
//        if(proj_name) {
//          html += '<input name="invest_mobile" type="hidden" value="' + invest_mobile + '"/>';
//        }
          if(invest_date0 && invest_date1) {
            html += '<input name="start" type="hidden" value="' + invest_date0 + '"/>';
            html += '<input name="end" type="hidden" value="' + invest_date1 + '"/>';
          }
          html += '</form>';
          var iframe = document.getElementById('myIFrame');
          iframe.contentWindow.document.open();
          iframe.contentWindow.document.write(html);
          iframe.contentWindow.document.close();
          document.getElementById('myIFrame').contentWindow.document.getElementById('postData_form').submit();
        });
      });
    </script>
  </head>

  <body>
    <div class="Content">
      <div class="RightCont" style="width: 1000px; margin: 0 auto;">
        <div class="table">
          <!--<h2 class="table__title">宜人贷</h2>-->
          <div style="margin-top: 40px;" class="handle clearfix">
            <div class="search__item">
              <span class="search__name">获取时间：</span>
              <div class="time-input-box"><input type="text" value="" class="date_picker time-input" id="search_date_0" /></div> ——
              <div class="time-input-box"><input type="text" class="date_picker time-input" id="search_date_1" /></div>
            </div>
            <div class="search__item" style="margin-left: 20px;">
              <span class="search__name">投资手机号：</span>
              <input maxlength="11" type="text" name="search_mobile" id="search_mobile" value="" />
            </div>
            <div class="handle__out r">
              <a id="search_data" class="btn m-green m-search">查询</a>
            </div>
          </div>
          <div class="detail-box">
            <p>手机号：<span class="res_phone"></span></p>
            <p>注册时间：<span class="res_time"></span></p>
            <p>注册来源：<span class="res_source"></span></p>
          </div>
          {% if user.is_staff%}
          <div style="margin-top: 40px;" class="search">
            <div class="search__item">
              <span class="search__name">获取时间：</span>
              
              <div class="time-input-box"><input type="text" class="date_picker time-input" id="date_0" /></div> ——
              <div class="time-input-box"><input type="text" class="date_picker time-input" id="date_1" /></div>
            </div>
            <div style="display: none;" class="search__item" style="margin-left: 20px;">
              <span class="search__name">投资手机号：</span>
              <input type="text" name="invest_mobile" id="invest_mobile" value="" />
            </div>
            <div class="handle__out r">
              <a id="export" class="btn m-green m-export">导出</a>
            </div>
          </div>
          {% endif %}
          <div style="display: none;" id="pagedata">

          </div>

          <div style="display: none;" class="changes-p">
            <div class="page" id="page">
            </div>
          </div>
        </div>
      </div>
      <!--底部-->
      <div style="clear: both;"></div>
    </div>
    <iframe id="myIFrame" scrolling="yes" style="display:none" frameborder=1></iframe>
    <!--浮动窗口-->
    </div>
  </body>

</html>